[2022-05-30 23:51] wjentner opened #355 "Ubuntu 20.04 driver: GPG key cannot be verified"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
**==> Ubuntu 20.04**
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2

[2022-05-31 00:03] shivamerla commented on #355
@wjentner This has already been fixed. Did you try to pull the updated image? https://github.com/NVIDIA/gpu-operator/issues/344

[2022-05-31 01:22] 5had3z commented on #342
I've got the same issue when trying to upgrade to 1.10 from 1.9 due to the GPG key issue.
Ubuntu 20.04
ContainerD 1.6.4
Kubeadm 1.21.6

[2022-05-31 07:20] wjentner commented on #355
@shivamerla I can see in the other issue that this is causing a lot of confusion. Therefore, I propose:

a: default the ImagePullPolicy to Always, as the driver images receive bugfixes without increasing the version
=> this will automatically fix this problem, but might cause problems in the future when a previously working driver image gets corrupted for some reason

b (preferred): update the cha

[2022-05-31 20:13] shivamerla commented on #354
@lemaral we had to update each resource for supporting upgrade use cases. This usually happens if reconciliation is triggered quite often and should settle once drivers are loaded and all pods are running. You see this happening even after all pods are in good state?

[2022-05-31 20:17] wjentner commented on #355
How many different OS versions are there?
Would it be feasible to write the SHAs from the helm chart into a ConfigMap, Secret, environment variable, etc.
and then the operator could look up the values from there? If no SHA could be found, then it could fall back to the current behavior.

[2022-05-31 20:29] shivamerla commented on #355
There are quite a few (ubuntu18.04, ubuntu20.04, ubuntu22.04, centos7, rhel8 eventually sles15, rocky linux, photon os, flatcar etc). Also, default driver version in the chart can be overridden too (i.e 510.47.03, 470.103.01 etc). In that case, again it will not be useful. With recent driver images we have removed cuda repo from the the image, so at-least GPG key issues won't happen again. Agree t

[2022-05-31 20:35] shivamerla commented on #354
can you paste the  output of `kubectl get pods -n gpu-operator` and last logs of operator pod?

[2022-05-31 22:02] wjentner commented on #355
Hm, yea that seems too complicated. Yes, setting the imagePullPolicy works.

[2022-06-01 09:24] Ericra95 commented on #264
According to your script is not successful, the following error is reported

[code]

[2022-06-02 13:40] Ericra95 opened #356 "nvidia-fabricmanager failed to start"
OS version : rockylinux 8.6

nvidia-fabricmanager failed to start

[code]

[2022-06-02 20:59] smithbk911 opened #357 "Unable to determine the default X library path"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-06-03 13:53] kpouget commented on #357
Hello @smithbk911 ,

these warnings are irrelevant, there is no `X` library on OpenShift, so the installer can't find them!

See in the [CI](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/logs/periodic-ci-rh-ecosystem-edge-ci-artifacts-master-4.10-nvidia-gpu-operator-e2e-1-10-x/1532497534646226944/artifacts/nvidia-gpu-operator-e2e-1-10-x/nightly/artifacts/012__gpu-operator_

[2022-06-03 14:56] smithbk911 commented on #357
Thanks Kevin.  I confirmed that it is working correctly by doing as you recommended, i.e. by creating a pod using the following:

[code]

And the logs for this pod show the following:
[code]

[2022-06-03 14:56] #357 closed

[2022-06-06 14:52] #355 closed

[2022-06-09 14:55] KodieGlosserIBM opened #358 "NVIDIA GPU-Driver support for RHEL8"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [no] Are you running on an Ubuntu 18.04 node?
- [no (Openshift 4.10+)] Are you running Kubernetes v1.13+?
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?

### 1. Issue or featu

[2022-06-10 00:29] skirsten opened #359 "Possibility to use host `/etc/apt/apt.conf.d/*` during driver installation?"
The existing `driver.repoConfig.configMapName` makes it possible to use a private mirror or cache.
But its not very portable and I would much rather use the host's existing `/etc/apt/apt.conf.d/01proxy`.

[code]

Would it be possible to either
1. supply custom volumes to the driver values to mount this file into the container
2. supply a custom HTTP_PROXY env that is only valid for the apt request

[2022-06-10 02:14] relyt0925 commented on #358
cc @shivamerla

[2022-06-10 15:07] EliasVansteenkiste commented on #356
Having exactly the same issue but with a machine with 2xA10, RHEL 8.6, driver 470.

[2022-06-13 01:06] relyt0925 commented on #291
IBM Cloud Openshift also needs support for RHEL 8

[2022-06-13 01:07] relyt0925 commented on #358
potentially related to:
https://github.com/NVIDIA/gpu-operator/issues/291

[2022-06-13 21:53] MrBoJo84 commented on #358
There were some earlier discussions with Michael C. H. where the plan was to use RHCOS. I started an email thread with Michael C. H. so that we can discuss this request.

[2022-06-15 04:18] relyt0925 commented on #358
Both will be active in our environments.

[2022-06-17 12:57] sebastianohl commented on #356
*me too* 2xA100 Ubuntu 22.04 driver 510 and 515

[2022-06-17 17:46] KodieGlosserIBM commented on #291
@MrBoJo84 To add, IBM Cloud Openshift uses cri-o for our container runtime.

[2022-06-20 19:08] maxirus commented on #238
UPDATE:

The above **does** work but it should be noted that the NVIDIA Operator hijacks the `/var/lib/rancher/k3s/agent/etc/containerd/config.toml` and doesn't allow changes.

[2022-06-23 13:51] takyon77 commented on #323
@shivamerla  I would also be interested for having different drivers. We are currently trying to include in the same cluster different GPUs (A100 and K40m) and I can't find a single driver working for both (latest 515 is working for A100 but not for K40m and latest 470 is working for K40m but doesn't see the device on A100)
Any guestimation on when this feature could be available?

[2022-06-23 15:41] catalinpan opened #360 "Operator-validator enabled, validators cannot be started due to tolerations"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msg

[2022-06-24 15:05] elgalu opened #361 "[feature] Dynamic MIG partitioner"
Would it be possible that the gpu operator makes the MIG setup transparent such that the end user can directly request per-pod GPU memory requirements on-demand while, under the hood, MIG configuration is dynamically re-partitioned? i.e. without any intervention of a sysadmin / devops team.

[code]

https://www.nvidia.com/en-us/technologies/multi-instance-gpu/

[2022-06-24 15:20] klueska commented on #361
Please see this document on why this is not feasible under the current Kubernetes resource model:
[Challenges Supporting Multi-Instance GPUs (MIG) in Kubernetes](https://docs.google.com/document/d/1Dxx5MwG_GiBeKOuMNwv4QbO8OqA7XFdzn7fzzI7AQDg/edit#)

Once the following newly accepted Kubernetes Enhancement proposal gets implemented, we will be able to build a device plugin that properly supports wh

[2022-06-26 10:37] wangxiaoyang-dev opened #362 "[feature] Is gpu-operator will support gdrcopy in the future?"
After I installed network-operator and gpu-operator, I should install gdrcopy extraly. So I thick will gpu-operator support gdrcopy in the future?

[2022-06-28 12:34] TarekMSayed opened #363 "Prometheus service discovery can't find DCGM exporter"
Prometheus service discovery can't find DCGM exporter usually that needs to add extra labels/annotations to the pods ex: `release: "prometheus-operator"` or create service monitor with these labels/annotations.
I can't find a way to add it to the helm chart

[2022-06-29 00:13] gschwim opened #364 "DamonSet creation fails on charmed-kubernetes"
### 1. Quick Debug Checklist
- [] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
Following the documented install p

[2022-06-29 00:57] shivamerla commented on #364
@gschwim Looks like PodSecurityPolicy admission controllers are enabled. You can install with `--set psp.enabled=true` so that we create and use appropriate PSP's with required permissions.

[2022-06-29 00:58] shivamerla commented on #363
@TarekMSayed This has been missing with operator for a while now, will consider adding this with next release(setting pod labels/annotations for dcgm-exporter).

[2022-06-29 04:10] gschwim commented on #364
Hi @shivamerla - Thanks for the reply. I did try `--set psp.enabled=true` on several of the testing iterations but this didn't appear to make any difference.  Is there something that needs to be done in addition to this to take advantage of it?

[2022-06-29 07:33] Omoong opened #365 "cuda-workload-validator crashloopback"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? 20.04
- [ ] Are you running Kubernetes v1.13+? 1.21
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? 21.10.14
- [ ] Do you have `i2c

[2022-06-29 10:33] kousui-dev opened #366 "Pod does not start after installing GPU-operator"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ no] Are you running on an Ubuntu 18.04 node?
- [ no(Openshift4.6)] Are you running Kubernetes v1.13+?

### 1. Issue or feature description
I'm running OpenShift (version 4.6.48) with a m

[2022-06-29 12:56] TarekMSayed commented on #363
@shivamerla Also adding an optional service monitor for the DCGM exporter metric service will be nice, I forked the helm chart and add one manually to the templates
dcgm-servicemonitor.yaml
[code]
generated template
[code]

[2022-06-29 14:25] shivamerla commented on #366
@kousui-dev Can you try with latest patch on that branch 1.8.2 for OCP 4.6?

[2022-06-29 22:55] shivamerla commented on #364
@gschwim Can you run `kubectl get psp` and confirm PSP policies are created by GPU Operator. nvidia-driver serviceAccount is bound to the `gpu-operator-privileged` PSP which should allow this. Can you copy the error again with PSP enabled.

[2022-06-30 02:14] kousui-dev commented on #366
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html

Looking at the URL, it says that GPU-Operator 1.8+ is not supported in OCP 4.6.
Is GPU-Operator 1.8 available in OCP 4.6?

[2022-06-30 05:24] tmbdev opened #367 "nvidia-driver-daemonset stuck in Init:CrashLoopBackOff (again)"
I'm on Ubuntu 22.04. I'm installing everything with the following Ansible script, including microk8s 1.24/edge.

[code]

I have installed this on three machines. It works fine on two of the (each having two 2080 cards). I can kubectl apply the vector-add example on both of them.

Note that channel 1.24/edge is needed due to unrelated bugs in microk8s.

The third machine has a 3090 GPU and it is fa

[2022-06-30 15:52] shivamerla commented on #366
Sorry, yes, 1.8 only supported from 4.7+. You would need to install from 1.7 channel for 4.6. It will be best to upgrade to later versions of OCP for using newer operator versions.

[2022-06-30 15:54] shivamerla commented on #367
@tmbdev Please install with driver container disabled as you seem to have drivers pre-installed on the node already. `--set driver.enabled=false`. Or use latest versions of operator v1.11.0 where driver container will detect this and will stay in `init` phase.

[2022-06-30 15:56] shivamerla commented on #367
Also, note that you don't have to pre-install the drivers in the first place and operator takes care of it.

[code]

[2022-06-30 16:03] tmbdev commented on #367
Thanks. What file do I need to add --setdriver.enabled=false to?

Why is this working on two machines and failing on one?

[2022-06-30 16:06] tmbdev commented on #367
There is no choice: Ubuntu desktop machines necessarily have the NVIDIA drivers installed; the only question is whether it's the Ubuntu repo or the NVIDIA repo.

Microk8s is frequently used on desktop machines, with a docker and podman installation and other GPU software; that's another reason a driver needs to be preinstalled.

[2022-07-01 12:01] manishdash12 opened #368 "Cluster Policy fails to start on Openshift 4.9"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? - RHEL 7.9
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
I am trying to instal

[2022-07-01 16:10] shivamerla commented on #368
@manishdash12 Can you get the output of `oc get clusterversions -o yaml`, we look for the last successful updated version.(i.e state: Completed).

[code]

[2022-07-01 16:21] shivamerla commented on #365
@Omoong thanks for reporting this, will fix this with next patch, we need operator-validator to run in all cases as it does create status files which other operands depend on (/run/nvidia/validations/driver-ready, /run/nvidia/validations/toolkit-ready etc). So it should not be disabled.

[2022-07-01 16:22] shivamerla commented on #362
@wangxiaoyang-dev will get back to you on this.

[2022-07-01 16:22] shivamerla commented on #356
Sorry, missed this, will try to recreate this.

[2022-07-03 23:40] Omoong commented on #365
@shivamerla thx will be looking forward to the next patch

[2022-07-05 04:39] kousui-dev commented on #366
thank you for your answer.

Since GPU-Operator 1.8 is not supported in OCP 4.6.48, I decided to install GPU-Operator 1.6.2 for verification reasons and decided to update to 1.8 with OCP 4.7.

[2022-07-05 05:47] kousui-dev opened #369 "GPU-Pod after updating from openshift 4.6 to 4.7. Does not start normally"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [no ] Are you running on an Ubuntu 18.04 node?
- [no(Openshift4.7+)] Are you running Kubernetes v1.13+?
### 1. Issue or feature description
- Current version
・Openshift：4.6.48
・GPU-operato

[2022-07-05 19:51] shivamerla commented on #369
@kousui-dev can you try installing operator version `v1.8.2` from channel `v1.8`? I think that will be better than debugging with v1.6.2.

[2022-07-05 19:53] shivamerla commented on #367
got it, seems like this option needs to be updated with microk8s installs. This problem will not happen with v1.11.0 of operator as it will not try to overwrite drivers if they are already pre-installed.

[2022-07-05 19:58] shivamerla commented on #356
@sebastianohl @EliasVansteenkiste did you install FM packages on the host directly and managing through systemctl? With GPU Operator we launch FM daemon through driver-container when NVSwitch devices are detected. Can you share logs of driver container in these cases? If driver is pre-installed on the node, then can you share system logs or output from `nvidia-bug-report.sh`.

[2022-07-06 02:44] kousui-dev commented on #369
Thank you.
I checked in 2 cases, but now I can't install 1.8.2 on the console. The latest version displayed on the web console is 1.8.0.

■ Case 1
1. Select GPU-operator from Installed Operator.
2. Change Subscription <chanel> to stable-> v1.8
 -> 1.6.2 remains. Upgrade Available is not displayed

■ Case 2
1. Select GPU-operator from Operator Hub
 -> 1.8.0 is displayed

Since we are building OCP u

[2022-07-06 13:48] MrBoJo84 commented on #291
@snirkatriel it would help if you could share the exact stack that you are looking support for. Is it with OpenShift or Kubernetes? Is it with containerd or crio? Which versions?

[2022-07-06 13:50] snirkatriel commented on #291
Sure.
We're using Kubernetes (k3s) with containerd runtime, we're looking into RHEL 8.3,8.4,8.6 and so on.

[2022-07-06 21:15] shivamerla commented on #369
@kousui-dev can you open a support ticket with RH to address this? @fabiendupont can your team help with this? Not sure why 1.8.2 is not listed in this case with OCP 4.7. Here is the bundle published: https://github.com/NVIDIA/gpu-operator/tree/master/bundle/1.8.2

[2022-07-06 21:23] fabiendupont commented on #369
@kousui-dev, in OpenShift console, what is the catalog you're installing the GPU Operator from? Is it `Certified` ?

[2022-07-07 01:00] shivamerla commented on #369
@kousui-dev Red Hat team confirmed that v1.8.2 is available in the catalog for OCP 4.7, so it has to be with the mirroring. Can you share the steps you used to mirror the catalog, it might help to debug why some are missing.

[2022-07-07 03:29] kousui-dev commented on #369
https://access.redhat.com/documentation/en-us/openshift_container_platform/4.7/html/operators/understanding-operators#olm-rh-catalogs_olm-rh-catalogs

With reference to the RH documentation, I am creating an index and mirroring the image from <registry.redhat.io/redhat/certified-operator-index: TAG>.

The procedure for mirroring the catalog is as follows.
I'm sorry, some information is hidden.
1.

[2022-07-08 11:32] dioguerra opened #370 "Add NVIDIA/gpu-operator chart repo to https://artifacthub.io/"
At the present moment there is no official chart released on artifacthub.

Can nvidia add this?  So we have a validated account serving charts from artifacthub...

[2022-07-08 13:11] kousui-dev commented on #369
I created a Catalog source from the manifest created when mirroring, but now I'm referencing the repository for v4.6.
When I set it for v4.7, 1.8.2 was displayed from Operatorhub and I was able to install it.

Thank you.

[2022-07-08 13:13] kousui-dev commented on #366
I updated to OCP 4.7.51 and was able to install GPU-operator 1.8.2.
But I get the same error and the pod doesn't start.

[2022-07-08 14:12] shivamerla commented on #366
@kousui-dev Can you gather support logs with `oc adm must-gather --image=$(oc -n nvidia-gpu-operator get deployment.apps/gpu-operator \
 -o jsonpath='{.spec.template.spec.containers[?(@.name == "gpu-operator")].image}') --dest-dir=/tmp/must-gather`

[2022-07-08 14:53] shivamerla commented on #370
@dioguerra Please pull the operator charts from here: https://catalog.ngc.nvidia.com/orgs/nvidia/helm-charts/gpu-operator

[2022-07-09 01:50] kousui-dev commented on #366
[gpu-logs.zip](https://github.com/NVIDIA/gpu-operator/files/9075669/gpu-logs.zip)
@shivamerla
I gathered logs. but some commands get error about namespace missing.
so trying it again with namespace:gpu-operator-resources

`[root@bastion gpu-logs]# oc get clusterpolicy -o yaml > clusterpolicy.yaml
[root@bastion gpu-logs]# oc logs $(oc get pods -lapp=gpu-operator -oname -A) -n nvidia-gpu-operator >

[2022-07-10 17:48] shivamerla commented on #366
Looks like you have modified ClusterPolicy instance(devicePlugin.args) and omitted certain fields(driver.manager). Please delete the ClusterPolicy instance and create with default values embedded as i see none needs to be customized with the one created currently.

[2022-07-10 23:34] Omoong commented on #365
@shivamerla
[plugin-workload-validation.yaml](https://github.com/NVIDIA/gpu-operator/blob/master/validator/plugin-workload-validation.yaml)
Thank you for the update!
But it seems like the same issue will occur with the plugin-workload-operator!
Please take a look at it! Thank You!

[2022-07-11 15:47] shivamerla commented on #365
@Omoong plugin-validation is not a problem when `DEVICE_LIST_STRATEGY` is set to `volume-mounts`. Only devices specified with NVIDIA_VISIBLE_DEVICES envvar will be ignored by the toolkit.

[2022-07-11 16:43] shivamerla commented on #368
@manishdash12 any update on this?

[2022-07-11 17:09] shivamerla commented on #360
Thanks for reporting this, will fix this in upcoming patch. PR: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/497

[2022-07-11 23:25] Omoong commented on #365
@shivamerla ah-ah! i missed the resources part on the plugin.yaml Thank you very much this solves my issue!

[2022-07-11 23:25] #365 closed

[2022-07-15 07:58] smithbk opened #371 "Nvidia GPU operator failing to install on OpenShift with dedicated rather than shared nodes"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-07-15 13:02] xhejtman opened #372 "Support devices as volume mounts"
Hello,

it seems that current gpu-operator does not support devices as volume mounts as described here:
https://docs.google.com/document/d/1zy0key-EL6JH50MZgwg96RPYxxXXnVUdxLZwGiyqLd8/edit

is there any plan to support it?

[2022-07-15 15:50] dogra-gopal opened #373 "node-feature-discovery CRDs should be kept in the crds folder"
### 1. Quick Debug Checklist
- [x] Are you running Kubernetes v1.13+?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
node-deature-discovery crds are present in: https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/charts/node-feature-discovery/manifests/nodefeaturerule-crd.yaml
This causes issue with hel

[2022-07-15 15:57] dogra-gopal commented on #373
@shivamerla Can you take a look?

[2022-07-15 17:22] shivamerla commented on #373
@dogra-gopal thanks for reporting this. Didn't realize NFD chart didn't use `crds/` folder. Will check with the NFD team on this.

[2022-07-15 22:41] shivamerla commented on #372
@xhejtman Yes, the plumbing is still not there through gpu-operator/container-toolkit for this. To get this working you need to set `DEVICE_LIST_STRATEGY` as `volume-mounts` for devicePlugin and modify file `/usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml `with

disable-require = false
**accept-nvidia-visible-devices-envvar-when-unprivileged = false
accept-nvidia-visible-dev

[2022-07-15 22:58] shivamerla commented on #371
@smithbk by default gpu-operator pod deployed through OLM doesn't have any specific nodeSelector/tolerations.  Did you add the nodeSelector by editing the CSV?  Can you get the podSpec for operator Deployment as well as node taints you have setup?

[2022-07-16 01:21] kousui-dev commented on #369
I have something to ask, so please reopen it.

The original error occurred in the following environment.
- Openshift: 4.7.51
- GPU-operator: 1.6.2

The following sites also say that GPU-operator 1.6 + Openshift 4.7 is also supported.
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html

For this reason, I think that an error does not occur normally, but do you recogni

[2022-07-16 11:43] xhejtman commented on #372
It does not work because `nvidia-cuda-validator` does not see any GPU as GPU are now forbidden to be used only via ENV vars and I guess the validator uses it this way? In this case, validator should request to be privileged?

[2022-07-16 12:14] xhejtman commented on #372
It also seems that currently privileged containers do not see GPU via env vars.

[2022-07-16 13:39] xhejtman commented on #372
I see there is a fix for this:
https://github.com/NVIDIA/gpu-operator/commit/6d4dec0f361082bed62fdb7e42cdc3663405bff9

and I can confirm it works with this fix. Will it be included in 1.11.1?

[2022-07-17 12:43] snirkatriel commented on #358
Hi, is there any progress with this?

[2022-07-18 16:37] shivamerla commented on #372
Yes, the fix will be part of `v1.11.1`

[2022-07-18 17:52] shivamerla commented on #371
@smithbk Can you get the taints on the GPU nodes? We probably need to add those tolerations to the GPU Operator pod. This is done by editing CSV. `oc get csv -n <nvidia-gpu-operator>` and edit `gpu-operator-certified` CSV. We can also add following toleration to let in run on master node.

[code]

[2022-07-19 08:44] rayburgemeestre commented on #347
Just to add a note for other folks that end up here (like me). I ran into this issue after GPU operator v1.11.0 was installed, then uninstalled, and then v1.10.1 was attempted to be installed. The customresourcedefinition "clusterpolicies" was indeed not cleaned up. So manually deleting it before attempting to install the older version worked and was okay to do in this particular case (no risk of

[2022-07-19 16:24] smithbk commented on #371
@shivamerla There are no taints on the GPU nodes.  For example, the following is the describe output for one of them:

[code]

[2022-07-19 17:01] shivamerla commented on #371
@smithbk Can you describe the project `oc describe project nvidia-gpu-operator` to see if annotation was added to pick the nodeSelector? https://docs.openshift.com/container-platform/4.10/nodes/scheduling/nodes-scheduler-taints-tolerations.html#nodes-scheduler-taints-tolerations-projects_nodes-scheduler-taints-tolerations

[2022-07-20 03:37] ctrought commented on #331
We hit memory issues on OCP after upgrading the nvidia operator recently. We were running under 1 Gi previously, and since then the operator pod hits over 2.5 Gi on startup. In the past as seen with other operators, it was normally when the operator was configured to list/watch objects with a cluster scope... in large clusters with many objects that means more data being returned to the operator.

[2022-07-20 13:30] smithbk commented on #371
@shivamerla I was able get placement to work by `oc edit namespace nvidia-gpu-operator` and changing
[code]
to
[code]
in the metadata.annotations section.  However, now the readiness and liveness probes are failing as shown below

![image](https://user-images.githubusercontent.com/9592001/179993294-76a73291-9512-4876-996f-f32195708d17.png)

I'm speculating, but is the pod trying to connect to the

[2022-07-20 14:47] sebastianohl commented on #356
@shivamerla I installed the FM package (and the driver) directly on the host because it did not work doing this via kubernetes (i don't know why).

here is the output of nvidia-bug-report.sh:
[nvidia-bug-report.log.gz](https://github.com/NVIDIA/gpu-operator/files/9150884/nvidia-bug-report.log.gz)

[2022-07-20 16:55] shivamerla commented on #371
@smithbk That should be the pod IP which kubelet uses to probe for readiness/liveness. What does logs of gpu-operator show? Is ClusterPolicy status `ready`?

[2022-07-20 17:16] smithbk commented on #371
@shivamerla The ClusterPolicy status is not ready.

![image](https://user-images.githubusercontent.com/9592001/180043044-0bb24e89-b234-4657-8cdf-e82a3e865223.png)

Logs of the gpu-operator pod show the following:

[code]

[2022-07-21 11:39] chengleqi opened #374 "Docs error in Getting Started"
In the [Custom configuration for runtime containerd](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#custom-configuration-for-runtime-containerd) Section. The yaml provided:
![选区_021](https://user-images.githubusercontent.com/53958238/180204491-c939721e-8d29-404d-9e23-4bb4b5befdac.png)

But it should be like this:
[code]

this is my k3s config.

[2022-07-21 15:48] shivamerla commented on #374
thanks @chengleqi for pointing this out. will fix it.

[2022-07-21 16:50] relyt0925 commented on #358
@shivamerla @MrBoJo84

I believe Michael has emailed and confirmed the use case with us + you. Let us know if you need anything else. It would be wonderful if we can get a status on that piece.

[2022-07-21 19:13] sricharanrobinsystems commented on #286
@shivamerla , can we have HGX A100(fabric manger) and other GPU servers on the same kubernetes cluster.. ? in which case, how can I selectively have some nodes to take a driver from the host and some from Nvidia-driver-daemonset?

[2022-07-21 19:46] smithbk commented on #371
@shivamerla Is it possible that the gpu-operator is trying to access the shared pod IP instead of the dedicated pod IP?  Just guessing.

[2022-07-21 20:46] sricharandevops opened #375 "How to install gpu operator in K8s cluster with different GPU servers, HGX (fabric manager) and other GPU server."
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? No, centos 7.9
- [ ] Are you running Kubernetes v1.13+?      1.21
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?  dockershim

### 1. Issue or feature description
Have a Kubernetes cluster 1.21 running with a bunch of nodes with GPU(A100) and Nvidia drivers got loaded with GPU operator and found No issues there

[2022-07-21 20:46] #374 closed

[2022-07-21 20:48] sricharandevops commented on #375
![image](https://user-images.githubusercontent.com/89511243/180312443-b16eecb0-2e41-49c0-b22a-d45a05b5e44b.png)

[2022-07-21 22:44] shivamerla commented on #375
@sricharandevops The error can happen when fabric-manager services are not started on HGX system where drivers are pre-installed. We do support heterogenous nodes with v1.11.0 for this use case. On the node where driver is pre-installed, please set node label `nvidia.com/gpu.driver.deploy=false`. This will allow GPU operator to ignore those nodes for driver-container deployment.

[2022-07-21 23:08] shivamerla commented on #371
@smithbk Can you attach complete gpu-operator pod logs? It should be the kubernetes service-ip and reachable. `oc get service kubernetes -n default`.

[2022-07-22 06:43] Omoong commented on #372
well i took the Dockerfile from this github in the validator directory created a image from it with some tweaks, and tested it with those configurations and it worked! so as soon as the v1.11.1 is released and the validator image in ngc is updated it should work!

[2022-07-22 12:37] smithbk commented on #371
@shivamerla What I pasted above was the complete gpu-operator log, but here it is again:

[code]

[2022-07-22 17:10] shivamerla commented on #372
thanks for verifying this.

[2022-07-22 17:13] shivamerla commented on #371
@smithbk We would need to understand more on how the cluster is setup. This error should not be isolated to GPU Operator but any pod which is trying to access API server. Can you work with Red Hat to understand this better?

[2022-07-22 17:26] xhejtman commented on #372
Any chance that support for this will be included in device toolkit container?

[2022-07-22 17:43] shivamerla commented on #372
Yes, we have an internal ticket tracking the change, but cannot commit on the ETA for that. Will update here once i have more details.

[2022-07-22 18:06] shivamerla commented on #373
@dogra-gopal regarding below statement, can you elaborate more?

[code]

I know this is not common practice to define CRD's under templates,  but i see the benefit that they will be cleaned up after chart is un-installed and also CRD's get updated during `helm upgrade`.  Given helm limitations of handling CRDs(where data-loss is not an issue), this approach is beneficial. I want to know what is th

[2022-07-22 23:13] sricharandevops commented on #375
@shivamerla ,  I was able to label the node with the `nvidia.com/gpu.driver.deploy=false` ,  and installed fabric manger and nvidia-driver on the host,  now all other operator pods on this hgx are in crashloop back state,
<img width="1507" alt="image" src="https://user-images.githubusercontent.com/89511243/180579126-193b25f9-f855-4ee0-8729-331a84e74d04.png">

Can i go ahead and  update the nodelab

[2022-07-22 23:27] sricharandevops commented on #375
@shivamerla , also after installing the drivers on  the host and fabric manager, i don't see the GPUs being discovered by node kubelet,  kubectl describe node does not show me the GPU  count available on the host.
<img width="1042" alt="image" src="https://user-images.githubusercontent.com/89511243/180580270-9c800f55-ec6f-4acf-87e3-992cf795cf8d.png">

[2022-07-25 06:25] Omoong commented on #372
well although we plan on installing toolkit on the baseos instead of using the gpu operator container, but if i understand this correctly you are planning on allowing users to change this setting inside the toolkit container via methods such as changing envs for tookit in values.yam? am i understanding this correctly?

[2022-07-25 15:10] shivamerla commented on #372
Yes, that is correct. These can be configured through `toolkit.env` options. See MR: https://gitlab.com/nvidia/container-toolkit/container-toolkit/-/merge_requests/198/diffs

[2022-07-25 15:13] shivamerla commented on #375
@sricharandevops Please don't disable any other operands with node labels. Just the driver container. Can you describe any of the pods in CrashLoop? Can you check if nvidia-fabricmanager service is running using systemctl?

[2022-07-25 15:31] sricharandevops commented on #375
@shivamerla , now i have reinstalled gpu operator and with 1.10, using the below helm install command,
`helm install --wait --generate-name      -n gpu-operator --version=1.10.1 --create-namespace      nvidia/gpu-operator      --set toolkit.version=1.7.1-centos7`

now with 1.10 install, on other gpu nodes have
driver-daemonset pods, toolkit pods running fine,
<img width="1042" alt="image" src="htt

[2022-07-25 15:38] shivamerla commented on #375
Can you check logs of "kubectl logs nvidia-operator-validator-chtj9 -n gpu-operator -c driver-validation", And similarly with other operator-validator pods on all nodes as well.

[2022-07-25 19:03] sricharandevops commented on #375
`[root@cl3-ac-us-admin1 ~]# kubectl  describe pod nvidia-operator-validator-chtj9 -n gpu-operator

Events:
  Type     Reason                  Age                    From     Message
  ----     ------                  ----                   ----     -------
  Warning  FailedCreatePodSandBox  102s (x3733 over 13h)  kubelet  Failed to create pod sandbox: rpc error: code = Unknown desc = Exception cal

[2022-07-25 19:10] sricharandevops commented on #375
@shivamerla , all other pods in init state are having the same issue  when i describe
`RuntimeHandler "nvidia" not supported`

[2022-07-25 21:19] shivamerla commented on #375
looks like container-toolkit is not setup right on all machines. Can you copy config from `/usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml` and also `/etc/containerd/config.toml`? from both the nodes where driver is loaded from a container and pre-installed.

[2022-07-25 21:38] sricharandevops commented on #375
On host where container-driver-pod is running -

`[root@cl3-ac-us-gpu1 ~]# cat /usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml
disable-require = false

[nvidia-container-cli]
  environment = []
  ldconfig = "@/run/nvidia/driver/sbin/ldconfig"
  load-kmods = true
  path = "/usr/local/nvidia/toolkit/nvidia-container-cli"
  root = "/run/nvidia/driver"

[nvidia-container-runtime

[2022-07-25 22:25] shivamerla commented on #375
On HGX nodes, please change

[code]

to

[code]

and restart containerd.

[2022-07-25 23:02] sricharandevops commented on #375
I did and  restarted dockershim.  the toolkit failed again after restart

`  Warning  Failed     4m9s (x5 over 5m40s)   kubelet            Error: Exception calling application: ErrorUnknown:StatusCode.UNKNOWN:failed to start container "driver-validation": Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: containe

[2022-07-25 23:26] Omoong commented on #372
@shivamerla oh nice!! thank you

[2022-07-26 20:48] mac-chaffee commented on #314
Fixed by https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/472

[2022-07-26 20:48] #314 closed

[2022-07-26 21:12] shivamerla commented on #375
@sricharandevops  somehow the `root` directory update is not taking effect and it is still referencing `/run/nvidia/driver`.  It should be `/` when driver is pre-installed on the node.

[2022-07-26 21:12] KodieGlosserIBM opened #376 "NVIDIA GPU operator versions after 1.9.1 for RHEL7 are not working"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
  - no, RHEL7
- [x] Are you running Kubernetes v1.13+?
  - Openshift 4.9 which uses Kubernetes 1.22
- [x] Are you running Docker (>= 18.06) or

[2022-07-27 14:27] hasan4791 commented on #376
Attached ldconfig logs here
[ldconfig.log](https://github.com/NVIDIA/gpu-operator/files/9199968/ldconfig.log)

[2022-07-27 18:18] sricharandevops commented on #375
@shivamerla  --
This is from a working node where driver is running inside nvidia-driver pod -

`[root@cl3-ac-us-gpu3 ~]# cat /usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml
disable-require = false

[nvidia-container-cli]
  environment = []
  ldconfig = "@/run/nvidia/driver/sbin/ldconfig.real"
  load-kmods = true
  path = "/usr/local/nvidia/toolkit/nvidia-container-cli"
  ro

[2022-07-27 21:03] sricharandevops commented on #375
@shivamerla ,
I was able to pass through the issue after cleanly removing this /usr/local/nvidia/toolkit after uninstall.

It appears the issue was  GPU operator uninstall is not cleaning these directories and As the  host previously had an older version of operator running and the /usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml file appeared to be referencing the stale one

[2022-07-28 01:07] shivamerla commented on #375
I will confirm if the toolkit cleanup is fixed with latest versions of toolkit container. The error with cuda validator can happen if fabric-manager service is not running on the host. Please check if the systemd service is running for fabric-manager.

[2022-07-28 02:39] sricharandevops commented on #375
Thankyou @shivamerla  for the pointer.. this worked for me.

[2022-07-28 19:37] shivamerla commented on #375
thanks for confirming.

[2022-07-28 19:37] #375 closed

[2022-07-29 15:16] mac-chaffee opened #377 "failed to generate spec: lstat /run/nvidia/driver/dev/nvidiactl: no such file or directory"
**System:**
* OS: RHEL8
* GPU: 2x A100
* K8s version: 1.23.7
* CRI: containerd v1.6.4
* Driver: 515.48.07
* gpu-operator version: v1.11.0
* MIG: yes

### 1. Issue

In the aftermath of a separate [bug](https://github.com/NVIDIA/dcgm-exporter/issues/84), any pods that use `runtimeClass: nvidia` (like device-plugin-validator) get stuck in `Init:CreateContainerError` with the following error:

[code]

[2022-07-30 18:06] skirsten commented on #277
Hi,

I am having exactly the same problem. Everything was fine for the 510 driver but for 470 I get this exact same error.
The problem is, according to the [GPU Operator Component Matrix](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#gpu-operator-component-matrix) I should be 100% supported:
- GPU Operator v1.11.0
- Ubuntu 20.04
- The driver that is installed b

[2022-07-30 19:49] skirsten commented on #277
I was actually able to fix the validation by overwriting the container to a old version:
[code]

[2022-08-01 12:50] soulseen opened #378 "all pods are always pending in init state when install gpu-operator"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msg

[2022-08-01 13:14] soulseen commented on #378
@shivamerla can you help to take a look?

[2022-08-01 16:50] shivamerla commented on #377
@mac-chaffee we don't officially support RHEL8 with K8s yet, but for the issue, seems like `root` directory is not setup correctly with previously installed toolkit(might be left behind from previous operator installs) under /usr/local/nvidia/toolkit.

Check the file `/usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml` and `root` should be set to `/` if the driver is not manage

[2022-08-01 16:56] shivamerla commented on #378
@soulseen Looks like driver validation is not passing. Can you check logs of `kubectl logs nvidia-operator-validator-mz5qn -n gpu-operator -c driver-validation` and also describe that pod. If `nvidia-smi` returns any failures the validation will fail.

[2022-08-01 21:03] shivamerla commented on #376
@KodieGlosserIBM  Can you overwrite container-toolkit version in ClusterPolicy with v1.6.0 (which seems to have worked with v1.9.1 installs) and confirm if this is resolved?

[code]

[2022-08-02 01:52] soulseen commented on #378
@shivamerla
the log of `nvidia-operator-validator-ndtzv`
[code]

describe `nvidia-operator-validator-ndtzv`
[code]

[2022-08-02 04:49] shivamerla commented on #378
Can you check if `/usr/bin/nvidia-smi` is a symlink on the host? If that is the case there is a known issue fixed with [this] (https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/501) change. It will be released this week. I can point to the CI build if you want to confirm.

[2022-08-02 05:39] soulseen commented on #378
@shivamerla yes, it is a symlink, pls give me a CI build image then I can confirm. thank you.
[code]

[2022-08-02 07:12] soulseen commented on #378
@shivamerla hi, I build an image in local, and after updating the image of `driver-validation`, what problem I meet is that pod `nvidia-cuda-validator-xkqsb` init error:
[code]

[2022-08-02 08:55] soulseen commented on #378
actually, it works

[2022-08-02 08:55] #378 closed

[2022-08-02 14:21] mac-chaffee commented on #377
Hmm here's the content of that file, looks like root is set to "/":

[code]

I can do some more looking into the [toolkit](https://gitlab.com/nvidia/container-toolkit/container-toolkit)

[2022-08-02 14:40] shivamerla commented on #377
@mac-chaffee Can you paste the status of all pods by gpu-operator. Is there a validation file `/run/nvidia/validations/host-driver-ready` created on the node? Can you also restart the device-plugin pod and confirm the behavior is still the same? Looks like somehow device-plugin is getting set with `NVIDIA_DRIVER_ROOT=/run/nvidia/driver` instead of `/`.

[2022-08-02 15:16] mac-chaffee commented on #377
All pods were healthy except for device-plugin-validator (CreateContainerError) and operator-validator (Init, waiting on plugin-validation).

I confirmed the host-driver-ready file existed:

[code]

I restarted the device-plugin pods, and the both came up fine. I deleted the device-plugin-validator pod, but it didn't come back right away. So I restarted the gpu-operator pod and now all the pods ar

[2022-08-02 15:16] #377 closed

[2022-08-02 15:45] elgalu commented on #361
I updated the example to emphasise the capability to perform MIG-sliced multi-gpu training, e.g. by requesting eight 10Gi MIG slices (from different GPU cards on the same DGX). This is currently not possible AFAIK not even with a static MIG layout.

[2022-08-03 09:58] chenxj1997 opened #379 "nvidia-driver-deamonset CrashLoopBackoff"
==================  NVIDIA Software Installer==============================
 Starting installation of NVIDIA driver version 515.48.07 for Linux kernel version 5.10.38-21.01.el7.x86_64
 Stopping NVIDIA persistence daemon...
 Unloading NVIDIA driver kernel modules...
 Unmounting NVIDIA driver rootfs...
 Checking NVIDIA driver packages...
 Updating the package cache..
 Could not  retrieve mirrorlist

[2022-08-03 12:08] klueska commented on #361
Once we have [Dynamic Resource Allocation](https://github.com/kubernetes/enhancements/pull/3064) all of what you propose will be possible. We do not plan to "hack" this support onto the existing plugin and instead will be puttin all efforts to support an API like this into the new plugin for DRA.

[2022-08-04 06:55] adionisieva opened #380 "NVIDIA GPU Operator - Node effects of Operator's updates"
Hello,

We are using NVIDIA GPU Operator version 1.9.1 in OCP cluster with version 4.8.31 and we are interested if this Operator has the permissions to update nodes or to make automatic changes on the nodes. I have checked the yaml of the Operator and its configuration is the following:
- apiGroups:
- ''
resources:
- pods
- services
- services/finalizers
- endpoints
- persistentvolumeclaims
- even

[2022-08-04 09:38] samavedulark opened #381 "nvidia-driver-daemonset is Init mode"
Hi I am using RKE2 (v1.21.14+rke2r1) and installed helm chart "nvidia/gpu-operator".
All the pods are coming up fine, except the nvidia-driver-daemonset, it is in pending state for long time.
The below is the output of **k describe pod**
Name:                 nvidia-driver-daemonset-k9jnv
Namespace:            gpu-operator
Priority:             2000001000
Priority Class Name:  system-node-critical

[2022-08-04 13:01] prgavali commented on #376
I'm above to install with above change . I tried with operator v1.11

[2022-08-04 14:10] Muscule commented on #259
I have 3 nodes with Tesla-T4, A100 and A30. With Tesla-T4 nvidia-cuda-validator completed successfully, but with A100 and A30 nvidia-cuda-validator keeps crashlooping. "[Vector addition of 50000 elements] Failed to allocate vector A (error code initialization error)!" is in cuda-validator container's log. Is there any way to fix?

[2022-08-04 14:20] Muscule opened #382 "nvidia-cuda-validator pods crashlooping in Openshift 4.8"
I have 3 nodes with Tesla-T4, A100 and A30. With Tesla-T4 nvidia-cuda-validator completed successfully, but with A100 and A30 nvidia-cuda-validator keeps crashlooping. "[Vector addition of 50000 elements] Failed to allocate vector A (error code initialization error)!" is in cuda-validator container's log. Is there any way to fix?

_Originally posted by @Muscule in https://github.com/NVIDIA/gpu-ope

[2022-08-04 18:45] KodieGlosserIBM commented on #376
@shivamerla: @prgavali was able to confirm that was working. Is this something we will need to add to newer versions?

[2022-08-04 23:28] shivamerla commented on #382
@Muscule what version of GPU Operator are you using?

[2022-08-04 23:32] shivamerla commented on #381
@samavedulark It might be due to PSP enabled on the system.

[code]

Can you check if this has all permissions required by nvidia-driver container? Also, can you install with ``--set psp.enabled=true`` so that we create a PSP will all required privileges. Driver container needs hostIPC, so make sure that is allowed.

[2022-08-04 23:33] shivamerla commented on #381
It was able to run into `init` phase, then can you check logs of `kubectl logs nvidia-driver-daemonset-k9jnv -c k8s-driver-manager -n gpu-operator`.

[2022-08-04 23:37] shivamerla commented on #380
@adionisieva Please refer to [this](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#additional-controls-for-driver-upgrades) guide for info on driver upgrades. If you want to disable auto-drain of the node, you can set `driver.manager.env` with `ENABLE_AUTO_DRAIN` as `false`. GPU Operator will update node labels and perform node drain when driver couldn't be unloa

[2022-08-05 03:38] Muscule commented on #382
1.11.0

[2022-08-05 05:12] shivamerla commented on #382
Can you run the below must-gather command and provide us the output.

[code]

[2022-08-05 05:57] samavedulark commented on #381
@shivamerla  this is what i got the output of the below command, by the way nvidia-driver-daemonset is still in Init
kubectl logs nvidia-driver-daemonset-k9jnv -c k8s-driver-manager -n gpu-operator

NVIDIA GPU driver is already pre-installed on the node, will not proceed with the containerized driver installation. This pod can be disabled through 'nvidia.com/gpu.deploy.driver=false' node label.

B

[2022-08-05 10:57] samavedulark commented on #363
Hi,
After configuring nvidia-dcgm-exporter got the below error from logs.
time="2022-08-05T10:56:08Z" level=fatal msg="Could not find Prometheus metry type label"

[2022-08-05 13:55] Muscule commented on #382
[must-gather.zip](https://github.com/NVIDIA/gpu-operator/files/9269229/must-gather.zip)

[2022-08-05 16:50] shivamerla commented on #382
On A30/A100 machines i see MIG mode is enabled but no MIG devices are created, cuda failure might be due to this.

[code]

Also, on A100 machine, can you check the memory mapped to the VM?

[code]

[2022-08-05 17:39] yanchaocc opened #383 "helm install gpu-operator error"
k8s version: v1.21

[code]

![image](https://user-images.githubusercontent.com/17809819/183131402-d3600e67-99d5-4733-b513-6a76641d84f5.png)

get error:

Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "ClusterPolicy" in version "nvidia.com/v1"

[2022-08-05 18:12] shivamerla commented on #383
@yanchaocc This seems like limitation with Helm with `--dry-run` option where CRD(under crds/ folder) is ignored. Install itself works fine.

[code]

[2022-08-05 20:05] Muscule commented on #382
Thank you so mach! I changed strategy in cluster-policy from none to single, labeled nodes with mig.config, and cuda validation passed on A100/A30.

[2022-08-05 20:05] #382 closed

[2022-08-06 02:49] chenxj1997 opened #384 "default-mig-parted-config cannot be modified"
I modified the ConfigMap named default-mig-parted-config，

I  added custom-config to default-mig-parted-config ,but default-mig-parted-config was reset

How can I modify it so that it is not reset?

[2022-08-06 11:27] eriklindahl opened #385 "Time-slicing with mult"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msg

[2022-08-06 11:28] #385 closed

[2022-08-06 11:36] eriklindahl opened #386 "Time-slicing with multiple GPUs - asking for two GPUs puts both slots on a single GPU"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node?
- [X] Are you running Kubernetes v1.13+?
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [X] Do you have `i2c_core` and `ipmi_msg

[2022-08-06 12:00] klueska commented on #386
This seems reasonable. If more than 1 shared GPU is requested, we should try and pull the replicas from different full GPUs (if possible) to simulate getting exclusive access to both of them. Will slate this in for the next plugin release.

[2022-08-06 15:16] eriklindahl commented on #386
Awesome! Let me know if you need help testing or hacking. From our CI point-of-view, it's also important that we at least have a setting so we can make sure the pod doesn't start until k8s *can* give (shared) access to two separate GPUs, if that was requested :-)

I was thinking of hacking this myself, but then realised it might not be entirely trivial since k8s just reports the total number of GP

[2022-08-07 22:34] Anuj-Chauhan commented on #356
Had the same issue on my 8xA100 machine, removing and installing `fabricmanager` using `yum` fixed it.

[2022-08-08 18:02] shivamerla commented on #384
@chenxj1997 you cannot modify the default ConfigMap created by Operator, but you can pass a custom ConfigMap for this in the same namespace using `--set migManager.config.name=<custom-config-map-name>`. You can reference default config-map [here](https://github.com/NVIDIA/gpu-operator/blob/master/assets/state-mig-manager/0400_configmap.yaml) and edit the configs, namespace and name.

[2022-08-08 18:03] #383 closed

[2022-08-08 18:08] shivamerla commented on #376
@KodieGlosserIBM For RHEL7 nodes this workaround is required when ClusterPolicy instance is created. For RHEL8 i believe this workaround is not required.

[2022-08-08 18:08] #366 closed

[2022-08-08 18:09] #372 closed

[2022-08-08 18:11] shivamerla commented on #363
@samavedulark Can you run "kubectl get configmap metrics-config -n gpu-operator -o yaml" to confirm `dcgm-metrics.csv` file is specified correctly.

[2022-08-08 18:15] shivamerla commented on #331
thanks @ctrought i will work with Red Hat to understand this behavior on OCP. We are not seeing this with K8s. Operator does fetch all node labels at startup, but it should not consume that large memory momentarily.

[2022-08-08 18:15] #232 closed

[2022-08-08 18:25] samavedulark commented on #363
@shivamerla
This is the ouput
apiVersion: v1
data:
  dcgm-metrics.csv: |
    # Format
    # If line starts with a '#' it is considered a comment
    # DCGM FIELD, Prometheus metric type, help message

    # Clocks
    DCGM_FI_DEV_SM_CLOCK,  gauge, SM clock frequency (in MHz).
    DCGM_FI_DEV_MEM_CLOCK, gauge, Memory clock frequency (in MHz).

    # Temperature
    DCGM_FI_DEV_MEMORY_TEMP, gauge, M

[2022-08-08 18:33] shivamerla commented on #363
@glowkey This seems to be with following metric enabled.

[code]

[code]

Do you know if any specific Prometheus settings that can cause this?

[2022-08-08 18:36] samavedulark commented on #363
@shivamerla
Removing this line will make it work.

[2022-08-08 18:47] glowkey commented on #363
@shivamerla The "label" type will be supported in the next release of DCGM Exporter, until that version is released that line should be commented out or removed.

[2022-08-08 18:52] #363 closed

[2022-08-09 12:45] kousui-dev opened #387 "About the GPU-Operator update in Openshift"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [No ] Are you running on an Ubuntu 18.04 node?
- [No(Openshift4.10) ] Are you running Kubernetes v1.13+?

### 1. Issue or feature description
Hello.
Currently, GPU-Operator1.8.2 is install

[2022-08-09 13:19] shivamerla commented on #387
@kousui-dev If you use channel as `stable` in subscription, upgrade path to v1.10.x and v1.11.x should be available.

[2022-08-10 09:17] Ankitasw opened #388 "Nvidia container toolkit daemonset pod fails with ErrImagePull"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node?
- [X] Are you running Kubernetes v1.13+?
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-08-10 09:18] Ankitasw commented on #388
cc @shivamerla

[2022-08-10 09:22] elezar commented on #388
@Ankitasw do you know which tag the image sha was referring to? I know that we recently saw that the `cuda:11.1-base` image stopped working. My understanding is that the image tags that do not explicitly specify the base OS (e.g. `ubuntu18.04`) were deprecated.

When you say GPU operator `v0.6.1` do you mean `v1.6.0`?

[2022-08-10 09:30] Ankitasw commented on #388
Sorry for typo, its v1.6.2.

This is the operator validator we are using:

    defaultRuntime: containerd
    validator:
      repository: nvcr.io/nvidia/k8s
      image: cuda-sample
      version: vectoradd-cuda10.2
      imagePullPolicy: IfNotPresent

[2022-08-10 09:30] Ankitasw commented on #388
But i think the issue is coming in init container, as init container is using above mentioned sha.

Init Containers:
  driver-validation:
    Container ID:
    Image:         nvcr.io/nvidia/cuda@sha256:ed723a1339cddd75eb9f2be2f3476edf497a1b189c10c9bf9eb8da4a16a51a59
    Image ID:
    Port:          <none>
    Host Port:     <none>
    Command:
      sh
      -c
    Args:
      export SYS_LIBRARY_P

[2022-08-10 10:03] Ankitasw commented on #388
I tried upgrading the operator to latest version,  but the gpu-operator-resources pods were not coming up at all, so couldn't check for any errors as well since pods were not there.
[code]

[2022-08-10 10:04] Ankitasw commented on #388
Is there something I am missing while upgrading the operator version?

[2022-08-10 10:37] Ankitasw commented on #388
I will again try to upgrade the operator to use latest version and let you know.

[2022-08-10 10:44] kousui-dev commented on #387
@shivamerla
thank you for answering.
But the GPU-Operator could not be updated.

I have checked the NVIDIA GPU Operator Channel for OCP4.10, but since the target of the Channel is from 1.9.0, I expect that the InstallPlan will not be created.
[code]
Looking at the document below, it was stated that upgrading from v1.8 to v1.9 is not supported.
https://docs.nvidia.com/datacenter/cloud-native/gpu-op

[2022-08-10 10:53] Ankitasw commented on #388
@elezar getting below error because of which pods are not coming up after using latest operator version

E0810 10:52:11.580094       1 reflector.go:138] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:250: Failed to watch *v1beta1.RuntimeClass: failed to list *v1beta1.RuntimeClass: runtimeclasses.node.k8s.io is forbidden: User "system:serviceaccount:default:gpu-operator" cannot

[2022-08-10 12:36] elezar commented on #388
I will let @shivamerla respond here as he would have more information as to what could be the issue there.

[2022-08-10 12:38] Ankitasw commented on #388
I got the resolution of it, but getting some other errors 😄 maybe newer version has more validations, so I am modifying manifests based on that. Will keep this issue open for sometime till I am successfully able to use recent operator version.

[2022-08-10 13:35] shivamerla commented on #388
Yes, since you are maintaining manifests for these, please pull in the recent ones from `release-1.11` branch.

[2022-08-10 14:10] Ankitasw commented on #388
@shivamerla do you mean the cluster policy crd?

[2022-08-10 16:22] shivamerla commented on #388
Below the template from helm for reference for v1.11.1.

[code]

[2022-08-10 17:34] Ankitasw commented on #388
The cluster was deployed successfully with CUDA vector add test successful,

 but above pod fails with below error:

  Warning  NodeNotReady  30s                  node-controller    Node is not ready

[2022-08-10 17:47] Ankitasw commented on #388
Also for future reference, where can I find this template for helm for gpu resources?

[2022-08-10 19:58] shivamerla commented on #388
For the plugin-validator error, it needs an available GPU on the node, if you have other pods consuming GPUs that might happen. If you want to disable plugin validation you can set as below with validator component in ClusterPolicy.

[code]

For getting templates for each release you can run

[code]
[code]

[2022-08-10 23:52] faiq opened #389 "CUDA validators crashlooping while other cuda containers run fine"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-08-11 07:26] #388 closed

[2022-08-11 14:58] shivamerla commented on #387
@kousui-dev yes, thanks for pointing out the namespace change issue. If you are fine with un-install, you can directly install v1.10 without an extra hop with v1.9.x. Also, v1.11.1 is available on OCP 4.10, that will be even better.

[2022-08-11 14:59] #384 closed

[2022-08-11 15:01] shivamerla commented on #389
@faiq I see that container-toolkit version is very old (1.4.0) where Operator v1.11.1 deploys toolkit version 1.10.0. Wondering if this is causing the issue as vectorAdd sample we use is latest one based on CUDA 11.7. Can you update the container toolkit to more latest one?

[2022-08-11 15:36] faiq commented on #389
I can absolutely give that a try with the adjusted value.

In a related topic, would you be interested in a contribution to infer the toolkit os in a similar way as the operator does for driver does for driver. As there seems to be OS specific library dependencies see: https://github.com/NVIDIA/gpu-operator/issues/72#issuecomment-742023528

IMO this would greatly improve the UX of the operator.

[2022-08-11 15:49] shivamerla commented on #389
@faiq yes, that was the plan initially but we couldn't do that as toolkit  images were not available for all variants. Also, toolkit image with OS variant `ubuntu18.04` works across `ubuntu20.04` and `ubuntu22.04`. Also, once the fix suggested by Kevin in the linked thread is complete, we don't need different variants at all for each version of a given OS.

[2022-08-12 06:27] wweghe opened #390 "How to run gpu-operator pods on tainted AKS Nodes"
Hi ,
I recently used the nvidia operator on Azure AKS, to enable GPU's on a Standard_NC64as_T4_v3  node with 4 Nvidia Tesla T4 Gpus.
When I installed the operator, through helm, my gpu_operator pods ran on all nodes from my cluster, except the NCas node with the GPU's, because those nodes are tainted !
This cluster is used to install and run SAS Viya, and the supplier explicitly "taints" the CAS n

[2022-08-12 10:38] jacobtomlinson opened #391 "CUDA version label mismatch"
### 1. Issue or feature description

When installing the operator on nodes that already have a driver installed the CUDA version labels attached to the node do not match the installed CUDA version.

I have driver `495.46` and CUDA `11.5` installed on my workstation but the labels show CUDA `11.6`.

### 2. Steps to reproduce the issue

Create cluster with driver 495.46 installed on nodes. (I use [k

[2022-08-12 15:43] BHSDuncan commented on #389
I'm having a very similar issue when installing the Cloud Native Core (6.2) stack via one of the available Ansible playbooks. However, my container toolkit is 1.10.0. Yet I still get the same error message as OP.

I can give the rest of the versions of whatever is needed here, but I wanted to check if it's ok to do so here, or if I should start a new issue (and if so, should it be here or in the C

[2022-08-12 16:45] faiq commented on #389
@shivamerla I've tried again with a newer version of the container toolkit - v1.10.0-centos-7 and still no luck

[code]

Failing pod

[code]

failing pod logs

[code]

Completed pod + image

[code]

I'll try with this new RC cut and see if it resolves the issue, but it seems like its a problem with the test itself - v1.11.0-rc.2-centos7

[2022-08-12 16:50] shivamerla commented on #389
@elezar Any ideas what might cause this, we are using cuda sample from `nvcr.io/nvidia/k8s/cuda-sample:vectoradd-cuda11.6.0-ubi8`

[2022-08-12 16:51] shivamerla commented on #389
@faiq in your example pod, can you use this image and confirm? `nvcr.io/nvidia/k8s/cuda-sample:vectoradd-cuda11.6.0-ubi8`

[2022-08-12 16:58] faiq commented on #389
It looks like it was an issue with the vecrtor-add pod

[code]

[code]

[2022-08-12 17:02] faiq commented on #389
The ubi8 image didn't give me much luck either

[code]

[2022-08-12 17:10] shivamerla commented on #389
I will try to reproduce, @faiq can you provide the exact config details?

OS Version
GPU Operator Version
Driver Pre-installed?
Container-Toolkit Pre-installed?
Container-Toolkit Version

[2022-08-12 17:27] faiq commented on #389
OS Version: centos-7.9
GPU Operator Version
Driver Pre-installed: yes
Container-Toolkit Pre-installed: no
Container-Toolkit Version:  nvcr.io/nvidia/k8s/container-toolkit:v1.10.0-centos7
GPU Type: tesla k80

installed drivers

[code]

[2022-08-12 17:30] faiq commented on #391
I'm also seeing this issue on my host I run

[code]

but when observing the labels I see

[code]

GPU Operator version `v1.11.0` toolket version `v1.11.0-rc.2-centos7`

[2022-08-12 17:35] shivamerla commented on #391
@elezar can you take a look?

[2022-08-12 18:02] shivamerla commented on #389
@faiq vectorAdd is dependent on libcuda.so.1 which is injected by the toolkit with underlying driver version.

`kubectl run vector-add --image=nvcr.io/nvidia/cloud-native/gpu-operator-validator:v1.11.1 --command -- /bin/bash -c "sleep inf"`

`kubectl  exec -it vector-add -- /bin/bash`

[code]

Can you confirm in your case libraries for 470.82.01 driver are being injected correctly?

[2022-08-12 18:06] faiq commented on #389
Well bingo

[code]

My .so files are not in /usr/lib64 I can make a link and try again.

[2022-08-12 18:22] faiq commented on #389
Again no luck.

On the host

[code]

[code]

[2022-08-12 18:27] shivamerla commented on #389
Ok, need to debug more from toolkit side to understand whey these are not injected. `cat /usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml` and also add below debug fields.

[code]
After this, when you run the vectorAdd sample again, these log files will be generated on the host. We can debug using the logs to dig further.

[2022-08-12 18:41] faiq commented on #389
From the host

[code]

[2022-08-12 19:04] shivamerla commented on #389
I think it is caused by `accept-nvidia-visible-devices-envvar-when-unprivileged = false` setting. I recommend to un-install operator, wait for all pods to be deleted, cleanup /usr/local/nvidia/toolkit folder and re-install operator. With toolkit version `v1.10.0` this won't happen. Did you manually add these settings?

[2022-08-12 19:22] faiq commented on #389
I did not manually add these settings. I'll try installing it again.

[2022-08-12 20:57] faiq commented on #389
I reinstalled and now I'm getting the libcuda.so files in the container

[code]

Not sure why i have this 510.47.03 in there as well.

[2022-08-12 21:01] faiq commented on #389
Also within the container i can run nvidia-smi

[code]
but the vectorAdd program still does not work

[code]
sh-4.2$ bash
[ssm-user@ip-10-0-101-96 bin]$ nvidia-smi
Fri Aug 12 21:00:05 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.82.01    Driver Version: 470.82.01    CUDA Version: 11.4     |
|-------------------------------+------------------

[2022-08-12 21:15] faiq commented on #389
Also the results of

[code]

there no longer is
`accept-nvidia-visible-devices-envvar-when-unprivileged = false`

[2022-08-12 21:21] faiq commented on #389
It really looks like the image to me for the validation.

When using this pod spec with `nvidia/samples:vectoradd-cuda11.2.1` everything works as expected.

[code]

The results of nvidia-smi are no longer incorrect with this image and I can use vector add

[code]

[2022-08-12 22:28] shivamerla commented on #389
thanks @faiq will check with container-toolkit folks on cause for this and update next week.

[2022-08-12 22:56] BHSDuncan commented on #389
Could this also be causing what looks to be a very similar issue when using the Cloud Native Core Ansible playbook (6.2)?

[2022-08-15 10:16] wangxiaoyang-dev opened #392 "[feature] Is gpu-operator will support ns level scope in the future?"
Question description:
In dir deployments/gpu-operator/templates/, operator.yaml contains WATCH_NAMESPACE env, bug in main.go ctrl.Options struct does not contains Namespace fields, so gpu-operator does not support ns level scope.

Personal ideas:
In the future, one k8s cluster may have kinds of gpu machines. Such as one k8s cluster has P40 machine, 3090 machine, A100 and H100 machine. We may deplo

[2022-08-15 16:59] shivamerla commented on #389
@BHSDuncan Is your config with CentOS 7 too? We are still debugging this issue, will update this week.

[2022-08-15 17:01] BHSDuncan commented on #389
Ubuntu 20.04. I'm currently trying to upgrade my NVIDIA driver to a 515 version so it could be that I'm a red herring. Just FYI.

[2022-08-15 19:50] BHSDuncan commented on #389
I can confirm that updating to the latest NVIDIA GPU driver version (515.x) has corrected this issue. I apologize for the red herring.

[2022-08-15 20:53] shivamerla commented on #389
@faiq i have tried to recreate this with CentOS 7, but no luck with A100 cards. I have confirmed with @klueska that cuda-runtime version mismatch is expected due to CUDA forward compatibility. The compat libs included in the image are from CUDA 11.6 (R510 driver), which is being used as its forward compatible with older 11.4(R470) drivers installed. But i think the limitation here is the type of G

[2022-08-15 22:12] shivamerla commented on #391
@faiq @jacobtomlinson  This was due to the compat libs being present in the GFD image(part of CUDA base images). As these are forward compatible container-toolkit will give preference to them. Cleaning these from the image fixes the issue. Will work with @elezar to fix this.

[code]

Private image if you want to try `quay.io/shivamerla/gpu-feature-discovery:v0.6.2-ubi8`.

Also, cleaning this from

[2022-08-16 15:48] dogra-gopal commented on #373
Is NFD CRD's having some useful user/state data, that will get deleted when chart is uninstalled? That could be some potential issue.
Also, it could cause some race condition between installed operator and CRDs. The crds folder always gets installed first before the software is brought up to ensure stability, but in this scenario, kubernetes can not ensure CRDs are created before it is potentially

[2022-08-16 22:08] faiq commented on #389
@shivamerla it looks like the suggestion you gave in #391 worked i was able to get my validator image to work by removing the compat libs

[code]

Removing the compat libs worked

[code]

When would the next timeline for release be?

[2022-08-16 22:44] KodieGlosserIBM commented on #376
@shivamerla can we get external docs for the workaround required for RHEL7?

Also, we cannot test on RHEL8 until we get driver support (this issue https://github.com/NVIDIA/gpu-operator/issues/358)

[2022-08-16 23:33] shivamerla commented on #389
@faiq this fix will be part of our next operator release during late September.

[2022-08-16 23:51] shivamerla commented on #358
@KodieGlosserIBM @relyt0925 We will publish driver images with RHEL8 tags during our September release.

[2022-08-16 23:53] shivamerla commented on #376
@KodieGlosserIBM since we officially don't claim support for RHEL7 the documentation doesn't exist for this. I will check with our PMs on how to handle this case. By the way you can re-tag `rhcos` images for `rhel8.5/rhel8.6` etc and use private images for testing until we officially publish them. We plan to publish them during our next release in September.

[2022-08-17 02:18] KodieGlosserIBM commented on #358
Awesome! Thanks @shivamerla

[2022-08-17 07:28] JuHyung-Son opened #393 "How to upgrade nvidia-driver node by node?"
I’m planning to upgrade nvidia-driver version node by node to make some pods alive during update.

Is there any way to upgrade drivers node by node?

[2022-08-18 17:27] faiq commented on #393
The new version of the operator v1.11.1 of the operator: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/release-notes.html#improvements

Where you can define `driver.rollingUpdate.maxUnavailable` parameter to specify maximum nodes for simultaneous driver upgrades. Default is 1.

Let me know how that goes for you.

[2022-08-18 17:43] shivamerla commented on #393
@faiq Yes, if you are using v1.11.1 then by default driver upgrades will happen node-by-node. It was supported earlier but due to a bug(missing startupProbe), driver-containers upgraded in parallel on multiple nodes simultaneously.

Also, if you mean to upgrade nodes in specific order, that is not possible with how Daemonset Rolling Upgrades happen in general. One option to achieve this specific o

[2022-08-19 01:31] wayne-cheng opened #394 "Can gpu-operator support multiple graphics cards in a single machine?"
I would install 2 nvidia cards in a machine. These two cards are different models，as one is 2080Ti and one is 3080Ti. Can gpu-operator support  this environment？

[2022-08-20 18:58] hibby50 commented on #308
Any update on this?

[2022-08-21 07:24] jear commented on #308
I recently have installed RKE2 on Ubuntu and I had to patch  again  https://github.com/jear/nvidia-gpu-operator-sles15-sp3-driver/blob/main/patch/patch-rke2-nvidia-container-toolkit-daemonset.yaml

Regarding SLES related patch (nvidia-driver-daemonset), I suspect nothing has been done.

[2022-08-21 21:18] hibby50 commented on #308
Gotcha thanks, I saw the gitlab merge request you linked was merged into master and saw the target release mentioned in this thread for support was 1.11 so I was a bit confused where this stood.

[2022-08-22 06:41] jear commented on #308
To me the most important is to have SLES as the underlying OS.
When operator detects this OS :
1/ the image is available from registry
2/ the nvidia-driver-daemonset has the right mounts

In a second phase having RKE2 support (on any underlying OS) would be wonderful (nvidia-container-toolkit-daemonset)

[2022-08-22 14:47] mweibel opened #395 "helm repository 401 unauthorized"
Going through the quickstart on https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/overview.html

I receive the following:
[code]

Any pointers? Did the repo URL change and the docs are not yet updated maybe?

[2022-08-22 16:22] shivamerla commented on #395
The correct URL is `https://helm.ngc.nvidia.com/nvidia` which is correct in documentation.

[2022-08-22 20:41] mweibel commented on #395
huh. Thanks. My bad.

[2022-08-22 20:41] #395 closed

[2022-08-23 12:33] elgalu commented on #386
Maybe when `limits: nvidia.com/gpu: >1` then allow an option like `limits: nvidia-com/anti-affinity: true` to force the behaviour. I was very surprised this is not the default, idk what kind of use case would cover a single user asking 2 time-slices on the same GPU when more GPUs are free.

[2022-08-23 12:53] eriklindahl commented on #386
Given how time-slicing works, I don't think "two slots on one GPU" even means anything (a process seeing a single GPU can still start many processes on it), which I suspect is the reason it's suggested to disallow it by default.

At least for our CI usage, any affinity setting that just tries to achieve it won't suffice - we need to be certain that we actually have two separate GPUs when the pod h

[2022-08-23 13:21] klueska commented on #386
It's not the "default" per se, we just don't do anything intelligent at the moment to influence the algorithm run inside the kubelet to allocate the GPUs to a user. It might pick two replicas from the same GPU or it might not, it doesn't care. There are ways to influence this decision though, and we will leverage this in our update for the next release.

[2022-08-23 14:14] shivamerla commented on #394
@wayne-cheng Currently the device-plugin doesn't support/advertise different GPU types on the same node. This support is planned in short term with NVIDIA K8s device plugin. You can still use GPU Operator in this config, its just that you have no way to differentiate GPU types when scheduling pods, also GPU Feature Discovery added node labels will be for any single type.

[2022-08-23 14:19] shivamerla commented on #392
@wangxiaoyang-dev There is design in progress to support these requirements. We don't want users to deploy multiple GPU operator deployments per namespace, but should be able to create multiple instances of ClusterPolicy instead. Each instance can specify the driver types, nodes they want to be deployed etc and single instance of operator will manage these.

[2022-08-23 14:20] shivamerla commented on #391
The fix has been merged into GFD and will be part of next release.

[2022-08-23 14:20] #391 closed

[2022-08-23 14:21] shivamerla commented on #389
closing this as the fix has been merged into gpu-operator/validator to remove cuda compat libraries. It will be part of next release (v22.09).

[2022-08-23 14:21] #389 closed

[2022-08-23 14:22] #387 closed

[2022-08-24 02:46] wayne-cheng commented on #394
@shivamerla Thanks, I see.

[2022-08-24 09:41] jacobtomlinson commented on #391
Many thanks @shivamerla

[2022-08-24 11:02] kelonsen opened #396 "Tesla T4 支持进程内存监控采集吗？"
产品：目前使用英伟达 Tesla T4显卡
问题：
目前通过 nvidia-smi 可以看到显存大小和某个进程使用的显存大小；
[https://files.51wyq.cn/tmp/image001.png](url)

通过gpu exporter 也可以监控到每个显卡显存的动态使用情况，
[https://files.51wyq.cn/tmp/image002.png](url)

由于我们是多个进程同时使用一块显卡，无法检测到进程的显存动态使用情况。
请问有什么工具可以直接检测进程的显存使用情况，希望某个进程的显存使用情况也可以绘制成图，请问有没有现成工具（我们目前用了kubernets），谢谢！
[https://files.51wyq.cn/tmp/image003.png](url)

[2022-08-24 11:58] wangxiaoyang-dev commented on #392
@shivamerla Thanks for your replay. Your plan is prefect - a single instance of operator can manage multiple instance of ClusterPolicy! Could you mind show me your roadmap and design, I am looking forward to it.

[2022-08-24 16:00] shivamerla commented on #396
@kelonsen did you look into the dcgm-exporter metrics collected for memory utilization? https://github.com/NVIDIA/gpu-monitoring-tools/blob/master/etc/dcgm-exporter/dcp-metrics-included.csv Also, metrics are mapped to pod-level resources to track the usage per pod(pod-name, namespace, device-id). This [blog](https://developer.nvidia.com/blog/monitoring-gpus-in-kubernetes-with-dcgm/) is bit dated b

[2022-08-24 21:58] faiq commented on #393
@shivamerla is it possible to expand the CRD to expose the update strategy and perhaps for other critical as well such as the toolkit

[2022-08-25 11:54] arpitsharma-vw opened #397 "Nvidia operator doesn't schedule required nvidia driver pods on the new GPU machines"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] No
- [ ] Are you running Kubernetes v1.13+?
- [ ] Yes
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Yes
- [ ] Do you

[2022-08-25 17:17] bobby-driver opened #398 "Driver daemonset never launches, shows drivers as pre-installed even though they are not"
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
yes
- [x] Are you running Kubernetes v1.13+?
yes
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
no
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
yes
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)
yes

### 1. Issue or feature description

On a fresh i

[2022-08-25 18:12] bobby-driver commented on #398
I decided to work around this by simply installing the drivers on my nodes, and now everything seems to be working

[2022-08-25 18:12] #398 closed

[2022-08-25 18:36] shivamerla commented on #398
@bobby-driver We run "nvidia-smi" command from the host root to check if the driver is pre-installed [here](https://gitlab.com/nvidia/cloud-native/k8s-driver-manager/-/blob/master/driver-manager#L466). Can you double check if `/usr/bin/nvidia-smi` was present on those nodes before installing driver?

[2022-08-25 18:42] bobby-driver commented on #398
Hi @shivamerla.  Thank you for your response.  /usr/bin/nvidia-smi was not present on the boxes

[2022-08-25 19:04] shivamerla commented on #397
@arpitsharma-hexad You can deploy operator with custom tolerations using `daemonsets.tolerations` parameter. Defaults [here](https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/values.yaml#L20)

[2022-08-25 19:09] shivamerla commented on #398
can you share some more info about the config and steps followed to install k8s/operator for us to reproduce? Are these cloud instances running ubuntu18.04?

[2022-08-26 03:36] kelonsen commented on #396
您好，首先感谢您的回答！我刚看了下 https://github.com/NVIDIA/dcgm-exporter 只是针对GPU设备的，没有收集运行在GPU设备上业务进程/业务POD的监控信息，其实我想监控某个进程用了多少显存，谢谢！

[2022-08-26 17:11] shivamerla commented on #393
Yes, that will be useful. Will track this change for future releases.

[2022-08-26 17:18] faiq commented on #393
@shivamerla should I create a new issue to track progress in? It would be useful for my team track the progress of the issue as well.

[2022-08-26 18:37] neggert opened #399 "Pods stuck in Terminating after upgrade to v1.11.1"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-08-29 19:49] shivamerla commented on #393
@faiq I will mark this one as enhancement and we can keep it open. I have created an internal one for changes.

[2022-08-29 19:54] shivamerla commented on #399
@neggert Thanks for reporting this, will try to reproduce. Question, why was this step done after upgrade to `v1.11.1`?

[code]

[2022-08-29 19:59] neggert commented on #399
I wanted to check to see if the issue was a result of upgrading existing nodes in place. In an attempt to rule that out, I used the label to completely remove the GPU operator from the node, then re-deploy it. In the past, I've found that this is a good way to "reset" anything related to the GPU operator that gets into a weird state.

I get the same result whether I include that step or not, so I

[2022-08-30 01:44] devnjw opened #400 "DCGM-Expoter msg="Could not retrieve ConfigMap ...""
I am running a cluster with a number of nvidia gpu. I'm also monitoring gpu using dcgm-exporter. However, sometimes the dcgm-exporter fails to give metrics with the logs below.

[code]

I think it is normal to restart Pod if the exporter has not found ConfigMap, but it doesn't. (Or at least it should be marked as _not ready_.)
I would appreciate it if you could give me feedback or fix this issue a

[2022-08-30 05:09] nonpolarity opened #401 "nvidia-driver-daemonset, nvidia-container-toolkit-daemonset and nvidia-device-plugin-daemonset not added."
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
Yes
- [x] Are you running Kubernetes v1.13+?
1.25.0-00
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
No docker, but containerd
-

[2022-08-30 05:24] nonpolarity commented on #401
- [x] kubelet logs `journalctl -u kubelet > kubelet.logs`
[kubelet.log](https://github.com/NVIDIA/gpu-operator/files/9449838/kubelet.log)

[2022-08-30 09:03] jear commented on #308
By the way, installing on Ubuntu + RKE1 is OK without patching.

[2022-08-30 15:04] shivamerla commented on #308
@jear With the upcoming release we are planning to support RKE2 with Ubuntu and RHEL8. Toolkit config required for ubuntu would be as below. SLES support is still being reviewed by CUDA team.

[code]

[2022-08-30 15:13] hibby50 commented on #308
Thanks @shivamerla and @jear

The above config is identical to what I've been using for months on my Ubuntu hosts running k3s, but there seems to be a lack of SLES support in both the nvidia-container-toolkit system package and the driver container as @shivamerla mentioned. I will see what I can get working.

For a little more context, the reason I tried to use the container driver (usually on Ubu

[2022-09-01 13:40] boniek83 opened #402 "Ability to specify my own labels on pods"
### 1. Issue or feature description
I would love to have ability to specify my own set of labels on pods. My organization uses them for pod ownership (resource cost allocation and incident support).
I'm using helm chart 1.10.1.

[2022-09-05 07:33] carlwang87 commented on #358
When will driver images with RHEL8 tags be published?

Thanks.

[2022-09-07 01:42] shivamerla commented on #400
@devnjw What env are you passing for dcgm-exporter? Are you trying to pass ConfigMap name using DCGM_EXPORTER_CONFIGMAP_DATA env? For custom metrics you can create a ConfigMap and deploy as here:  https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#custom-metrics-config.

[2022-09-07 03:14] carlwang87 commented on #358
@shivamerla
I built RHEL8 driver image with the code from https://gitlab.com/nvidia/container-images/driver/-/tree/master/rhel8 .

Then I deployed driver image on k3s cluster environment, and the environment is air-gap, and pod logs:

![image](https://user-images.githubusercontent.com/9320929/188779973-d003f4c1-4ed2-4109-bdf2-be02d4738d82.png)

And found yum, dnf in the Nvidia-driver.

So I want t

[2022-09-07 16:39] devnjw commented on #400
@shivamerla Thank you for your reply, but I don't need a custom exporter.
I am asking if it is more appropriate to panic() the exporter when an error such as the first log above occurs.

[2022-09-07 18:32] shivamerla commented on #400
got it, yes i will relay this to DCGM exporter team. When its configured to run using custom ConfigMap and that is not found, exporter should error out.

[2022-09-09 08:51] dasantonym opened #403 "nvidia-device-plugin-validator fails after node reboot (with MIG enabled)"
# System

Running on bare-metal

- Ubuntu 20.04.4
- Kubernetes v1.24.3
- Containerd 1.6.7
- GPU-Operator v1.11.1

# Setup

GPU-Operator is installed with:

[code]

MIG-Config:

[code]

# Issue

I am running a cluster with multiple GPU-Nodes and some of the nodes are using MIG, others are not. Now, as long as all nodes have their MIG config set to `all-disabled`, everything is fine. As soon as I se

[2022-09-09 14:29] shivamerla commented on #403
@dasantonym to confirm, wrong driver root was set on the node nvidia-container-runtime config file? Or did you see wrong NVIDIA_DRIVER_ROOT set within the device-plugin pod?

[2022-09-09 14:42] dasantonym commented on #403
Thanks for the prompt reply. I did not make any config changes, but where should I look for the nvidia-container-runtime file? Do you mean the containerd config file or is this also located in a specific pod?

The host's containerd config looks like this:

[code]

The env var NVIDIA_DRIVER_ROOT is set to `/` for the failing pod.

[2022-09-09 15:00] dasantonym commented on #403
I just noticed something else: I just added a new node and that one switches fine between MIG and non-MIG setup. The other nodes are in use so I can't check them now. This might very well be related to this one node only...

If you have any suggestions for further debugging, I'd be delighted. I will now make a few more tries and wait for the other nodes to be out of use again to check if they are

[2022-09-09 15:08] shivamerla commented on #403
from the error you posted, looks like device-plugin is getting started with wrong NVIDIA_DRIVER_ROOT=/run/nvidia/driver. This is set based on the file **/run/nvidia/validations/host-driver-ready** in place.

[code]

[2022-09-09 16:00] dasantonym commented on #403
I'm afraid I don't understand this correctly. The value of NVIDIA_DRIVER_ROOT within the `device-plugin-daemonset` pod on the failing node is `/`. The file `/run/nvidia/validations/host-driver-ready` exists (both in the pod and on the host). Only the ClusterPolicy `nvidia-device-plugin-validator` continously fails for the node until I disable MIG again. The device plugin itself looks ok.

Is there

[2022-09-09 16:04] shivamerla commented on #403
Can you restart device-plugin on the failing node to confirm if the issue is persistent on MIG changes. Other place for driver-root setting is **/etc/nvidia-container-runtime/config.toml**. The reason i asked for the device-plugin restart is we set this during startup of the plugin, so wondering if there is any race happening there.

[code]

[2022-09-10 06:30] dasantonym commented on #403
I did a restart, but got the same failure. Now I did more testing and it seems to me that this really is related to one or some nodes only. I am going to check this again next week and try to find reason, but maybe resetting, removing and re-adding the node(s) might do the trick.

I'll report back with more info!

[2022-09-11 23:40] hibby50 commented on #308
Not sure if this is the right place but here it goes, I got GPU resources working in k3s running on SUSE 15.4. I had to modify the container runtime image to include the container toolkit config here https://raw.githubusercontent.com/NVIDIA/nvidia-container-toolkit/main/config/config.toml.opensuse-leap

I pushed my image to docker hub. the perquisite is to install the nvidia drivers and cuda on th

[2022-09-12 06:48] jear commented on #308
@hibby50 , thanks for k3s experience, always useful to share.
"By default, the Operator deploys NVIDIA drivers as a container on the system." -> helm chart option :
  driver.enabled=true....
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#chart-customization-options

Because, the driver docker images for SLES are not officially avaialble, unless they are now, the

[2022-09-12 15:24] neggert commented on #399
@shivamerla Any luck in reproducing this? Happy to provide more info if you let me know what you need.

[2022-09-13 20:28] everflux commented on #401
Kubernetes 1.25.0 no longer supports RuntimeClass node.k8s.io/v1beta1 as stated in https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25

Solution: Migrate manifests and API clients to use the node.k8s.io/v1 API version, available since v1.20 (about 2 years).

[2022-09-13 20:39] shivamerla commented on #401
@everflux note that RuntimeClass issue is not related to this particular issue reported here as none of the components got added in the first place. But RuntimeClass issue would have happened next with K8s 1.25. The [fix](https://github.com/NVIDIA/gpu-operator/commit/5e73a0b291c8063918a3de9ca918d629e42bd23e) for RuntimeClass API change is staged for next release of operator by end of this month.

[2022-09-14 10:11] boniek83 opened #404 "Add support for almalinux"
Title says it all.

[2022-09-14 20:31] faiq opened #405 "No option to disable GFD from helm chart"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-09-14 20:38] cdesiniotis commented on #405
The option to disable GFD will be available in the next release. Here is the change: https://github.com/NVIDIA/gpu-operator/commit/976cd11e128a89d429e289d57089d142393e14ba

[2022-09-14 20:40] faiq commented on #405
This change isn't available in the 1.11.1 release yet?

[2022-09-14 20:44] cdesiniotis commented on #405
It is not included in the 1.11.1 release.

[2022-09-15 16:16] #322 closed

[2022-09-19 14:44] sasajl opened #406 "gpu-operator failing on rke2"
I have a cluster running rke2 v1.22 with a worker node running Ubuntu 20.04 that has a Tesla-T4.

The gpu-operator fails with a message:
time="2022-09-19T11:52:23Z" level=warning msg="Error signaling containerd, attempt 5/6: unable to dial: dial unix /runtime/sock-dir/containerd.sock: connect: no such file or directory"

more detailed log attached.

Suggestions welcome and any other suggestions fo

[2022-09-19 16:39] cdesiniotis commented on #406
The containerd socket and configuration file are located at custom paths on RKE2. Can you try pointing the NVIDIA Container Toolkit to the proper locations by setting the following env in ClusterPolicy:
[code]

[2022-09-19 17:44] sasajl commented on #406
That's better, the gpu-operator pods now have a good status. thanks.

However, when I use the [test in the webpage](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/gpu-sharing.html#:~:text=mig%2D7g.80gb-,Testing%20GPU%20Time%2DSlicing%20with%20the%20NVIDIA%20GPU%20Operator,%C2%B6,-This%20section%20covers), my pods are failing with this error:
 /usr/bin/dcgmproftester11: error while lo

[2022-09-19 19:16] cdesiniotis commented on #406
Can you provide logs for the toolkit container? Also, can you provide how you installing the operator (i.e. what values you are setting in values.yaml)?

[2022-09-19 20:09] sasajl commented on #406
Installing with helm:
helm install gpu-operator nvidia/gpu-operator      -n gpu-operator      --set devicePlugin.config.name=time-slicing-config

attached is the time-slicing-config.yaml
Note the changes based on your feedback.

Attached is the log.

Looks like the same type problem as previous. Is there another place similar settings are done?
[nvidia-container-toolkit-daemonset.log](https://gith

[2022-09-19 20:22] cdesiniotis commented on #406
Looks like you set the custom containerd configuration in the wrong place. The toolkit env vars (`CONTAINERD_CONFIG` and `CONTAINERD_SOCKET`) need to be set in ClusterPolicy, not in the device plugin config (`time-slicing-config.yaml`). You can set these env vars when installing the operator via:
[code]
Or if the operator is already installed, you can edit the ClusterPolicy instance and add these

[2022-09-19 22:40] sasajl commented on #406
well, I'm back to this error in my test deployment:
/usr/bin/dcgmproftester11: error while loading shared libraries: /usr/bin/../lib/x86_64-linux-gnu/libcuda.so.1: file too short

Why is this not working? Insights welcome.

Here is my helm cmd:
helm install gpu-operator nvidia/gpu-operator -n gpu-operator \
  --set devicePlugin.config.name=time-slicing-config \
  --set operator.defaultRuntime=cont

[2022-09-20 00:51] sasajl commented on #406
Progress! I was using the wrong CONTAINERD_CONFIG value. It should have been:
/var/lib/rancher/rke2/agent/etc/containerd/config.toml.tmpl

Previous error is gone!

Now, one last problem, hopefully minor. Processes are not being listed in the nvidia-smi output from inside the container.
I can see the process from the host system login, using ps -ef.
However, when I exec into the container, and run

[2022-09-20 07:49] xiaoduo opened #407 "Can not get cuda image from nvcr.io for stable version 1.6.2"
We were running good on stable 1.6.2 with driver config to version "450.80.02", but after OCP cluster minor version upgraded to 4.6.60, we saw the pods of nvidia-container-toolkit in GPU operator 1.6.2 are no longer able to get :

[code]

Is this image removed from nvcr.io ? What is the correct image should be use in this case?

Thanks!

[2022-09-20 11:12] carlwang87 opened #408 "CUDA version cannot change in GPU-Operatorv1.11.1"
In the values.xml, the cuda version is 11.6.0-base-ubi8 in operator.initContainer.version.
`
operator:
  use_ocp_driver_toolkit: false
  initContainer:
    image: cuda
    repository: nvcr.io/nvidia
    version: 11.6.0-base-ubi8
    imagePullPolicy: IfNotPresent
`

After applied the gpu-operator succssfully in my cluster env, I entered into the container with following command:
`kubectl exec -i -t

[2022-09-20 13:12] sasajl commented on #406
OK. This works! I can see the processes now.

kubectl exec nvidia-driver-daemonset-qmsb9 -n gpu-operator -- nvidia-smi
Defaulted container "nvidia-driver-ctr" out of: nvidia-driver-ctr, k8s-driver-manager (init)
Tue Sep 20 13:11:24 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 515.48.07    Driver Version: 515.48.07    CUDA Version: 11.7     |
|--

[2022-09-20 15:56] shivamerla commented on #407
@xiaoduo unfortunately those images were removed due to critical CVEs and have been updated with newer tags. `v1.6.2` didn't support changing cuda base images and had pinned to a specific image digest. It was added later on from 1.7.x(which supports OCP 4.6 in this case). The spec looks as [here](https://github.com/NVIDIA/gpu-operator/blob/master/bundle/1.7.1/manifests/gpu-operator.clusterservicev

[2022-09-20 16:04] shivamerla commented on #408
@carlwang87 These are CUDA compat libs that depends on the CUDA images that these images were built on. We got rid of compat libs from the operator/operand images with upcoming release(v22.9) which is coming out later this month. Also, what issues have you seen with compat libs being part of these images? The libs that container-toolkit will inject into app containers is based on the libs installe

[2022-09-20 16:40] sasajl commented on #406
thanks for the help!

[2022-09-20 16:40] #406 closed

[2022-09-21 01:46] carlwang87 commented on #408
The issue is that the cuda samples cannot run with the following logs:
`Failed to allocate device vector A (error code CUDA driver version is insufficient for CUDA runtime version)!`

[2022-09-21 04:34] shivamerla commented on #408
This is similar to issue https://github.com/NVIDIA/gpu-operator/issues/389. It will be fixed as part of next release(next week).

[2022-09-22 19:51] benlsheets opened #409 "node.k8s.io/v1beta1 deprecated in Kubernetes 1.25"
### 1. Quick Debug Checklist
- [❌ ] Are you running on an Ubuntu 18.04 node?
- [✅ ] Are you running Kubernetes v1.13+?
- [❌ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [  ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
Release 1.11.1 deploys resou

[2022-09-22 20:00] cdesiniotis commented on #409
@benlsheets This is a known issue and has been fixed [here](https://github.com/NVIDIA/gpu-operator/commit/67715494de7b019fe7868496065d7f25c1700adf). The fix will be included in our next release at the end of this month.

[2022-09-23 00:34] wjentner commented on #367
What helped me was to identify the pods from this error (i.e., your error logs):
[code]

1. Cordon the node
2. Remove the pods manually mentioned in the error
3. [restart the nvidia-driver-daemonset pod] (not sure if this is necessary)

Afterwards, when the pod was restarted it actually drained the node successfully, then installed the drivers, and automatically uncordoned the node afterwards.

[2022-09-23 03:43] hoangtnm opened #410 "[Question] Check installed version of gpu-operator"
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
Hi, I'm trying to enable GPU on

[2022-09-23 08:51] xiaoduo commented on #407
@shivamerla Thank you very much! We tried to use 1.7.1 instead and it could work fine now on OCP 4.6.60 with NFD 4.6, we will upgrade it to 1.8.2 after OCP move to 4.8.x.

BTW, Do you know where could we subscribe some kind of notification like image removed event for avoiding this kind of issue in future? Thanks in advance!

[2022-09-23 10:50] hoangtnm commented on #367
@tmbdev @shivamerla I have the same concern about pre-installing nvidia-driver, whether it's from Ubuntu repo or the NVIDIA CUA repo. I don't know which one is better, do you have any idea? :)

[2022-09-26 07:50] carlwang87 opened #411 "GPU driver pod cannot start with driver:515.65.01-rhel8.4"
The driver images support rhel8.4 released. I deployed nvcr.io/nvidia/driver:515.65.01-rhel8.4 on my k3s cluster, and gpu-operator version is 1.11.1. The driver pod status is running, but its restarts is increased as below picture.
![image](https://user-images.githubusercontent.com/9320929/192220050-2879b601-f89f-47ee-9af9-f95262de7c3d.png)

The logs from driver pod:
`kubectl -n test logs  nvidia-

[2022-09-26 14:42] dioguerra opened #412 "gpu-operator devicePlugin error"
### 1. Issue or feature description
When installing the gpu-operator if I setup a different than default (time-slicing-config) devicePlugin.config.name for the configMap,
The devicePlugin component does not update the configuration.
This happens even if in the configpolicy the configMap is correctly populated. Also if this configMap is not present the devicePlugin pod seems to halt.

Using configM

[2022-09-26 15:14] #412 closed

[2022-09-27 07:13] dasantonym commented on #403
Sorry for the long delay. I did not yet have time to investigate this more closely.

So far, I have had no luck. I first reset and removed the node from Kubernetes, but after re-adding, the problem persisted. Then I reset, removed and re-installed the entire NVIDIA software, but also no luck there.

Unfortunately, the error also persists for at least one other node. One node does the change from n

[2022-09-29 01:17] carlwang87 commented on #411
Fixed by following links.
https://github.com/NVIDIA/gpu-operator/issues/91

https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/openshift/mirror-gpu-ocp-disconnected.html?highlight=repoconfig#

[2022-09-29 01:17] #411 closed

[2022-09-29 08:25] searce-aditya opened #413 "Failed to create pod sandbox: rpc error: code = Unknown desc = failed to get sandbox runtime: no runtime for "nvidia" is configured"
We are using **GKE** cluster(v1.23.8-gke.1900) with Nvidia multi-instance **A100 Gpu** nodes. We want to install Nvidia Gpu-operator on this cluster.

The default container-runtime in our case is **containerd**, so we followed  the following steps to change the container runtime to **nvidia** i.e by adding below config to **/etc/containerd/config.toml** and restarting containerd service.:

[code]

[2022-09-29 09:31] elezar commented on #413
@searce-aditya I see from the list of pods that you are adeploying the `nvidia-container-toolkit-daemonset`, however your comments seem to indicate that the driver and the NVIDIA Container Toolkit are installed on the host.

Could you add `--set toolkit.enabled=false` to the options you use when deploying the operator?

[2022-09-29 12:12] searce-aditya commented on #413
Hello @elezar we tried adding --set toolkit.enabled=false while deploying operator, still facing the same issue

[2022-09-29 12:45] sasajl opened #414 "nvidia-dcgm-exporter failing after setting env var"
I was exploring the Prometheus support, and on this instruction: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#:~:text=In%20this%20scenario%2C%20we%20need%20to%20set

Found that the dcgm-exporter is now failing.
I'd like to get back to a known good state. Short of redeploying the gpu-operator, what's the best way to fix this?

Here's the error:
ubectl logs nvidi

[2022-09-29 14:17] shivamerla commented on #413
Is the driver ready on the node? Can you share the output of `nvidia-smi` from the node.

[2022-09-29 17:32] shivamerla commented on #414
@sasajl which version of GPU Operator are you using? Can you show the status of all pods `kubectl get pods -n gpu-operator` and also `kubectl describe clusterpolicy`

[2022-09-29 18:57] sasajl commented on #414
Hi Shiva,

Chart version: gpu-operator-v1.11.1

kubectl get pods -n gpu-operator
NAME                                                          READY   STATUS                  RESTARTS           AGE
gpu-feature-discovery-4szks                                   0/2     Init:CrashLoopBackOff   2277 (3m34s ago)   8d
gpu-feature-discovery-khw7d                                   2/2     Running

[2022-09-29 21:31] shivamerla commented on #414
[code]

[2022-09-29 22:15] sasajl commented on #414
Thanks!

I’ll give it a try.

For the second node: it’s ok. I don’t have the rtx-6000 configuration in place, so it fails… it’s straightforward to fix.
________________________________
From: Shiva Krishna Merla ***@***.***>
Sent: Thursday, September 29, 2022 5:31:23 PM
To: NVIDIA/gpu-operator ***@***.***>
Cc: Allen Langlois ***@***.***>; Mention ***@***.***>
Subject: Re: [NVIDIA/gpu-operator] nvid

[2022-10-01 04:03] hoangtnm commented on #408
Hi @shivamerla, when will it be released? Because I think that today might be your mentioned next release (week).

[2022-10-03 15:41] shivamerla commented on #408
@hoangtnm It will be released today.

[2022-10-03 18:07] sasajl commented on #414
that worked. Thanks! I used the Rancher UI to edit these env's out.

[2022-10-03 18:07] #414 closed

[2022-10-03 18:54] damjanek commented on #409
When it will be released? We're already past the end of September.

[2022-10-03 19:15] cdesiniotis commented on #409
@damjanek It will be released later today. I will update this thread when complete.

[2022-10-03 22:07] catalinpan commented on #360
The fix is part of the v1.11.1 release, thank you very much for all your help!

[2022-10-03 22:07] #360 closed

[2022-10-03 23:38] shivamerla commented on #410
@hoangtnm which microk8s version are you using, looks like with v1.23 default operator version used is `v1.11.0` from [here](https://github.com/canonical/microk8s/blob/1.23/microk8s-resources/actions/enable.gpu.sh).

[2022-10-04 04:10] cdesiniotis commented on #409
GPU Operator v22.9.0 has been released: https://github.com/NVIDIA/gpu-operator/releases/tag/v22.9.0

@benlsheets @damjanek can you verify if v22.9.0 resolves this issue? Thanks.

[2022-10-04 04:12] cdesiniotis commented on #389
GPU Operator v22.9.0 has been released and contains the fix for this issue: https://github.com/NVIDIA/gpu-operator/releases/tag/v22.9.0

[2022-10-04 04:13] cdesiniotis commented on #408
GPU Operator v22.9.0 has been released: https://github.com/NVIDIA/gpu-operator/releases/tag/v22.9.0

@carlwang87 Please re-open if v22.9.0 does not fix this issue.

[2022-10-04 04:13] #408 closed

[2022-10-04 04:16] cdesiniotis commented on #405
GPU Operator v22.9.0 has been released: https://github.com/NVIDIA/gpu-operator/releases/tag/v22.9.0

You can now disable GFD by setting `gfd.enabled=false` in ClusterPolicy

[2022-10-04 04:16] #405 closed

[2022-10-04 20:15] benlsheets commented on #409
Confirmed v22.9.0 is working with Kubernetes 1.25.2. Thanks for your help and candor.

[2022-10-04 20:15] #409 closed

[2022-10-05 08:10] #410 closed

[2022-10-06 00:21] shivamerla commented on #399
@neggert Can you attach `/var/log/messages` or logs from `journalctl -xb > journal.log`, This might help us to understand if containerd is reloaded correctly after toolkit upgrade. If it got into error state after first reset, that might explain why containers were not reaped correctly.

[2022-10-06 20:09] neggert commented on #399
Getting slightly different behavior when I went to reproduce this again. Now things are stuck in a crash loop

[code]

Events look like this:
[code]

As before, restarting the container-toolkit pod resolves the problem.

journal logs are attached.
[journal.log.gz](https://github.com/NVIDIA/gpu-operator/files/9728152/journal.log.gz)

[2022-10-07 16:29] neggert commented on #399
The above problem seems to happen because the driver container is not populating `/run/nvidia/driver/proc/driver/nvidia`. Rebooting the node seems to revolve that. Not ideal, but I think it might be a separate issue.

I see pods stuck in Terminating when the node comes up after reboot, so it's actually a great way to get some nice clean logs that demonstrate the problem.

Pods:
[code]

Logs: [jour

[2022-10-07 17:17] shivamerla commented on #399
@neggert Can you set env for toolkit with `--set toolkit.env[0].name=CONTAINERD_RESTART_MODE` --set `toolkit.env[0].value=none`

This will avoid containerd reloads in your case and for upgrades we don't really need a reload as `nvidia-container-runtime` binary path is same. We will continue to look into root cause of this.

[2022-10-10 07:35] carlwang87 commented on #408
OS Version: Red Hat Enterprise Linux release 8.4

kernel: 4.18.0-305.el8.x86_64
K3S Version: v1.24.3+k3s1

GPU Operator Version: v22.9.0
CUDA Version: 11.7.1-base-ubi8

Driver Pre-installed: No
Driver Version：515.65.01-rhel8.4

Container-Toolkit Pre-installed: No
Container-Toolkit Version: v1.11.0-ubi8

GPU Type: Tesla P100
cuda-sample: cuda-sample:vectoradd-cuda11.7.1-ubi8

[2022-10-10 07:57] carlwang87 opened #415 "error code CUDA driver version is insufficient for CUDA runtime version in v22.9.0"
The issue is still reproduced in gpu-operator v22.9.0.

`kubectl --kubeconfig -n gpu logs cuda-vectoradd`
[code]

**Environment infomation**
[code]

**config.toml content**
`cat /usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml`

[code]
In the host, the `/etc/nvidia-container-runtime/host-files-for-container.d` is not found.

**cuda-vectoradd pod yaml**
[code]
when I add `runt

[2022-10-10 08:15] carlwang87 commented on #415
Images list
[code]

[2022-10-10 14:50] shivamerla commented on #415
@carlwang87 For running cuda-vectorAdd sample, use this image `nvcr.io/nvidia/cloud-native/gpu-operator-validator:v22.9.0`. This is the image we have fixed(and used) with GPU Operator to run the sample.

[2022-10-11 07:01] pikomen commented on #337
Ok, I will disable it and will let you know

On Mon, Apr 18, 2022, 21:04 Shiva Krishna Merla ***@***.***>
wrote:

[2022-10-11 08:38] rochaporto commented on #370
@shivamerla the suggestion was to have this available in artifacthub as well, it would be nice for people to find it and it makes replication to a local (air-gapped) registry easier. Would you consider doing this?

We can always do it on our side otherwise, but it won't be under a nvidia org.

[2022-10-11 09:26] carlwang87 commented on #415
Follow the document toolkit configuration, it failed either.

` cat /var/lib/rancher/k3s/agent/etc/containerd/config.toml`

[code]

The content is not same as the document from https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#custom-configuration-for-runtime-containerd
[code]

[2022-10-11 21:38] neggert opened #416 "Driver won't fully start without manually draining node"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msg

[2022-10-12 03:39] PinkDiamond1 opened #417 "Icoin"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-10-12 05:43] shivamerla commented on #416
@neggert Thanks for the detailed report. Currently we only evict/drain the node only when there are `nvidia` modules loaded and if they cannot be unloaded after evicting GPU Operator operands. From the logs of `k8s-driver-manager` looks like `nvidia` modules were already unloaded, so it didn't attempt to drain the node. May be there is a race condition happening that `container-toolkit` thinks dri

[2022-10-12 11:51] Zubnix opened #418 "Unable to pull driver image: not found"
The nvidia-driver-daemonset pod fails to start:
`Failed to pull image "nvcr.io/nvidia/driver:515.65.01-buildroot2021.02.12": rpc error: code = NotFound desc = failed to pull and unpack image "nvcr.io/nvidia/driver:515.65.01-buildroot2021.02.12": failed to resolve reference "nvcr.io/nvidia/driver:515.65.01-buildroot2021.02.12": nvcr.io/nvidia/driver:515.65.01-buildroot2021.02.12: not found`

The co

[2022-10-12 15:56] neggert commented on #416
The same issue occurs both when downgrading from v1.11.1 to v1.10.1 and when re-upgrading from v1.10.1 to v1.11.1.

Driver manager logs after downgrading to v1.10.1:

[code]

When upgradeing to v1.11.1

[code]

[2022-10-12 16:43] cdesiniotis commented on #416
@neggert can you provide detail on the GPU pods running on the node and the workloads they are running? If they are actively using the GPU, we expect `k8s-driver-manager` to drain the node since it would fail when attempting to unload the driver modules. But it looks like we never get to that point in any of your log outputs -- `k8s-driver-manager` is able to unload the driver just fine with your

[2022-10-12 19:58] neggert commented on #416
So far I believe these have been Kubeflow notebook servers that have a GPU allocated, but are sitting idle i.e. not running any processes that are using the GPU.

I tried loading up Pytorch in a REPL and allocating a GPU tensor in one of the pods, then removing/re-adding the operands (with the tensor still allocated). In this case, it seems that the driver manager drains the node and the driver co

[2022-10-13 03:07] SakuraAxy commented on #415
The k3s 1.24 I used also encountered config The toml file has not been modified. However, when I change CONTAINERD_CONFIG to config.toml.tmpl, it works, this file will be created and modified. However, after restarting k3s, this file will overwrite config.toml, resulting in the lack of many necessary k3s configurations

As far as I know, k3s config.toml is generated by k3s. If need to customize it

[2022-10-13 07:16] rupang790 opened #419 "GPU-Operater v1.11.1 on OKD 4.10 Cluster, Nvidia-driver-daemonset is not created"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-10-13 12:13] nneram opened #420 "Disable *nvidia-device-plugin-daemonset* in Helm chart values"
### 1. Issue or feature description

I would like to be able to disable the nvidia-device-plugin-daemonset through chart customization options such as driver or toolkit.
Indeed I would like to use MPS. I'm using an other device-plugin to do so.
Is this possible ? I am able to make a pull request if it suits you.

[2022-10-13 12:30] elezar commented on #420
The Helm deployment does provide the `devicePlugin.enabled` option that seems to mirrors the `driver.enabled` and `toolkit.enabled` options. @shivamerla or @cdesiniotis would be able to better comment on the level of support of this option.

[2022-10-13 13:41] nneram commented on #420
Indeed, I am 3 months late, didn't see this commit https://github.com/NVIDIA/gpu-operator/commit/976cd11e128a89d429e289d57089d142393e14ba sorry !

In the sense that it is already current, I take opportunity to ask if their is a way to use **MPS** (multiple container's pods addressing GPU request to MPS service) with **nvidia-gpu-operator** ?  As far as i know it's not implemented.
I can open a new

[2022-10-13 20:03] cdesiniotis commented on #416
Thanks for the additional info. If all GPU pods are idle at the time of driver upgrade (there are no active GPU driver clients), then it makes sense why you are hitting this issue. As currently implemented, k8s-driver-manager will not drain the node if there are no active GPU clients and therefore can successfully cleanup the driver. The issue is all pods with access to GPU, regardless if they are

[2022-10-13 20:45] neggert commented on #416
Great. Thanks for looking into this. Please let me know if there's any other information I can provide.

[2022-10-16 05:05] hoangtnm opened #421 "nvidia/gpu-operator exposes all GPUs in Kubefllow"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-10-17 04:55] shivamerla commented on #420
@nneram no we don't support MPS with GPU Operator/operands currently. Design discussions are still ongoing on this.

[2022-10-17 05:02] shivamerla commented on #421
@hoangtnm  This will happen when `NVIDIA_VISIBLE_DEVICES=all` environment variable is set in the image you are using (which is true for most of the cuda images). Please refer to [this](https://docs.google.com/document/d/1uXVF-NWZQXgP1MLb87_kMkQvidpnkNWicdpO2l9g-fw/edit?usp=sharing) document on ways to prevent using this env without `privileged` mode.

[2022-10-17 05:07] shivamerla commented on #418
@Zubnix We only publish driver images for supported OS distributions [here](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#supported-operating-systems-and-kubernetes-platforms).

[2022-10-17 05:13] shivamerla commented on #419
@rupang790 Looks like `operator. use_ocp_driver_toolkit` is set to `true` in ClusterPolicy(CR) while the driver image is not RHCOS one. Please set this to false if you are using other OS for worker node with OKD.

[2022-10-17 05:16] shivamerla commented on #417
@PinkDiamond1 closing this as no information provided, please create a new one with details if you are facing any issue.

[2022-10-17 05:16] #417 closed

[2022-10-17 05:19] shivamerla commented on #407
@xiaoduo with recent versions, we have made cuda base image as configurable through ClusterPolicy [instance](https://github.com/NVIDIA/gpu-operator/blob/master/bundle/1.8.2/manifests/gpu-operator.clusterserviceversion.yaml#L200), so hopefully you will not be blocked with those. But will update you more on getting these notifications.

[2022-10-17 07:20] #420 closed

[2022-10-17 07:58] Zubnix commented on #418
oh ic, yeah that makes sense!

[2022-10-17 07:58] #418 closed

[2022-10-17 10:46] hoangtnm commented on #421
@shivamerla Thank you for your prompt reply. As I understand your document, these following modifications should be made into `/etc/nvidia-container-runtime/config.toml`:

[code]

However, when I read [another document](https://docs.google.com/document/d/1zy0key-EL6JH50MZgwg96RPYxxXXnVUdxLZwGiyqLd8/edit#heading=h.tec6pygavof) on page 3 by @klueska, the modifications should be:

[code]

Therefore,

[2022-10-17 11:21] elezar commented on #421
@hoangtnm the document that was linked by @shivamerla describes the options and their behaviour. If you want to prevent the use of the `NVIDIA_VISIBLE_DEVICES` environment variable in unprivileged containers, you will have to set:
[code]
If you then want the device plugin to use volume mounts (and *not* the envvar) to specify devices you additionally need to set:
[code]
And ensure that the device

[2022-10-17 17:29] shivamerla commented on #421
to make this clear, with operator following params needs to be set during helm install.

[code]

[2022-10-18 02:45] rupang790 commented on #419
@shivamerla  Thank you for your reply.
I tried to change that you recommend to change `use_ocp_driver_toolkit=false` on values.yaml as below, but it still have same issue.
[code]
![image](https://user-images.githubusercontent.com/40801176/196323623-eb1ae1fc-ba7b-4a2c-816d-5b1c4b3b4f2d.png)

[2022-10-18 02:48] hoangtnm commented on #421
Hi @elezar @shivamerla, thank you for your prompt replies, they helped my a lot :D However, I just want to confirm the steps along with how to apply those params during `gpu-operator` helm install:

[code]

Is this correct or do I miss something to make it work?

[2022-10-18 06:45] Alwinator opened #422 "console-plugin-nvidia-gpu / GPU Operator Dashboard not showing"
### 1. Quick Debug Checklist
* Are you running on an Ubuntu 18.04 node? No, I am running **Red Hat Enterprise Linux CoreOS 410.84.202209231843-0**
* Are you running Kubernetes v1.13+? Yes, I am running **OpenShift 4.10.35** with **Kubernetes 1.23**
* Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? Yes, **CRI-O 1.23.3-17.rhaos4.10.git016b1ca.el8**
* GPU Operator version: 22.9.0
* Helm version

[2022-10-18 08:09] elezar commented on #421
I think your understanding is correct. Using the toolkit daemonset should configure the toolkit as required. Note that you would also need to set the `ACCEPT_NVIDIA_VISIBLE_DEVICES_AS_VOLUME_MOUNTS="true"` for the toolkit to trigger it to consider volume mounts.

[2022-10-18 08:14] Alwinator commented on #372
@shivamerla Is there any news on this issue? Is the new solution already published? If so, where to find the according documentation?

Thank you in advance!

[2022-10-18 08:19] elezar commented on #372
@Alwinator please see https://github.com/NVIDIA/gpu-operator/issues/421 where this feature is being discussed. There is no single toggle at present, but a user can configure both the device plugin and container toolkit to specify devices as volume mounts instead of usign the environment variables.

[2022-10-18 08:28] Alwinator commented on #372
@elezar Thank you! :)

[2022-10-18 08:33] Alwinator commented on #421
For me, it solved the issue with the environment variable, however, if I do a small test with volume mounts enabled, it runs into errors:
[code]

Pod logs:
[code]

[2022-10-18 08:34] Alwinator commented on #421
@elezar For me, it solved the issue with the environment variable, however, if I do a small test with volume mounts enabled, it runs into errors:
[code]

Pod logs:
[code]

[2022-10-18 08:59] elezar commented on #421
@Alwinator could you please confirm your GPU operator version and values that you have applied to your helm deployment?

[2022-10-18 09:04] Alwinator commented on #421
OpenShift 4.10.35 with Kubernetes 1.23
OS on nodes: Red Hat Enterprise Linux CoreOS 410.84.202209231843-0
CRI-O 1.23.3-17.rhaos4.10.git016b1ca.el8
GPU Operator version: 22.9.0
Helm version: v3.6.3

[2022-10-18 09:24] LukasIAO commented on #413
I'm running into the same problem on a Nvidia DGX Station A100 running microk8s 1.25.2 and following the process outlined in the GPU-operator manual for DGX systems.

[2022-10-18 09:58] elezar commented on #421
Thanks. And the values used to install the operator?

[2022-10-18 10:52] Alwinator commented on #421
The Nvidia Operator 22.9.0 is installed in the nvidia-gpu-operator namespace, with update approval automatic and the cluster policy:
[code]

[2022-10-18 10:58] elezar commented on #421
@Alwinator as mentioned in https://github.com/NVIDIA/gpu-operator/issues/421#issuecomment-1281983276 could you ALSO please set the `ACCEPT_NVIDIA_VISIBLE_DEVICES_AS_VOLUME_MOUNTS="true"` in the `toolkit.env` and see if this addresses your issue?

What is happening now is that the device plugin is specifying devices as volume mounts, but the NVIDIA Container Runtime Hook is not configured to interp

[2022-10-18 11:15] Alwinator commented on #421
@elezar Thank you for your support. I am sorry, I missed this one. With the new variable set, it works seamlessly. Also, thank you for the explanation that makes a lot of sense. :)

[2022-10-19 02:56] carlwang87 commented on #415
@shivamerla

Without pre-installed NVIDIA Container Toolkit and gpu driver， I followed the gpu-operator(v22.9.0) installation guide in k3s(v1.24.3+k3s1) to deploy gpu operator successfully, but I ran the samples from https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#running-sample-gpu-applications, it failed. I have to add **runtimeClassName: nvidia** in the pod spe

[2022-10-19 04:08] hoangtnm commented on #421
Hi @elezar @shivamerla, I tried to install `gpu-operator` with the following params but it doesn't work. Do you have any idea?

[code]

[2022-10-19 04:25] shivamerla commented on #415
@carlwang87 There seems to be typo in the documentation. Boolean value for `CONTAINERD_SET_AS_DEFAULT` needs to be quoted here. Can you double check if this was done with your install?

[code]

[2022-10-19 04:37] shivamerla commented on #421
@hoangtnm Can you try below command.

[code]

[2022-10-19 04:39] hoangtnm commented on #421
Hi @shivamerla, I still experienced the same issue:
[code]

[2022-10-19 04:51] hoangtnm commented on #421
Hi @shivamerla, I fixed the problem with `bash` instead of `zsh`. It seems that `zsh` cannot parse arguments properly.

[2022-10-19 05:04] carlwang87 commented on #415
@shivamerla
I set it through value.yaml as below:
[code]

[2022-10-19 15:05] hoangtnm commented on #421
@shivamerla @elezar I have a question about params for `k8s-device-plugin`, which is bundled inside `gpu-operator`. As I read [Preventing unprivileged access to GPUs in Kubernetes](https://docs.google.com/document/d/1zy0key-EL6JH50MZgwg96RPYxxXXnVUdxLZwGiyqLd8/edit#heading=h.tec6pygavof) document on page 4:

[code]
It sets `securityContext.privileged=true` along with `deviceListStrategy=volume-mou

[2022-10-19 15:06] shivamerla commented on #421
@hoangtnm yes, with gpu-operator, device-plugin is always deployed with `privileged` mode.

[2022-10-19 15:08] hoangtnm commented on #421
@shivamerla thank you for your prompt clarification :D

[2022-10-19 15:57] mohittalele opened #423 "pod didn't trigger scale-up (it wouldn't fit if a new node is added)"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? ---> No. Amazon Linux 2
- [x] Are you running Kubernetes v1.13+?  ---> v1.21
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
I have an EKS cluster with cluster-autoscaler - (consisting of 2 non

[2022-10-19 16:02] shivamerla commented on #423
@mohittalele you need to pass same tolerations to gpu-operator to tolerate those taints.

values.yaml:

[code]

[2022-10-19 19:55] mohittalele commented on #423
@shivamerla I redeployed the chart. The node was successfully scaled up. So thats a progress.

However still there are no driver and container toolkit pods. Also the test pod fails with the same error original.

`kubectl get pods  -n gpu-operator`

[code]

[2022-10-19 20:35] shivamerla commented on #423
@mohittalele Can you check if Daemonsets are created under `gpu-operator` namespace? Daemonsets are deployed with nodeSelector to deploy on nodes with GPUs(done by NFD, `feature.node.kubernetes.io/pci-10de.present: "true"`)

[2022-10-20 02:18] carlwang87 commented on #415
@shivamerla  First of all, thank you for still helping me.

`default_runtime_name=nvidia` in `/var/lib/rancher/k3s/agent/etc/containerd/config.toml` is set manually or by gpu operator? I find it is not set by gpu operator. You mean we need to set it manually in config.toml?

[2022-10-20 07:17] rupang790 commented on #419
This issue was clear by change `use_ocp_driver_toolkit: false` on ClusterPolicy.yaml directly. When I set it on values.yaml, it was not work. So now it is clear and can use GPU-Operator well.

[2022-10-20 07:17] #419 closed

[2022-10-20 12:33] mohittalele commented on #423
@shivamerla I checked the Daemonsets. Its not present there.
` kubectl get daemonset -n gpu-operator` returns -
[code]

The GPU node do not have the this label `feature.node.kubernetes.io/pci-10de.present: "true"`.

Is this label assigned automatically to node or it has be configured explicitly in AWS ?

When I manually apply this label to GPU node, GPU operator tries to create daemonsets.  Howeve

[2022-10-20 12:59] klueska commented on #386
This has now been merged and will be part of the upcoming 0.13.0 release:
https://gitlab.com/nvidia/kubernetes/device-plugin/-/merge_requests/224

[2022-10-20 13:00] #386 closed

[2022-10-20 14:24] mristok commented on #413
Experiencing this same issue running K8s v1.21.14. I have tried all suggestions in this issue and the issue has not resolved.

[2022-10-20 17:11] shivamerla commented on #415
@carlwang87 It is set by the container-toolkit component deployed with gpu-operator. Can you describe the `container-toolkit` pod to confirm these env are applied correct? Also, logs from that pod please.

[2022-10-20 17:12] shivamerla commented on #423
Looks like NFD is somehow not able to label that GPU node. Can you attach logs of NFD master/worker pods to debug further. The above error indicates, we depend on other NFD labels as well which are missing in this case.

[2022-10-20 19:02] #288 closed

[2022-10-20 19:19] shivamerla commented on #413
`Failed to create pod sandbox: rpc error: code = Unknown desc = failed to get sandbox runtime: no runtime for "nvidia" is configured` This is not an error and expected until drivers are loaded and `nvidia-container-runtime` is setup. With driver containers, it takes about 3-4minutes to setup/load drivers and toolkit, after that these errors should go away.

Please ignore these errors and let us kn

[2022-10-20 20:54] shivamerla commented on #393
Closing this as fixed with [this](https://github.com/NVIDIA/gpu-operator/commit/93810f4b45ef26948a703a61024249f4dd48d2b1) commit. This will be available in next patch `v22.9.1`

[2022-10-20 20:56] shivamerla commented on #400
@glowkey @dualvtable  Please take a look at this.

[2022-10-21 01:53] carlwang87 commented on #415
@shivamerla  logs from pod `nvidia-container-toolkit-daemonset-cwp28`:
[code]
From the logs, I find there is a warning that Support for `containerd config version 1 is deprecated`.

[2022-10-21 08:26] carlwang87 opened #424 "nvidia-driver-daemonset reinstall gpu driver when gpu node restarts"
There is a node called node1 with gpu installed gpu operator successfully, and gpu driver installed successfully, when I restart the node1, I find the nvidia-driver-daemonset reinstall gpu driver.

So is there some solution or configuation in gpu operator to avoid to reinstall gpu driver?

Thanks.

[2022-10-21 08:55] LukasIAO commented on #413
It's definitely not a timing issue, these pods have been in this state for quite a while.

[code]
Containerd and docker configs have been set up as instructed in the documentation. Initially, I tried to install the operator via microk8s GPU add-on but ran into issues. Following the recommended Helm3 installation, all expected pods were created, but some of them got stuck in the init phase.

Docker

[2022-10-21 13:20] mohittalele commented on #423
Here are the nfd-master [logs](https://gist.github.com/mohittalele/f357965726e57df88ec02a5c97957148).

Actually, there was no worker pod running on the gpu node. So, there was no nfd-worker pod running on the gpu node. And nfd-daemonset did not have the toleration I specified in values.yaml.

Helm template also shows absence of the below toleration in the nfd-worker daemonset. Could you check it o

[2022-10-21 13:22] shivamerla commented on #423
ah ok, you can pass tolerations to NFD too in values.yaml. Here are the current tolerations:

[code]

[2022-10-21 13:26] shivamerla commented on #413
@LukasIAO Can you add following `debug` options under `/etc/nvidia-container-runtime/.config.toml`. Can you also confirm `root` is set to `/` here. With this if you restart any of the operand pods(operator-validator for e.g.) we should see logs in file `/var/log/nvidia-container-runtime.log` and `/var/log/nvidia-container-cli.log`. That will help us to confirm if the runtime hook is invoked or not

[2022-10-21 14:20] mohittalele commented on #423
Ahh I see. That should solve the issue.
I would test it next week and report back. Thanks for the prompt responses!

[2022-10-24 09:39] SakuraAxy commented on #415
What version of k3s does the gpu operator use when testing this point? The 1.24 version we use has this problem. In addition, when I do not set CONTAINERD_CONFIG , /etc/containerd/config.toml will be changed by default , the change is correct at this time, but it does not meet our expectations, because the k3s containerd configuration file is in/var/lib/router/k3s/agent/etc/containerd/config.toml

[2022-10-24 09:44] LukasIAO commented on #413
Hi @shivamerla,
thank you very much for your help. I've added/enabled the recommended lines in the config. Some variables varied in my installation, which I left at their default value. I assume they are configured correctly, since the DGX OS ships with the runtime already installed.

Current config:

[code]
Updated config:

[code]

I've restarted the deamonset pod which is still running into the

[2022-10-24 11:34] anneum opened #425 "nvidia-device-plugin-validator - lstat /run/nvidia/driver/dev/nvidiactl: no such file or directory"
### System:
OS: Ubuntu 20.04.5 LTS
GPU: 4x A100
K8s version: 1.24.2
CRI: containerd v1.6.6
Driver: 520.61.05
gpu-operator version: v22.9.0
MIG: yes

### 1. Issue or feature description
[code]

### 2. Steps to reproduce the issue
After our GPU drivers including the containerd config got lost (error: driver version mismatch), we first cleaned the drivers and then reinstalled them. When installing th

[2022-10-24 14:41] wjentner opened #426 "node draining fails & transport: Error while dialing dial unix /var/run/containerd/containerd.sock: connect: connection refused"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? => Ubuntu 20.04.5 LTS
- [x] Are you running Kubernetes v1.13+? => 1.23.13
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? => contai

[2022-10-24 16:31] neggert commented on #399
@shivamerla That does solve the problem with the upgrade, but it means that we need to manually log into the node to restart containerd when adding, removing, or reconfiguring the container toolkit. I'd rather restart the daemonset :P.

[2022-10-24 18:48] shivamerla commented on #399
@neggert Agree, this is just a workaround until we figure out why `containerd` reloads are causing issue in your case. Currently we don't modify the runtime config over operator/toolkit **upgrades**, it remains the same but we still do runtime reload. The above workaround fixes that issue. That said, the toolkit config might change with the future versions so runtime reload is still required in th

[2022-10-25 09:31] kousui-dev opened #427 "Install gpu-operator on network restricted environment."
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?:No
- [ ] Are you running Kubernetes v1.13+?:Yes(OCP4.7.51, 4.8.41, 4.10.26)
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?:CRIO

#

[2022-10-25 20:41] shivamerla commented on #427
@kousui-dev Please refer to [this](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/openshift/mirror-gpu-ocp-disconnected.html) guide on using with restricted networks. Network connectivity is required mainly to compile and install NVIDIA drivers and starting from `v1.9.0` we have avoided this dependency with OCP 4.9.9+ using Driver-Toolkit images(provided by RH) for driver installatio

[2022-10-25 20:42] shivamerla commented on #427
Also, note that on OCP 4.9+ versions, latest GPU operator is `v22.9.0` with versioning scheme change. Upgrades from previous versions are supported.

[2022-10-25 20:52] shivamerla commented on #426
@wjentner Please find details about how driver pod restarts/upgrades are handled [here](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#additional-controls-for-driver-upgrades). For drain failures you can tweak these parameters if that works for you. Otherwise node reboot is required.

[code]

Also the error `nvidia-driver-daemonset-c78b4 nvidia-driver-ctr rpc err

[2022-10-26 00:26] shivamerla commented on #424
@carlwang87 Unfortunately this is the limitation today as no driver files get installed onto the host filesystem itself. They will be bind mounted from the driver container. So we would have to re-install and re-mount to make all driver files accessible for the container-toolkit to inject into GPU apps. We will explore to persist driver module files and config onto the host filesystem with a confi

[2022-10-26 05:49] kousui-dev commented on #427
Thank you for your reply.
To share the current situation, OCP is currently being upgraded.
When gpu-operator1.8.2 was installed on OCP4.7.51, the above phenomenon (materials acquired externally) occurred.
I'm planning to upgrade OCP to 4.10.26, reinstall gpu-operator1.10.1, and upgrade to gpu-operator1.11.0.
(Because verification with OCP4.10.26 and gpu-operator1.11.0 has been completed, I would l

[2022-10-26 22:12] wjentner commented on #426
Thank you for the explanation @shivamerla
 I adjusted the params.

Regarding the second problem:
We are unsure what the cause is. After some time (i.e. 8 days of uptime on the node).
New pods do not get injected with the drivers any more. CUDA is not working and also `nvidia-smi` is command not found.
I created a test daemonset that schedules a pod on our GPU nodes which continuously executes `nvi

[2022-10-27 01:33] relyt0925 opened #428 "entitlement free system documentation out of date to work with RHCOS on OCP 4.11 (need to do manual tag)"
When following the steps defined at:
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/openshift/install-gpu-ocp.html#create-the-clusterpolicy-instance

I don't ultimately get an entitlement free build system. I do see the driver container
[code]

I use Nvidia GPU operator 22.9
![Screen Shot 2022-10-26 at 8 31 14 PM](https://user-images.githubusercontent.com/7716924/198170117-37ed3b99-e

[2022-10-27 16:44] shivamerla commented on #428
Thanks for reporting this @relyt0925 working with RH to understand why the tag was missing from the imagestream. This version is picked from the NFD label `feature.node.kubernetes.io/system-os_release.OSTREE_VERSION` and we expect this tag to be present to match the current running RHCOS version.

[2022-10-27 16:46] shivamerla commented on #427
Yes, mirror repository is not required with those versions as we support entitlement free builds.

[2022-10-27 16:57] shivamerla commented on #426
Thanks @wjentner. When this happens can you check if the mount and all files under `/run/nvidia/driver` are intact on the node. We should also debug from container-toolkit to understand why device/file injection is failing. Can you add following debug entries in `/usr/local/nvidia/toolkit/nvidia-container-runtime/.config.toml` as mentioned [here](https://github.com/NVIDIA/gpu-operator/issues/413#i

[2022-10-27 19:13] mikehollinger commented on #428
Thanks @shivamerla . Yeah we figured as much from a past conversation, but couldn't tell if we'd managed to hit some degenerate case bc of a particular version of either the operator or OpenShift itself. For our mutual clients, what would we want to offer as guidance, ie "if you see ^^, then ___." Would @relyt0925 's workaround be a reasonable interim fix?

[2022-10-31 09:01] yotama-anv opened #429 "gpu-operator-nfd-worker fails to read net interface attribute speed"
**What happened**:
Tried to install an online cluster on aws ec2 instances with gpu-operator and the gpu-operator-nfd-worker pod kept running with the following log:
[code]

**What you expected to happen**:
Support aws ec2 instances without getting the above information from that file.

**How to reproduce it (as minimally and precisely as possible)**:
Install a k3s (v1.19.11) cluster with 3 ec2 in

[2022-11-01 02:35] hoangtnm opened #430 "Failed to initialize NVML: Unknown Error"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-11-01 23:23] shivamerla commented on #430
@hoangtnm Can you confirm the OS version you are using along with runtime(containerd, docker) version? Also, is cgroup v2 enabled on the nodes? (i.e **systemd.unified_cgroup_hierarchy=1** kernel command line is passed and **/sys/fs/cgroup/cgroup.controllers** exists?)

[2022-11-01 23:31] shivamerla commented on #429
@yotama-anv you can ignore the errors while parsing network attributes(not used by any operands) but the key error is NFD worker not able to communicate with NFD master.

[code]

This problem is probably not isolated to NFD, but if you deploy any service in the cluster you might see the same issue. Can you double check the security group settings to make sure that these nodes can communicate with

[2022-11-01 23:35] shivamerla commented on #428
@relyt0925 @mikehollinger we have tried to reproduce this and see that tag `411.86.202210072320-0` was present by default.

[code]
also, label:

[code]
need to understand why the DTK tag is missing in your case. Do you see this happening with other clusters too?

[2022-11-02 00:05] mikehollinger commented on #428
@relyt0925 ^^

[2022-11-02 02:35] hoangtnm commented on #430
@shivamerla I'm using Ubuntu 22.04.1 LTS and docker, this is my docker daemon's config:
[code]

Btw, I don't think `cgroup v2` is configured on my system. I only installed fresh Ubuntu, docker with the mentioned config and then deployed `gpu-operator`.

[2022-11-02 09:35] Ericra95 commented on #356
My OS version is almalinux9.0
The nvidia driver version is 515.65.01

fabric-manager still fails to start, nvidia-bug-report.sh information is as follows:

[nvidia-bug-report.log.gz](https://github.com/NVIDIA/gpu-operator/files/9918958/nvidia-bug-report.log.gz)

[2022-11-02 10:22] Ericra95 commented on #356
My OS version is almalinux9.0
The nvidia driver version is 515.65.01

fabric-manager still fails to start, nvidia-bug-report.sh information is as follows:
[nvidia-bug-report.log.gz](https://github.com/NVIDIA/gpu-operator/files/9919392/nvidia-bug-report.log.gz)

[2022-11-02 11:39] yotama-anv commented on #429
Hi @shivamerla, thank you for responding.
The nodes can communicate and all the ports between them are open. The cluster is fully functioned if I'm using nvidia-driver instead the gpu-operator.

[2022-11-02 13:44] klueska commented on #430
The default in Ubuntu 22.04 is `cgroupv2`.  Just to confirm though, can you show us the contents of this folder:
[code]

[2022-11-02 14:05] denissabramovs opened #431 "INSTALLATION FAILED: unable to build kubernetes objects from release manifest"
- using helm chart nvidia/gpu-operator v22.9.0

Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(ClusterPolicy.spec.dcgmExporter): unknown field "enabled" in com.nvidia.v1.ClusterPolicy.spec.dcgmExporter, ValidationError(ClusterPolicy.spec.dcgmExporter): unknown field "serviceMonitor" in com.nvidia.v1

[2022-11-02 14:41] denissabramovs commented on #431
As i understand, it is not yet supported and doesn't comply with new k8s api/manifests specs,

[2022-11-02 16:45] shivamerla commented on #431
Looks like you are trying to do an upgrade and its known issue with Helm that CRDs have to be manually updated:
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#option-1-manually-upgrade-crd

[2022-11-02 16:49] Bec-k opened #432 "Failed to get sandbox runtime: no runtime for nvidia is configured"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-11-02 16:50] denissabramovs commented on #432
[code]

[2022-11-02 16:51] denissabramovs commented on #432
When i launch nvidia/cuda image via containerd cli, it is correctly detects and outputs my Nvidia GeForce video card, but for some reason, it doesn't see inside pods.

[2022-11-02 16:53] shivamerla commented on #432
Can you run `kubectl get pods -n gpu-operator` to show which pods are running. If you deployed with driver enabled, it takes 3-5 minutes for the drivers to be installed and followed by nvidia runtime setup. If you have already installed them on the host, please specify `--set driver.enabled=false --set toolkit.enabled=false`.

[2022-11-02 16:53] denissabramovs commented on #432
I was checking `/etc/containerd/config.toml` , it is changing it contantly back and forth.
containerd is always gets restarted by itself, because it fails to cleanup sandboxes and dead shims.

[2022-11-02 16:54] denissabramovs commented on #432
[code]

[2022-11-02 16:55] shivamerla commented on #432
you can disable toolkit as well by editing `kubectl edit clusterpolicy` and setting `toolkit.enabled=false`. Looks like you have nvidia-container-runtime already configured on the host and containerd config updated manually?

[2022-11-02 16:56] shivamerla commented on #432
Can you also paste logs of `nvidia-container-toolkit-daemonset-9rvz8` pod, curious as to why it is restarting. Which containerd and OS version is this?

[2022-11-02 17:03] denissabramovs commented on #432
Nope, didn't help. I have updated it, pod was removed and still complaining about:
[code]

[2022-11-02 17:03] denissabramovs commented on #432
I have removed all pods, to trigger everything from scratch.

[2022-11-02 17:03] denissabramovs commented on #432
[code]

[2022-11-02 17:05] denissabramovs commented on #432
here are error from systemd containerd logs:
https://gist.github.com/denissabramovs/a77e97972b5aa01c86955d812d3e8188

[2022-11-02 17:07] denissabramovs commented on #432
Here is updated, latest one:
https://gist.github.com/denissabramovs/2272051bb2f684f623cd15273ea6dd25

[2022-11-02 17:08] denissabramovs commented on #432
at least, now containerd is not constantly restarting, it is already up for 9 minutes:
[code]

[2022-11-02 17:12] denissabramovs commented on #432
All 3 systemd services are up and running on GPU node:
[code]

[2022-11-02 17:16] denissabramovs commented on #432
Sorry, missed your message. Here it is:
[code]

[2022-11-02 17:16] denissabramovs commented on #432
[code]

[2022-11-02 17:23] denissabramovs commented on #432
[code]

[2022-11-02 17:30] denissabramovs commented on #432
Oh wow! @wjentner you actually were right, i have re-enabled above mentioned toolkit and after downgrade, it finished without problems and all pods are up and running now!

[2022-11-02 17:33] denissabramovs commented on #432
Good that i have captured both logs @shivamerla , adding those below.

These logs are from failing toolkit:
https://gist.github.com/denissabramovs/0c3ad150ea2b9450a91b430a91704d08

These from successful toolkit:
https://gist.github.com/denissabramovs/343c8fb0169866133fa1cc35b9d5365c

Hope this helps to find the problem and resolve it. It seems that they are different after all.

[2022-11-02 17:36] shivamerla commented on #432
Thanks @denissabramovs will check these out and try to repro with 1.6.9 containerd version.

[2022-11-02 17:38] denissabramovs commented on #432
If you won't be able to reproduce, please ping me and i'll try to reproduce it locally again. Then we could catch that issue and possibly make some patch together.
In any case, thank you guys.

[2022-11-05 12:14] xhejtman opened #433 "Restart of gpu-operator components when a new node added"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
no
- [ ] Are you running Kubernetes v1.13+?
yes
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
no
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
yes
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)
yes

### 1. Issue or feature description

It seems that

[2022-11-07 21:52] premmotgi opened #434 "Helm install of GPU operator doesn't run daemonset containers and validator containers"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-11-08 01:45] shivamerla commented on #433
@xhejtman does the new node has the same OS type/version as other nodes? Whenever a new node is added the Daemonset spec doesn't change but a new pod is spawned on the node based on the nodeSelector. Wondering what caused Daemonset spec to be changed here.

[2022-11-08 01:49] shivamerla commented on #434
@premmotgi looks like NFD worker pods are not able to connect to master pods.

[code]

This is required for the NFD workers to pass required GPU labels to be applied on the node. GPU Operator will depend on these labels to create additional operand pods. Which CNI are you using and can you check for the CNI errors causing this?

[2022-11-08 06:57] xhejtman commented on #433
OS type is Ubuntu on all nodes, but the new node has 22.04 version, the others have 20.04, is this the reason?

[2022-11-08 08:25] carlwang87 commented on #424
@shivamerla  Thank you very much!

[2022-11-08 08:25] #424 closed

[2022-11-08 12:41] chenxj1997 opened #435 "Deploy GPU Operators V22.9.0 in a disconnected or airgapped environment failed"
An error occurred ，when I'm installing gpu-operator-v22.9.0 as follows
Error:INATLLATION FAILED:unable to build kubernetes objects from release mainfest: error validating:" " :error validating data :[ValidationError(ClusterOolicy.spec.dcgmExporter):unknown field "enable" in com.nvidia.v1.ClusterPlicy.spec.dcgmExporter,ValidationError(ClusterOolicy.spec.dcgmExporter):unknown field "serviceMonitor"

[2022-11-08 12:43] chenxj1997 opened #436 "Deploy GPU Operators in a disconnected or airgapped environment v22.9.0"
An error occurred ，when I'm installing gpu-operator-v22.9.0 as follows
Error:INATLLATION FAILED:unable to build kubernetes objects from release mainfest: error validating:" " :error validating data :[ValidationError(ClusterOolicy.spec.dcgmExporter):unknown field "enable" in com.nvidia.v1.ClusterPlicy.spec.dcgmExporter,ValidationError(ClusterOolicy.spec.dcgmExporter):unknown field "serviceMonitor"

[2022-11-08 14:11] klueska commented on #432
Issue diagnosed and workaround MR can be found here:
https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/568

[2022-11-08 14:25] remidebette commented on #373
Hi,
Thanks for the Helm chart.

Please do this change so that the installation of the chart makes CRDs behave as is usual with Helm

[2022-11-08 16:22] premmotgi commented on #434
@shivamerla Thanks for your quick response. I am using Calico CNI. I checked if its working fine and seems like the CNI doesnt have any issues. Below is the output:

[root@control01 ~]# kubectl create deployment pingtest --image=busybox --replicas=3 -- sleep infinity
deployment.apps/pingtest created
[root@control01 ~]# kubectl get pods --selector=app=pingtest --output=wide
NAME

[2022-11-08 19:33] shivamerla commented on #435
@chenxj1997 please follow the documentation here for upgrades: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#option-1-manually-upgrade-crd

If previous `clusterpolicies.nvidia.com` CRD is present on the system, manual cleanup is required.

[2022-11-08 19:48] ArangoGutierrez commented on #429
Can you run NFD with full verbosity enabled, also post here NFD version.

[2022-11-09 06:48] carlwang87 opened #437 "trivy image scan lists critical and high vulnerability against latest images used in GPU-Operator"
**What happened:**
trivy image scan lists critical and high vulnerability against latest images in gpu operator.

**What you expected to happen:**
No critical or high vulnerability issues.

**How to reproduce it:**
trivy image --ignore-unfixed --severity HIGH,CRITICAL --format template --template "@/usr/local/share/trivy/templates/html.tpl" -o report.html <image_name:tag>

Currently I'm using triv

[2022-11-09 09:25] zhouhao3 opened #438 "Failed to deploy GPU Operators V22.9.0 in Openshift for baremetal"
I built an OCP4.11 cluster and used a baremetal with A100 GPU as worker.

The deployment of some resources in the early stage was successful, but problems occurred after the last step of deploying nvidia-gpu-operator.
Although nvidia-gpu-operator runs successfully, according to its log, it does not find the GPU in the worker, so it does not deploy subsequent CRs on the worker.

[code]

But from th

[2022-11-09 16:13] shivamerla commented on #438
@zhouhao3 did you customize NFD CR spec by any chance? we look for following labels with `vendorID` `10de`.

[code]

[code]

[2022-11-09 16:14] shivamerla commented on #436
Closing this as duplicate of #435

[2022-11-09 16:14] #436 closed

[2022-11-09 20:08] LukasIAO commented on #413
@shivamerla Turns out an unrelated system reboot did lead to the creation of the `/var/log/nvidia-container-runtime.log` file.

[code]
The `/var/log/nvidia-container-cli.log` file is still missing, however. I hope it's still helpful.

[2022-11-09 21:00] mohittalele commented on #423
@shivamerla it works as expected upon adding toleration for nfd worker. We can close this issue. :)

[2022-11-09 21:00] #423 closed

[2022-11-09 21:41] syandroo commented on #341
+1 This would be super useful for us too

[2022-11-10 01:44] shivamerla commented on #433
Yes, that can cause it. Currently the limitation is that we support single OS version across the cluster(i.e single Daemonset with OS version image). This is noted [here](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/release-notes.html#known-limitations). There is work in progress to support heterogenous nodes.

[2022-11-10 02:00] cdesiniotis commented on #416
@neggert we introduced a fix to `k8s-driver-manager` to address this issue. See https://gitlab.com/nvidia/cloud-native/k8s-driver-manager/-/merge_requests/37

We haven't published a release yet with these changes. But you can try out the latest build from top-of-tree by setting the following fields in ClusterPolicy:
[code]
This fix will be included in the upcoming GPU Operator v22.9.1  release.

[2022-11-10 02:19] dcarrion87 opened #439 "DCGM exporter NodePort vs ClusterIP"
We traditionally had dcgm-exporter sitting on our A100 nodes directly.

With move to kubernetes we're wanting to leverage the dcgm-exporter that comes baked with the gpu-operator. We noticed the service is set to ClusterIP as opposed to NodePort and I can't see an obvious way to override this config.

What's the general best practice here for this implementation. I could always add an additional s

[2022-11-10 03:40] zhouhao3 commented on #438
@shivamerla Yes, I changed the NFD CR spec, the following are the details, can you help to see if there is a problem? Thanks!

[code]

[2022-11-10 08:58] #439 closed

[2022-11-10 09:03] elezar commented on #413
@LukasIAO the other log file of interest may be `/var/log/nvidia-container-toolkit.log`.

[2022-11-10 09:35] carlwang87 opened #440 "pod logging disabled or enabled"
I want to know whether there are configurations to control logging output in gpu-operator pods, for example, disable debug level logging.

Thanks.

[2022-11-10 10:06] LukasIAO commented on #413
Hi @elezar, thank you for taking the time.

Here the `toolkit.log`:

[code]

[2022-11-10 14:25] dmquant commented on #375
Also solved my same issue, thanks.

[2022-11-10 20:07] shivamerla commented on #440
This was added with change [here](https://github.com/NVIDIA/gpu-operator/commit/3f7005fc6649633d438cd1e027ed1ab802e1484b) and will be part of next patch release `v22.9.1` during early Dec. Currently debug logging is enabled by default.

[2022-11-10 20:39] cdesiniotis commented on #438
@zhouhao3 can you add `vendor` to the `deviceLabelFields` list?

[2022-11-10 22:07] MrBoJo84 commented on #437
@carlwang87 I am part of the GPU Operator Product team at NVIDIA. I would like to better understand your general use case and expectations in regards to the CVEs. Please reach out to operator_feedback@nvidia.com and I will get in touch with you.

Also note that the vast majority of the CVEs are derived from the base image that the operator and the operands use. We generally update those images wit

[2022-11-10 23:11] singlecheeze commented on #420
@nneram I'd love to know how you did what you said above in regard to MPS, I'd like to do it too!

[2022-11-11 02:33] carlwang87 commented on #440
@shivamerla  Thank you very much.

[2022-11-11 03:02] zhouhao3 commented on #438
@cdesiniotis thanks, I tried adding `vendor`, but it still didn't solve the problem.

In addition, the information in my worker is as follows:
[code]
So I don't think vendor should be added.

[2022-11-14 14:57] EajksEajks opened #441 "Error: failed to create FS watcher: too many open files"
Hi.

I have an issue deploying the GPU operator v22.9.0 on a vanilla Kubernetes 1.35 running a PowerEdge R740 server with two Nvidia A30 cards. The nvidia-device-plugin-daemonset failed with the following error:
[code]

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? **Ubuntu 20.04**
- [x] Are you running Kubernetes v1.13+? **Kubernetes 1.25.3**
- [ ] Are you running Do

[2022-11-14 17:30] esparig opened #442 "Help wanted installing GPU-Operator with MIG"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- > Ubuntu 20.04
- [x] Are you running Kubernetes v1.13+?
- > Kubernetes 1.23.7
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- > Docker 19.3.11
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Iss

[2022-11-14 19:55] neggert commented on #416
Great, thanks for the quick fix. We'll give it a shot once the release drops.

[2022-11-15 05:18] zhouhao3 commented on #438
@shivamerla @cdesiniotis Could you help me to see if there is any other solution? thanks!

[2022-11-15 06:06] shivamerla commented on #438
@zhouhao3 we expect NFD to add the right label with `vendor` ID. Can you try to un-install and re-install with following NFD CR instance? We should see one of the following labels. Once this label is added you can see that gpu-operator will load other operands.

[code]

[code]

[2022-11-15 06:14] shivamerla commented on #442
@esparig Can you run following command and provide the output.

[code]
Can you also attach snippet of /var/log/syslog with GPU initialization?  `sudo grep -i nvrm /var/log/syslog`.

[2022-11-15 06:39] shivamerla commented on #441
@EajksEajks Can you check if the value of `max_user_watches` is set to too low?

[code]

[2022-11-15 09:20] zhouhao3 commented on #438
@shivamerla It works, thanks!

[2022-11-15 09:20] #438 closed

[2022-11-15 09:21] esparig commented on #442
Here you go,
[code]

[2022-11-15 10:48] nneram commented on #420
Hi @singlecheeze,

First I set up `nvidia-gpu-operator` on my clusters to be able to use container with GPU. The limitation is that  1 container = 1 GPU request. So I looked for a way to run multiple pods in one card (MIG is possible but not with all GPUs).

I found this:
https://github.com/awslabs/aws-virtual-gpu-device-plugin
And used this fork (https://github.com/kuartis/kuartis-virtual-gpu-dev

[2022-11-15 14:39] EajksEajks commented on #441
@shivamerla

For sure. Here it is:

[code]

What would be a too low value?

[2022-11-15 14:52] singlecheeze commented on #420
My goal is to have one pod per GPU like I do with the Nvidia Operator, and from within the pods container, use multiple processes to all call CUDA at the same time, with MPS, vs each processes work being serialized on the GPU.

Where Amazon is attempting to share the GPU, I'm not attempting anything as elaborate.

I've started the MPS daemon from inside the pod, and everything works fine with the

[2022-11-15 15:52] nneram commented on #420
You should have just one MPS server per GPU and node in your case;
I think using the MPS daemon inside the pod is not a good thing, and you need to use the MPS (amazon) deviceplugin and not nvidia. So I would not try it this way.

I would try this:
First, play with node labels so your pods are not on the same node. (idk if their is an other way with MPS to chose graphic card with UUID so I think i

[2022-11-16 08:37] EajksEajks commented on #441
Okay, no idea why I had to do the following given that I installed only a minimum set of services on a clean vanilla K8s installation, running itself on a clean vanilla Ubuntu 20.04 installation, given that it's nowhere mentionned in the Kubernetes or GPU-operator installation instructions, but it solved my problem (no idea either what good/bad values would be).

So I modified my original sysctl c

[2022-11-16 08:53] #441 closed

[2022-11-16 17:18] shivamerla commented on #441
You can run `sudo find /proc/*/fd -lname anon_inode:inotify |    cut -d/ -f3 |    xargs -I '{}' -- ps --no-headers -o '%p %U %c' -p '{}' |    uniq -c |    sort -nr` which will give all processes and count of files they are watching on using inotify event.

On ubuntu22.04 this is the value by default, so your earlier values seem too low.

[code]

[2022-11-16 17:52] esparig commented on #442
Additionally, I tried installing the gpu-operator using the single mig-strategy, however, I got the same error.

[2022-11-16 19:18] singlecheeze commented on #420
@nneram I have attempted what you stated above, but I'm getting:
[code]

This is a node with an 1070 ti and a P4 in it... both of which have CUDA 6.1:
https://www.techpowerup.com/gpu-specs/geforce-gtx-1070-ti.c3010
https://www.techpowerup.com/gpu-specs/tesla-p4.c2879

I have attempted to use an older base image in the `device-plugin.yml`:
[code]

But this has only led to the error above. If I use

[2022-11-16 19:30] singlecheeze commented on #420
Using 11.6 on ubuntu 20.04 from the kuartis repo yeilds the same error:
![image](https://user-images.githubusercontent.com/12156213/202276220-7868672e-9a36-4366-8886-b68350ca1a63.png)

[2022-11-16 20:35] FischerLGLN commented on #434
I am having the same problem.
k8s 1.25.4 on Ubuntu 20.04 cluster-api kubeadm Nvidia V100

[2022-11-16 20:41] FischerLGLN commented on #434
Looks like calico related: https://github.com/NVIDIA/gpu-operator/issues/401#issuecomment-1238269221
Had no problem with a different cluster with nfd and flannel backend.

[2022-11-16 21:16] shivamerla commented on #442
@esparig we might need to get the entire support dump from the system. Can you run following commands and provide the support bundle with all files:

[code]

[2022-11-16 22:26] esparig commented on #442
Sure, here you go. I hope this is useful, [nvidia-gpu-operator_20221116_2319.zip](https://github.com/NVIDIA/gpu-operator/files/10026132/nvidia-gpu-operator_20221116_2319.zip)

I had to redeploy the infrastructure and install the GPU-operator again, so some ids may not be the same. I hope it's not a problem.

[2022-11-17 00:20] shivamerla commented on #442
I see this error from the plugin

[code]

it is expected to have a valid MIG device when MIG mode is enabled. You can ignore the error from cuda-validator and label the node with required mig profiles following docs [here](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/gpu-operator-mig.html#configuring-mig-profiles). Default configs are defined [here](https://github.com/NVIDIA/gpu-op

[2022-11-17 01:23] esparig commented on #442
Thank you, that solved the problem. I got confused with the documentation, I thought pods from gpu-operator should have been up and running before configuring the MIG profiles.

[2022-11-17 01:23] #442 closed

[2022-11-17 03:33] Amrutayan opened #443 "Getting Error: "stderr: Auto-detected mode as 'legacy' nvidia-container-cli.real: initialization error: nvml error: insufficient permissions: unknown" while deploying gpu operator -22.9.0 on SLES 15 SP4"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?  **No. SUSE Linux Enterprise Server 15 SP4**
- [ ] Are you running Kubernetes v1.13+? **Yes.  K8s v1.21.10**
- [ ] Are you running Docker (>= 1

[2022-11-17 05:51] naserafn commented on #442
If (vmemm)  it is active in the task manager, I think it causes pressure on the (GPU), and the processes you expect fail because of it

[2022-11-17 07:59] liqcui opened #444 "Deploy GPU Operator in OCP4.12, no damonset created"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Issue or feature description
Deploy GPU operator in OCP4.12 using helm

### 2. Steps to reproduce the issue
export HELM_VERSION=v1.10.1
helm fetch [https://helm.ngc.nvidia.com/nvidia/charts/gpu-operator-${](https

[2022-11-18 06:25] #444 closed

[2022-11-18 14:41] Alwinator opened #445 "Nvidia T4 GPU Model shown as unknown"
### 1. Quick Debug Checklist
* Are you running on an Ubuntu 18.04 node? No, I am running **Red Hat Enterprise Linux CoreOS 410.84.202209231843-0**
* Are you running Kubernetes v1.13+? Yes, I am running **OpenShift 4.10.35** with **Kubernetes 1.23**
* Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? Yes, **CRI-O 1.23.3-17.rhaos4.10.git016b1ca.el8**
* GPU Operator version: 22.9.0

### 1. Issue

[2022-11-18 17:41] bauerjs1 opened #446 "gpu-operator fails to update RuntimeClass object (field immutable)"
Hello everybody,

I feel like I missed something obvious but I cannot figure it out. After installing the operator via Helm, it is stuck in a pretty early stage (I assume), no resources are created in the gpuoperator-resources namespace, yet.

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06)

[2022-11-18 18:27] cdesiniotis commented on #443
@Amrutayan can you describe `nvidia-container-toolkit-daemonset` to see what image is being used?

[2022-11-18 18:34] cdesiniotis commented on #446
@bauerjs1 looks like the operator is unable to update the `RuntimeClass` object which is already present in the cluster. Can you delete this object and redeploy the operator?

[2022-11-18 21:17] omer-dayan commented on #361
I agree with @klueska about how DRA is the right way.
However, @elgalu, I do not agree its not feasible under the current circumstances.
You welcome to watch the following video (https://www.youtube.com/watch?v=zk7g3FbW7go) that show it had been achieved in Kubernetes

[2022-11-18 23:51] zbsarashki opened #447 "any hints and pointers to enable vgpu"
### 1. Quick Debug Checklist

- [ x] Are you running Kubernetes v1.13+?
- [x ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

Hello,

GPUs: A100x and A40.

I need to enable vgpu on an unsupported platform (starlingx distros based on cent

[2022-11-21 08:31] Amrutayan commented on #443
I have used gpu-operator V22.9. So using image:

  repository: nvcr.io/nvidia/k8s
  image: container-toolkit
  version: v1.11.0-ubuntu20.04

[2022-11-21 16:03] shivamerla commented on #443
@Amrutayan Can you use the `v1.11.0-ubi8` toolkit image instead? Please see the discussion [here](https://github.com/NVIDIA/nvidia-container-toolkit/issues/37).

[2022-11-21 16:03] cdesiniotis commented on #447
@zbsarashki can you describe your use case a bit more? If you are trying to install the vGPU guest driver on worker nodes (VMs), then only follow these instructions: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/install-gpu-operator-vgpu.html. Note, the `vgpu-manager` (host driver) and `vgpu-device-manager` should not be deployed in this case. These components are only applicable fo

[2022-11-21 18:47] shivamerla commented on #446
The `handler` in the RuntimeClass existing was wrong. With the container-toolkit config it needs to be set as `nvidia` instead of `nvidia-container-runtime`. When gpu-operator tries to update it to correct value, we are hitting error as that field is immutable. As @cdesiniotis mentioned, please delete the existing RuntimeClass object and operator should create with right values.

[2022-11-21 18:55] shivamerla commented on #445
@Alwinator can you check the node labels added by the `gpu-feature-discovery` (GFD) pod and see if it matches? Below are the labels added by GFD for e.g.

[code]

[2022-11-22 07:00] JunyaTaniai opened #448 "gfd, container-toolkit, dcgm-exporter, device-plugin, driver, operator-validator stop at init and do not start."
Hi all,

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node? 20.04.5 LTS
- [x] Are you running Kubernetes v1.13+? 1.25.4
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? CRIO 1.25.1
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes? No
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`) Yes
  <details>
  <summary

[2022-11-22 07:33] mbio16 opened #449 "Nvidia driver install fails on pod nvidia-driver-daemonset - OpenShift 4.11"
### 1. Quick Debug Checklist
- [x] Are you running Openshift v4.11.13.
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?

### 1. Issue or feature description
Pod nvidia-driver-daemonset contains container openshift-driver-toolkit-ctr which want to compile driver for Nvidia GPU version 515.65.01. Driver install fails. Logs from container:

[code]

### 2. Steps to reproduce the issue
- Ins

[2022-11-22 09:22] anneum commented on #425
We downgraded the driver to 515.65.07. Now the gpu-operator works as expected.

[2022-11-22 09:22] #425 closed

[2022-11-22 11:27] esparig commented on #275
@shivamerla is this functionality added to the new gpu-operator v22.9.0? Is there any available documentation that explains how to apply this configmap? Thx

[2022-11-22 11:55] esparig commented on #275
I'll answer my own question in case is useful for anyone: Yes, creating a configmap for dcgm metrics is possible in the gpu-operator v22.9.0 and here are the docs:
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#custom-metrics-config

[2022-11-22 14:12] GuillaumeSmaha commented on #275
Thank you for the information @esparig

[2022-11-22 15:21] Alwinator commented on #445
Thank you very much that fixes our issue.

[2022-11-22 15:26] carlwang87 commented on #415
@shivamerla
I have set up a K3S cluster environment with GPU. In this cluster, it can reproduce the issue, no `default_runtime_name=nvidia` in /var/lib/rancher/k3s/agent/etc/containerd/config.toml.

K3S Version:
`v1.25.3+k3s1`

GPU Operator:
`v22.9.0`

So, Could you please help me to find the root cause out on this environment?

[code]
GPU Pod:
[code]
![image](https://user-images.githubusercontent

[2022-11-22 16:13] Alwinator commented on #445
After a long investigation, we realized that there are nodes that don't contain the gpu.model label. They only contain the following labels from Nvidia:

    nvidia.com/gpu.deploy.dcgm-exporter: 'true'
    nvidia.com/gpu.deploy.device-plugin: 'true'
    nvidia.com/gpu.deploy.nvsm: ''
    nvidia.com/gpu.deploy.dcgm: 'true'
    nvidia.com/gpu.deploy.driver: 'true'
    nvidia.com/gpu.deploy.operator-

[2022-11-22 17:37] shivamerla commented on #449
@mbio16 Can you attach the output of "journalctl -xb" on this node, that might indicate the actual error when we attempt to load `nvidia` modules. Also, can you share more details on the system? Which hypervisor and version? EFI boot?

[2022-11-22 20:05] shivamerla commented on #445
Can you check if `gpu-feature-discovery` pod is running?

[2022-11-22 20:19] shivamerla commented on #415
@carlwang87 looks like in this config v1 containerd format is used. We need to pass env `CONTAINERD_USE_LEGACY_CONFIG` as "true". By default container-toolkit assumes v2 format. After this setting i see that default_runtime is set as nvidia.

[code]

[2022-11-23 02:13] SakuraAxy opened #450 "Hello, does the defaultruntime set by gpu-operator affect other pods running on this node?"
Hello, does the defaultruntime set by gpu-operator affect other containers running on this node?

[2022-11-23 16:48] shivamerla commented on #449
The VM has to be configured with EFI boot and following PCI params are required for VM config. The above error during driver load is seen without these settings.

[code]

[2022-11-23 16:53] shivamerla commented on #450
@SakuraAxy No, it doesn't affect other containers which doesn't request for GPUs. nvidia-container-runtime will fallback to `runc` for those containers. This is decided based on the env `NVIDIA_VISIBLE_DEVICES` set for the container (which all cuda images have). This env is also set when a GPU resource request is made through the Pod spec. @elezar or @klueska can provide more details.

[2022-11-24 04:11] JunyaTaniai commented on #448
Hi, @cdesiniotis
Thanks for the answer. I have deployed the MOFED driver via Network Operator. However, several resources are still stuck in Init.。
[code]
Checking the logs for the resource that is stuck in Init, it appears that the nvidia-container-toolkit validation is not succeeding.
Also, the toolkit-validation container log for the nvidia-operator-validator resource is outputting that the nvi

[2022-11-24 11:50] mbio16 commented on #449
@shivamerla PCI params has been set for these VMs with BIOS booting. I tried to make new VM node and used EFI boot. However, the VM starts and shuts down Immediately. Tried with secure boot option and without. Both has the same result. When I set BIOS, Core os boot normally. ISO for booting is the one generated by OpenShift page - Install OpenShift with the Assisted Installer.
<img width="577" alt

[2022-11-24 13:52] ATP-55 commented on #443
I have tried but still error remain the same:

Containers:
  nvidia-container-toolkit-ctr:
    Container ID:  containerd://502006a8772e498c6ba4f874fdacee353208489ff114b790cf4d82cc4334b7c9
    **Image:         nvcr.io/nvidia/k8s/container-toolkit:v1.11.0-ubi8**
    Image ID:      nvcr.io/nvidia/k8s/container-toolkit@sha256:efb88937f73434994d1bbadc87b492a1df047aa9f8d6e9f5ec3b09536e6e7691
    Port:

[2022-11-27 12:48] jpeimer opened #451 "gpu-operator - deprecated API 1.25 call in audit log"
### 1. Issue or feature description
Deprecated API call in the audit log:

```{'kind': 'Event', 'apiVersion': 'audit.k8s.io/v1', 'level': 'Metadata', 'auditID': '01f0ee12-92ad-45ff-b12f-4865eeab0227', 'stage': 'ResponseComplete', 'requestURI': '/apis/policy/v1beta1/podsecuritypolicies/gpu-operator-privileged', 'verb': 'delete', 'user': {'username': 'system:serviceaccount:nvidia-gpu-operator:gpu-op

[2022-11-29 01:22] cdesiniotis commented on #448
@JunyaTaniai I suspect CRIO is not configured to look for OCI hooks in `/run/containers/oci/hooks.d`. If so, the NVIDIA Container Runtime Hook will not be used (we currently put our hook in this directory). Can you try this workaround? https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#custom-configuration-for-runtime-cri-o. After restarting CRIO, restart the `operat

[2022-11-29 01:37] cdesiniotis commented on #421
Closing this bug as original issue has been resolved.

[2022-11-29 01:37] #421 closed

[2022-11-29 03:11] JunyaTaniai commented on #448
Hi, @cdesiniotis
Thank you for your answer.I have been using cri-o 1.25 on Ubuntu 20.04, is this configuration supported?
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#supported-container-runtimes
If it appears that even the latest version of GPU-Operator is not supported, I will reinstall k8s with containerd and configure the following.
https://docs.nvidia.com

[2022-11-29 05:55] SakuraAxy commented on #450
Thanks, @elezar @klueska can provide more details?

[2022-11-29 07:40] SakuraAxy commented on #450
Thanks, @elezar  @klueska can provide more details?

[2022-11-29 08:53] snirkatriel opened #452 "Chcon command fails in nvidia-driver init - nvidia driver installation aborts"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? RHEL 8.6
- [ ] Are you running Kubernetes v1.13+? v.1.19 (k3s)
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? CRIO
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`) Yes

### 1. Issue or feature description
W

[2022-11-29 10:09] mbio16 commented on #449
Hi,

the solution is to run EFI without secure boot. BIOS mode caused kernel compile error. EFI boot with secure boot caused error connected to driver signature. EFI boot without secure option is valid worker install that will work with NVIDIA GPU operator.

Hope this comment helps more admins from struggling.

[2022-11-29 10:30] #449 closed

[2022-11-29 10:39] snirkatriel commented on #429
Hi guys, any update on this one?

[2022-11-29 15:40] #445 closed

[2022-11-30 02:40] SakuraAxy commented on #450
Thank you for the careful introduction, thanks again!

[2022-11-30 05:39] #450 closed

[2022-11-30 05:41] JunyaTaniai commented on #448
Hi, @cdesiniotis
I had to redo it with containerd because I was using cri-o on Ubuntu 20.04.
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#supported-container-runtimes

I also redeployed GPU-Operator by giving helm the values for container-toolkit based on the following documentation
https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.h

[2022-11-30 08:24] Kry1702 opened #453 "no matches for kind "ServiceMonitor" in version "monitoring.coreos"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?  CentOS 7.6
- [ ] Are you running Kubernetes v1.13+?  Kubernetes v1.24.4
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?  container

[2022-11-30 14:43] elezar commented on #351
Hi @neggert. We have just released [`v0.13.0`](https://github.com/NVIDIA/k8s-device-plugin/releases/tag/v0.13.0). This includes a fix to ensure that the resource names are generated consistently for MIG profiles. Please give it a go and let us know if you have any additional issues.

[2022-11-30 14:45] elezar commented on #386
Hi @eriklindahl @elgalu.

We have just released [`v0.13.0`](https://github.com/NVIDIA/k8s-device-plugin/releases/tag/v0.13.0).

This includes a fix to balance replicas more effectively. Please give it a go and let us know if you have any issues.

[2022-11-30 20:06] neggert commented on #351
Thank you!

[2022-11-30 20:06] #351 closed