[2021-02-15 11:27] hbahadorzadeh commented on #133
Hi, I have the same problem. Any updates on this issue?

[2021-02-15 17:05] shivamerla commented on #145
@tommiyau you are right, for "gpu-operator" serviceaccount we don't have a pre-defined scc, but i think so far we have not seen this issue due to other SCC's assigned by OCP to the operator pod which doesn't mount filesystem read-only. Once we migrate to newer operator-sdk version, readiness probes are changed to http based instead of file based, so that might help. For your case, can you add "gpu

[2021-02-15 17:08] shivamerla commented on #148
@worsco logs indicate that multiple instances of gpu-operator pods are running hence newer version pod cannot become leader. `/tmp/operator-sdk-ready` file is created soon after leader-election is done. Can you un-install operator, ensure gpu-operator deployment/pods are deleted from `openshift-operators` project and try re-install again?

[code]

[2021-02-15 21:49] tommiyau commented on #145
Thanks. I have done that. I'm still working with redhat to figure out exactly why the readonly filesystem scc was used by the admission controller. But have changed the gpu-operator sa association until the issue is resolved.

[2021-02-15 21:49] #145 closed

[2021-02-16 09:52] kpouget opened #149 "Error not explicit when NFD is missing"
The NFD Operator is required for the GPU Operator to operator properly, but when it's missing, the error message in the GPU Operator logs is not very clear about what went wrong:

[code]
This could be improved with a hint that the kernel version comes the `feature.node.kubernetes.io/kernel-version.full=` label and that the NFD operator is likely missing.

Actually, looking at the code, the hint is

[2021-02-16 12:42] povils opened #150 "Running 2 replicas of gpu-operator for HA"
Hey!
Is there a reason why we can't run at least 2 gpu-operators to achieve a better HA?
https://github.com/NVIDIA/gpu-operator/blob/master/deploy/operator.yaml#L1

[2021-02-16 12:51] damora commented on #147
OK, well the template for the clusterwide entitlement key is also not correct. It has the following which uses BASE64_ENCODED_PEM_FILE as the replacement string. I think you want a different replacement string for 50-entitlement-pem and 50-entitlement-key-pem or you will end up overwriting  one *.pem with *-key.pem. I had to udpate that file for the machineconfig to be correctly applied.

---
apiV

[2021-02-16 14:30] worsco commented on #148
Is the workflow of the gpu-operator (assume nfd is already installed)?

1. Install the gpu-operator v1.5.1 from OperatorHub and set to automatic
2. Apply the ClusterPolicy
3. A new version of gpu-operator v1.5.2 is available on OperatorHub
4. Because it is set to automatic, it will fail
5. Uninstall gpu-operator
6. Install newest gpu-operator
7. Apply the new ClusterPolicy with new container image

[2021-02-16 15:31] kpouget opened #151 "GPU Monitoring not working on OpenShift OperatorHub"
When deploying the GPU Operator from OpenShift OperatorHub, the Prometheus DCGM monitoring is not working.

This can be confirmed by checking that there is no `dcgm` target in Prometheus:
[code]

or programmatically, by checking prometheus configuration file:

[code]
---

The issue comes from the labeling of the `namespace/gpu-operator-resources`, which is missing the label `openshift.io/cluster-m

[2021-02-16 15:34] ArangoGutierrez commented on #151
++

[2021-02-16 15:38] shivamerla commented on #151
@kpouget Thanks, will take care of documenting this soon.

[2021-02-16 18:52] shivamerla commented on #132
@kpouget With 1.5.2 MIG mode of "single" is enabled by default with device-plugin and GFD. Can you verify and close this?

[2021-02-16 20:49] shysank commented on #143
Thanks @klueska for the explanation!

I'll try and submit a pr for this

[2021-02-16 21:31] shivamerla commented on #146
@trollkarlen This seem to be due to old version of NFD (v0.5.0 built with go1.10 which doesn't support tls1.13 with https client). Also, GPU operator version 1.1.7 is very old too. Can you upgrade to latest version of operator 1.5.2 which uses v0.6.0 of NFD?

[2021-02-16 21:36] shivamerla commented on #150
@povils theoretically yes since we have leader election enabled. But do you have a strong use case which requires this? Currently when node goes unreachable, it takes about 5-8 minutes for the pod to be re-scheduled, but once initial deployment is done and all components are running in `gpu-operator-resources` namespace, operator mostly stays idle anyway.

[2021-02-16 21:41] shivamerla commented on #148
@worsco yes, will update documentation to set subscription to manual approval. We want users to manually delete the old version/clusterpolicy instance and install new operator/clusterpolicy instance. Currently updates to clusterpolicy are not handled and we plan to add that soon. One of the major reason being drivers once loaded cannot be automatically upgraded(unloaded, recompiled and installed a

[2021-02-16 21:45] povils commented on #150
@shivamerla thanks for answering!
Hmm.. But don't we require gpu-operator to be running when new gpu nodes join a cluster?
In our case we use cluster autoscaling so we can have 0 or 100 gpu nodes depending on sheduling requests

[2021-02-16 22:04] shivamerla commented on #150
@povils gpu-operator doesn't need to run on all nodes, hence its created as a Deployment. All the required components on GPU nodes are deployed as Daemonsets by gpu-operator, so they automatically get created on new nodes. GPU operator ensures that all required Daemonsets are created and running in `gpu-operator-resources` namespace.

[2021-02-16 23:28] trollkarlen commented on #146
Im using latest deepops and that version is bound to that version. So to solve the issue temporarly i added TLSminversion to 1.2 instead of 1.3.

Does the 1.5.2 version with the new NFD support tls1.3 ? Or you wanted me to test ?

//T

[2021-02-17 00:07] shivamerla commented on #146
@trollkarlen TLS1.3 support is enabled in crypto/tls package by default in go 1.13: https://golang.org/doc/go1.12#tls_1_3
NFD version v0.6.0 used with GPU operator v1.5.x uses go 1.13+ so should resolve the issue you are seeing.

[2021-02-17 00:21] trollkarlen commented on #146
Sounds good then you can close the issue.
Maybe push the deepops to change to atleast version 1.5.0, if you have any connections over there.

//R

[2021-02-17 00:26] shivamerla commented on #146
@trollkarlen seems like they did bump the version two weeks back..:)

https://github.com/NVIDIA/deepops/blob/09db4be5bd6668fa0880b020ac87a72bf10ee717/roles/nvidia-gpu-operator/defaults/main.yml

[2021-02-17 00:26] #146 closed

[2021-02-17 08:16] povils commented on #150
@shivamerla Ok that explains it! thank you :)

[2021-02-17 08:16] #150 closed

[2021-02-19 15:53] voor opened #152 "GPU Operator unable to identify FIPS compliant Ubuntu Kernel for TKG on AWS"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node?
- [X] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? -- `containerd v1.4.3`
- [ ] Do you have `

[2021-02-19 17:11] voor opened #153 "GPU Operator Image Relocation is hard with automated tooling like kbld"
Looking at an example of the CRD for the NVIDIA Operator:

[code]

Now specifically looking at:
[code]

While this definitely follows a common pattern seen in most Helm charts, at a pure Kubernetes level this format of separating repository, image, and version makes it very hard to inject a sha256 hashed image.  When trying to use resolution and relocation tooling like [kbld](https://carvel.dev/kb

[2021-02-19 18:31] shivamerla commented on #153
@voor Currently there is no alternative to merge these into single variable. GPU operator controller currently takes care of merging these before deploying resources.  For initContainer image, the repository is applied by controller matching the main container in that pod. For eg, if dcgmExporter.repository is custom repo, then it will apply the same to initContainer image. The image digest has to

[2021-02-19 18:37] shivamerla commented on #152
@voor Looks like with the apt repository lists we used to build, kernel-header for aws kernel is not found.

[code]

Can you attach the /etc/apt/sources.list file from your host?

[2021-02-19 19:03] shivamerla commented on #144
@rupang790 Driver container will always compile for current running kernel on the host. We cannot edit this, so you would need to use worker nodes for which packages are available. I see kernel-headers available for 5.9.13.

https://kojipkgs.fedoraproject.org/packages/kernel-headers/5.9.13/
https://kojipkgs.fedoraproject.org/packages/kernel/5.9.13/

Source code to build images is here if you need

[2021-02-19 19:04] voor commented on #153
When it merges them in does it include the `:` or other values?  Could I leave the fields blank and just put everything into image?

[2021-02-19 19:05] shivamerla commented on #139
@dummys sorry i didn't get that, you mean you still see some pods in CrashLoop?

[2021-02-19 19:08] voor commented on #152
You will want to launch `Ubuntu Pro 18.04 LTS` from the AWS Marketplace, that will give you access to the Ubuntu Advantage Repository that contains the FIPS Compliant AWS Kernels.

[2021-02-19 19:13] shivamerla commented on #126
We found that, drivers installed outside of operator are always not compatible with the configuration done with other components. There are some assumptions made w.r.t root install path of the driver etc. The problem we are trying to solve in short term is to allow driver container to detect same version driver modules are loaded and ignore unload/compile/installing part.  But this might not be do

[2021-02-19 20:28] shivamerla commented on #153
yes, it does. Here is the code for eg: https://github.com/NVIDIA/gpu-operator/blob/master/pkg/apis/nvidia/v1/clusterpolicy_types.go#L341

[2021-02-19 21:11] voor commented on #153
So a third option to just accept the image field straight up would be preferable, maybe if `g.Repository` and `g.Version` are empty?

[2021-02-19 21:22] shivamerla commented on #153
Yes, that seems like a better approach.

[2021-02-20 12:46] voor commented on #153
You would also need to account for this change in the init container as well, which might make things tricky.

[2021-02-20 21:51] tianhe-oi opened #154 "Validator pod cannot specify toleration"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ x ] Are you running on an Ubuntu 18.04 node?
- [ x ] Are you running Kubernetes v1.13+?
- [ x ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ x ] Do you have `i2c_core` and `

[2021-02-22 00:51] hongweijia commented on #80
Hi @shivamerla,
Thanks a lot for your sharing!

[2021-02-23 00:22] shivamerla commented on #153
We would need to update API spec to allow users to choose initContainer images, repo, version independent of main container.

[2021-02-23 07:28] vietkute02 commented on #97
Starting installation of NVIDIA driver version 450.80.02 for Linux kernel version 3.10.0-862.el7.x86_64
Stopping NVIDIA persistence daemon...
Unloading NVIDIA driver kernel modules...
Unmounting NVIDIA driver rootfs...
Checking NVIDIA driver packages...
Updating the package cache...
Resolving Linux kernel version...
Stopping NVIDIA persistence daemon...
Unloading NVIDIA driver kernel modules...
Un

[2021-02-23 07:36] vietkute02 opened #155 "Centos 7. nvidia-driver pod "Could not resolve Linux kernel version""
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? No. Centos 7.8
- [x] Are you running Kubernetes v1.13+? v1.18
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? Docker 20.10.3
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature descript

[2021-02-23 18:40] shivamerla commented on #143
@shysank will double check with @klueska and confirm on this.

[2021-02-24 19:27] worsco opened #156 "nvidia-device-plugin-validation does not tolerate taint on gpu node"
Cluster: OpenShift 4.5.31
GPU Operator: v1.5.2

### 1. Issue or feature description

I've applied a taint to a machineset.  I've added the toleration in the ClusterPolicy for dcgmExporter, devicePlugin, driver, gfd, and toolkit.

nvidia-device-plugin-validation reports:

[code]

### 2. Steps to reproduce the issue

Apply taint to machineset.  Configure the ClusterPolicy appropriately.

The followi

[2021-02-24 19:41] worsco commented on #156
It looks like tolerations are picked up in the TransformDevicePlugin via:

https://github.com/NVIDIA/gpu-operator/blob/85f0d1972a2402d549db99d536e85a7fd57bd4b1/pkg/controller/clusterpolicy/object_controls.go#L763-L766

However, there are no transformations in the TransformDevicePluginValidator at:
https://github.com/NVIDIA/gpu-operator/blob/85f0d1972a2402d549db99d536e85a7fd57bd4b1/pkg/controller/c

[2021-02-24 20:26] shivamerla commented on #156
Yes, that should do it. Since others also reported this use case fixing it as part of 1.6.0: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/185

[2021-02-25 09:28] klueska commented on #143
@shivamerla I believe it is published now in v1.4.5 of the toolkit-container (and included in the new 1.6.0 version of the operator)

[2021-02-25 10:02] elezar commented on #143
@klueska @shysank @shivamerla yes, these changes should be available in v1.4.5 of the toolkit container through v1.6.0 of the operator.

[2021-02-25 23:55] shysank commented on #143
I tested it with `1.6.0`, and it still fails. The containerd config is updated correctly this time with v2 config, but we forgot to set  `version=2` when the config file is empty, which means the config will not be parsed correctly. Submitted a [fix](https://gitlab.com/nvidia/container-toolkit/container-config/-/merge_requests/71) for this, PTAL.

[2021-03-01 00:20] Shaked commented on #47
Hey @turowicz, where can I find ARM64 support for the GPU operator? I saw Jetson Nano but it requires docker while the x86 allows to use containerd.

[2021-03-01 23:10] shivamerla commented on #156
1.6.0 version is now published to RH catalog with these changes.

[2021-03-01 23:10] #156 closed

[2021-03-01 23:13] shivamerla commented on #154
@tianhe-oi Starting from 1.6.0, tolerations/affinity/node-selector labels from device-plugin pods are applied to device-plugin-validation pod as well.

[2021-03-01 23:13] #154 closed

[2021-03-01 23:14] #132 closed

[2021-03-02 09:15] altruistcoder opened #157 "Unable to install Nvidia GPU Operator in Openshift"
Hello,

I am trying to install the Nvidia GPU Operator on my Openshift cluster but when I click on install, it keeps waiting for a long period of time and after a certain period of time, it gets failed.

When I tried searching for any errors that are occurring, I found the error shown in the below screenshot in the events section of the corresponding GPU Pod:

![image](https://user-images.githubus

[2021-03-02 09:25] kpouget commented on #157
Hello @altruistcoder,

the reference to `nvidia-container-cli.real` in unexpected for the Operator container, maybe something went wrong when you uninstalled the previous version?

could you try to run these commands:
[code]
[code]
[code]

[2021-03-02 09:26] elezar commented on #157
Hi @altruistcoder.  Do you have any other details as to your configuration. There is a possible issue with containerd with empty configuration files under 1.6.0 that we are working on resolving. (Thanks for jumping in @kpouget )

[2021-03-02 09:32] klueska commented on #157
Try removing any references to the nvidia-container-runtime in your /etc/docker/daemon.json file. That error is coming from the fact that your system still thinks it should be using the nvidia runtime instead of the normal runc. That should be cleaned up when uninstalling the operator, but it looks like maybe something went wrong.

[2021-03-02 09:32] kpouget commented on #157
@elezar,

OCP shouldn't be using containerd, only crio, right?

FYI, we tested successfully 1.6.0 on OCP 4.6 last night, so there shouldn't be any major issue with this release, that's why I'm thinking the error could come from the uninstall step

https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.6-gpu-operator-e2e/1366523

[2021-03-02 09:34] klueska commented on #157
Right... then I amend my comment to say you should delete the hook from the crio hooks directory...

[2021-03-02 09:44] altruistcoder commented on #157
Hii @kpouget , I have attached a file which contains the output of the "oc describe command" for the respective GPU pod:

[gpu-operator-55987fc888-mbzqb-description.txt](https://github.com/NVIDIA/gpu-operator/files/6067662/gpu-operator-55987fc888-mbzqb-description.txt)

[2021-03-02 09:58] altruistcoder commented on #157
I also ran this command to get the list of Cluster Service Versions and I saw that in almost all of them the "PHASE" is coming as "Failed".

[2021-03-02 10:08] kpouget commented on #157
thanks @altruistcoder for the extra info, it seems to be clear now that the issue is linked with the uninstall of the previous [version](MachineConfig)

@klueska my `` looks like this:
[code]
should @altruistcoder edit it to ```{}``` ?

[2021-03-02 10:16] klueska commented on #157
Well if `cri-o` is used and not `docker`, then he should actually be removing the following file instead of editing `/etc/docker/daemon.json`.
[code]

[2021-03-02 10:22] altruistcoder commented on #157
Thanks a lot for responding  @klueska and @kpouget

I tried searching for the files specified by @klueska in my master node but I am not able to see any files under `/usr/share/containers/oci/hooks.d/` directory and I also didn't get this file: `/etc/docker/daemon.json`

[2021-03-02 10:27] kpouget commented on #157
@altruistcoder the correct path (on the host) is `/etc/containers/oci/hooks.d/oci-nvidia-hook.json` which contains in my cluster:

[code]

hum, maybe then `/etc/docker/daemon.json` shouldn't populated? (or maybe it's a left-over from an older operator version in my system)

[2021-03-02 10:29] kpouget commented on #157
@altruistcoder

it's not on the master node but on the GPU nodes

[2021-03-02 11:16] altruistcoder commented on #157
It worked!!

Thanks a lot @klueska @kpouget and @elezar for helping me in resolving this issue.

[2021-03-02 12:59] kpouget commented on #157
I'm not sure you did anything wrong, but at the same time I'm unable to reproduce it with the GPU Operator 1.6.0 on OCP 4.7,
and I actually uninstalled the GPU Operator many many times in the past, so I wonder what may have happened in your cluster!

[2021-03-02 13:47] shivamerla commented on #157
@altruistcoder Did you by any chance force reboot the node before previous un-install. I can imagine this happening with force reboot of node, where container-toolkit will not be able to remove the runtime hook. During graceful shutdown/reboot, it will cleanup this properly. When this happens on reboot none of the operator pods can come up. We are working on solution for this.

[2021-03-03 08:59] 3ch01c commented on #25
In case it wasn't obvious to anyone else...

[code]

[code]

[2021-03-03 11:01] Wennn opened #158 "Any plan to support priorityClassName in values.yaml for daemonsets?"
Hi team,

Is there any plan to support priorityClassName in values.yaml for daemonsets?
If the driver related pods are evicted and crash, we will lose the whole driver on host machines. So refer to [this](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/), maybe we need a way to set priorityClassName for the critical daemonsets.

Thanks

[2021-03-03 13:47] sahare92 commented on #155
Having the same problem. happens also on gpu-operator v1.6, please help 🙏

[2021-03-03 14:00] kpouget commented on #155
to better understand what script is running, could you tell us which image the driver Pod is running
[code]

I guess it should be executing this script: https://gitlab.com/nvidia/container-images/driver/-/blob/master/centos7/nvidia-driver

[code]
but the error message doesn't says so:
[code]

[2021-03-03 14:43] sahare92 commented on #155
hey @kpouget , the driver's image is `nvidia-driver-daemonset-5tzbm:	nvcr.io/nvidia/driver:460.32.03-centos7,`

[2021-03-03 15:22] hongweijia opened #159 "GPU Operator Installation failed with failed with nvidia-device-plugin-daemonset stuck in CrashLoopBackOff and with the error message 'flag provided but not defined: -nvidia-driver-root'."
Hello
Thanks for your help in advance!
We are following this guide for GPU Operator Installation  on OCP 4.5.15.
https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html

But during the installation, the GPU Operator failed with  nvidia-device-plugin-daemonset stuck in CrashLoopBackOff and with the error message 'flag provided but not defined: -nvidia-driver-root'.

[2021-03-03 15:27] shivamerla commented on #159
@hongweijia This document is still not updated with latest versions. Please use `devicePlugin.version=v0.8.2-ubi8` and `dcgmExporter.version=2.1.4-2.2.0-ubi8` and `toolkit.version=1.4.5-ubi8`

[2021-03-03 16:13] relyt0925 opened #160 "Nvidia GPU Installer problem in IBM Cloud"
there’s a lingering bug in the 1.5 and beyond GPU operator. The exact issue is that they switched up how they’re generating some of the initial deployment configuration and trying to be smart. They pick a container based on sha, not based on tag. To override it (I just did this last night with the 1.6 operator that just came out) - you…

1) Install the GPU Operator
2) Create an instance of the GPU

[2021-03-03 16:22] shivamerla commented on #160
@relyt0925 its one of the requirement with OCP to use all images with digest to support in Disconnected environments. What was the problem that you had to overwrite it with? Its running on different OS than rhcos4.5/4.6/4.7?

[2021-03-03 16:25] shivamerla commented on #158
@Wennn Thanks for reporting this. We seemed to be missed on this. All critical resources have annotation of `scheduler.alpha.kubernetes.io/critical-pod` which is deprecated from 1.16. We should be fixing this with next operator update.

[2021-03-03 16:33] relyt0925 commented on #160
In IBM Cloud Openshift the machines run based off of RHEL 7 machines:
https://github.com/NVIDIA/gpu-operator/issues/64

[2021-03-03 16:37] shivamerla commented on #160
Got it. Thanks. will update the documentation.

[2021-03-04 01:46] hongweijia commented on #159
@shivamerla Thank you for your help! We'll have a try!

[2021-03-04 12:50] altruistcoder commented on #157
Actually, we stop our cluster in the night and start it in the morning using a scheduled lambda function (using a boto3 script) which does this job daily.
I think this way of rebooting the cluster might be taken as the Graceful Reboot of the cluster as can be inferred from the information presented [here](https://docs.openshift.com/container-platform/4.6/backup_and_restore/graceful-cluster-shutdow

[2021-03-04 14:19] Heniland opened #161 "Issue: nvidia-device-plugin-daemonset stuck in Init state"
GPU Operator vesrion = 1.5.0

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?

### 1. Issue or feature description
nvidia-device-plugin-daemonset-9w58x stuck and in my gpu pod (shlomo-predict) stays

[2021-03-04 18:41] rspierz opened #162 "Driver install error on 1.6.0 / Openshift 4.6.16"
upgraded from 1.5.2 with a working install.

Steps to upgrade were to remove everything operator and deployment and delete the nvidia CRD. Noticed you are not pushing to docker.io the latest 1.6.0 release so had to pull nvcr image down for operator and driver and push to internal (please push these to docker.io adding nvcr or new registries is not ideal for openshift. Best solution would be to pus

[2021-03-04 18:45] shivamerla commented on #161
@Heniland This was resolved in 1.5.2. Please try with that or latest 1.6.0.

[2021-03-04 18:49] shivamerla commented on #162
@rspierz Looks like "nvidia" runtime hook was not cleaned up properly after previous un-install. To workaround this issue, please delete `/etc/containers/oci/hooks.d/oci-nvidia-hook.json` from GPU worker nodes. Driver container should start with that along with rest of the components. Also, did you start seeing this issue soon after install or after reboot of all nodes?

[2021-03-04 18:55] rspierz commented on #162
I have nothing at "/etc/containers/oci/hooks.d/"

I have not rebooted any nodes since upgrading the gpu operator.

[2021-03-04 19:05] shivamerla commented on #162
hmm..wondering if crio daemon is not able to update once config is cleaned up after previous uninstall. Can you try restarting crio daemon "systemctl restart crio". @kpouget Can you confirm if this can happen?

[2021-03-04 19:31] kpouget commented on #162
hum, I got this expected (and temporary) error:
[code]
[code]

and after a few minutes everything was deployed successfully:

[code]

I had 1.5.2 installed, I uninstalled it from OperatorHub, removed the ClusterPolicy, and installed 1.6.0 from OperatorHub.
That was on a pre-release of OCP 4.7

[2021-03-04 19:42] rspierz commented on #162
ok so i did restart crio on one of the nodes and it came back without the error on the pod but then the rest of the nodes also did not report the event issue after awhile ( i did not restart crio on the other nodes).

Although, all nodes/driver pods are reporting issue on the run.

    - restartCount: 6
      started: false
      ready: false
      name: nvidia-driver-ctr
      state:
        wait

[2021-03-04 19:50] kpouget commented on #162
seems like the issue here is accessing the package repository, not the container hook anymore

[2021-03-04 19:59] rspierz commented on #162
hmm is this new with 1.6.0? I am behind a proxy environment and I dont think i saw this with 1.5.2.

[2021-03-04 20:39] shivamerla commented on #162
@rspierz Yes, 1.6.0 version automatically injects Proxy env HTTPS_PROXY, HTTP_PROXY, NO_PROXY and trusted CA certificates configured in cluster-wide Proxy into driver container. @zvonkok The path here seems to be  `/etc/pki/tls/certs/ca-bundle.crt` but for OpenShift we mount CA certs at `/etc/pki/ca-trust/extracted/pem`. Any idea how to fix this?

[2021-03-04 22:46] #159 closed

[2021-03-05 03:22] anaconda2196 commented on #139
@dummys,
 my dcgm-exporter pod is crashing with same error. Did you get any solution?

[2021-03-05 06:19] altruistcoder commented on #157
Hello @klueska @kpouget,

I am still facing the same problem which I reported initially in this issue. The only difference it is not happening now in all my nodes but in some of them randomly. As I stated in my previous message, our cluster is scheduled to stop every night and start in the morning. So, when the cluster gets started in the morning, the Nvidia GPU Pods (viz, Driver, DevicePlugin, DC

[2021-03-05 07:43] kpouget commented on #139
@anaconda2196 we don't have logs for what is crashing into error, can you show what's going wrong?

[code]

a workaround might be to delete the DCGM pod and let it be recreated:
[code]

[2021-03-05 12:12] kpouget commented on #157
I wanted to reproduce the situation by
1/ uninstalling the GPU Operator
2/ creating `/etc/containers/oci/hooks.d/oci-nvidia-hook.json` with the content from  https://github.com/NVIDIA/gpu-operator/issues/157#issuecomment-788801531
3/ reinstall the operator

I was expecting the creation of any Pod on this node to fail (because the nvidia-runtime isn't setup), but to my surprise, the operator & daem

[2021-03-05 14:00] shivamerla commented on #157
@altruistcoder We will be fixing it soon with next update. Meanwhile you can edit the toolkit pod with below change in the initContainer. It will make sure to cleanup the nvidia CRI hook before drivers are loaded.

[code]

[2021-03-05 14:04] #161 closed

[2021-03-05 14:51] zvonkok commented on #162
@rspierz Can you show us how your proxy config on OpenShift looks like?

[code]

[2021-03-05 14:53] zvonkok commented on #162
What is the output of the test pod for the entitlements?

https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html

[code]

[2021-03-05 14:56] zvonkok commented on #162
I am unsure why the 1.5.0 version would work in a proxy environment without injecting the proxy env variables vs. why it fails with 1.6.0 where the correct env variables are injected.

In the 1.5 install did you edit the ClusterPolicy to inject the `env:` block with the correct HTTP, HTTPS_PROXY vars?

[2021-03-05 15:16] altruistcoder commented on #157
@shivamerla Pardon me but I am not able to understand where exactly I need to make these changes as I am installing the Nvidia GPU Operator from Openshift's OperatorHub.
Also, if I am able to make the above changes successfully at the right location, will these changes solve the above main error and the pods would work properly even if I ever need to reinstall the Operator again due to any reason

[2021-03-05 15:25] shivamerla commented on #157
@altruistcoder You can edit nvidia-container-toolkit daemonset spec under `gpu-operator-resources` project from the UI.

![Screen Shot 2021-03-05 at 7 22 19 AM](https://user-images.githubusercontent.com/30056107/110135765-bf622480-7d83-11eb-9bb6-588a3acd03a8.png)

After editing, click save and changes will be applied. You can ignore the warning and check that pods are started again. This change wi

[2021-03-05 15:52] rspierz commented on #162
httpProxy: http://######:8083
  httpsProxy: http://######:8083
  noProxy: .***.ca,localhost,127.0.0.1,10.0.0.0/8,254.0.0.0/14,254.52.0.0/18
  trustedCA:
    name: ****-ca-certs

We have entitlements on our gpu nodes - it was working with 1.5.x

in 1.5.x we did have the env vars for proxy set in the driver deployment spec.

[2021-03-05 16:01] rspierz commented on #162
on debug pod to driver pod:

  Updating Subscription Management repositories.
  Unable to read consumer identity
  Subscription Manager is operating in container mode.
  cuda                                                                                                                                                                                                         0.0  B/s |   0  B     00:

[2021-03-05 16:24] zvonkok commented on #162
@rspierz Do you have self signed certificates? Are you using a MITM proxy?
In the case of 1.5 you did not mount the trustedCA: name: ***-ca-trust into the driver-container right?

Now that you supplied one, the GPU operator will automatically mount this chain of trust into the driver-container.

The question is what is created there and if you need it for going forward. If you remove the trustedCA

[2021-03-05 16:50] rspierz commented on #162
we have a corporate ca trust. I believe it is a MITM proxy.

In 1.5 we did not mount the trusted ca into the container just the env vars for proxy no proxy.

I need the trusted ca at the cluster level. Where would my cluster ca certs be injected path wise for the driver pods? /etc/pki/tls/certs/ca-bundle.crt does not show my cluster ca certs

[2021-03-05 16:57] shivamerla commented on #162
It will be injected under `/etc/pki/ca-trust/extracted/pem`

[2021-03-05 17:00] rspierz commented on #162
Oh perhaps this is the error?

`-----END CERTIFICATE-----# ACCVRAIZ1`

the injected proxy one is on top and then the general ca is directly underneath. I think we need an extra line here.

[2021-03-05 17:07] shivamerla commented on #162
Interesting..Operator creates an empty configmap `gpu-operator-trusted-ca` in `gpu-operator-resources` project and network operator injects all system and user CA's into it. So may be a bug in Network Operator merging them? @zvonkok ?

https://docs.openshift.com/container-platform/4.6/networking/configuring-a-custom-pki.html?extIdCarryOver=true&sc_cid=701f2000001Css0AAC#certificate-injection-using

[2021-03-05 20:44] rspierz commented on #162
if i remove the tls cert mount in the ds of driver, the install goes through without errors. Proxy set is still there.

I did have to pull k8s-device-plugin image and driver to internal registy to get it working though. Would be great to get those pushed to redhat registry and docker.io

[2021-03-05 21:38] shivamerla commented on #143
Fixed it with 1.6.1

[2021-03-05 21:38] #143 closed

[2021-03-06 10:56] #66 closed

[2021-03-08 18:49] shysank commented on #143
@shivamerla I just tested it with `1.6.1`, and ran into another issue related to the fix:
`containerd[32689]: containerd: toml: cannot load TOML value of type string into a Go integer`

I think `version = "2"` should be `version = 2`. Do you want me to create a new issue for this one?

[2021-03-09 02:46] ReyRen opened #163 "nvidia-device-plugin-daemonset and nvidia-dcgm-exporter get Init:CrashLoopBackOff"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-03-09 03:43] shivamerla commented on #163
@ReyRen Can you get logs of the initContainer from failing pods? `kubectl logs <pod-name> -n gpu-operator-resources -c toolkit-validation`, Also driver pod logs from the same node please.

[2021-03-09 04:50] ReyRen commented on #163
**Thanks**
nvidia-driver-daemonset log
[code]
vidia-device-plugin -c toolkit-validation log
[code]

[2021-03-09 05:14] ReyRen commented on #163
@shivamerla some supplement info:
virtual machine conditions:
[code]
pod conditions:
[code]
Thanks

[2021-03-09 08:15] zvonkok commented on #157
@shivamerla @klueska Going forward we should place the hook to `/run/containers/oci/hooks.d` this will prevent the hook from being persistent e.g. after a reboot.

[2021-03-09 13:52] Heniland commented on #161
I checked and confirmed that the update to 1.6.0 does solve the issue, it's working for me. Thank you @shivamerla

[2021-03-09 15:06] shivamerla commented on #157
@zvonkok good point. Will check with @klueska if we can make that change.

[2021-03-09 18:57] shivamerla commented on #157
PR for this: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/192

[2021-03-09 20:58] dualvtable commented on #163
@ReyRen - are you on an NVSwitch based system (e.g. AWS p4d instance)? If so, then this error is expected because we did not initialize the NVSwitch Fabric (and hence CUDA initialization fails). You can work-around this issue by manually installing the nvidia-fabricmanager (and starting the `systemd` service) before attempting to install the GPU Operator.

Let us know if that's the case.

[2021-03-10 01:35] ReyRen commented on #163
@dualvtable Perfect!! Thanks. But another small problem is
[code]
This is because `cuda-drivers-fabricmanager-460` would also installed Nvidia driver to VM host. What should I do?

Thanks again :)

[2021-03-10 09:42] ReyRen commented on #163
**Update:**
Just ignore NVIDIA driver container get error messages. Because I notice other containers(e.g dcgm-exporter) would choose to use host kernel driver firstly.
If NVIDIA driver container "crashLoopBackOff" msg make you uncomfortable, please install gpu-operator at first and then install `cuda-drivers-fabricmanager-460 & systemctl ...`.

[2021-03-10 15:13] kpouget opened #164 "Documentation: helm install command from docs.nvidia.com is broken"
This [documentation](https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html) page still indicates this command to install the GPU Operator on OpenShift from Helm:

[code]

but this configuration is invalid, the `DevicePlugin` crashes with this error:
[code]
---
This is due to fact that the helm deployment doesn't specify the version of the Operator, so the latest v

[2021-03-10 17:24] dualvtable commented on #163
ah - sorry 🤦 . I should have suggested proper steps. Please install `nvidia-fabricmanager-<driver-branch>` package from the CUDA repos (not the `cuda-drivers-fabricmanager` since that is a meta package that ensures the driver and FM are installed together). The `nvidia-fabricmanager` package has no other dependencies so is a better choice. Once that is installed, you can do `systemctl --now enable

[2021-03-10 18:06] anaconda2196 opened #165 "Is there plans to support for Sles15sp2?"
I am running
K8s Cluster Version: 1.18.6
GPU: A100 Machine (as a worker node in my k8s cluster with os installed Sles15sp2)

I am following https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#install-nvidia-gpu-operator.

[code]

Is there plans to support for Sles15sp2?

[2021-03-11 06:07] ReyRen commented on #163
@dualvtable Absolutely this is the best solution. Thanks again, and thanks @shivamerla  too. I think this issue can be closed.

[2021-03-11 14:47] shivamerla commented on #163
@ReyRen Thanks, closing this issue.

[2021-03-11 14:47] #163 closed

[2021-03-11 15:06] shivamerla commented on #162
@rspierz I do see device-plugin image pushed to dockerhub: ```nvidia/k8s-device-plugin:v0.8.2-ubi8```. Driver images were missing and pushing them now. Thanks for pointing this out. What was the issue with accessing nvcr.io?

[2021-03-11 18:48] shivamerla commented on #164
@kpouget Will get this fixed soon.

[2021-03-11 21:19] anaconda2196 opened #166 "nvidia-device-plugin-daemonset pod is still crashingoff!"
Hi,

I am running with
K8s Cluster Version: 1.18.6
GPU: A100 Machine

[code]
[code]

[code]

[2021-03-11 21:23] shivamerla commented on #166
@anaconda2196 Which OS flavor/version are you using?

[2021-03-11 21:23] klueska commented on #166
This is a known issue on `centos`. Are you on `centos` by chance?

[2021-03-11 21:24] lamroger commented on #33
Hi @nvjmayo - any luck with this? We're using `nvidia/pod-gpu-metrics-exporter` and running into the same issue on 1.16. Would appreciate any thoughts on alternatives too. Thanks!

[2021-03-11 21:28] anaconda2196 commented on #166
@shivamerla I am using Centos79.

[2021-03-11 21:29] shivamerla commented on #33
@lamroger Any specific reason you are not using one deployed by gpu-operator? it deploys exporter with image `nvidia/dcgm-exporter` and `/var/lib/kubelet/pod-resources` is correctly mounted.

[2021-03-11 21:30] shivamerla commented on #166
@anaconda2196  Please use toolkit version as `--set toolkit.version=1.4.7-ubi8` to resolve this while installing helm chart.

[2021-03-11 21:41] anaconda2196 commented on #166
@shivamerla Thank you for your quick response.
I have tried with that,

[code]
`
gpu-operator-resources   nvidia-device-plugin-daemonset-46th4                              0/1     Init:Error   2          25s`

`kubectl -n gpu-operator-resources describe pod nvidia-device-plugin-daemonset-46th4`

[code]

[2021-03-11 21:44] shivamerla commented on #166
Can you get the logs from initContainer this time. `kubectl logs -f nvidia-device-plugin-daemonset-46th4 -n gpu-operator-resources -c toolkit-validation`. You might probably need to change the validation container too as `--set operator.validator.version=vectoradd-cuda10.2-ubi8`

[2021-03-11 21:49] shivamerla commented on #157
@altruistcoder  This is fixed in 1.6.2 published to catalog. Please un-install old one and deploy this. This will place nvidia runtime hook configuration under `/run/containers/oci/hooks.d` and  solves reboot issue you were facing.

[2021-03-11 21:49] #157 closed

[2021-03-11 21:57] anaconda2196 commented on #166
[code]
Now, as you suggested

[code]

`gpu-operator-resources   nvidia-device-plugin-daemonset-5598f                              0/1     Init:CrashLoopBackOff   2          42s`

`kubectl -n gpu-operator-resources describe pod nvidia-device-plugin-daemonset-5598f`

[code]

[2021-03-11 22:00] shivamerla commented on #166
This seems similar to https://github.com/NVIDIA/gpu-operator/issues/163. Can you try workaround as @dualvtable mentioned.

[2021-03-11 22:45] lamroger commented on #33
Tech debt 🤣 I'll give gpu-operator a try. Thank you for the quick response!

On Thu, Mar 11, 2021 at 4:29 PM Shiva Krishna Merla <
***@***.***> wrote:

[2021-03-12 06:37] altruistcoder commented on #157
Thanks a lot @shivamerla for providing a solution to this problem so quickly. I have updated my Nvidia GPU Operator to version 1.6.2 in my cluster and I believe I'll not face this problem anymore.

Thank You @kpouget @klueska for helping in resolving this error.

[2021-03-12 18:45] shivamerla commented on #164
Document updated: https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html

[2021-03-12 18:45] #164 closed, assigned to nobody

[2021-03-12 18:45] shivamerla commented on #164
Document updated: https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html

[2021-03-12 18:51] kpouget commented on #164
thanks :)

[2021-03-15 01:52] rupang790 commented on #144
@shivamerla, Fedora CoreOS 33 is used for OKD 4.6 Cluster default, so I could not change to other OS which use available kernel version. (Actually, during the installation, OKD changes node's OS version(kernel also))

So If I download kernel-* rpms on node manually and deploy, the GPU-operator will work?
Or are there other problem from the log?
I attached ```nvidia-driver-daemonset``` log as below

[2021-03-15 14:11] rspierz commented on #162
our clusters have a whitelist and its a hard process to get new external registries added. redhat registries on openshift are whitelisted by default. We have docker.io whitelisted but will soon be removed.

[2021-03-16 10:17] ticlazau opened #167 "Can't install the GPU Operator on OCP 4.6"
Hello,

I am running on OCP 4.6.17 (Kubernetes Version: v1.19.0+e405995) and I follow the instructions from the online documentation to add the GPU Operator:
https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html#openshift-gpu-clean-up

I am getting in GUI when installing the GPU operator 1.6.2:
`Danger alert:Operator conflicts exist
Installing Operator in selected

[2021-03-16 10:21] zvonkok commented on #167
Remove all installed operators and delete the ClusterPolicy CRD.
Did you install via OLM? Delete all subscriptions and instances
DId you install via helm? `helm ls --all-namespaces`  delete all instances.

After you removed all instances and the CRD (OLM will not remove the CRD)
try a fresh install.

On Tue, 16 Mar 2021 at 11:17, ticlazau ***@***.***> wrote:

[2021-03-16 11:00] ticlazau commented on #167
Hi @zvonkok
Installation of the operator was done via OCP GUI from the Operator HUB

[code]
<img width="1294" alt="Screenshot 2021-03-16 at 11 57 17" src="https://user-images.githubusercontent.com/30878420/111298464-0f2bd000-864f-11eb-9eb4-8a7ceb210c33.png">
<img width="1290" alt="Screenshot 2021-03-16 at 11 56 07" src="https://user-images.githubusercontent.com/30878420/111298478-118e2a00-864f-11e

[2021-03-16 11:04] zvonkok commented on #167
Weird warning, is this a disconnected install?

[code]

Can you show me the output of ^^ ? Thanks

On Tue, 16 Mar 2021 at 12:00, ticlazau ***@***.***> wrote:

[2021-03-16 11:06] ticlazau commented on #167
`
(base) coredump@Deceneu ~ % oc get catalogsources --all-namespaces

NAMESPACE               NAME                    DISPLAY               TYPE   PUBLISHER        AGE
olm                     operatorhubio-catalog   Community Operators   grpc   OperatorHub.io   14d
openshift-marketplace   certified-operators     Certified Operators   grpc   Red Hat          24d
openshift-marketplace   community-op

[2021-03-16 11:12] zvonkok commented on #167
You need to delete the CSV (ClusterServiceVersion) and the operator.

Just for checking if NFD is correctly installed:

oc describe nodes | grep 10de

On Tue, 16 Mar 2021 at 12:07, ticlazau ***@***.***> wrote:

[2021-03-16 11:15] ticlazau commented on #167
I do have a worker with 2x P100 GPUs

[code]

[2021-03-16 11:21] zvonkok commented on #167
oc get deployment --all-namespaces | grep gpu

To see if you have any operator deployments left.

On Tue, 16 Mar 2021 at 12:15, ticlazau ***@***.***> wrote:

[2021-03-16 11:22] ticlazau commented on #167
[code]

[2021-03-16 11:26] zvonkok commented on #167
oc get crd | grep nvidia

To see if we have an old ClusterPolicy installed

On Tue, 16 Mar 2021 at 12:22, ticlazau ***@***.***> wrote:

[2021-03-16 11:26] ticlazau commented on #167
[code]

[2021-03-16 11:28] ticlazau commented on #167
For some reasons the OLD 1.5.2 GPU Operator has been hooked somewhere in OCP, and I can't delete it because will reaper in 5 seconds and can't install a newer one 1.6.2 (see below images)
<img width="1270" alt="Screenshot 2021-03-16 at 12 26 04" src="https://user-images.githubusercontent.com/30878420/111301945-1228bf80-8653-11eb-965e-092572fa9dfd.png">
<img width="1284" alt="Screenshot 2021-03-16

[2021-03-16 11:29] ticlazau commented on #167
I tried to debug this for the last 3 days, but no luck so far :(

[2021-03-16 12:05] kpouget commented on #167
let's continue listing all:

[code]

[2021-03-16 12:43] ticlazau commented on #167
[code]

[2021-03-16 14:22] shysank opened #168 "nvidia-device-plugin-daemonset stuck in PodInitializing phase"
I am trying to helm install gpu-operator version `1.6.2` which has the containerd empty config fix (version set as integer). It fails when trying to run `nvidia-device-plugin-daemonset` pod with the `toolkit-vaildation` init container stuck in PodInitializing state. On further inspection on the events, I see the following error:
`Failed create pod sandbox: rpc error: code = Unknown desc = failed t

[2021-03-16 14:44] shivamerla commented on #168
Can you check containerd logs for more information? I was able to deploy it successfully.

[code]

[code]

[2021-03-16 14:53] shysank commented on #168
Couldn't find anything different in containerd logs:

[code]

[2021-03-16 14:54] shivamerla commented on #162
@rspierz I think you need to work with your org/RedHat to get nvcr.io whitelisted with the cluster as the decision was made to maintain these images only with nvcr.io and docker.io.

[2021-03-16 14:57] shysank commented on #168
An interesting note is that I was able to install `1.6.1` successfully after manually updating the version to integer. Wondering if there were any changes to the runtime thats causing this?

[2021-03-16 14:57] shivamerla commented on #168
Just to make sure, did you pass flag "--set operator.defaultRuntime=containerd"? Can you paste containerd config file for review. What OS version and containerd version is this?

[2021-03-16 14:58] shysank commented on #168
[code]

[code]

[2021-03-16 15:08] shivamerla commented on #168
@shysank The only other change was in the invoking the nvidia runtime binary `/usr/local/nvidia/toolkit/nvidia-container-runtime` to check and invoke runc directly if driver modules are not loaded. Can you check the content of this file and invoke it directly to see that nvidia-runtime is invoked?

[code]

[2021-03-16 15:38] shysank commented on #168
Tried it, and I don't see `nvidia driver modules are not yet loaded, invoking runc directly` which I think means the nvidia drivers were loaded properly.

[code]

[2021-03-16 16:19] shivamerla commented on #168
@shysank  Yes, these changes look good. We have tried on multiple systems and didn't hit this issue. Can you try out on a different setup to see if its reproducible? If you can attach kubelet/containerd logs, i will try to review further.

[2021-03-16 16:40] shysank commented on #168
Attached containerd and kubelet logs
[containerd.log](https://github.com/NVIDIA/gpu-operator/files/6150731/containerd.log)
[kubelet.log](https://github.com/NVIDIA/gpu-operator/files/6150733/kubelet.log)

[2021-03-17 10:58] shysank commented on #168
Looked into the hooks dir which was recently updated and compared it with the old one:

[code]

`total` is 0 for the new dir, do you think there might some issue with the new mount?

[2021-03-17 13:35] ticlazau commented on #160
Hello,

I have the same issue with GPU Operator 1.6.2 on OCP 4.6

(base) coredump@Deceneu ~ % oc get all -n gpu-operator-resources
NAME                                           READY   STATUS                  RESTARTS   AGE
pod/nfd-master-bj47q                           1/1     Running                 0          12h
pod/nfd-master-dxp4x                           1/1     Running                 0

[2021-03-17 13:39] ticlazau commented on #167
Hello,

I manage to install the GPU Operator 1.6.2 after I have uninstalled all installed operators from the OCP cluster.
Not an elegant way to do it :(, but it worked.

Rgds,
F.M.

However, I don't see the GPU driver pod getting up, but this may be another story

[code]

[2021-03-17 13:55] kpouget commented on #167
Hello,
you can try looking at the logs of "

pod/nvidia-driver-daemonset-5f42b

"
maybe it is (was) still building the driver, that could explain why the
deviceplugin is (temporarily) failing

On Wed, Mar 17, 2021 at 2:40 PM ticlazau ***@***.***> wrote:

[2021-03-17 16:49] shivamerla commented on #168
@shysank  Hooks directory is used only for CRI-O. Yes, it was changed to `/run/containers/oci/hooks.d` to make sure its not persistent across reboot and toolkit configures it after driver is loaded with every reboot.

[2021-03-17 16:56] shivamerla commented on #167
@ticlazau  Please check the logs of `driver` pod to see if the driver installation is successful in the end. Also, from the device-plugin initContainer check logs too `oc logs nvidia-device-plugin-daemonset-pfrlf -c toolkit-validation -n gpu-operator-resources`. Please attach those logs here too for our analysis.

[2021-03-17 20:08] ticlazau commented on #160
@shivamerla
What's the reason of cuda-sample@**sha256:2a30fe7e23067bc2c3f8f62a6867702a016af2b80b9f6ce861f3fea4dfd85bc2**
name?

Rgds,

[2021-03-17 20:13] shivamerla commented on #160
@ticlazau this image performs validation that toolkit/driver are loaded correctly by running a vector-addition sample. Can you get logs of that container within device-plugin daemonset to see what is going on?

[2021-03-17 20:15] shivamerla commented on #160
@ticlazau by the way, you issue is not same as original reported issue here by IBM. Please track your issue with: https://github.com/NVIDIA/gpu-operator/issues/167. Closing this one as IBM issue needs to be documented to overwrite driver version while deploying on OCP for RHEL 7 nodes.

[2021-03-17 20:15] #160 closed

[2021-03-17 20:27] ticlazau commented on #160
[code]

[2021-03-17 20:28] ticlazau commented on #160
++
[code]

[2021-03-17 20:46] shivamerla commented on #160
@ticlazau Did you override the driver version to use 450.80.02? Because 1.6.2 installs `460.32.03` by default.

[2021-03-17 20:47] ticlazau commented on #167
[code]

++

[code]

[2021-03-17 21:18] lamroger opened #169 "How do I apply the ClusterPolicy CRD?"
I'm having trouble finding instructions on how to install the ClusterPolicy CRD.

I've tried
[code]
and get
[code]

[2021-03-17 21:20] shivamerla commented on #169
@lamroger  Please use this instead: https://github.com/NVIDIA/gpu-operator/blob/1.6.2/bundle/manifests/nvidia.com_clusterpolicies.yaml

[2021-03-17 21:21] lamroger commented on #169
Thanks for the quick reply @shivamerla !

I'm still getting the same error though
[code]

[2021-03-17 21:26] shivamerla commented on #169
Here is the URL for raw file: https://raw.githubusercontent.com/NVIDIA/gpu-operator/master/bundle/manifests/nvidia.com_clusterpolicies.yaml

[2021-03-17 21:32] lamroger commented on #169
thank you! it worked
`kubectl apply -f https://raw.githubusercontent.com/NVIDIA/gpu-operator/master/bundle/manifests/nvidia.com_clusterpolicies.yaml`

[2021-03-17 21:32] #169 closed

[2021-03-17 21:45] lamroger opened #170 "Error pulling a driver: manifest unknown"
Hi, I'm seeing an error when I try to run the helm chart.

[code]
I'm mostly using the default config on an AWS instance

[2021-03-17 21:51] shivamerla commented on #170
@lamroger we officially support only these OS distributions: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#linux-distributions

Probably for Amazon Linux, you can use `460.32.03-centos7` image, but we have not verified with that.

[2021-03-17 21:52] lamroger commented on #170
thank you again @shivamerla!

[2021-03-18 01:20] lamroger commented on #170
Hi @shivamerla , hopefully last question.
Would I specify the version in my values file like this?
[code]

If I do it like that, no gpu operator resources show up and I'm not sure how to debug. Thank you again.

[2021-03-18 04:50] mangokingTW commented on #140
@klueska Did the 1.6.0 release fix the issue? I cannot find an option to avoid running nvidia-device-plugin-validation in the helm chart.

[2021-03-18 06:14] shivamerla commented on #168
@shysank I have tried with containerd version 1.3.3 too and couldn't reproduce this issue. Are you able to consistently hit this with other systems too? If yes, then we would need complete configuration to attempt recreate.

[code]

[2021-03-18 07:12] ticlazau commented on #160
@shivamerla Yes, I have use 450.80.02. With default values is not working. The pod/nvidia-container-toolkit-daemonset-srf6l will remain in init state. In addition Nvidia-SMI will not work

[code]
++

[code]

[2021-03-18 07:20] ticlazau commented on #160
`(base) coredump@Deceneu GPU % oc get all -n gpu-operator-resources
NAME                                           READY   STATUS             RESTARTS   AGE
pod/nfd-master-bj47q                           1/1     Running            0          29h
pod/nfd-master-dxp4x                           1/1     Running            0          29h
pod/nfd-master-t22dd                           1/1     Running

[2021-03-18 12:39] shysank commented on #168
@shivamerla I tried with containerd `1.4.3` and I didn't get that error. Maybe it's specific to `1.3.0`?

[2021-03-18 19:54] shivamerla commented on #170
@lamroger gpu-operator will append OS_TAG to the version specified in values.yaml. So either you can re-tag the CentOS image and push it to your registry or you can directly edit the driver Daemonset to change the image you want to deploy. Also if using CentOS based image, you might need to change the toolkit also to be `1.4.7-ubi8`.

[2021-03-18 19:55] shivamerla commented on #168
@shysank interesting. I will give it a try with 1.3.0 later today to verify.

[2021-03-18 23:26] shivamerla commented on #167
@ticlazau Can you run following command from debug pod and verify if CRIO is looking under `/run/containers/oci/hooks.d` for nvidia runtime?

`cat /etc/crio/crio.conf.d/00-default`

[2021-03-19 18:15] lamroger commented on #170
@shivamerla Thanks for your help! We decided to stick with just using the docker images to avoid managing more home grown tweaks.

[2021-03-19 18:15] #170 closed

[2021-03-20 12:14] maximveksler commented on #83
We are seeing the same issue, on `gpu-operator 1.6.2`

[2021-03-20 19:32] maximveksler commented on #166
I believe I am seeing the same issue (add some details here https://github.com/NVIDIA/gpu-operator/issues/83#issuecomment-803299750)

The summary is

- Ubuntu 18.04.
- Fresh install of k3s
- GeForce 2080 TI (2 cards in the server)
- Docker 20.10

We have some machines where this is working, on others, it crashing and won't load the driver.

Any pointers?

[2021-03-21 09:28] chuempel opened #171 "Can't install GPU operator on virtualized OCP 4.6 on VMWare ESXi 7.0.1 with direct attached V100 GPU"
Hello,

the installation of the GPU operator 1.6.2 via Operator Hub on a virtualized OCP 4.6.19 worker node running on VMWare ESXi 7.0.1 with single V100 32GB GPU attached via PCIe passthrough fails and brings the ESXi host down.

Is there a specific setup of the worker node VM and/or the attachment of the V100 GPU needed in vSphere ESXi in order to get the installation of the GPU operator running

[2021-03-21 16:55] heilerich opened #172 "Docs: CRI-O runtime hook location"
The most recent release of the GPU Operator (v1.6.2) changed the location of the CRI-O runtime hook to `/run/containers/oci/hooks.d`.
After doing a fresh install of the GPU Operator on a vanilla k8s cluster, running the most recent CRI-O v1.20.1 with the default configuration, I had the `nvidia-device-plugin` pods stuck in a crash loop. It took me some time to figure out, that I had to edit the de

[2021-03-22 05:42] k402xxxcenxxx opened #173 "Fail to flush containerd config when using microk8s"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? No, Ubuntu 20.04
- [x] Are you running Kubernetes v1.13+? v1.20
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? 19.03
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
[code]
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)
[code]

### 1. Issue or feature d

[2021-03-22 05:42] k402xxxcenxxx commented on #173
### 3. Information to [attach](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/)
 - [x] If a pod/ds is in an error state or pending state `kubectl logs -n NAMESPACE POD_NAME`
#### logs from pod/nvidia-driver-daemonset
[code]

logs from
[code]

logs from pod/nvidia-container-toolkit-daemonset nvidia-container-toolkit-ctr
[code]

[2021-03-22 11:11] shysank commented on #168
Hi @shivamerla apologies for the delayed reply. The os images are built as part of the [kubernets-sigs image-builder](https://github.com/kubernetes-sigs/image-builder) project. Containerd version is controlled [here](https://github.com/kubernetes-sigs/image-builder/blob/88639f4ff75f02bd0af3154e5a259b971ec58e29/images/capi/packer/config/containerd.json#L7). We are part of the [cluster-api](https://

[2021-03-22 15:58] shivamerla commented on #172
@heilerich Sorry we missed documenting this with vanilla K8s. With OpenShift 4.5/4.6/4.7 CRI-O config is set by default to include `/run/containers/oci/hooks.d` directory, but doesn't looks like with other flavors. Will add a note to the docs. Currently its just mentioned in the release-notes: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/release-notes.html#id1

[2021-03-22 16:00] shivamerla commented on #167
@ticlazau Probably this is the reason. With RHEL 7.x CRIO config might not be set to use hooks-dir as `/run/containers/oci/hooks.d`. Can you configure this and verify?

[2021-03-22 16:02] shivamerla commented on #173
@k402xxxcenxxx  After talking to @klueska looks like you would need to pass the CONTAINERD_CONFIG as template file rather than config file itself as its regenerated everytime by microk8s. Please try with below values.(updated correct RUNTIME_CLASS as well).

[code]

[2021-03-22 16:13] shivamerla commented on #171
@chuempel Not sure if the PSOD is actually caused by driver installation within the guest. Did you open a support ticket with VMware to look into the PSOD issue?

[2021-03-22 16:18] shivamerla commented on #165
@anaconda2196 There are no near term plans to support SLES15 with operator.  contributions are welcome if you end up doing a POC here for building driver container for SLES: https://gitlab.com/nvidia/container-images/driver

[2021-03-22 16:21] shivamerla commented on #171
Also, can you provide details about server type/model and if its certified for use with V100?

[2021-03-22 18:00] hassanshabbirahmed commented on #155
Hi,

I have the exact same issue,

[code]
the version of driver I am using is also exactly the one @sahare92 is using,

`nvidia-driver-daemonset-5b4mp:	nvcr.io/nvidia/driver:460.32.03-centos7,`

Would greatly appreciate help.

[2021-03-22 19:41] joedborg opened #174 "Error: ClusterPolicy.nvidia.com "cluster-policy" is invalid"
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
* No, running containerd 1.4.3
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)
* Applied via helm3 (https://docs.nvid

[2021-03-22 20:05] joedborg commented on #174
This seems to be working fine with 1.21 beta 1.  Has something been updated in the helm chart that's not backwards compatible?

[2021-03-23 08:55] k402xxxcenxxx commented on #173
@shivamerla  Thanks for the quick reply.

I have tried the values you mentions.
[code]

It shows that the configuration file when `containerd` is running has been flushed correctly.

[code]

But the pods in `gpu-operator-resources` still work in "load driver and unload driver" loop.
I just want to know whether the behavior of sending `SIGHUP` to `containerd` instance in `microk8s` is different fro

[2021-03-23 10:27] chuempel commented on #171
@shivamerla we are going to open a support ticket with VMware.
For the server type/model:
- Fujitsu RX2540 M5
- 1x Intel Xeon Gold 6246R 16c 3.4 GHz
- 2x 32 GB 2RX4 DDR4-2933 R ECC
- 2x HD SAS 12G 600GB 10k 512n Hot Plug
- PRAID CP400i
- Risercard PCIe 2 FH Slots x16/x8 right
- 2x X710-DA2 2x 10Gb SFP+
- 1x PY NVIDIA Tesla V100 32GB for PCIe-based

[2021-03-23 11:46] klueska commented on #173
This will probably help:
https://docs.google.com/presentation/d/1EL5LIXOxERqT3nkl_ru2CxiAC_gMK1MI-gw5Dq2b9dk/edit#slide=id.gb0919689f2_0_80

[2021-03-23 14:51] davecore82 commented on #163
@dualvtable Do we still need to install the nvidia drivers when we do this? I'm on a system with no nvidia drivers. I installed nvidia-fabricmanager-450 from the cuda repos but I have an error when I try to start the systemd service:

[code]

[2021-03-23 15:27] davecore82 commented on #163
@dualvtable  I'm a bit lost. Do I need to install nvidia drivers on the host when using nvidia-fabricmanager-460? Can you tell me steps needed on a freshly installed Ubuntu 20.04 system?

[2021-03-23 18:12] davecore82 commented on #163
I found the recipe. I'm using microk8s on Ubuntu 20.04, here's what I had to do to make this work on both a Nvidia DGX A100 as well as a ProLiant DL380 Gen10 machine with T4 GPU.

- Make sure to start on a fresh Ubuntu 20.04 with no nvidia drivers (or `apt purge` the nvidia packages if you can't)
- blacklist the nouveau driver (add `modprobe.blacklist=nouveau nouveau.modeset=0` to `GRUB_CMDLINE_LI

[2021-03-24 03:20] shivamerla commented on #174
@joedborg Can you delete the clusterpolicies CRD and re-install to confirm?

[2021-03-24 03:25] lgc0313 commented on #83
same error on ocp4.6.19 and gpu-operator 1.6.2

[2021-03-24 08:59] k402xxxcenxxx commented on #173
@klueska Big thanks! The slide is very helpful!

I follow the slide and config the `/etc/systemd/system/multi-user.target.wants/snap.microk8s.daemon-containerd.service` like below:
[code]

I didn't use the custom image. The `microk8s-values.yaml` I use is below:
[code]
and deploy cmd is
[code]

And everything works as expected!
Thanks again to @klueska and the slide.
I will close the issue.

[2021-03-24 08:59] #173 closed

[2021-03-24 11:25] ticlazau commented on #171
@chuempel this is more a VMware ESXi issue. Recent CPUs from Intel and AMD implement a machine-check architecture that detects and reports hardware issues, including system bus errors, RAM (ECC and parity) errors, and other CPU errors. There are a set of model-specific registers (MSRs) that are used to report errors. When a hardware error occurs, global and bank-specific status machine-check archi

[2021-03-24 13:39] joedborg commented on #174
@shivamerla yep, I've tried from a clean cluster too.

[2021-03-24 22:29] shivamerla commented on #174
@joedborg Which Helm chart version are you trying to install? Can you copy the install command and values.yaml if overwritten please?

[2021-03-24 22:37] shivamerla commented on #158
This is fixed with: https://github.com/NVIDIA/gpu-operator/commit/515f33595566d01c1c41b93622b0b5df43c21688

[2021-03-24 22:37] #158 closed

[2021-03-25 15:54] kpouget opened #175 "Cannot deploy the "master" branch on OpenShift"
Hello,

I tried to deploy the GPU Operator from the master branch today, but it fails at this stage:
[code]
and in the description of the DevicePlugin:
[code]

The last successful testing we did was on March 22nd. On March 23rd our CI cluster was down,
and since March 24th, the testing was failing because this [PR](https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/188) moved the l

[2021-03-25 18:18] shivamerla commented on #151
This is fixed with: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/199. operator will now create 'gpu-operator-resources' namespace automatically and apply the labels required to enable metric collection.

[2021-03-25 18:18] #151 closed

[2021-03-26 19:06] ablocus commented on #167
@shivamerla If you can specify which `debug pod` to run the cmd from I can try it; i have the same issue with my `nvidia-device-plugin-daemonset` pods.
Also, if that happen to be the problem, how does one resolve it?

[2021-03-26 19:14] shivamerla commented on #175
Resolved with: https://github.com/NVIDIA/gpu-operator/commit/ec57697c16d6740b8e4ec850cbbef1101695111e

[2021-03-26 19:14] #175 closed

[2021-03-26 19:21] shivamerla commented on #167
@ablocus if that is the case then, `/run/containers/oci/hooks.d` needs to be added to hooks_dir in `/etc/crio/crio.conf`. To confirm this you can use below commands and check hooks_dir configuration.

oc debug node/<worker-node-name>
# cat /host/etc/crio/crio.conf.d/00-default
[crio.api]
stream_address = ""
stream_port = "10010"

[crio.runtime]
conmon = "/usr/libexec/crio/conmon"
conmon_cgroup = "

[2021-03-26 21:00] ablocus commented on #167
@shivamerla I've verified that `/run/containers/oci/hooks.d` wasn't part of `hooks_dir`; i've added it and reloaded `crio` and it now looks like this:
`

[crio]
  root = "/var/data/criorootstorage"
  runroot = "/var/data/crioruntimestorage"
  storage_driver = "overlay"
  log_dir = "/var/log/pods"
  version_file = "/var/run/crio/version"
  version_file_persist = "/var/lib/crio/version"
  [crio.api]

[2021-03-26 21:14] shivamerla commented on #167
@ablocus Can you confirm the container-toolkit image tag too?

[2021-03-26 21:18] ablocus commented on #167
@shivamerla
nvidia-container-toolkit : nvcr.io/nvidia/cuda@sha256:ed723a1339cddd75eb9f2be2f3476edf497a1b189c10c9bf9eb8da4a16a51a59

[2021-03-26 21:21] shivamerla commented on #167
That is for the initContainer, can you get for the main toolkit container in that pod?

[2021-03-26 21:23] ablocus commented on #167
Here : nvcr.io/nvidia/k8s/container-toolkit:1.3.0

[2021-03-26 21:25] shivamerla commented on #167
For RHEL7/CentOS we need to use UBI tag for toolkit. Please change it to `nvcr.io/nvidia/k8s/container-toolkit:1.4.7-ubi8`

[2021-03-26 21:40] ablocus commented on #167
That was it.

`nvidia-driver : nvcr.io/nvidia/driver:450.80.02-rhel7.9`
`nvidia-device-plugin : nvcr.io/nvidia/k8s-device-plugin@sha256:ea353fe57628f4d3c3e1cda126455d02f2277e3ee92fa9da441d409d76b2ac92`
`nvidia-container-toolkit : nvcr.io/nvidia/k8s/container-toolkit:1.4.7-ubi8`

Do you have any recommendation on the `nvidia-dcgm-exporter` version I should use. Those pods aren't coming up so far, b

[2021-03-26 21:42] shivamerla commented on #167
DCGM tag would be `2.1.4-2.2.0-ubi8`

[2021-03-26 22:15] ablocus commented on #167
@shivamerla Thank you
All pods under `gpu-operator-resources` are up and running now
`oc -n gpu-operator-resources get pods

NAME                                       READY   STATUS      RESTARTS   AGE
gpu-feature-discovery-2b7rv                1/1     Running     0          2m24s
gpu-feature-discovery-8hb26                1/1     Running     0          2m24s
gpu-feature-discovery-b9wmd

[2021-03-27 14:39] xhejtman opened #176 "toolkit validation crashloopbackoff - CUDA driver version is insufficient for CUDA runtime version"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
  ubuntu 20.04
- [x] Are you running Kubernetes v1.13+?
 rke2 kubernetes 1.20.4
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
  containerd github.com/rancher/containerd v1.4.3-k3s3
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpol

[2021-03-27 15:27] xhejtman commented on #176
it might be related that rke2 runs containerd from non default location:

containerd -c /var/lib/rancher/rke2/agent/etc/containerd/config.toml -a /run/k3s/containerd/containerd.sock

so I tried to reinstall with:

helm install gpu-operator nvidia/gpu-operator --set operator.defaultRuntime=containerd --set toolkit.env[0].name=CONTAINERD_CONFIG    --set toolkit.env[0].value=/var/lib/rancher/rke2/age

[2021-03-29 10:26] chuempel commented on #171
@ticlazau I have forwarded your information on reading out the crash log from ESXi. We were able to test that V100 is working ok, by using a CentOS VM and installing the NVIDIA drivers by hand there. The key to get this working was to have the VM boot in EFI / UEFI mode. In our OCP GPU worker node VM we were usging BIOS which is not supported with DirectPathThroughIO
See this link: https://blogs.v

[2021-03-29 14:02] xhejtman commented on #176
it seems, that for rke2's containerd the namespace option has to be used:
/var/lib/rancher/rke2/data/v1.20.4-rke2r1-4cdb4b0ef109/bin/ctr --address /run/k3s/containerd/containerd.sock --namespace k8s.io container ls

is it possible to set it for gpu-operator?

[2021-03-30 00:22] shivamerla commented on #176
@xhejtman Can you copy the output of toolkit container "kubectl logs -f <toolkit-pod> -c driver-validation -n gpu-operator-resources" and "kubectl logs -f <toolkit-pod> -c nvidia-container-toolkit-ctr -n gpu-operator-resources". Also attaching containerd config.toml and containerd logs("journalctl -u containerd > containerd.log") will help to debug this futher.

[2021-03-30 07:31] xhejtman commented on #176
Hello,

I found that problem is, that rke2 uses own containerd which is not compatible with gpu-operator right now. When I set rke2 to use external containerd, everything works.

https://github.com/rancher/rke2/issues/822

[2021-03-30 07:32] xhejtman commented on #176
However, if you want to debug, why the operator does not work with internal containerd, I can provide logs, just let me know.

[2021-03-31 15:16] joedborg commented on #174
@shivamerla
[code]

[2021-04-01 16:24] jabstone commented on #126
Hello. @shivamerla @klueska - Just wanted to reach out and see if there's an update on this issue. Like many others, we're anxiously awaiting a fix. Our use case requires Microk8s in a semi-production environment and this problem has been a huge headache. Any update and ETA on a resolution would be greatly appreciated.

[2021-04-01 21:38] shivamerla commented on #126
@jabstone We are currently testing changes for this: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/202

Since this has dependency on container-toolkit release as well, I will work with PM's to get the ETA for releasing this.

[2021-04-01 21:41] jabstone commented on #126
This is great news. Really appreciate the quick reply and look forward to having some sense of an ETA.

[2021-04-01 22:10] shivamerla commented on #126
@jabstone Looks like these changes will be part of our next operator release which is currently planned for last week of April. Let me know if you want to try out pre-release bits, i can point you to the images and steps to deploy.

[2021-04-01 22:26] jabstone commented on #126
@shivamerla - I would love to try out the pre-release bits when ready. Thanks

[2021-04-02 15:29] Dimiftb commented on #149
Hi @kpouget and everyone,

I'm experiencing the same issue on my Kubernetes cluster.

### Cluster Setup

  `kubectl get node`

<img width="520" alt="image" src="https://user-images.githubusercontent.com/26279721/113428392-9bb7eb80-93ce-11eb-8d2d-3f8ed82189c3.png">

Worker node has 1x Nvidia GTX 1070 Ti and no drivers, container runtime or device plugin installed on it as explicitly stated at: [htt

[2021-04-02 15:34] kpouget commented on #149
Hello,
I noticed that this error (`Could not find kernel full version`) can mean two things:
1. NFD missing
2. no GPU node available

for 1, try `kubectl get nodes --show-labels` to ensure that NFD labeled the nodes
for 2, try this to confirm that the GPU cards are found:
[code]

[2021-04-02 15:53] Dimiftb commented on #149
Hi @kpouget,

Appreciate your quick reply

1.
`kubectl get nodes --show-labels`

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/26279721/113430992-fd7a5480-93d2-11eb-89f7-bc7b3039aa3e.png">

2.
<img width="887" alt="image" src="https://user-images.githubusercontent.com/26279721/113431284-6c57ad80-93d3-11eb-9e3e-b73bba68b81b.png">

Another thing I noticed is one of the

[2021-04-02 16:07] kpouget commented on #149
hum, I think your screenshots make it clear that NFD is not running 100% fine, the master node `tehr00`is labeled, but not `tehr01`. But `tehr01` role is empty (`<none>`), maybe that's why NFD isn't catching it?

I never debugged NFD so I can't really help much :#

[2021-04-02 16:09] shivamerla commented on #149
Looks like NFD worker is not able to talk to NFD master. Can you check your CNI config for any error?

[2021-04-02 16:11] Dimiftb commented on #149
Appreciate your help.

@shivamerla how can I do that?

Sorry if the question is stupid, I'm very new at this.

[2021-04-02 16:21] shivamerla commented on #149
@Dimiftb you can logs of sdn pod running on this node `$ oc get pods -n openshift-sdn -o wide | grep sdn` and `oc logs -f <sdn-pod> -n openshift-sdn`.

Also, looks like only one worker pod is crashing and other is running fine. Can you check logs of that?

[2021-04-03 09:12] hbahadorzadeh commented on #133
Dear @shivamerla, do you have any updates?

[2021-04-05 06:04] vaibhavraizada-hcl opened #177 "On containerd - Failed to unpack image "quay.io/kubernetes_incubator/node-feature-discovery:v0.6.0""
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
On a kubernetes cluster with con

[2021-04-05 15:52] shivamerla commented on #177
@vaibhavraizada-hcl Looks to be intermittent issue with quay.io. I have verified that NFD image is fine.

[code]

[2021-04-05 15:52] #177 closed

[2021-04-05 15:56] shivamerla commented on #176
@xhejtman Please attach the logs for tracking purposes, but good to know that you are able to resolve it.

[2021-04-05 16:04] shivamerla commented on #174
@joedborg Default values.yaml file has these defined as empty string values. So wondering what else is causing this. Can you check outoput of "helm show values nvidia/gpu-operator --version=1.6.2" and confirm these are set correctly?

[code]

[2021-04-05 16:12] shivamerla commented on #155
@hassanshabbirahmed @vietkute02 will debug the issue with CentOS7. Meanwhile can you edit the driver daemonset to edit the image to `nvcr.io/nvidia/driver:450.80.02-rhel7.9` and verify if this resolves it?

[2021-04-05 17:36] vaibhavraizada-hcl commented on #177
@shivamerla

Please note that my kubernetes cluster is running on containerd. You have tried a "docker pull" command which would work but not the containerd pull. See the ouput of "ctr pull" command:

ctr image pull quay.io/kubernetes_incubator/node-feature-discovery:v0.6.0
quay.io/kubernetes_incubator/node-feature-discovery:v0.6.0:                       resolved       |+++++++++++++++++++++++++++

[2021-04-05 17:42] shivamerla commented on #177
Its working with containerd too. Do you see this on all systems?

[code]

[2021-04-06 08:21] kpouget commented on #118
Follow-up of the suggestion from the scrum meeting of March 23rd:

 it's working properly now :)

[code]

I actually didn't have to change my configuration, as I already had `/run/nvidia-persistenced/` shared, to access `nvidia-persistenced.pid`.

here are the relevant bit of the setup, for the record:

1/ [in the Pod](https://gitlab.com/kpouget_psap/gpu-operator/-/blob/2283338c1eb36634cb29767d0fe

[2021-04-06 17:04] Dimiftb commented on #149
Hi everyone,

Just to give you an update in case my situation helps someone else. I didn't manage to solve the issue, however I assume it's something to do with Calico CNI. The plugin wasn't working properly and as a result NFD wasn't working properly and hence the gpu-operator. I resorted to using weave-net and installing everything the old fashioned way following steps here: https://docs.nvidia.

[2021-04-07 10:41] vaibhavraizada-hcl commented on #177
@shivamerla

The issue was with my VM. The error says it all:
/usr/bin/unpigz: no such file or directory

We can mark this issue as non-applicable.

[2021-04-08 09:33] benjaminhuo opened #178 "nvidia-smi not found after installing gpu-operator"
### 1. Quick Debug Checklist
- [x ] Are you running on an Ubuntu 18.04 node?
- [x ] Are you running Kubernetes v1.13+?
- [ x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
[code]
### 2. Steps to reprod

[2021-04-08 09:47] klueska commented on #178
The operator installs all of the driver software on the host under `/run/nvidia/driver`. As such, it will be made available to containers launched on Kubernetes (via the nvidia-container-toolkit), but is not (immediately) available to programs running on the host.

If you are trying to run `nvidia-smi` from the host (which it appears you are), then the easiest way to do this is to run it while `ch

[2021-04-08 09:59] benjaminhuo commented on #178
Thanks `chroot /run/nvidia/driver nvidia-smi` works for me!
And gpu-operator is really convenient to use GPU!

Ben

[2021-04-08 09:59] #178 closed

[2021-04-08 20:41] trevorbox commented on #140
This validation pod also seems to affect the ability of the CA to scale down a node group to 0 and remains in pending state. Any update on this?

[2021-04-09 13:08] dignajar commented on #140
I checked the changelog and looks like is not implemented yet.

@klueska can you give us some feedback ? thanks

[2021-04-09 13:13] klueska commented on #140
I chatted with @shivamerla a bit about this a while back and I know he has some WIP code to address this. Will let him update with the actual status.

[2021-04-09 13:50] shivamerla commented on #140
@dignajar We are trying to address this with 1.7.0 release targeted for end of this month.

[2021-04-14 14:17] dajiji commented on #155
same issue. Happens on CentOS8

[code]

[2021-04-14 14:40] dajiji commented on #155
seems that in https://gitlab.com/nvidia/container-images/driver/-/blob/master/centos7/nvidia-driver, the yum command parameter need to be fixed.

`local version=$(yum -q list available --show-duplicates kernel-headers`
to be replaced by
`local version=$(yum -q list available --showduplicates kernel-headers`

[2021-04-14 15:27] dajiji commented on #155
On my server, I run kernel 4.18.0 offline.

But it seems that the code checks kernel version from the online repo, and make the numbers mismatch
[code]

[2021-04-15 15:47] shpwrck commented on #126
@shivamerla Can you share how I might test the release where it is possible to skip driver installation?

[2021-04-15 22:53] #176 closed

[2021-04-16 09:03] chuempel commented on #171
@ticlazau So we have successfully installed the NVIDIA GPU Operator on a RHCOS Bare Metal GPU Node with 1x V100 GPU.
I close the issue hereby as we have found a work around.

[2021-04-16 09:03] #171 closed

[2021-04-20 00:43] purplepalmdash commented on #155
My cluster runs on Centos 7.6 with upgraded kernel `4.19.12-1.el7`,  by using modified images  `nvcr.io/nvidia/mldriver:460.32.03-centos7` I could get `nvidia-driver-daemonset` working.
# docker build -t  nvcr.io/nvidia/mldriver:460.32.03-centos7 .
# cat Dockerfile
FROM nvcr.io/nvidia/driver:460.32.03-centos7
COPY nvidia-driver /usr/local/bin
# diff nvidia-driver nvidia-driver.orig
27c27
<     loc

[2021-04-21 13:50] xhejtman opened #180 "nvidia-driver-daemonset crashloopback"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ x ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ x ] Do you have `i2c_core` and `ipmi

[2021-04-22 16:37] rarvind33 commented on #72
Has this issue been fixed?

I tried to install GPU Operator using this command -

 helm install --wait --generate-name \
  nvidia/gpu-operator \
  --set toolkit.version=1.4.0-ubi8

I can only see the nvidia-driver-daemonset pods in CrashLookBackOff state-

gpu-operator-resources   nvidia-driver-daemonset-7lpxm                                     0/1     CrashLoopBackOff   7          16m
gpu-operat

[2021-04-22 17:06] Gus-Gilliland commented on #115
Circled back around to this install. Re-ran same install instructions with current (Apr 2021) GPU-Operator 1.6.2. Works flawlessly. Thanks for your hard work and perseverance team green!

[2021-04-22 17:06] #115 closed

[2021-04-22 17:12] Gus-Gilliland commented on #121
Circled back around to this install. Re-ran same install instructions with current (Apr 2021) GPU-Operator 1.6.2. Works flawlessly. Thanks for your hard work and perseverance Team Green!

[2021-04-22 17:12] #121 closed

[2021-04-22 18:30] klueska commented on #72
No it has not, but the workaround to explicitly pass the image is still valid. We are at 1.4.7 now though, i.e.
[code]

[2021-04-22 22:06] shivamerla commented on #180
@xhejtman This is one of the limitation we have with driver container currently. Driver container goes through these steps each time:

1. Unload any existing modules
2. Unmount root filesystem of driver installation on host (**/run/nvidia/driver)**
3. Fetch prerequisites for driver compilation
4. Compile and package drivers
5. Install new driver package along with other CUDA libraries and utilitie

[2021-04-22 22:25] xhejtman commented on #180
Hello,

I understand this. I will try to investigate why the container has been restarted next time it happens. So it can be closed now.

[2021-04-23 05:57] rarvind33 commented on #72
I tried reinstalling with 1.4.7-ubi8 but still see the same error.

Events:
  Type     Reason     Age                From                      Message
  ----     ------     ----               ----                      -------
  Normal   Scheduled  <unknown>          default-scheduler         Successfully assigned gpu-operator-resources/nvidia-driver-daemonset-prkqz to ai-worker-01
  Normal   Pulle

[2021-04-23 14:43] shivamerla commented on #180
Thanks @xhejtman

[2021-04-23 14:43] #180 closed

[2021-04-27 21:14] boniek83 commented on #44
There is still no ServiceMonitor for dcgm-exporter...

[2021-04-27 22:20] shivamerla commented on #44
@boniek83 We currently create ServiceMonitor by default only with OpenShift as necessary CRD's are already present. With K8s, user would need to install required CRD's and create ServiceMonitor resources. It should be done part of Prometheus setup.

[2021-04-28 19:18] boniek83 commented on #44
Since descriptor is already there it would be great to have ServiceMonitor behind some sort of helm flag eg. dcgmExporter.serviceMonitor.enabled = true. It could be be disabled by default. Since my kubernetes cluster is not OpenShift but already has prometheus-operator it would be a time saver.

[2021-04-28 19:43] shivamerla commented on #44
@boniek83 Sure, will look into adding this.

[2021-04-29 07:06] gecube commented on #174
I was hit by the same issue. I used the instructions from https://developer.nvidia.com/blog/announcing-containerd-support-for-the-nvidia-gpu-operator/

[code]

I fixed it by changing the values.yaml file directly in such a manner:

[code]
It's working confguration.

I tried also
[code]
and it didn't work too.
I believe that there is issue with quoting somewhere in helm chart.

[2021-04-29 07:12] kpouget commented on #174
Hello @gecube and @joedborg,

could you try generating the YAML files and share it here (at least the ClusterPolicy):

[code]

[2021-04-29 07:15] gecube opened #181 "Can't install because '--leader-elect' is missing"
### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node?
- [X] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? **I am using containerd**
- [X] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [X] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

What is going on.

1. I took the instructi

[2021-04-29 07:20] kpouget commented on #181
this is failing because the YAML you're using (`master`) doesn't match the operator image (`1.6.2`),
so you would need to
1. undeploy (with helm) what you current have live,
2. delete the CRD `oc --ignore-not-found=true delete crd clusterpolicies.nvidia.com`
2. checkout `1.6.2` tag,
3. redeploy

[2021-04-29 08:47] gecube commented on #181
@kpouget Thanks. I decided to check tags and found 1.6.2 tag of this repo with completely different Helm chart.
Uf... And it helped to deploy. I think it is good idea for developers to follow 'always green master branch principle'.

[2021-04-29 09:05] kpouget commented on #181
I fully agree, I'm actually facing right now a similar issue when trying to deploy the image as a bundle, as this image doesn't exist yet:

https://github.com/NVIDIA/gpu-operator/blob/d1a6787012175a590b1ffea977cd04d889c5a335/bundle/manifests/gpu-operator.clusterserviceversion.yaml#L163

[2021-04-29 11:21] gecube commented on #174
@kpouget
the final cluster policy is here:
[code]

[2021-04-29 16:13] shivamerla commented on #181
@kpouget We have discussed this internally few times, but no clear conclusion yet. Ideally we can maintain an image with tag `latest` which always represents changes from master (i.e it gets updated with every merge). Hopefully we will add this soon, so we can use this with helm charts/CSV files etc in master branch.

[2021-04-29 16:13] #181 closed

[2021-04-29 16:16] shivamerla commented on #174
@gecube I think it has to do with quotes required around boolean values in ENV. Will fix the documentation. Please try with

[code]

[2021-04-29 17:09] kpouget commented on #181
@shivamerla yes an image tagged `latest` or anything similar would be the best, that's easy to automate with tools like `Quay.io`, I've started using it in the CI for nightly testing

[2021-05-04 07:01] jrabary opened #182 "How to keep custom daemon.json ?"
The gpu-operator changes the /etc/docker/daemon.json to add the nvidia-runtime automatically. But the downside is that it removes all custom configuration written in this file.
Specifically we would like to add the following lines to our `daemon.json`

[code]

How to tell gpu-operator to not remove these lines ?

[2021-05-04 13:30] elezar commented on #182
Hi @jrabary the operator should be updating the docker config on the host and applying only the changes required to ensure that the nvidia-container runtime is used while maintaining other options.

What version of the operator are you seeing this behaviour in and could you provide the contents of your `/etc/docker/daemon.json` file before and after applying the configuration with the operator?

[2021-05-04 17:02] ashrafgt opened #183 "List the Nvidia GPU device IDs used by a given pod/container"
### Issue Summary:
Is it possible to somehow list the Nvidia GPU device IDs used by a given pod/container when using `gpu-operator`? If not, could there be a way to do this when using `k8s-device-plugin`?

### Side Note:
I realize it's possible to serve that information from inside the pod/container to `/metrics` for Prometheus to scrap, but I'm looking for a solution that doesn't require modifyin

[2021-05-04 18:15] klueska commented on #183
Neither the operator or the plugin has this information. Only the kubelet holds this state. There may be an actual API for this, but the info can be seen on any individual node by running the following:
[code]

[2021-05-04 23:29] dualvtable commented on #183
Hi @ashrafgt - yes, this is possible to do using the new `podresources` in Kubernetes. You would have to mount the `/var/lib/kubelet/pod-resources` socket and then call the APIs to gather the devices assigned to the containers in each pod. An implementation example is here in the `dcgm-exporter`:
`https://github.com/NVIDIA/gpu-monitoring-tools/blob/master/pkg/kubernetes.go#L69`

However, the pod<-

[2021-05-05 00:50] ashrafgt commented on #183
Thank you for the info @klueska

That's great to hear @dualvtable! Thank you.

I do have `dcgm-exporter` deployed and I'm accessing its exposed data using promethus via the `/metrics` endpoint. What I'm getting does comtain info about each GPU in each node, but no information about other workloads running on GPUs.

So I'll look more into accessing that information through the exporter and hopefull

[2021-05-05 10:56] ashrafgt commented on #183
@dualvtable Just found out the issue in our setup. When running on GKE, the exporter doesn't seem to find information about the pods/containers.

For example, this is an excerpt of the output of a query to `/metrics` on GKE:
[code]

But when testing on a local k3s cluster:
[code]

The setup is the same. A one-node cluster with `dcgm-exporter` running on it, and a one replica deployment.

Is GKE re

[2021-05-05 15:45] Jase254 opened #184 "Support for Nvidia Drivers Version 460.32.03+ on RHEL 7.9"
### 1. Issue or feature description
Seem to be running into issues when trying to install Nvidia Drivers 460.32.03+ on RHEL 7.9. The only possible GPU node type on ROKS (IBM Cloud hosted Redhat Openshift) is a bare metal node, with RHEL 7 installed.

When trying to install Nvidia GPU Operator version `1.6.2` the `nvidia-driver-daemonset` pod, the image that is trying to be pulled is `460.32.03-rhe

[2021-05-05 16:34] joedborg commented on #126
Hey all, has the official build been release yet?

[2021-05-05 16:40] IvanJosipovic commented on #126
+1 awaiting this feature.

[2021-05-05 16:42] shivamerla commented on #126
Sorry, release has been pushed out by two weeks, due to addition of other important features required for MIG configurations.

[2021-05-05 16:44] shivamerla commented on #184
@Jase254 We do not support `460.32.03` on RHEL7 with operator. Please use `450.80.02` image. Also, if using latest 1.6.2 version make sure to change CRI-O config to update hooks_dir: https://github.com/NVIDIA/gpu-operator/issues/172

[2021-05-05 18:30] Jase254 commented on #184
Hi @shivamerla ! Thank you for the quick response!

Ok then the driver level for ROKS deployments can only be 450.80.02 and below, as RHEL 7 is the only OS they offer GPU hardware on.

Again, appreciate the feedback!

[2021-05-05 18:44] d-m opened #185 "Feature Request: add option to deploy `PodSecurityPolicy` for driver daemonset via Helm Chart"
After deploying the gpu-operator Helm chart on a cluster with pod security policies enabled, adding a GPU instance to the cluster results in the following events:

[code]

Adding a `PodSecurityPolicy` with these permissions and associated `Role` and `RoleBinding` for the `nvidia-driver` service account fixes the issue.

[2021-05-05 20:07] shivamerla commented on #185
@d-m This is one the feature that will be part of 1.7.0 release. Its still in review: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/207

Is it possible for your to validate with private build on your system?

[2021-05-05 20:16] d-m commented on #185
Thanks @shivamerla! Yes I can do that. I'll try today or tomorrow.

[2021-05-05 20:18] shivamerla commented on #185
Thanks @d-m. Please make sure to delete old clusterpolicies CRD's, gpu-operator clusterroles/bindings before you deploy this, just in case if they are lying around.

[2021-05-05 22:06] d-m commented on #185
I tried installing the operator from [your branch specified in the MR](https://gitlab.com/shivamerla/gpu-operator/-/tree/enable_psp) and received the following error:

[code]

When I deleted the `--leader-elect` flag from the template, I got a new error:

[code]

I verified that the downward API was configured in the deployed pod security policy, however it looks like there are some other changes

[2021-05-05 22:29] shivamerla commented on #185
you would need to build a private image from master branch. Or you can use `quay.io/shivamerla/gpu-operator:psp` image.

[2021-05-05 22:39] Jase254 commented on #184
Hi @shivamerla ! Again, thank you for your help! I had a question, maybe you have some insight. I am trying to install cuda version 11.2, which is compatible with 450.80.02, according to https://docs.nvidia.com/deploy/cuda-compatibility/index.html#cuda-application-compatibility.

This is the current helm install command I am using and this give me cuda 11.1
[code]

Appreciate any pointers you migh

[2021-05-06 13:25] d-m commented on #185
@shivamerla I'll try that today.

[2021-05-06 13:59] d-m commented on #185
Looks like the new helm chart deploys successfully once I used the updated image.

However, now I'm running into the following error with the nvidia-device-plugin-daemonset:

[code]

This might be unrelated, so I'll double check the documentation to make sure I didn't miss something.

[2021-05-06 14:02] shivamerla commented on #185
@d-m  Thanks for checking. Please make sure right runtime is passed during install with `--set operator.defaultRuntime=" with either `docker` or `containerd`.

[2021-05-06 14:22] d-m commented on #185
I have it set to containerd and the toolkit seems to complete successfully:

[code]

[2021-05-06 14:32] shivamerla commented on #185
Do you see `nvidia` runtimeClass object created in `gpu-operator-resources` namespace and `[plugins.cri.containerd.runtimes.nvidia]` stanza set in /etc/containerd/config.toml?

[2021-05-06 14:56] d-m commented on #185
Yep! However, we deploy the cluster with kops and it looks like kops uses /etc/containerd/config-kops.toml for its containerd configuration. I copied the configuration that the container-toolkit container put in config.toml to config-kops.toml, reloaded the containerd config, and the device-plugin container ran successfully.

Is it possible to override the containerd config location via the helm c

[2021-05-06 15:02] shivamerla commented on #185
Yes, you can pass `--set toolkit.env[0].name=CONTAINERD_CONFIG --set toolkit.env[0].value="path"`

[2021-05-06 15:02] d-m commented on #185
Just found that in the codebase as you commented. I'll give it a shot

[2021-05-06 15:10] d-m commented on #185
That did the trick, thanks for your help!

[2021-05-06 18:07] ashrafgt commented on #183
It seems that adding the argument `--kubernetes-gpu-id-type device-name` to the `dcgm-exporter` does it.

On GKE, apparently, the pod resource API does not return a value for the GPU's `uid` (which is the default value for the argument), and that's why the information about the pods and containers was getting skipped.

[2021-05-06 18:07] #183 closed

[2021-05-07 21:55] amrmahdi opened #186 "gpu operator does not reconcile cluster policy to update managed daemonsets"
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description

The gpu-operator does not reconcile the clusterpolicy updates applied to the cluster. For example if you update the helm chart values to specify a different image

[2021-05-08 11:40] MartinForReal opened #187 "Add support for fabric manager"
### 1. Issue or feature description
As a cluster admin I want to use container to install fabric manager.

[2021-05-11 05:28] shivamerla commented on #186
@amrmahdi The main reason for not adding any `update` logic within gpu-operator is due to `driver` container. We cannot let driver container restart  on the fly as it will cause the bind mounted driver install path on host (/run/nvidia/driver) to become stale and would require a node reboot. Another reason is Helm itself doesn't support upgrade of CRD's. Due to this restriction, we always recommen

[2021-05-11 13:11] amrmahdi commented on #186
Thanks for the explanation. Is this recommendation documented somewhere?

The CRD resources deployed by users can be updated though, and hence the user should expect that they are reflected. If specific parts of the specs can not be updated, like the driver example you mentioned, it would be clearer if these parts of the spec are immutable, and if the user try to update them would result in an err

[2021-05-11 14:14] shivamerla commented on #186
@amrmahdi  Its captured here: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/release-notes.html#operator-known-limitations.

Yes, once we get driver upgrades to work, rest should be easily handled. We have this in roadmap already.

[2021-05-12 05:37] null-d3v opened #188 "Uninstall persists `containerd-template.toml` changes"
### Issue or feature description
After uninstalling the helm chart, my `containerd-template.toml` remained altered. Specifically the `default_runtime_name` was yet `nvidia`. In my particular case this caused Emby pods to fail to start with the following:
[code]

Manually resetting the `containerd-template.toml` resolved the issue, though this is something that I would expect to be managed by a sta

[2021-05-12 20:29] xhejtman opened #189 "GLX support"
Hello,

is it possible to run GLX application and stream it to a client that would use nvidia acceleration if gpu-operator is deployed? Does exist anything that could be used?

I would like to stream e.g., tuxracer game to a client (browser preferred) from kubernetes container. Is it currently possible?

[2021-05-13 16:25] rspierz opened #190 "GPU install on OpenShift 4.7.9 not working"
Installing Linux kernel headers...
+ dnf -q -y --releasever=8.2 install kernel-headers-4.18.0-240.22.1.el8_3.x86_64 kernel-devel-4.18.0-240.22.1.el8_3.x86_64
**Error: Unable to find a match: kernel-devel-4.18.0-240.22.1.el8_3.x86_64**

Is there any ETA to when this would be resolved?

[2021-05-13 16:44] shivamerla commented on #190
@zvonkok  Can you please check when kernel-headers for this version will be available in EUS repos?

[2021-05-13 17:05] shivamerla commented on #190
@rspierz  Are you seeing this after upgrading cluster from 4.6 to 4.7?

[2021-05-13 17:25] rspierz commented on #190
Correct, it was working fine on 4.6

[2021-05-13 17:29] shivamerla commented on #190
@rspierz  this is a known issue that operator was not updating ENV for already deployed driver containers. We have two options

1. To delete and re-create ClusterPolicy instance
2. To edit 'nvidia-driver-daemonset' to update RHEL_VERSION=8.3 and OPENSHIFT_VERSION=4.7 using "oc edit nvidia-driver-daemonset - n gpu-operator-resources"

This limitation will be fixed from 1.7.0 release.

[2021-05-13 19:56] rspierz commented on #190
Thanks for the info!

I seem to get stuck with CA on dnf?

cuda                                                                                                                                                                                                         0.0  B/s |   0  B     00:00
Errors during downloading metadata for repository 'cuda':
  - Curl error (77): Problem with the SSL CA cert

[2021-05-13 21:13] rspierz commented on #190
Thanks for this information and your speedy help. We are all good - looking forward to the 1.7.0 release

[2021-05-13 21:13] #190 closed

[2021-05-17 16:11] gwisaacs2 opened #191 "Airgap Install Help"
Hello,

Sorry I did not use your issue template because I have some questions with the installation. My situation is a little unique. I’m training AI on an isolated LAN running k3s 1.17. Because we’re using an offline network, we completely air gapped the entire k3s rancher install — not even using helm. We have an NVIDIA DGX running Ubuntu 18.04 with CUDA 11.2 and nvidia-container-toolkit (instea

[2021-05-21 02:25] BiiiGerrr commented on #72
I had the same problem when I deployed JupyterHub.Has this issue been fixed?

[Warning] Error: failed to start container "notebook": Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: process_linux.go:495: container init caused: Running hook #0:: error running hook: exit status 1, stdout: , stderr: /usr/local/nvidia/toolkit/nvidia-cont

[2021-05-21 20:15] shivamerla commented on #191
@gwisaacs2 sorry for the delay, You could still use GPU Operator with air-gapped installs. We are releasing 1.7.0 of operator which lets you by-pass `driver` and `container-toolkit` installation. Since you already have them configured on your node, you can use this option to deploy operator. If you manually download all images required for `1.7.0` release(Refer to all images required here: https:/

[2021-05-22 17:25] olokshyn opened #192 "nvidia-driver-daemonset cannot pull image on Ubuntu 21.04"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-05-24 17:48] shivamerla commented on #192
@olokshyn Ubuntu21.04 has not been officially qualified by us. Will update timeline for this.

[2021-05-24 17:50] shivamerla commented on #188
@null-d3v Can you check the container-toolkit version which had this issue? Also, if you can test this with `v1.7.0` of operator that would be great.

[2021-05-24 17:55] shivamerla commented on #148
@worsco We have released `v1.7.0` of operator which uses latest operator-sdk `v1.4` and readiness probes are moved to `http` based. Also, new channel `v1.7` created and subscription needs to be created with this channel. Existing installed versions have to be uninstalled and new subscription/operator has to be installed.

[2021-05-24 17:55] #148 closed

[2021-05-24 17:57] shivamerla commented on #174
version `v1.7.0` is released now. Please re-open if you see this issue again.

[2021-05-24 17:57] #174 closed

[2021-05-24 18:02] shivamerla commented on #126
@joedborg @IvanJosipovic  `v1.7.0` is released. Please try out with pre-installed drivers/toolkit. Please check [release notes]( https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/release-notes.html#id1) and [documentation](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#bare-metal-passthrough-with-with-pre-installed-nvidia-drivers) for pre-installed use

[2021-05-24 20:52] KetchupBomb opened #193 "Nvidia Driver Pod container for Debian 9"
### 0. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
  - No, we're on Debian 9 (`Linux ip-10-21-245-236 4.9.0-14-amd64 #1 SMP Debian 4.9.246-2 (2020-12-17) x86_64 GNU/Linux`)
- [x] Are you running Kubernetes v1.13+?
  - K8s is running `1.15.12`.
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
  - Client and Server (Community) are on `18.09.3`
- [ ] Do you have `i

[2021-05-24 22:30] shivamerla commented on #193
@KetchupBomb We don't officially support Debian with GPU Operator. Only Ubuntu18.04 and Ubuntu20.04 LTS versions. I suggest you switch to Ubuntu AMI and seems like you were able to get driver installed successfully there. If you still face other operator related issues on Ubuntu20.04 please provide more information on those.

[2021-05-25 16:01] shivamerla commented on #101
@zzh8829 Starting with `v1.7.0` plugin validation pods are run on each GPU node. Please try it out and re-open this if you don't see any issue.

[2021-05-25 16:01] #101 closed

[2021-05-25 16:04] shivamerla commented on #140
@dignajar `v1.7.0` of GPU operator is now released. You can avoid running plugin validation pod by passing options `--set validator.plugin.env[0].name=WITH_WORKLOAD --set-string validator.plugin.env[0].value=false`. Please re-open this if you still face any issues.

[2021-05-25 16:04] #140 closed

[2021-05-25 16:06] KetchupBomb commented on #193
Thank you, @shivamerla. Closing for now.

[2021-05-25 16:07] #167 closed

[2021-05-25 16:07] #162 closed

[2021-05-25 16:09] shivamerla commented on #139
Closing this, please re-open if you still see this with latest operator version.

[2021-05-25 16:09] #139 closed

[2021-05-25 16:11] shivamerla commented on #133
@hbahadorzadeh can you try out `v1.7.0` and check if the validation pod still crashing?

[2021-05-25 16:18] #113 closed

[2021-05-25 16:20] shivamerla commented on #69
@ElisaMeng @corbanvilla  Can you try with `v1.7.0` and verify if you are still seeing this issue?

[2021-05-25 16:21] #30 closed

[2021-05-25 16:21] #7 closed

[2021-05-25 16:24] shivamerla commented on #26
@BarthV @silashansen Tolerations are configurable for all GPU Operator components via Helm values.yaml. Default toleration added to all components is

[code]

[2021-05-25 16:24] #26 closed

[2021-05-25 16:25] #62 closed

[2021-05-25 16:26] shivamerla commented on #54
Closing this as current GPU operator satisfies this requirement.

[2021-05-25 16:26] #54 closed

[2021-05-25 16:26] #33 closed

[2021-05-25 16:27] #18 closed

[2021-05-25 16:27] #65 closed

[2021-05-25 16:28] #124 closed

[2021-05-25 16:28] #165 closed

[2021-05-25 16:29] shivamerla commented on #117
Closing this with complete MIG manager support with version `v1.7.0`

[2021-05-25 16:29] #117 closed

[2021-05-25 22:07] d-m opened #194 "The CustomResourceDefinition "clusterpolicies.nvidia.com" is invalid: metadata.annotations: Too long: must have at most 262144 bytes"
I get the following error when applying the custom resource definition for clusterpolicy objects:

[code]

After researching some, it seems like this is due to the annotations placed on the CRD resource when using `kubectl apply` (see https://github.com/kubernetes-sigs/kubebuilder/issues/1140#issuecomment-561729237). I verified that using `kubectl create` works, however I'm concerned that updating

[2021-05-25 23:21] shivamerla commented on #194
@d-m Since the ClusterPolicy spec handles creation of eight Daemonsets, size of the CR has become huge. Yes, the limitation with `last-applied-configuration` annotation will break upgrades. Since all Daemonset values needs to be configurable, not sure we can overcome this with single CRD we have. eg driver spec is below:

[code]

With the limitation on max size of CR(which will end up in `last-app

[2021-05-26 09:20] dignajar commented on #140
Super! I will test it.
Thank you guys!

[2021-05-26 09:47] koflerm opened #195 "Changing provided DCGM-exporter metrics"
Hello Team,

For our GPU monitoring solution we would like to expose some additional metrics provided by the DCGM API. For this purpose, I changed the file /etc/dcgm-exporter/dcp-metrics-included.csv to also include those metrics by creating a config map and adding my custom file to the dcgm-exporter daemonset. This work as expected but my problem is the dcgm-exporter daemonset and the dcgm-export

[2021-05-26 11:26] anneum opened #196 "Error unknown field "priorityClassName""
### 1. Issue or feature description
I install the the gpu-operator via helm as part of the [deepops](https://github.com/NVIDIA/deepops/) scripts and got the same error as described in #126. Thankfully @shivamerla has mentioed, that this behavior should be fixed with 1.7.0. If I try to install 1.7.0 I get the following error:
[code]
OS Ubuntu 20.04

### 2. Steps to reproduce the issue
```/usr/local

[2021-05-26 15:18] null-d3v commented on #188
I wish I had saved the logs including the toolkit version as I have unfortunately since rebuilt the cluster. However I can confirm that a helm uninstall absolutely worked as expected with `v.1.7.0`. Thank you!

[2021-05-26 15:18] #188 closed

[2021-05-26 16:33] shivamerla commented on #196
@anneum Helm doesn't support upgrade of CRD's, so we should manually delete existing clusterpolicies CRD before install again. Also, currently operator doesn't support upgrade of already deployed components due to limitations with driver container, that it cannot restart on the fly and node reboot is required. We will add the upgrade support in future releases, meanwhile please follow these steps:

[2021-05-26 18:45] anneum commented on #196
@shivamerla thank you for your help. I deleted the CRD and the installation went one step further.
Now only the `nvidia-device-plugin-validator-8fbmn` pod stuck in `Init:CreateContainerError`.
[code]
Did I forget something?

[2021-05-26 19:29] shivamerla commented on #196
I see that you have driver disabled with `--set driver.enabled=false` but still `--nvidia-driver-root` is set to `/run/nvidia/driver`. You need to omit nvidia-driver-root setting as gpu-operator will add this appropriately.

[2021-05-27 21:24] zzh8829 commented on #101
thanks that should fix the issue!

[2021-05-28 05:05] tusharrobin opened #197 "nvidia pods for driver, device plugin, dcgm exporter, feature discovery in crash loop after host reboot"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? => Centos 7.9
- [x ] Are you running Kubernetes v1.13+?  => v1.20.5
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? ==>   19.03.6
-

[2021-05-28 10:27] anneum commented on #196
@shivamerla I followed your instructions and the pods created successfully. Thanks a lot for that!

I have one last question. Why is `"nvidia.com/mig.strategy": "single"` and not mixed if I do a `kubectl get node -o json | jq '.items[].metadata.labels'`?

`helm install nvidia-gpu-operator nvidia/gpu-operator --version 1.7.0 --set driver.enabled=false --set mig.Strategy=mixed --set operator.default

[2021-05-28 13:19] shivamerla commented on #196
@anneum  Looks like there is a typo during install. it should be `mig.strategy=mixed` with lowercase `strategy`. After this, please add the required MIG config label to the node for MIG manager to apply that config. `kubectl label node <node-name> nvidia.com/mig.config=<config-name> --overwrite`. All supported configs are in the ConfigMap mig-parted-config under `gpu-operator-resources` namespace.

[2021-05-28 14:11] tusharrobin commented on #197
@shivamerla I am using toolkit.version=1.4.0-ubi8. I am using 1.4.0 since I faced glibc issues mentioned in https://github.com/NVIDIA/gpu-operator/issues/72 when using default toolkit version shipped with 1.7.

[2021-05-28 14:28] bstrdsmkr commented on #197
I'm working through this same problem after attempting an upgrade from helm chart version 1.6.0. I had this working using the 1.4.7-ubi8 toolkit. FYI, the available toolkit versions can be found here: https://hub.docker.com/r/nvidia/container-toolkit/tags?page=1&ordering=last_updated

It looks like 1.5.0 is the most recent. Theoretically, the "-ubi8" images are what you need for CentOS, though you

[2021-05-28 14:42] shivamerla commented on #197
Yes, thats the best option to switch to `1.5.0-ubi8` toolkit version. To recover from current state, you can change default-runtime to `runc` in docker daemon.json and restart docker. Toolkit will set the runtime again on startup.

[2021-05-30 07:40] hbahadorzadeh commented on #133
@shivamerla thanks for following up the issue.

We solved our problem and the issue is not related to GPU-operator or Nvidia-drivers.
It was VmWare problem on pass-through vga.
The problem solved by adding "hypervisor.cpuid.v0=false"  to vm options.
I should say that if you add that option to your vm your linux won't boot up unless you change the number of vcpu  to one!
I tried to boot my Ubuntu w

[2021-06-01 11:19] anneum commented on #196
@shivamerla Now it works. Thanks again.

[2021-06-01 11:19] #196 closed

[2021-06-01 13:49] drawsmcgraw commented on #152
@shivamerla Thanks for the attention to this issue. Just adding my +1 here. Would love to see this "just work".

[2021-06-01 16:28] shivamerla commented on #152
@drawsmcgraw @voor Sorry for the delay on this. Can you try to create a ConfigMap(say repo-config) in `gpu-operator-resources` namespace using hosts `/etc/apt/sources.list` file and install operator passing `--set driver.repoConfig.ConfigMapName=repo-config --set driver.repoConfig.destinationDir=/etc/apt/sources.list.d`

[2021-06-01 16:31] shivamerla commented on #153
@voor We have made changes to use just `image` if `version` and `repository` are empty. But we will still have issues with driver image as os-tag is appended to the image name dynamically based on the node OS version. (i.e either ubuntu20.04, rhcos4.7 etc). Need to look closer into how kbld tools can handle this.

[2021-06-01 16:38] shivamerla commented on #195
@koflerm Currently since we don't update existing resources, your approach looks fine. Adding a new option during Operator install to provide ConfigMap as input to DCGM Exporter makes sense. GPU operator can mount this appropriately and pass `-f <metrics file path>` args automatically to DCGM exporter. When we support that, you can change to use that option.

[2021-06-01 16:43] shivamerla commented on #192
@olokshyn Since `Ubuntu21.04` is not an LTS release, we will not be adding support for this. Our next official support would be with `Ubuntu 22.04 LTS`.

[2021-06-02 08:23] sandrich opened #198 "OpenShift 4.7 OLM GPU Operator 1.7 availability"
When will the new GPU Operator v1.7 be available in OpenShift 4.7 OLM?

[2021-06-02 14:51] shivamerla commented on #198
@sandrich 4.7 is already published to RH Catalog. Please edit the subscription to use `v1.7` channel. We will be publishing all v1.7.x updates through that channel.

[2021-06-02 14:52] sandrich commented on #198
Perfect thanks

[2021-06-03 17:10] #198 closed

[2021-06-03 17:12] shivamerla commented on #166
@maximveksler Can you please try with new version `v1.7.0` of operator and let us know if you are still hitting this?

[2021-06-03 17:34] maximveksler commented on #166
We've moved to use the driver based install, which seems to be more stable.

[2021-06-03 18:07] damora opened #199 "Redeploy of Nvidia GPU operator fails upon upgrade to OpenShift 4.7.9"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [no ] Are you running on an Ubuntu 18.04 node?
- [yes ] Are you running Kubernetes v1.13+?
- [ yes] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ no] Do you have `i2c_core` and

[2021-06-03 18:11] kpouget commented on #199
Hello @damora,

what version of the GPU Operator is currently installed in your cluster?
only the last one (1.7.0) supports OpenShift cluster upgrade, otherwise the
GPU Operator must be uninstalled (ideally before the upgrade) and
reinstalled afterwards

the logs of the driver container would help understand what is going wrong

On Thu, Jun 3, 2021 at 8:07 PM damora ***@***.***> wrote:

[2021-06-03 18:12] kpouget commented on #199
hum, sorry, I missed the links to the different logs.
Seems to be 1.7.0 as nvidia-operator-validator is there

[2021-06-03 18:44] bstrdsmkr commented on #197
@shivamerla can we reopen this? I'm seeing this issue still on a RHEL 7.9 host with toolkit version 1.5.0-ubi8

[2021-06-03 18:45] shivamerla commented on #199
@damora GPU Operator applies HTTP_PROXY, HTTPS_PROXY, NO_PROXY variables from the cluster-wide proxy object when deploying driver Daemonset. Do you see NO_PROXY was set correctly in cluster-wide proxy, but not with driver Daemonset? other proxy ENV were set correctly?

Can you paste driver container logs indicating failure installing kernel packages?

[2021-06-03 18:46] shivamerla commented on #197
@bstrdsmkr sure, i will re-open this. So, the solution works only with `1.4.7-ubi8` toolkit version?

[2021-06-03 18:49] bstrdsmkr commented on #197
RHEL 7.8 worked with 1.4.7-ubi, but neither appears to work with RHEL 7.9 sadly :(

[2021-06-03 18:53] shivamerla commented on #197
got it. seems like RHEL7.9 GLIBC version doesn't match with one packaged with either of those toolkit images. statically linking nvidia-container-cli will be the proper fix for this. Will try to get this fixed soon.

[2021-06-03 19:11] kpouget opened #200 "bundle/1.7.0 missing"
The directories containing the copy of the bundle manifest v1.7.0 (`bundle/1.7.0`) hasn't been created

[2021-06-03 19:15] damora commented on #199
In  cluster-wide proxy object:
  spec:
  httpProxy: http://10.0.5.50:3128
  httpsProxy: http://10.0.5.50:3128
  noProxy: foccluster.com,foc.foccluster.com
  trustedCA:
    name: ""
It is not set correctly in the driver Daemonset. We added 172.30.0.1 since it was trying to use that ipaddr. I think this is a hack that ultimately will not work but we were just experimenting.
[driver-daemonset.txt](ht

[2021-06-03 19:22] damora commented on #199
@kpouget
kind: ClusterServiceVersion
      name: gpu-operator-certified.v1.7.0
      namespace: openshift-operators
    - apiVersion: operators.coreos.com/v1
      kind: OperatorCondition
      name: gpu-operator-certified.v1.7.0
      namespace: openshift-operators

[2021-06-03 19:29] kpouget opened #201 "PROJECT `version: 3-alpha` is deprecated"
`version: 3-alpha` is deprecated for Operator-SDK [PROJECT](https://github.com/NVIDIA/gpu-operator/blob/9aad14f7f4073e77b2be5aa345d5e85d99ce501c/PROJECT#L10),

Recent versions of `operator-sdk` refuse to deploy the GPU Operator bundle because of that,
they suggest using [`operator-sdk alpha config-3alpha-to-3`](https://sdk.operatorframework.io/docs/cli/operator-sdk_alpha_config-3alpha-to-3/) to co

[2021-06-03 20:18] shivamerla commented on #199
@damora we might need to add the kubernetes service cluster-ip to the NO_PROXY in cluster-wide proxy.

[code]

Regarding second issue, can you double check if cluster is property entitled?
https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html

[code]

[2021-06-03 20:40] damora commented on #199
the pod failed to pull image:Events:
  Type     Reason          Age                From               Message
  ----     ------          ----               ----               -------
  Normal   Scheduled       92s                default-scheduler  Successfully assigned gpu-operator-resources/cluster-entitled-build-pod to smicro06
  Normal   AddedInterface  91s                multus             Add

[2021-06-03 21:25] shivamerla commented on #199
@damora  you might need to pass proxy ENV to this pod as well:

[code]

[2021-06-03 21:55] shivamerla commented on #201
PTAL: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/237

[2021-06-04 12:52] bstrdsmkr commented on #197
@shivamerla thanks for that!

I'm definitely not great with makefiles, but looking at this comment: https://github.com/NVIDIA/libnvidia-container/issues/81#issuecomment-751505203 and this makefile: https://github.com/NVIDIA/libnvidia-container/blob/master/Makefile it looks to me like I could build a custom image by cloning the repo and running `make -f mk/docker.mk centos7 BIN_LDLIBS='-l:$(LIB_STA

[2021-06-04 13:24] damora commented on #199
same issue as before:Events:
  Type     Reason          Age                From               Message
  ----     ------          ----               ----               -------
  Normal   Scheduled       51s                default-scheduler  Successfully assigned gpu-operator-resources/cluster-entitled-build-pod to smicro06
  Normal   AddedInterface  49s                multus             Add eth0 [1

[2021-06-04 15:45] shivamerla commented on #199
@damora you will need to add `imagePullPolicy: IfNotPresent` as i have added in my comment above.

[2021-06-04 15:52] shivamerla commented on #201
Updated project spec.

[2021-06-04 15:52] #201 closed

[2021-06-04 17:14] damora commented on #199
oc logs cluster-entitled-build-pod
Updating Subscription Management repositories.
Unable to read consumer identity
Subscription Manager is operating in container mode.
Red Hat Enterprise Linux 8 for x86_64 - BaseOS  0.0  B/s |   0  B     00:00
Errors during downloading metadata for repository 'rhel-8-for-x86_64-baseos-rpms':
  - Curl error (7): Couldn't connect to server for https://cdn.redhat.com

[2021-06-04 17:34] shivamerla commented on #199
@damora There seems to be a proxy issue going on here. Can you work with RH support to resolve it. That should help driver container to pull/install necessary kernel-headers/kernel-devel packages.

[2021-06-04 17:42] damora commented on #199
why did this start with 4.7.9? GPU install was working before that and nothing has changed regarding cluster DNS, DHCP, or HTTP servers

[2021-06-04 18:00] shivamerla commented on #199
only change with driver container in `v1.7.0` is to fetch cluster version to add correct OCP EUS repos. This needed change to NO_PROXY variable in cluster-wide proxy before deploying operator. After this is fixed, looks like its now failing to actually reach any of the package repositories through proxy. Given that CRI-O is not able to pull images as well, there seems to be a proxy issue introduce

[2021-06-04 21:41] shivamerla commented on #197
I will let @klueska @elezar comment on this.

[2021-06-05 18:14] zbsarashki opened #202 "Pulling from a private repo with imagePullSecrets fails."
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ x] Are you running Kubernetes v1.13+?
- [ x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
Greetings,

This is part of p

[2021-06-05 18:29] shivamerla commented on #202
@zbsarashki you will need to create registry-secret in `gpu-operator-resources` namespace too as driver Daemonset is deployed there. Also, GPU operator appends os-tag(ubuntu20.04 etc) to the provided image `version`. So please check if the image is pushed with appropriate tag as required. If you describe the Daemonset, it will indicate the actual tag its looking for.

[2021-06-05 19:00] zbsarashki commented on #202
@shivamerla Thanks. That works. The image is pushed with driver:version>-stx4-centos7.

[2021-06-05 19:00] #202 closed

[2021-06-06 22:34] xhejtman opened #203 "GPU sharing among pods"
Hello,

is it possible to share single GPU among several pods? There are some existing hacks mostly deploing NVidia driver on their own. Would it be possible to request only a fragment of GPU mem, e.g.? How about two pods that have to share the same GPU? (E.g., running xserver in one pod and desktop in another, they need to share the same GPU othervise GLX does segfault)

[2021-06-07 09:04] elezar commented on #197
@bstrdsmkr unfortunately defining the contents of the make variables from the command line as you propose will not work as these are not conditionally set in the make files.

If you are building a custom image, what would be the reason for building statically? Would the `centos7-x86_64` target not be sufficient in your case or is static linking a must-have even if you are able to produce a compati

[2021-06-07 09:37] kpouget commented on #201
Thanks @shivamerla,
for reference, the message I was seeing was this one, with `operator-sdk` v1.8.0:
[code]

[2021-06-07 14:53] shivamerla commented on #203
@xhejtman It's not possible to share GPU's among Pods through device-plugin. It's possible only with NVIDIA Ampere architecture GPU's (such as NVIDIA A100) using MIG where GPU's can be partitioned into multiple instances and each instance can be assigned to a different Pod: https://developer.nvidia.com/blog/getting-kubernetes-ready-for-the-a100-gpu-with-multi-instance-gpu/

[2021-06-07 15:34] xhejtman commented on #203
With MIG, the card is actually partitioned and no real sharing happnes, isn't it?

I wondered whether something like this:
https://blog.ml6.eu/a-guide-to-gpu-sharing-on-top-of-kubernetes-6097935ababf

or better this:
https://partners-intl.aliyun.com/help/doc-detail/163996.htm

could be implemented in gpu operator, i.e., request a portion of gpu memory instead of gpu instance itself:

resources:

[2021-06-07 16:57] bstrdsmkr commented on #197
@elezar The problem I'm trying to solve is the toolkit crashlooping:
[code]

This is a CentOS 7.9 node using either to 1.4.7-ubi8 or 1.5.0-ubi8 toolkit images. On CentOS 7.8, 1.4.7-ubi8 worked fine, but it appears that none of the ubi images are linked against CentOS 7.9's glibc 2.17:
[code]
[code]
I take from this thread: https://github.com/NVIDIA/libnvidia-container/issues/81#issuecomment-751711

[2021-06-07 22:42] tusharrobin opened #204 "Question: Get allocated GPU IDs for pod"
Is there a way to get allocated GPU IDs for each pod? CPU manager provides this in cpu_manager_state file where it stores CPU IDs for each guaranteed pod.

[2021-06-08 06:27] pohsienshih opened #205 "NVIDIA Driver Could not resolve Linux kernel version on CentOS 7.9 Kernel 5.4."
### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node?  =>   No, CentOS 7.9.
- [X] Are you running Kubernetes v1.13+?  =>  Yes, Kubernets v1.19.9.
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? =>  CRIO 1.19.1.
- [X] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes? =>  No
- [X] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespa

[2021-06-10 10:32] GuoLiuFang commented on #140
Does it work?

[2021-06-10 13:09] dignajar commented on #140
I tested in my SBX environment and I have some issue with a missing Docker image `nvidia/driver:460.73.01-centos7`. I didn't have the time to follow the installation, but looks like is missing that image for Centos7.

[2021-06-10 18:33] rspierz opened #206 "1.7.0 on Openshift 4.7.13 Driver install issue"
Vanilla install with proxy and CA.

I think the CA injection is still not formatted correctly when there is an existing CA added to your trusted bundles

`-----END CERTIFICATE-----# ACCVRAIZ1
-----BEGIN CERTIFICATE-----`

is the issue.

I removed the ca mount from the driver daemon set but still seem to be stuck on yum install of the packages.

`Updating Subscription Management repositories.
Unabl

[2021-06-10 19:26] shivamerla commented on #206
@rspierz Did you check that cluster is entitled properly? thats the next usual suspect

[2021-06-10 20:52] rspierz commented on #206
Ah yup that was it seems the old entitlement used expired.

I will open a bug report with RH and see if we can get root cause on the CA issue.

Thanks

[2021-06-11 07:45] GuoLiuFang commented on #126
![image](https://user-images.githubusercontent.com/10841581/121649789-7ed51e00-cacb-11eb-920b-fa43bdb11f03.png)

![image](https://user-images.githubusercontent.com/10841581/121650356-133f8080-cacc-11eb-9764-08c08f394780.png)

[2021-06-11 07:49] dignajar commented on #140
Works perfect! but I had to set the old drivers for my Centos.

I have differents node selectors and taints, this are my values:

[code]

[2021-06-11 16:51] joedborg commented on #126
Hi @GuoLiuFang, please see this branch https://github.com/ubuntu/microk8s/pull/2149.  From there you can grab the built .snap from https://github.com/ubuntu/microk8s/pull/2149/checks?check_run_id=2804915041 (once it's finished building) and that should give you the most up-to-date operator.

[2021-06-12 20:00] zbsarashki opened #207 "containerd config.toml"
when setting default runtime to containerd, the nvidia-toolkit from container-toolkit overrides containerd/config.toml and restarts the daemon. Is there an option for the toolkit to not alter config.toml. Use case is that the containerd has already been configured and includes a number of other changes and we cannot restart it.

[2021-06-14 08:34] sergioperez opened #208 "GPU Operator being OOMKilled in a loop"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [N] Are you running on an Ubuntu 18.04 node?
- [Y] Are you running Kubernetes v1.13+?
- [N] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [N] Do you have `i2c_core` and `ipmi_msg

[2021-06-14 09:04] elezar commented on #207
Hi @zbsarashki. Thanks for the request.

I have some clarifying questions:

The modifications that the toolkit container make to the config file should be limited to setting up the NVIDIA Container Runtime to be used with containerd. These should not affect other settings. If you don't want the default runtime to be changed, launching the operator with:
[code]

Since you mention that your containe

[2021-06-14 16:29] shivamerla commented on #208
@sergioperez We deploy with memory limit of 100MB and this should be sufficient to deploy all resources. Most of the time we have seen it using ~50MB. Is this a large cluster? I see from the last log message that its trying to fetch all nodes with GPU's for labels.

[2021-06-14 18:23] zbsarashki commented on #207
Hi @elezar

I am seeing two problems here.

1 - helm install ... --set toolkit.env[0].name=CONTAINERD_SET_AS_DEFAULT --set toolkit.env[0].value=false fails with:

           spec.toolkit.env.value in body must be of type string: "boolean"

2 - Changing it to: --set toolkit.env[0].name=CONTAINERD_SET_AS_DEFAULT --set-string toolkit.env[0].value=false or setting in the values.yaml:
....
`toolkit:`

[2021-06-15 08:06] sergioperez commented on #208
@shivamerla Thanks for your answer!

The cluster has two GPU worker nodes, and a combination of 10 non-gpu nodes, counting master, infrastructure and worker nodes.

[2021-06-15 11:55] elezar commented on #207
Thanks for trying out the suggestion @zbsarashki

I think @shivamerla should have more experience in setting the options for the various components.

[2021-06-15 23:10] shivamerla commented on #208
@sergioperez can you try to schedule gpu-operator pod onto a different master node and check if the issue is persistent? We were not able to reproduce this issue locally when 2 GPU nodes, if its persistent we will look into publishing new CSV with increased resource limits.

[2021-06-16 06:41] daniel-hutao commented on #205
+1

[2021-06-16 06:41] daniel-hutao commented on #155
#205

[2021-06-16 06:43] daniel-hutao commented on #155
happens also on gpu-operator v1.7.0

[2021-06-16 06:49] apdibbo opened #209 "Pods not schedulable with gpu-operator"
I am having an issue the gpu operator where it looks like the appropriate labelling for assigning GPUs to pods is not added to nodes with a GPU.

I am running kubernetes v1.16.13 on Fedora CoreOS 32 with docker 19.3.11..

Here is the output of the log from  the gpu-operator on the GPU node:
`2021/06/16 06:32:39 Configuration successfully loaded from "/etc/kubernetes/node-feature-discovery/nfd-work

[2021-06-16 10:52] darknao commented on #208
We are encountering the exact same issue on our cluster with the latest version of the operator (1.7.0).
We are on Openshift 4.7.13, with 6 nodes (3 cp, 3 workers) and only 1 of them have a gpu.
According to metrics, the pod seems to go a little bit higher than the limit (104.5M here).
Increasing the memory limit to 150Mi seems to solve this issue.

[2021-06-16 11:13] sergioperez commented on #208
In our case, the peak happens at 139MiB, which is kept for one minute. After that, it goes for a period of time to 101MiB, and finally gets stabilized into 82MiB.

[2021-06-16 14:27] apdibbo commented on #209
After some experimenting, I've found that I dont get this issue with 1.5.2 version of the chart

[2021-06-16 14:35] shivamerla commented on #209
@apdibbo  can you share the logs of gpu-operator pod? The required label by NFD seems to be added fine. Need to check logs on why gpu-operator couldn't add other component labels.

[code]

[2021-06-16 14:59] shivamerla commented on #208
Thanks for confirming. We have published `v1.7.1` with update memory limits to 250MiB.

[2021-06-16 15:01] sandrich commented on #208
Did you publish on operatorhub as well?

[2021-06-16 16:05] shivamerla commented on #208
yes..its been published to RedHat operator catalog. We don't publish to operatorhub.io if you meant that.

[2021-06-17 09:22] darknao commented on #208
We've upgraded our cluster to 1.7.1 and everything looks good so far. No more OOM.
Thanks!  :+1:

[2021-06-17 12:25] rhysjtevans commented on #155
Seeing this as well

[2021-06-17 14:04] shivamerla commented on #208
Thanks for confirming. Closing this issue, please re-open if others seeing this issue again.

[2021-06-17 14:04] #208 closed

[2021-06-17 14:23] rhysjtevans commented on #155
Hi folks, I've got round this by `dnf upgrade -y` as looking through the script it tries to match the hosts kernel version and the version in the repo. I also had to add the repoConfig for the driver as the environment has no internet access.

Strays from this issue but I now get compilation errors.

[2021-06-17 20:33] rhysjtevans opened #210 "driver compilation error"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [X] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? Containerd
- [ ] Do you have `i2c_core` an

[2021-06-18 09:07] daniel-hutao opened #211 "gpu-operator can't running at centos7"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ N] Are you running on an Ubuntu 18.04 node?
- [ Y] Are you running Kubernetes v1.13+?
- [ Y] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ N] Do you have `i2c_core` and `ipmi

[2021-06-18 14:27] kpouget opened #212 "Validation Pod failing to do its job when the driver failed to be removed"
Hello,

we noticed that if for any reason, the kernel driver cannot be removed when the GPU Operator is uninstalled,
the validation Pod will lift the `driver` barrier right away (`nvidia-smi` works), allowing the other operands to run.

Because of these operands keeping the driver busy, the driver-container will not be able to remove the old driver, and thus will fail forever to load the new one.

[2021-06-18 14:40] shivamerla commented on #212
@kpouget this is one of the reason to require a host reboot after gpu-operator is un-installed, before re-installing again. bind mount of `/run/nvidia/driver` would be stale as old container died/restarted, but nvidia-smi still works with chroot. Even if we add the version check, it would be same too if we are re-installing with same driver version. Also, in some cases even when driver modules wer

[2021-06-18 14:41] shivamerla commented on #199
@damora any further update on this? Were you able to verify entitlements and get driver install working?

[2021-06-18 15:24] damora commented on #199
still trying to debug this. It appears that the running container cannot access nvcr.io/v2 via the proxy. If I login into proxy server and then curl nvcr.io, I can access, but from within the running container I cannot.

[2021-06-21 17:17] shivamerla commented on #203
@xhejtman after talking to internal folks looks like this is officially not supported. MPS is other way to achieve this, but currently not supported with GPU operator: https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.pdf

[2021-06-22 03:09] aipredict opened #213 "nvidia-driver-daemonset always fails on Ubuntu 20.04.2"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-06-23 11:55] aipredict commented on #213
An update: the POD `nvidia-driver-daemonset` will not be created after I install the GPU driver on the host machine, and all  related PODs work well:
[code]

I checked the script of enabling `gpu-operator` in Microk8s, which will set the argument `driver.enabled=true` when the GPU driver installed on the host machine.

The current issue focus on the situation of installing the GPU driver by `gpu-o

[2021-06-23 13:59] janeczku commented on #197
Given that there is no workaround that would allow GPU operator to work on CentOS 7.9, is there a timeline for shipping the fix mentioned [above](https://github.com/NVIDIA/gpu-operator/issues/197#issuecomment-854100357) ?

[2021-06-23 14:07] elezar commented on #197
Hi @janeczku there are some issues with the fix you mention and we are trying to determine what the best way forward is. We will be looking at releasing an opt-in option for an alternative implementation that should also address these issue in the case of the GPU Operator. If you don't mind creating a separate issue that describes your use case and options / features used in GPU containers, we cou

[2021-06-23 14:26] janeczku commented on #197
Hi and thanks for feedback @elezar I am happy to describe the use case but not sure how this is relevant here:
CentOS 7 is explicitly supported by the GPU operator per the [official docs](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#linux-distributions)  . Given that deploying the operator on CentOS 7.9 fails (see OP) i would expect this to be addressed by a b

[2021-06-23 14:47] shivamerla commented on #213
Interesting, the error is not relevant to kernel version. The base image used to build this container is `nvidia/cuda:11.3.0-base-ubuntu20.04` and the first command run(w.r.t packages) is `apt-get update`.  Same works fine with AWS Ubuntu20.04 kernels(eg: 5.4.0-1048-aws). I will check with CUDA team here to verify if this was seen.

[2021-06-24 12:35] elezar commented on #197
@janeczku that's a fair point. We will push out centos7 based images of the toolkit-container for use with the operator as soon as possible. These can then be selected on Centos7 systems by specifying a `toolkit.version` when installing the operator.

[2021-06-24 18:02] damora commented on #199
The error we are seeing is:
state:
      waiting:
        message: 'rpc error: code = Unknown desc = error pinging docker registry nvcr.io: Get "https://nvcr.io/v2/": Method Not Allowed'
        reason: ErrImagePull

Seems to me it can't get to the registry from within the pod. This is not a proxy issue

[2021-06-24 18:12] shivamerla commented on #199
@damora image pull will happen before the container is started, with this error looks like kubelet/CRI-O is not able to pull the image in this case to launch driver container.

[2021-06-24 18:44] damora commented on #199
yes, that is the problem, but why? I can do a podman pull from the node. Shouldn't it work from container?

[2021-06-24 18:50] shivamerla commented on #199
@damora i think there is still confusion here. Within driver container no attempt will be made to reach to `nvcr.io` when it runs.  Here you seem to hit error before launch of driver container itself as image pull is failing by CRI-O. Its proxy config needs to be verified. Once driver container starts, it will then pull RPM packages required to install the driver. We haven't seem to reach that sta

[2021-06-24 18:56] damora commented on #199
@shivamerla the error is occurring in this container:
nvidia-driver-daemonset-2t6fr              0/1     ImagePullBackOff   0          55m

so are you saying that it is not trying to pull the image to start this container?

[2021-06-24 18:59] shivamerla commented on #199
thats not correct :) error is occurring when CRI-O is trying to pull the image to start the container using that image. Thats what the line indicates.

[2021-06-24 19:03] damora commented on #199
crictl pull nvcr.io/v2/driver
FATA[0000] pulling image: rpc error: code = Unknown desc = error pinging docker registry nvcr.io: Get "https://nvcr.io/v2/": Method Not Allowed

How do I fix this? I think somewhere in this issue, somebody suggested that it was a proxy problem but I have verified that I can connect to proxy server. It seems I can't connect to driver registry though.

[2021-06-24 19:05] shivamerla commented on #199
Can you try `crictl pull nvcr.io/nvidia/driver:460.73.01-rhcos4.7`

[2021-06-24 19:08] damora commented on #199
crictl pull nvcr.io/nvidia/driver:460.73.01-rhcos4.7
FATA[0000] pulling image: rpc error: code = Unknown desc = error pinging docker registry nvcr.io: Get "https://nvcr.io/v2/": Method Not Allowed

[2021-06-24 19:11] shivamerla commented on #199
Please open a ticket with RH and share with us. They should be able to resolve this with CRI-O.

[code]

[2021-06-24 19:41] damora commented on #199
@shivamerla I did open a ticket with RH -02949372
They are asking me "Can you let me know if you have the credentials to access the registry nvcr.io/v2?"
why would I have credentials on this registry? I never needed them before.

[2021-06-24 19:43] shivamerla commented on #199
You can let them know that these are public registries and no login is required: https://ngc.nvidia.com/catalog/containers/nvidia:driver

[2021-06-24 20:25] kpouget commented on #199
interesting, it's easy to reproduce on Fc34:
[code]
but
[code]

[2021-06-25 12:20] damora commented on #199
@kpouget is fc34 the build version of OpenShift or something else?

[2021-06-25 13:05] kpouget commented on #199
@damora no, sorry, it's Fedora 34

[2021-06-25 17:17] damora commented on #199
@kpouget I am running std Openshift worker nodes so coreos. Not sure how similar that is to FC34. my proxy server is running CentOS8. Not sure if that matters. It is actually running in a VM.

[2021-06-25 18:17] kpouget commented on #199
hum, forget my non sense, I thought I was seeing the same problem with my local crio, but it must only be that I don't have crio daemon running ...

[2021-06-25 19:15] damora commented on #199
is there supposed to be http/https env vars set on workers in one of the files in /etc/systemd/system/crio.service.d/*.conf ??
Because I do not have any on my worker nodes
[Service]
Environment=HTTP_PROXY=
Environment=HTTPS_PROXY=
Environment=NO_PROXY=

[2021-06-28 19:11] janeczku commented on #197
Thanks for the clarification @elezar 👍

[2021-06-29 02:52] Kaka1127 opened #214 "Confirm the usage of GPU operator"
Hi Community member,

Please let me confirm the following questions.

1. Regarding to the following documents, it said that we could change the mig profile by editting the label on node.
[GPU Operator with MIG — NVIDIA Cloud Native Technologies documentation](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/gpu-operator-mig.html)
   In case of using the mixed strategy, how we add the l

[2021-06-29 05:12] Kaka1127 commented on #214
I found that the mig profile was register on "ConfigMap". So, I am waiting for answer against for No.2.

[2021-06-29 05:32] Kaka1127 opened #215 "Switch the MIG Strategy after deploying the gpu-opeataor"
Is it possible to swtich the mig strategy after deploying the gpu-operator?

[2021-06-29 06:47] rupang790 opened #216 "GPU-Operator on OKD 4.5 cluster in restricted Network"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [  ] Are you running Kubernetes v1.13+?
- [  ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_m

[2021-06-29 06:55] kpouget commented on #214
Hello @Kaka1127, yes [this ConfigMap](https://github.com/NVIDIA/gpu-operator/blob/master/assets/state-mig-manager/0400_configmap.yaml) is where you can add custom MIG configurations.

Could you share the entry you added there, just for the record?

for 2/, my (unofficial) answer is that it should work, DCGM supports MIG slicing, but I didn't really test it myself

[2021-06-29 07:00] kpouget commented on #215
Hello @Kaka1127,
no, with the current (1.7.x) version of the GPU Operator, changing the MIG strategy isn't supported.
It should work with the next release (1.8) coming this summer, see this [PR](https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/245).

for information: https://www.openshift.com/blog/multi-instance-gpu-support-with-the-gpu-operator-v1.7.0

A workaround to force the

[2021-06-29 07:10] Kaka1127 commented on #215
Hi kpouget

Thank you for your kindly response.
I see. I will check this feature by new release gpu-operator in this summer.

Best regards.
Kaka

[2021-06-29 07:10] #215 closed

[2021-06-29 08:07] gheilper opened #217 "test"

[2021-06-29 08:11] #217 closed

[2021-06-29 14:21] shivamerla commented on #216
Can you attach logs of gpu-operator pod to debug?

[2021-06-29 17:40] #200 closed

[2021-06-29 17:42] shivamerla commented on #194
fixed with: https://github.com/NVIDIA/gpu-operator/commit/f839a70cde19582d8f77edadaf111fc8792a967a

[2021-06-29 17:42] #194 closed

[2021-06-29 17:43] kpouget commented on #200
https://github.com/NVIDIA/gpu-operator/tree/master/bundle/1.7.0

[2021-06-29 17:43] shivamerla commented on #182
closing this as answer is provided by Evan. Please re-open if you have further questions.

[2021-06-29 17:43] #182 closed

[2021-06-29 17:43] #187 closed

[2021-06-30 00:27] rupang790 commented on #216
@shivamerla, Sorry I forgot to attach the logs of gpu-operator pod.
[gpu-operator-76d5d98454-6g727-gpu-operator.log](https://github.com/NVIDIA/gpu-operator/files/6737197/gpu-operator-76d5d98454-6g727-gpu-operator.log)

[2021-06-30 00:52] shivamerla commented on #216
@rupang790 Looks like you are installing very old version(--devel). Any reason for that? Its failing because `gpu-operator-resources` namespace is missing. Newer versions create this namespace automatically.

[code]

[2021-06-30 01:22] rupang790 commented on #216
@shivamerla, few weeks ago, I tried to install newer version of gpu-operator(v1.6.0 maybe) on OKD Cluster 4.5.0-0.okd-2020-10-15-235428 and some pods were not running well.( sorry I do not have any logs about that)
Then I installed 1.3.0 and it worked well. That is reason why I am using 1.3.0 on my cluster.

[2021-06-30 15:29] kpouget commented on #187
Hello @shivamerla,

the PR for adding the fabric manager to the driver container is merged (https://gitlab.com/nvidia/container-images/driver/-/merge_requests/116),
but I don't think the GPU Operator has been updated to use the new image, right?

do you think you'll be able to update the `master` with the right image address for us to test it before the operator is released?

[2021-06-30 16:33] shivamerla commented on #187
@kpouget Yes, will look into pushing updated image with fabric-manager support. Testing is underway with private image for this.

[2021-07-02 09:11] reddiablo85 commented on #197
Hi...we encountered this issue with RHEL 7.9 and subsequently updated our nodes to 8.4....same problem occuring....using the "XXXX.ubi" images helped to get the other up but the dcgm-exporter still fails....see below events for the dcgm-exporter:

Events:
  Type     Reason       Age                  From                      Message
  ----     ------       ----                 ----

[2021-07-02 09:26] klueska commented on #197
I evaluated statically linking this binary a few months and there are more issues with doing that than leaving it as a dynamic library abs „bundling“ a specific libc (and other dependencies). I have an internal JIRA with the details of my findings and a proposal due the „proper“ fix.

[2021-07-04 08:18] ziyi-bear opened #218 "enable gpu faild Error: unable to build kubernetes objects from release manifest: error validating"
[code]

I am using microk8s v1.21, and installed through helm3, but show this error, Is there any way to work around this?

[2021-07-04 14:07] shivamerla commented on #218
@ziyi-bear you need to delete old CRD as helm doesn't update it. `kubectl delete crd clusterpolicies.nvidia.com`

[2021-07-04 15:21] #218 closed

[2021-07-05 14:04] koflerm commented on #195
Okay thanks for your help!

[2021-07-05 14:16] koflerm opened #219 "Node Selector Missing + Image reference invalid"
We installed the GPU operator version 1.7.1 in one of our OCP 4.7.16 clusters. We are facing 2 issues with our current deployment:
- the driver daemonset does not include a node selector which means pods are also running on nodes with no GPUs installed. This leads to CrashLooping driver pods.
- the GPU operator logs include an error message regarding the DCGM exporter: Failed to apply transformati

[2021-07-05 15:34] rhysjtevans commented on #210
Added the compile stack trace now.

[2021-07-05 17:39] shivamerla commented on #219
@koflerm `initContainer` spec is missing here. This is required for  some of the initContainers we use(dcgm etc). Please refer [here](https://github.com/NVIDIA/gpu-operator/blob/master/bundle/1.7.1/manifests/gpu-operator.clusterserviceversion.yaml#L142) and add this along with `nodeSelector` fields for all components. We are removing the nodeSelector as configurable from next version, but with 1.7

[2021-07-05 17:49] geoberle commented on #219
Hi @shivamerla. 1.6.x applied nodeSelectors (nvidia.com/gpu.present: 'true') automatically to all DaemonSets. Did this change in 1.7.x?

[2021-07-05 18:41] shivamerla commented on #219
@geoberle yes, now each component has a nodeSelector label as below. GPU operator will automatically add these labels to nodes with NVIDIA GPU's. The reason for this granularity is to evict individual component pods when required(for eg MIG config change requires device-plugin, GFD pods to be evicted on the node and started again).

[code]

[2021-07-05 18:43] geoberle commented on #219
Oh understood. Makes absolute sense. Nice design! Thank you for clarifying.

[2021-07-05 19:29] snelis opened #220 "vGPU GRID on OKD"
I'm running the gpu-operator on top of OKD4.5. (fedora coreos 5.6.19-300.fc32.x86_64 | crio 1.18.2 | kubernetes v1.18.3.)

The VM's have a vGPU (through vmware).
Installation went fine, pods see the GPU and can use them.
The first couple of minutes are fine, all goes smooth, but after a few minutes the GPU memory allocation is really slow.
Like a few MB's per couple of seconds, feels throttled.

I

[2021-07-05 19:40] rhysjtevans commented on #210
Solved it, after seeing similar issues online rebuilt the centos 8 image by using the latest version.

[code]

[2021-07-05 19:40] #210 closed

[2021-07-05 19:41] rhysjtevans commented on #210
It would be nice if Nvidia would automate the publishing of new centos8 based images either to dockerhub or the [nvidia ngc](https://ngc.nvidia.com)

[2021-07-05 19:53] koflerm commented on #219
@shivamerla this was already very useful I was now able to deploy all components the only problem I see now is after the initial installation if I re-deploy the whole clusterpolicy / nvidia setup the driver pods keep crashing with the error "driver in use" because I guess another nvidia component is quicker claiming the GPUs.

Do you also have a fix for that? This is now my updated version of the

[2021-07-05 22:18] xhejtman opened #221 "compat32 libs do not work"
as of driver nvcr.io/nvidia/driver:460.73.01-ubuntu20.04, compat32 option does not work as libs are all taken from ld.so.cache from the container. However, the container does not instruct linker to search also /usr/lib32, no 32bit libs are cached and thus not mounted to containers.

this is easy fix to add search for 32bit to the driver container:
echo "/usr/lib32" > /etc/ld.so.conf.d/i386-linux-g

[2021-07-05 23:47] shivamerla commented on #219
@koflerm Unloading an existing driver is little involved when driver container restarts. We are automating this with next upcoming release. Meanwhile you will need to evict all other GPU operator pods on each node with below command.

[code]

Once all are evicted, driver pod can be restarted to let it cleanly `rmmod` existing driver and install again.  Once driver is loaded, you can re-run all the

[2021-07-06 06:14] shivamerla commented on #220
@snelis nvidia-gridd logs to syslog under /var/log, so you can verify for any errors there. Also, licensing status can be found using `sudo chroot /run/nvidia/driver/ nvidia-smi -q` on the host.

[2021-07-06 06:55] snelis commented on #220
Thanks, the nvidia-smi -q helped on confirming.

[code]
I cannot find any logs for it though.
Do you have a direction for me on which application or service should write these logs?
I have a feeling it might not even attempted the lisencing.

Is this the correct location for it ?
`/run/nvidia/driver/drivers/gridd.conf` since i also see the
`/run/nvidia/driver/etc/nvidia/gridd.conf.template`

[2021-07-06 11:54] rhysjtevans commented on #133
I've run into this issue as well, however my `driver-validation` init container ina crashloop trying to
[code]
I can see a ldconfig in `/run/nvidia/driver/sbin/` but not `ldconfig.real`.
I'm running version 1.7.1 and

@shivamerla in relation to your note above `We have officially not qualified with...` is there a list or a latest version you have? I tried `450.80.02-centos8` and I continuously got

[2021-07-06 12:19] koflerm commented on #219
A reboot fixed the problem. And again I come with another one: I changed now the device list strategy of the device Plugin component to "volume-mounts" instead of "envvar" by setting the according value in the DEVICE_LIST_STRATEGY env variable. Now, the nvidia-device-plugin-validator pod cannot be initialized (CreateContainerError) with the following error: nvidia-container-cli.real: device error:

[2021-07-06 13:56] shivamerla commented on #220
@snelis driver container will copy the `/drivers/gridd.conf` into `/etc/nvidia/gridd.conf` was DRIVER_TYPE=vgpu set when building the driver image? Checking driver container logs will indicate if nvidia-gridd service was started at the end.

[2021-07-06 14:18] rhysjtevans commented on #133
I've rebuilt the driver docker image using `450.119.04` and results are the same

[2021-07-06 14:45] shivamerla commented on #133
@rhysjtevans I think we had verified with `460.32.03` with CentOS8. I will look into details of compilation errors soon.

[2021-07-06 15:55] snelis commented on #220
ah, I can see what you're talking about in the rhel8 folder of the driver repo, but the fedora folder is a bit outdated it seems and OKD runs on fedora.

However, thanks to your pointers I managed to put the vGPU part from the rhel8 setup into my fedora image.
It now shows up as Licensed and working fine.

Thanks !

[2021-07-06 16:09] #220 closed

[2021-07-07 04:26] rupang790 commented on #216
@shivamerla, As you said I used very old version. So I am trying to install 1.7.1 version on my cluster, but it seems having issue with toolkit.
```nvidia-operator-validator``` pod is stuck on ```Init:CrashLoopBackOff``` status and I can see the error on toolkit validator as below:
![image](https://user-images.githubusercontent.com/40801176/124699837-92d33a80-df26-11eb-9090-00679e71601f.png)

On `

[2021-07-07 04:59] AnkitPurohit01 opened #222 "DCGM initialization error"
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
We installed Nvidia GPU operator

[2021-07-07 12:41] elezar commented on #197
@janeczku we have test images for the `container-toolkit` out that you could test if you have time. The image can be specified by adding `--set toolkit.version="devel-centos7"` when installing the operator using `helm`. If all goes well we will include these images in an upcoming toolkit container release so that a "proper" version tag can be used.

[2021-07-07 13:16] bstrdsmkr commented on #197
@elezar just gave it a spin and it looks like it's still looking for glibc 2.27 on the host:

[code]

Let me know what other info I can provide to help

[2021-07-07 13:17] rhysjtevans commented on #133
Thanks @shivamerla  I will test with `460.32.03`

[2021-07-07 14:16] elezar commented on #197
@bstrdsmkr thanks for checking. Could it be that the `libnvidia-container.so.*` files are remnants of another deployment? I have run:
[code]
in the `devel-centos7` image and confirmed that no `GLIBC_2.27` symbols are present.

For the `ubuntu18.04` image (after installing `binutils) we see:
[code]

[2021-07-07 17:27] bstrdsmkr commented on #197
@elezar Success! You were correct, I went to the node and ran `rm -rf  /usr/local/nvidia/toolkit` and reinstalled the chart. Looks solved to me!

[2021-07-08 07:41] elezar commented on #197
@bstrdsmkr that is great news! We will include the centos7 images in our upcoming release. We have something on our backlog to address the mounts not being cleaned up properly, but at least we have a workaround.

[2021-07-08 14:39] rhysjtevans commented on #133
I believe I've found the issue (for my problem at least) but not sure what the root cause is as to why it's looking for a `.real` file anyway so for now I've created a PR for just the centos8 image as it appears the fedora image uses the same "fix".

For people who stumble on this, I built the container image by
[code]

Here's my PR.
[https://gitlab.com/nvidia/container-images/driver/-/merge_reque

[2021-07-09 03:18] Kaka1127 commented on #214
Hi kpouget

Thank you for your response.
Here is my configmap file.
[code]

For No.2, we will check it after my main verification task.

[2021-07-09 03:19] #214 closed

[2021-07-09 03:24] shivamerla commented on #222
@AnkitPurohit01  Can you get logs from device-plugin-daemonset pods? I see that some of those pods have restarted, so the logs might help. Also please run this command from any of the worker nodes and attach along with syslog. `/run/nvidia/driver/usr/bin/nvidia-bug-report.sh`

[2021-07-09 03:35] shivamerla commented on #219
@koflerm unfortunately we don't have a way to set this through GPU operator yet. You need to edit file `/usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml` manually on each GPU node.

[2021-07-09 04:46] shivamerla commented on #133
@rhysjtevans The comment [here](https://github.com/NVIDIA/libnvidia-container/blob/master/src/nvc_container.c#L348) explains the reason why `.real` file is preferred. But if this is not present libnvidia-container should fall back to using `/sbin/ldconfig` file. @elezar to confirm why this is not happening. Is this something that recently got fixed?

[2021-07-09 04:52] shivamerla commented on #221
@xhejtman Thanks for figuring this out. I will work with internal teams to get this addressed.

[2021-07-09 05:04] shivamerla commented on #207
@zbsarashki If config.toml is pre-configured and container-toolkit is pre-installed, then you can use "--set toolkit.enabled=false" option when installing GPU Operator.  Other thing to note with this setting is `root = /run/nvidia/driver` should be set in `/usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml` manually. Currently GPU operator by default adds RuntimeClass as "nvidi

[2021-07-09 05:10] shivamerla commented on #211
@daniel-hutao  Please refer to [this](https://github.com/NVIDIA/gpu-operator/issues/197#issuecomment-876209712) thread. Using toolkit version `--set toolkit.version=devel-centos7` seems to resolve this. This version will be officially released soon.

[2021-07-09 05:29] zbsarashki commented on #207
@shivamerla Thanks. This will work.

[2021-07-09 06:41] koflerm commented on #219
@shivamerla I have fixed this now by creating a modified version of this file as a config map and by mounting this in the container-toolkit daemonset at /etc/nvidia-container-runtime/config.toml. This works I guess also for now it is fine as the operator does not seem to reconcile the created resources. Is there any option planned in the future to configure this via the operator?

[2021-07-09 07:19] elezar commented on #133
@rhysjtevans @shivamerla there was a change to how the config is processed (see c34dcd6b572b3cc8c08a38e4398fc22574dc1d42). This should not have affected the behaviour in the case where the config had already been modified on the host.

The issue here is that we are reading the source config from the `container-toolkit` container, which is released as either an `ubuntu18.04` (the default) or a `ubi

[2021-07-09 09:10] xhejtman commented on #221
Thanks. Btw, it would be great if you could support also display option, i.e., include nvidia_drv.so and libglx_nvidia.so, the former is not an easy one as it is ignored by linker.

[2021-07-09 09:43] elezar commented on #219
@koflerm I have created a ticket to track this request. We will post an update here as soon as we have a decision / timeline.

[2021-07-09 14:46] shivamerla commented on #219
Yes, we will have reconciliation with upcoming release(code is already merged). So these settings have to be plumbed through GPU operator variables/env. I think Evan already created a tracking ticket for this.

[2021-07-10 21:56] shivamerla commented on #186
This change has been fixed with [this](https://github.com/NVIDIA/gpu-operator/commit/759aefd47f1f761c0e8d1875803f2c030df74898) commit. It will be part of next release.

[2021-07-10 21:56] #186 closed

[2021-07-12 03:56] Kaka1127 opened #223 "DCGM Disabled option"
Is there any way to be disabled the installing DCGM operator when deployed the GPU Operator?

Best regards.
Kaka

[2021-07-12 03:58] AnkitPurohit01 commented on #222
1. Logs from device-plugin-daemonset pods
[code]
[code]
[code]

[2021-07-12 07:05] AnkitPurohit01 commented on #222
The result of `/run/nvidia/driver/usr/bin/nvidia-bug-report.sh`
please check here.
https://drive.google.com/file/d/1CxLqEZNxH3aBCVTwAH622ddkoBnMfYYO/view?usp=sharing

[2021-07-12 09:24] koflerm commented on #195
Hello again, I got notified in another ticket that there will be reconciliation in the next update. Are there also plans now to allow those kind of changes using the CRD?

[2021-07-12 13:10] v1nc3nt27 commented on #170
@lamroger Did this work for you? I also ran into this problem. I changed the driver to the centos one, but without the toolkit (I guess), none of the gpu resource pods will start. I changed the toolkit to what @shivamerla  suggested, but I think there is only, 1.7.0 and 1.7.1 versions available in the repo (nvcr.io/nvidia/cloud-native/gpu-operator-validator), so I'm a bit at a loss here. Any help

[2021-07-12 15:01] shivamerla commented on #195
@koflerm Will look into adding this.

[2021-07-12 15:13] shivamerla commented on #170
@v1nc3nt27 you are looking at wrong repo for toolkit. They are here: https://ngc.nvidia.com/catalog/containers/nvidia:k8s:container-toolkit/tags. Also, if this doesn't work then you can try with experimental centos7 image for toolkit: ```--set toolkit.version=devel-centos7```.

[2021-07-12 15:15] shivamerla commented on #223
@Kaka1127 Currently there is no option to disable this. We can look into adding this. Do you plan to install DCGM manually?

[2021-07-12 16:10] sxnguyen opened #224 "zLinux support"
Hello,
Is there any plans for the Nvidia GPU Operator to support zLinux?
Thanks,
Scott

[2021-07-12 17:26] v1nc3nt27 commented on #170
@shivamerla Thanks a lot for the hint, I'll try it with that version of the toolkit. Is it correct that the driver pod needs to be successfully deployed before any of the other pods start? Because it just states `Could not unload NVIDIA driver kernel modules, driver is in use` and the other pods are waiting endlessly.

[2021-07-12 17:38] shivamerla commented on #170
@v1nc3nt27 please refer to [this](https://github.com/NVIDIA/gpu-operator/issues/219#issuecomment-874371249) comment to unload existing modules.

[2021-07-13 00:23] Kaka1127 commented on #223
Yes, I planed to install the DCGM manually but I could find the solution to get the host ip from other labels.
Background:
 As you may know, the following template did not work correctly if using the GPU operator because the "instance" variable was used the internal address. As a result, other metrics was not gotten from node-exporters.
  Tempalte: https://github.com/NVIDIA/deepops/blob/master/src

[2021-07-13 00:23] #223 closed

[2021-07-14 16:38] v1nc3nt27 commented on #170
@shivamerla Unfortunately the gpu could still not be unloaded, even a restart didn't help. Perhaps there is something else installed/running on the Amazon Linux OS, it's really weird. Anyhow, I switched to EKS-supported Ubuntu 20 version and the driver is getting installed just fine. Thanks for your help!

[2021-07-20 12:56] jackjliew commented on #83
same error on ocp 4.6.29 and gpu-operator 1.71

[2021-07-20 14:26] shivamerla commented on #83
@jackjliew `v1.8.1` has a new initContainer added to driver pod which will handle cleanup of driver modules to avoid this. Let me know if you want to verify with early access bits.

[2021-07-20 21:43] n0rad opened #225 "Invalid driver version on rolling releases OS"
I'm using **archlinux** for kubernetes nodes

The operator is starting the driver container with images as `nvcr.io/nvidia/driver:460.73.01-` because the `kernelFullVersion()` is giving a wrong tag version. Archlinux is a rolling release OS and so do not have a `VERSION_ID`

[code]

[2021-07-21 18:23] mastier opened #226 "Cannot find nvidia-smi in $PATH in toolkit-validation"
The following installation will fail with "Cannot find nvidia-smi in $PATH"

`    helm install -n gpu-operator gpu-operator nvidia/gpu-operator --version=v1.7.1 --set driver.version=460.32.03  --set toolkit.version=1.5.0-ubuntu18.04   --set operator.defaultRuntime=containerd   --set toolkit.env[0].name=CONTAINERD_CONFIG   --set toolkit.env[0].value=/etc/containerd/config.toml  --set toolkit.env[1]

[2021-07-21 18:35] elezar commented on #226
@mastier I have seen something like this in testing before. There seems to be some kind of race condition on the `/run/nvidia/driver` mount shared between the driver container and the validator pod. I found that deleting the validator pod and allowing it to be recreated generally mounts the populated `/run/nvidia/driver` mount into these containers and allows validation to continue.

[2021-07-21 21:47] n0rad commented on #225
I tested with the latest sha version directly and it cannot install. The arch kernel version is detected as unknown and the driver do not install. I suppose it will never work until a specific arch driver image is created.

I switched to disable the driver pod and install it on the host directly. It's still not working due to "toolkit injected files" that never occur, and cannot figure out why but

[2021-07-21 21:47] #225 closed

[2021-07-21 22:08] mastier commented on #226
@elezar thanks for that feedback. However after I delete that pod it is in Init:CrashLoopBackOff so it restart automatically the mounts are still the same
[code]
for toolkit-validation `kubectl describe po -n  gpu-operator-resources nvidia-operator-validator-n48xq`:
[code]

These mounts are in the daemonset ,so I tried editing them
`root@kubernetes-master-1:~# kubectl edit  daemonsets  nvidia-oper

[2021-07-21 22:17] shivamerla commented on #226
@mastier  toolkit validation doesn't use "chroot", but directly invokes `nvidia-smi` as we expect toolkit to inject these files automatically. Code is here: https://github.com/NVIDIA/gpu-operator/blob/master/validator/main.go#L436

I think its because of `--set toolkit.env[2].name=WITH_WAIT  --set-string toolkit.env[2].value=true` values. We should set this value to always `false` as we want this

[2021-07-21 22:50] mastier commented on #226
@shivamerla ok, thank you, you are right about the code in main.go. How can I add the stuff to the toolkit ? The container is dead. Pod is restarting it. How do you expect me to test it ? run toolkit container manually ?
[code]

[2021-07-21 22:54] shivamerla commented on #226
If you add the `debug` fields i mentioned earlier with toolkit config file, we should see those logs under "/var/log". Also, can you attach `/etc/containerd/config.toml` as well.

[2021-07-23 18:52] ibmbwolfe commented on #206
Same issue.  It appears that that attempted driver package is targeting RHEL 8 repositories.  The reason it appears is that the Nvidia driver required has a dependency on  rhocp-4.6-for-rhel-8-x86_64-rpms even though RHEL 8 is not supported, unless OCP is reporting as RHEL 8 (We are not using the OCP image but the RHEL 7.9 image).

[code]

[2021-07-23 19:00] kpouget commented on #206
@ibmbwolfe is that the last lines of the driver-container?

these `dnf config-manager` shouldn't be fatal to the driver-container
[code]
https://gitlab.com/nvidia/container-images/driver/-/blob/master/rhel8/nvidia-driver

but it depends which driver-container image you're using. I think in 1.7.0 the trailing `|| true` should be included ...

[2021-07-23 20:49] ibmbwolfe commented on #206
@kpouget
These are the last lines, notice the error on no
[code]

[2021-07-23 21:06] shivamerla commented on #206
@ibmbwolfe Looks like you are not using the right driver image when you created ClusterPolicy instance. Please refer to [this](https://github.com/NVIDIA/gpu-operator/issues/160) issue and change driver version to `450.80.02` when you create ClusterPolicy instance.

[2021-07-23 21:32] ibmbwolfe commented on #206
@shivamerla fails to pull the image:
[code]

[2021-07-23 21:35] shivamerla commented on #206
Weird, the image is present.

[code]

[2021-07-23 21:56] shivamerla commented on #206
Might be an intermittent issue with NGC. Will update soon.

[2021-07-24 00:19] aym-frikha commented on #226
Hello @shivamerla , I did what you mentioned in your last comment, but the /var/log/nvidia-container-toolkit.log file and "/var/log/nvidia-container-runtime.log"  are empty / not created. You can find attached the /etc/containerd/config.toml.
[config.txt](https://github.com/NVIDIA/gpu-operator/files/6871633/config.txt)

[2021-07-24 00:28] aym-frikha commented on #226
This is the toolkit daemonset logs I have in the environment:
[toolkit-daemonset-logs.txt](https://github.com/NVIDIA/gpu-operator/files/6871646/toolkit-daemonset-logs.txt)

[2021-07-25 18:20] ibmbwolfe commented on #206
It seems the driver was not available, assuming it was a intermittent issue.  The pods seem failing with different errors.

[code]

[2021-07-26 14:22] shivamerla commented on #206
Can you check if `nouveau` module is loaded on the node? We would need to blacklist this module from loading if this is the case.

[2021-07-26 17:16] ibmbwolfe commented on #206
@shivamerla that was the answer, disabling the driver and blacklisting.  Everything installed as expected.

RHEL Documentation
How to blacklist nouveau module on Red Hat Enterprise Linux 7?
https://access.redhat.com/solutions/2867671

[code]

[2021-07-26 17:17] ibmbwolfe commented on #206
Thank you for the help!

[2021-07-26 17:21] ibmbwolfe commented on #206
This does still appear to be an operator issue as during the installation, of the NVIDIA operator, the choice of pulling the driver version based upon the OS version would seem applicable.

[2021-07-26 18:14] kpouget commented on #206
@ibmbwolfe your node is running RHEL 7 with an OCP 4.6 cluster from what I can read from the logs, is that right??
I don't think OCP 4.x is supported on anything else than RHCOS..

[2021-07-26 18:25] ibmbwolfe commented on #206
@kpouget As per the OCP 4.6 release notes RHEL 7.9 is supported.
https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-about-this-release

[2021-07-26 18:27] ibmbwolfe commented on #206
Following the guidance with the Driver Version & with the Blacklist, we have A100 and V100 support within the OCP 4.6 running in IBM Cloud Satellite service offering.

[2021-07-26 18:48] kpouget commented on #206
oh, nice, thanks for the link, I must have confused with RHEL 8 which isn't
supported

On Mon, Jul 26, 2021 at 8:26 PM ibmbwolfe ***@***.***> wrote:

[2021-07-26 23:27] shivamerla commented on #155
We are trying to validate this internally and will try out to fix this soon.

[2021-07-28 13:48] aliciayang1 opened #227 "nvidia/driver: could not resolve Linux kernel version for Amazon Linux 2"
Trying to install gpu-operator and these are the logs for one of the NVIDIA driver daemonset pods. We have confirmed that we have the appropriate kernel headers installed which is the solution to https://github.com/NVIDIA/gpu-operator/issues/85. Any thoughts on how to resolve this issue?

[code]

[2021-07-29 12:25] kpouget opened #228 "Upgrade/reboot issue related to the container-toolkit"
Hello,

in a recent cluster upgrade (4.7 -> 4.8) CI test, using the GPU Operator `master` branch ([commit](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.7-upgrade-gpu-operator-e2e-upgrade/1420353446782963712/artifacts/gpu-operator-e2e-upgrade/0-preupgrade-gpu-operator-test-master-branch/artifacts/009__gpu_operator__bun

[2021-07-29 13:08] omertuc commented on #228
Full run logs available [here](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.7-upgrade-gpu-operator-e2e-upgrade/1420353446782963712) (under "Arifacts")

[2021-07-30 00:32] cdesiniotis commented on #155
Hi everyone,

This issue is not a bug with the nvidia driver-container. The driver-container requires that the kernel-headers for the running kernel are present and can be accessed by the package manager (i.e. yum, dnf) inside of the driver-container. The issue is, if you are running a kernel that is slightly out of date, meaning it is the not the latest kernel version, the package manager will pr

[2021-07-30 13:22] klamkma opened #229 "Resource limits"
Hello,

On big kubernetes cluster we have OOM for the operator pod. Can resource limits be configurable from the values https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/templates/operator.yaml#L66-L67?

Regards,

[2021-07-30 13:25] shivamerla commented on #229
@klamkma sure, we can make this configurable with helm. Can you share the operator resource usage on your cluster?

[2021-07-30 13:34] shivamerla commented on #228
thanks @omertuc  will take a look

[2021-07-30 13:58] omertuc commented on #228
It was @kpouget who posted it, I just gave a link to the full logs cause it was missing.

And just to make sure it's clear - this is not an issue with operator upgrades, but with OCP upgrades

[2021-07-30 14:06] klamkma commented on #229
I do not need much more, memory limit: 300Mi is enough.
Thank you.

[2021-07-31 14:20] schmaustech opened #230 "RFE - Support for GPU Operator on ARM (Specifically Nvidia Jetson AGX Xavier)"
I currently have been able to deploy a development release of Red Hat OpenShift 4.9 running on RHCOS in a single node scenario on my Nvidia Jetson AGX Xavier:

$ oc get nodes -o wide
NAME                            STATUS   ROLES           AGE   VERSION                INTERNAL-IP    EXTERNAL-IP   OS-IMAGE                                                       KERNEL-VERSION                 CONTAINE

[2021-08-02 04:25] shubhamoli opened #231 "Unable to setup NVIDIA GPU operator in OKD 4.6"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msg

[2021-08-02 10:45] sysThematic opened #232 "one gpu is missing"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
We have an HP DL380 Gen10 server

[2021-08-02 11:06] klamkma opened #233 "nvidia-device-plugin-validator fails - Requested: 1, Available: 0"
Hello,

### 1. Issue or feature description

nvidia-device-plugin-validator fails with:
[code]
### 2. Steps to reproduce the issue
1. Kubernetes cluster has pending pod waiting for available GPU.
2. Start the nvidia operator and driver installation.
3. If the pending pod picks up the GPU faster than the validator, nvidia-device-plugin-validator fails as there are 0 available GPUs left.

Is there a

[2021-08-02 16:47] shivamerla commented on #233
@klamkma You can disable device-plugin validation with workload using GPU operator. Please install GPU operator with below validator settings.

[code]

[2021-08-02 16:51] shivamerla commented on #232
@sysThematic Can you run "/run/nvidia/driver/usr/bin/nvidia-bug-report.sh" from any of the worker nodes(using `oc debug node <node-name>`) having failures and attach the repo generated under "/var/log/" here.

[2021-08-03 09:06] klamkma commented on #233
@shivamerla, thank you for the quick reply.
I applied this modification in ClusterPolicy, but operator is not modifying the nvidia-operator-validator DaemonSet.
Do I need to modify objects created by the operator manually if they already exists?

I'm using https://github.com/NVIDIA/gpu-operator/tree/v1.7.0/deployments/gpu-operator helm chart.

Regards

[2021-08-03 15:44] koflerm opened #234 "nvidia-driver DaemonSet Pods are crashing in OCP 4.7.21"
We are currently using the GPU operator version 1.7.1 in our OpenShift clusters.

Unfortunately, after updating to OpenShift 4.7.21 the nvidia-driver DaemonSet pods crash with the following error:

[code]

Do you know what the problem could be here? Is maybe the correct kernel headers package missing for OpenShift 4.7.21?

[2021-08-03 15:56] yug0slav opened #235 "Unable to open the file '/lib/modules/3.10.0-1160.36.2.el7.x86_64/proc/version' (No such file or directory).Could not resolve Linux kernel version"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ no ] Are you running on an Ubuntu 18.04 node? (CentOS 7.9)
- [ yes ] Are you running Kubernetes v1.13+? (v1.21.2)
- [ no ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? (containe

[2021-08-03 16:22] shivamerla commented on #234
@kpouget @omertuc Can you please help checking if it's due to missing kernel headers for this version or entitlement issue?

@koflerm can you verify if entitlement keys are valid by running this test pod mentioned here: https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html#openshift-gpu-install-gpu-operator-via-helmv3

[2021-08-03 16:24] shivamerla commented on #233
@klamkma v1.7.x doesn't support auto updates of Daemonsets. We are adding this with 1.8 which will be released in a week. Meanwhile you need to edit gpu-operator-validator pod (plugin-validation container within it) and pass this env variable to it.

[2021-08-03 16:35] shivamerla commented on #231
@shubhamoli we don't officially support OKD with GPU operator. Independent of GPU Operator, we need to make sure fedora driver images are working on OKD. Looking at the script, the path we check for vmlinuz file seems wrong. It should be absolute path `/lib/modules/${KERNEL_VERSION}/vmlinuz`. You can try building new image with that change and verify.

[code]

[2021-08-03 16:38] shivamerla commented on #229
Closing this as the [change](https://github.com/NVIDIA/gpu-operator/commit/da026665ade57ed5b79bcceb90df239f673d70e3) is now merged:

[2021-08-03 16:38] #229 closed

[2021-08-03 17:00] kpouget commented on #234
Hello @koflerm,

we also saw this problem, it is caused by an entitlement file too old (still valid, but not giving access to `rhocp-4.7` repositories).
Could you try regenerating the entitlement file and try again?

[code]
https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/logs/periodic-ci-openshift-psap-ci-artifacts-release-4.7-gpu-operator-e2e-170/1422331589974560768/artifac

[2021-08-03 17:08] shivamerla commented on #226
@aym-frikha after applying the change, can you delete gpu-operator-validator pod, so that when it tries to run again it will generate logs by toolkit. Also, please don't delete the toolkit container after the change as it will revert that again.

[2021-08-03 17:12] shivamerla commented on #206
Closing this issue as resolved.

[2021-08-03 17:12] #206 closed

[2021-08-03 17:14] shivamerla commented on #206
This works using helm where OS tag is automatically appended to the image tag specified in values.yaml. But with OLM bundle we default to using image digests(RH requirement for disconnected support). Hence only RHCOS image is specified by default.

[2021-08-03 17:15] shivamerla commented on #230
@schmaustech I will get back to you on this.

[2021-08-03 17:36] kpouget commented on #226
not the Pod but the DaemonSet ;-)

On Tue, Aug 3, 2021 at 7:08 PM Shiva Krishna Merla ***@***.***>
wrote:

[2021-08-03 17:38] shivamerla commented on #226
@kpouget we just need to restart the container so that toolkit tries to inject files again. So just pod delete should do it.

[2021-08-03 18:11] jrxs-cg commented on #145
@tommiyau We're seeing something similar with the GPU operator picking up a SCC that it shouldn't. Did you ever find root cause for that?

[2021-08-03 19:29] cdesiniotis commented on #235
This is failing here:
[code]
From the error message, it appears that the driver container needs the CA certificate of your local server that is hosting the mirrored repository. Could you try injecting the custom CA certificate file into the driver container (i.e. mounting /etc/pki/ca-trust/source/anchors:/etc/pki/ca-trust/source/anchors)?

Currently we do not have an option to mount CA certificate

[2021-08-03 19:29] cdesiniotis commented on #227
Amazon Linux is not supported by the GPU Operator, and there are no published driver images for it. Please see our docs for what operating systems the GPU Operator supports and is tested on: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#linux-distributions

[2021-08-03 19:35] yug0slav commented on #235
I'll give it a try.
Was thinking sslverify=false in repo-config... :). No luck.

[2021-08-03 19:54] sysThematic commented on #232
Hi @shivamerla ,
Log file is attached.
[nvidia-bug-report.log.gz](https://github.com/NVIDIA/gpu-operator/files/6926730/nvidia-bug-report.log.gz)

[2021-08-03 21:14] yug0slav commented on #235
What would be the easiest way to inject a CA file or mount /etc/pki/ca-trust/source/anchors?

- I've tried the following updates in nvidia.com_clusterpolicies_crd.yaml
[code]
- and clusterpolicy.yaml
[code]
- followed by updates to values.yaml
[code]

with no luck... :(

[2021-08-03 23:30] shivamerla commented on #145
@jrxs-cg we have defined to use following SCC with gpu-operator ClusterRole. Can you check what SCC was used in your case? Also, did you see operator pod failing due to health check? What version of operator are you using?

[code]

[2021-08-03 23:52] jrxs-cg commented on #145
@shivamerla datadog-cluster-agent.  NVIDIA GPU Operator v1.6.2. This is not our bug report but describes almost exactly what we are seeing: https://bugzilla.redhat.com/show_bug.cgi?id=1973005

Our gpu-operator ClusterRole lacks the resourceNames part. Will try that as a workaround. This is what came out-of-the-box and has been working fine up to this point:

[code]

Interestingly, another of our c

[2021-08-04 03:18] shubhamoli commented on #231
@shivamerla Thank you for the quick reply.

It might a dumb question but where do I've to make this change?

[2021-08-04 05:14] sakaia opened #236 "vectorAdd not run after helm installation with "RuntimeHandler \"nvidia\" not supported""
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description

I want to run vectoradd on gpu

[2021-08-04 06:21] shivamerla commented on #236
@sakaia Looks like you are installing with runtime set to `containerd`, but toolkit is disabled. So you need to manually configure `/etc/containerd/config.toml` in this case. You seem to have configured /etc/docker/daemon.json instead. Below is an example of how containerd config should looks like.

[code]

[2021-08-04 06:23] shivamerla commented on #235
@yug0slav This require a gpu-operator change to mount a configmap for certs which is not supported yet. You need to manually edit driver daemonset in `gpu-operator-resources` namespace and add `/etc/pki/ca-trust/source/anchors` host path mount.

[2021-08-04 06:24] shivamerla commented on #231
@shubhamoli you need to build from here: https://gitlab.com/nvidia/container-images/driver/-/tree/master/fedora

[2021-08-04 06:37] shubhamoli commented on #231
Thanks again @shivamerla I'll try it out.

[2021-08-04 07:20] koflerm commented on #234
Hello @kpouget,

Just regenerated the entitlement certificate but I am still not able to retrieve the package. Maybe one hint I am using a RHEL 8 Premium Subscription entitlement so before the kernel-headers package was available in rhel-8-for-x86_64-baseos-eus-rpms. Now, it is available (as you mentioned) in rhocp-4.7-for-rhel-8-x86_64-rpms so do you need a different subscription for that?

[2021-08-04 09:36] klamkma commented on #233
Thank you, I have no failing pods now.
I'll close this issue.

[2021-08-04 09:36] #233 closed

[2021-08-04 10:45] sakaia commented on #236
Thank you for your help.

It fails. The message "RuntimeHandler \"nvidia\" not supported" still keeps.

From seeing this, I need to change kubelet configuration from `docker` to `remote`.?

## Dockershim source code
From seeing this, container runtime `docker` is running at this moment. and its RuntimeHandler name seems to be `nvidia` not `docker`. It causes this problem.

[code]

https://github.c

[2021-08-04 11:05] kpouget commented on #234
@koflerm could you attach the logs of the driver container, just to confirm that it's failing to enable `rhocp-4.7-for-rhel-8-x86_64-rpms` repo?

[2021-08-05 14:53] sakaia commented on #236
It stacks this problem.
I try to execute another method to build environment.

[2021-08-05 14:53] #236 closed

[2021-08-05 15:06] shivamerla commented on #236
I think you are trying to install with "containerd" as runtime setup, but you actually have docker installed instead. You can remove `--set operator.defaultRuntime=containerd` if you want to use docker instead. Or setup kubelet to use containerd.

[2021-08-05 22:00] yug0slav commented on #235
- mounting /etc/pki/ca-trust/extracted as hostPath into nvidia-driver-daemonset worked!
  - are there plans to add this functionality into the 1.8 release?

- had to unload nouveau module too, don't think its in the instructions for centos 7.9 / 3.10.0 kernel.

Thanks!

[2021-08-06 22:29] shivamerla commented on #72
Please try with toolkit version `--set toolkit.version=1.6.0-centos7` and re-open this if still issue persists.

[2021-08-06 22:29] #72 closed

[2021-08-06 22:30] #192 closed

[2021-08-06 22:34] shivamerla commented on #149
Closing this as it seems related to CNI issue also NFD missing logs are added now.

[2021-08-06 22:34] #149 closed

[2021-08-06 22:35] shivamerla commented on #197
closing this as toolkit version `1.6.0-centos7` is released now, also driver image `470.57.02-centos7`

[2021-08-06 22:35] #197 closed

[2021-08-06 22:36] #166 closed

[2021-08-06 22:37] #80 closed

[2021-08-07 09:59] xhejtman opened #237 "Question: label to disable GPU schedulling on a node"
Hello,

is there any label that could be used to prevent schedule GPU jobs to a node? I think nvidia.com/gpu.deploy.device-plugin: "false" can be used for this but I am not sure how persistent is this? Is there any other label that could 'reserve' GPUs on a node?

[2021-08-10 08:42] wstarzak opened #238 "Containerd K3S operator"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_ms

[2021-08-10 14:06] shivamerla commented on #238
@wstarzak  can you attach output of `kubectl describe pod <operator-validator-pod-name> -n gpu-operator-resources` and also logs from failing initContainer `kubectl logs <operator-validator-pod-name> -c <init-container-name> -n gpu-operator-resources`. All other pods are running fine? Can you paste the output of `kubectl get pods -n gpu-operator-resources`?

[2021-08-11 14:36] shivamerla commented on #237
@xhejtman  you can taint the node with `nvidia.com/gpu=true:NoSchedule` and only pods with explicit toleration can run on that node. By default all GPU operator pods have this toleration.

[code]

[2021-08-11 16:35] fubsle opened #239 "Unable to load the kernel module 'nvidia.ko' - OKD 4.7"
### Specs:
- OKD: 4.7.0-0.okd-2021-08-07-063045 (IPI on vSphere)
- FCOS: 34
- Kernel: 5.12.19-300.fc34.x86_64
- nvidia GPU Operator 1.7.1 installed from OperatorHub
- Node Feature Discovery 4.7.0 installed from OperatorHub
- Driver: 470.57.02

### Problem:
nvidia-driver-daemonset is failing with the following error:
[code]
Happens when this command is executed:
```IGNORE_CC_MISMATCH=1 nvidia-insta

[2021-08-11 20:19] FlorinAndrei opened #240 "how to install a previous version of the operator"
Is there any way to install a specific version of the operator, as opposed to just pulling the latest?

[code]

For `$VEROPTS` I've tried different things, such as:

[code]

...and some others. Nothing worked.

What's the magic syntax there?

[2021-08-11 20:57] shivamerla commented on #240
[code]

[2021-08-11 21:17] shivamerla commented on #239
@fubsle Only `470.57.02` fails and `460.73.01` works?

[2021-08-11 21:17] FlorinAndrei commented on #240
The VM (the host) is running CentOS 7.

I tried this:

[code]

That gets the 1.8.0 version installed, which should be fine as long as it works. But in the nvidia-driver-daemonset I get this:

[code]

[2021-08-11 21:29] shivamerla commented on #240
@FlorinAndrei Can you attach complete log from driver container. @cdesiniotis Can you help look into this?

[2021-08-11 21:37] FlorinAndrei commented on #240
Here it is:

https://gist.github.com/FlorinAndrei/68dec93920a0b81cd96ba5a9a94de780

And here's another, from a different host, also running CentOS 7.9, slightly different error at the end:

https://gist.github.com/FlorinAndrei/3a8a31fa89f97e2a2dee4a7f31b3f37b

The command in both cases was:

[code]

[2021-08-11 21:44] shivamerla commented on #240
We will look into this. Meanwhile you can use other driver `--set driver.version=460.73.01`

[2021-08-11 21:56] FlorinAndrei commented on #240
It worked! The command I used was:

[code]

The results on one host:

https://gist.github.com/FlorinAndrei/ae62e884a655eda6ebfc8c654df51dd7

And on the other:

https://gist.github.com/FlorinAndrei/0f844c5d8b78a5b0ebfe5e50f838e163

Pretty different outputs, but both worked.

[2021-08-11 22:28] shivamerla commented on #240
@FlorinAndrei Yes, that driver image will not be updated. We have a limitation that when you upgrade your CentOS nodes, kenrel-header packages should be available for those. Other than that it should continue to work.

[2021-08-12 08:14] fubsle commented on #239
By using the Dockerfile and nvidia-driver ```--build-arg DRIVER_VERSION=460.73.01``` another error comes up:
[code]

[2021-08-13 01:51] rupang790 commented on #216
@shivamerla,
Install GPU-Operator version 1.5.2 on OKD 4.5 Cluster was succeeded. So GPU-Operator 1.5.2 version will be used for my project. For the restricted Installation of 1.5.2 GPU-Operator, I would like to confirm how to prepare and Install.

1. Check all images, create local repository for it then push images to local repository.
2. git clone https://github.com/NVIDIA/gpu-operator.git
3. Ch

[2021-08-13 17:30] FlorinAndrei opened #241 "how to rediscover hardware"
Let's say there was an error in the deployment and hardware was not discovered properly.

I want to trigger the complete rediscovery of all GPU hardware. What is the best way to do that? (without reinstalling the whole operator)

I am using v1.8.0

[2021-08-16 04:49] Kaka1127 opened #242 "Failed to get the GPU metrics when used the v1.8.0"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? -> Ubuntu 20.04.2
- [x] Are you running Kubernetes v1.13+? -> v1.20.4
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? -> Docker 19.

[2021-08-17 19:08] FlorinAndrei opened #243 "WITH_REBOOT variable - not clear how to set it"
This is a documentation issue, but a quick reply here could help a lot.

Reading this page...

https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/gpu-operator-mig.html

...I've found this quote:

There is no mention anywhere else in the document about that variable. The linked page makes no mention of it either. A google search has not revealed anything mentioning that variable.

So, how

[2021-08-17 19:54] cdesiniotis commented on #243
Thanks for raising this. Our docs definitely need to be improved.

The WITH_REBOOT env variable is set here in `values.yaml`. Its an environment variable for the migManager pod.
https://github.com/NVIDIA/gpu-operator/blob/832f3175889625005e711c7c49d314e100d52892/deployments/gpu-operator/values.yaml#L215

To set the value of this variable, you can either directly download and modify `values.yaml` p

[2021-08-17 22:47] FlorinAndrei commented on #243
I'm trying to use the command line, but I get this error:

[code]

I've tried quoting the value string, escaping the square brackets with backslash, but nothing helps.

[2021-08-17 23:00] cdesiniotis commented on #243
Try using --set-string instead:

`helm install gpu-operator --set migManager.env[0].name=WITH_REBOOT --set-string migManager.env[0].value=true`

[2021-08-18 01:35] liqcui opened #244 "Report images not found when deploy GPU Operator on openshift 4.9 using helm"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-08-18 01:38] liqcui opened #245 "Report images not found when deploy GPU Operator on openshift 4.9 using helm"
### 1. Issue or feature description
Deploy GPU Operator on openshift4.9(Not official released), the gpu driver images version will automatically add a tag rhcos4.9 for driver images, for example,
nvcr.io/nvidia/driver:470.57.02-rhcos4.9, only nvcr.io/nvidia/driver:470.57.02-rhcos4.9470.57.02-rhcos4.8 exist
nvidia-driver-daemonset-72jqc will report the error
Warning  Failed          19s

[2021-08-18 01:59] FlorinAndrei commented on #243
That worked, thanks!

[2021-08-18 01:59] #243 closed

[2021-08-18 11:15] liqcui commented on #245
open BZ in redhat, close this one

[2021-08-18 11:15] #245 closed

[2021-08-18 20:32] rspierz opened #246 "1.8.0 install loop does not settle"
Upgraded fresh to 1.8.0. Seem to be in a loop on two gpu clusters. Events showing:

"Error: cannot find volume "run-nvidia" to mount into container "k8s-driver-manager"

"Allocate failed due to requested number of devices unavailable for nvidia.com/gpu. Requested: 1, Available: 0, which is unexpected"

On Openshift 4.7.22.

[2021-08-19 08:25] Fede112 commented on #155
Hi,
I am having the same problem using Centos 7 with the latest kernel 5.13.11.
We tried @purplepalmdash solution but it did not work for us.
Can you provide an example of a custom repo configuration file?

Thanks in advance

[2021-08-19 08:58] sandrich commented on #208
Hi

We are seeing the same issue again with 1.7.1 and 250MB Memory limit. Operator gets constantly OOM killed. The node itself has plenty of memory left.

[2021-08-19 09:29] elezar commented on #208
@sandrich are you able to increase / remove the limits on the `gpu-operator` pod and do you have monitoring /metrics output that would allow us to determine a new limit that would make sense?

Also, does the increase in memory usage happen at any particular point, or does the operator refuse to come up at all?

[2021-08-19 11:57] sandrich commented on #208
@elezar Not sure I can change the operator resources. The pod comes up does a few things and then gets killed. Here the output of the operator

[code]

[2021-08-19 13:02] sandrich commented on #208
I was able to remove the limit section and stats show that it peaked at around 266mb memory then went down

![Capture](https://user-images.githubusercontent.com/1625557/130072966-77c4845a-b894-4fe2-841b-cfe7a21844d3.PNG)