[2021-08-20 14:29] elezar commented on #208
Thanks @sandrich. We could increase this to something like 300, but it may make sense to make this configurable. Has your monitoring shown any additional spikes in usage?

cc @cdesiniotis

[2021-08-20 14:49] sandrich commented on #208
Configurable would be great using the operator crd. That was the highest spike we had

[2021-08-22 00:06] shivamerla commented on #246
@rspierz Looks like we missed mounting with path type as `DirectoryOrCreate` which fails on few OCP versions and created by default with 4.8. Will fix this soon with 1.8.1.

[2021-08-22 00:11] shivamerla commented on #244
@liqcui  We will validate driver against 4.9 soon and update the image tag. Meanwhile you can workaround by passing `--set driver.version=sha256:a62de5e843a41c65cf837e7db5f5b675d03fa2de05e981a859b114336cf183e3` so we use the exact image instead of applying ocp version tag.

[2021-08-22 00:14] shivamerla commented on #242
@Kaka1127 Can you edit `ClusterPolicy` and set `dcgm.enabled=false` so that dcgmExporter will use embedded host engine. With this verify if the metrics are shown correctly, that will help us narrow down issues with separate DCGM host engine.

[2021-08-22 00:16] shivamerla commented on #241
@FlorinAndrei  if there was hardware error then driver container should keep failing and gpu-operator will attempt to reconcile. Just to confirm again, you can delete the operator-validator pod on the node and it will run through all validations again(which will verify all GPU's are initialized correctly).

[2021-08-22 23:09] Kaka1127 commented on #242
@shivamerla
I was forgotton to tell you that I have already edited the `dcgm.enabled=false` in `ClusterPolicy`. And then, the GPU metrics are all Zero values.
If enabled the dcgm, I could not see any values from DCGM.

Best regards.
Kaka

[2021-08-23 00:51] liqcui commented on #244
Hi Shiva,

thank you for your help, let me try this image, thanks!

On Sun, Aug 22, 2021 at 8:12 AM Shiva Krishna Merla <
***@***.***> wrote:

--
                                             Best Regards
                                                      Cui Li Quan
                                                      OpenShift QE-PSAP

                                             Never too la

[2021-08-23 02:07] cdesiniotis commented on #208
@sandrich This is configurable via the crd as of v1.8.0. We increased the default memory limit to 350Mi, but if your cluster requires more you can override the values here: https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/values.yaml#L73

i.e. `--set operator.resources.limits.memory=400Mi`

[2021-08-23 21:34] takyon77 commented on #239
@fubsle Hi, I'm having the same issue, I'm getting a 'permission denied' when trying to insert the nvidia kernel module.
I was able to insert this module on the server running the container (but outside the container of course) so the module itself seems ok. I also tried to compile a simple 'hello world' kernel module in the container and got the same 'permission denied' when trying to insert the

[2021-08-24 07:30] sakaia opened #247 "Question about DCGM Exporter stop."
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-08-24 08:55] Kaka1127 commented on #242
@shivamerla
Any update?

[2021-08-24 14:55] shivamerla commented on #242
@Kaka1127 Will try to dig more into this today. Meanwhile can you change `dcgmExporter.version=2.1.8-2.4.0-rc.2-ubuntu20.04` and verify to confirm that it was working for you with previous versions. Please keep `dcgm.enabled=false` until you verify with embedded DCGM engine.

[2021-08-25 00:00] Kaka1127 commented on #242
@shivamerla

Sure.  I downgraded the dcgm exporter package and kept "dcgm.enabled=false", it could get the value like below.

[code]

Best regards.
Kaka

[2021-08-25 00:02] shivamerla commented on #242
Thanks @Kaka1127 for confirming. So it seems like a regression in new DCGM exporter. I was not able to recreate this locally with new image. Will check further and update on this.

[2021-08-25 00:11] Kaka1127 commented on #242
@shivamerla

Just for your information...
When deployed the dcgm-exporter with following manifest for other k8s cluster which it was not used the GPU operator, it is able to get the value correctly.

[code]
Best regards.
kaka

[2021-08-25 00:21] shivamerla commented on #242
Ah ok, only difference seems to be exporter interval(by default its 30s in ms). Can you add this env in ClusterPolicy for exporter and verify?

[code]

[2021-08-25 00:35] Kaka1127 commented on #242
Ummm... All values are zero even though added this env.

[2021-08-25 02:21] sakaia opened #248 "How to dig the nvidia-container-runtime error?"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ x] Are you running on an Ubuntu 18.04 node?
- [x ] Are you running Kubernetes v1.13+?
- [ x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_

[2021-08-25 09:01] elezar commented on #248
Hi @sakaia.

The first message with regards to a "missing" `libnvidia-ml.so` that you posted is a warning and can be ignored in this case (We can change the message to make this less confusing). This may occur if the driver container has not started, or the `/run/nvidia/driver` mount has not properly propagated to the toolkit container. Restarting the toolkit container pod (deleting it) usually ad

[2021-08-25 10:50] sakaia commented on #248
Thank you for your comments

[code]

I am just installing default setup.

My setup Instruction for installing containerd is follows.

[code]
/etc/containerd/nvconfig.toml is follows

[code]

[2021-08-25 12:42] elezar commented on #248
Thanks for the info. My question was which version of the GPU operator is installed (the current version is 1.8.1).

The containerd version output gives me enough information to trouble-shoot this though. The version string that is reported by `containerd version` is `1.5.2-0ubuntu1~18.04.2` which is not considered a valid semantic version by the `semver` package that we're using (see https://play

[2021-08-25 14:52] takyon77 commented on #239
So for anyone interested, I managed to solve my issue. It was in fact caused by a selinux 'bug' on the host running the container. Apparently a new lockdown class was introduced for selinux in Fedora 34 and this was an unwanted side-effect (https://www.spinics.net/lists/fedora-devel/msg284833.html). I just created a selinux policy on the host running the container to go around the problem and now

[2021-08-26 05:04] Kaka1127 opened #249 "Back to the default config file after apply the mig config"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? -> Ubuntu 20.04.2
- [x] Are you running Kubernetes v1.13+? -> v1.20.4
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? -> Docker 19.

[2021-08-27 21:55] flaker opened #250 "nvidia-device-plugin-daemonset stuck in crash loop"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node? -> 18.04.5
- [X] Are you running Kubernetes v1.13+? -> v1.16.9
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? -> 18.09.9
- [X] Do

[2021-08-27 23:00] #209 closed

[2021-08-27 23:00] #212 closed

[2021-08-27 23:01] shivamerla commented on #234
@koflerm are you still hitting this issue. Closing this as its been an while, please re-open if the issue is still not resolved with entitlements.

[2021-08-27 23:01] #234 closed

[2021-08-27 23:02] #207 closed

[2021-08-27 23:02] #191 closed

[2021-08-27 23:03] #168 closed

[2021-08-27 23:04] #203 closed

[2021-08-27 23:05] #126 closed

[2021-08-27 23:15] flaker commented on #250
Hello @shivamerla

I could not use 1.7.x or 1.8.x because of the priorityClass being used.  My cluster refused to use those on the default or a different namespace.

As for containerd you were right. It died somehow in the middle of all of this. Now I am stuck in a different error:

[code]

That node is indeed a gpu enabled instance.

 I didn't see those steps in the helm instalation page (https:/

[2021-08-27 23:27] flaker commented on #250
Just realized that the nvidia-driver-daemonset-nrltf   pod now reads

[code]

that I guess makes that node non-GPU

[2021-08-27 23:55] flaker commented on #250
I restarted everything. The other pods are working. But the `nvidia-device-plugin-daemonset` continues to restart. But now I don't see an error:
[code]

as soon as I saw that error I restarted containerd. The error didn't show up anymore, but the pod won't start either.

[2021-08-28 00:15] flaker commented on #250
The other two pods in the namespace seem to be fine.

[code]

[code]

[code]
[code]

should I be changing the docker json file to explicitly say: `"default-runtime": "nvidia",` ?

[2021-08-28 03:20] sakaia opened #251 "Question about nvidia-peermem.ko"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-08-28 06:47] koflerm commented on #234
@shivamerla sorry for not answering we fixed this problem by just using the entitlement of one of our OpenShift subscriptions instead of the entitlement of a premium RHEL subscription. We can keep this issue closed.

[2021-08-29 18:35] briantopping commented on #248
I ran into the same issues with my install and can confirm that setting the `toolkit.version` on helm install/upgrade as noted allows my gpu operator resources namespace to boot cleanly.

Not sure if it matters, but I am running on Ubuntu 20.04.3 LTS. Should I be using a different toolkit image? I dumped some of the deployments looking for the toolkit string but couldn't find it.

Thanks for your

[2021-08-30 08:59] elezar commented on #250
@flaker you shouldn't have to update the docker json file to include the default runtime setting. For one, you are correct that the GPU Operator (through the toolkit container) should manage this configuration, and two it seems as if you are using containerd and not docker as your container engine.

Could you include the contents of the `/etc/containerd/config.toml` file on one of the nodes where

[2021-08-30 09:05] elezar commented on #251
@sakaia release 1.8.0 of the GPU operator [includes nvpeermem support](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/release-notes.html#id2). This does, however from the release notes:

I think @cdesiniotis or @shivamerla may be able to point you to additional documentation on how to get started if you meet these requirements.

[2021-08-30 09:32] elezar commented on #248
Thanks for the confirmation and appreciation @briantopping. We will release a versioned image of this soon.

With regards to:

In general, using the `ubuntu18.04` image is fine (and is currently the only `ubuntu*` variant available). There are some cases where a different image should be used, for example when running on RHEL or Centos systems.

[2021-08-30 15:01] shivamerla commented on #251
@sakaia Yes, we do support installing nvidia-peermem.ko through driver container starting from `470.57.02` driver for Ubuntu20.04. In-order to user this feature you need to install GPU Operator with `--set driver.rdma.enabled=true`. This will be only loaded on systems with GPU + Mellanox cards. Also, note that you need to install MOFED drivers through NVIDIA Network Operator and not directly on th

[2021-08-30 15:07] shivamerla commented on #250
@flaker you can set priorityClass as nil if your cluster doesn't support it (`--set daemonsets.priorityClassName=""`). Only caveat is GPU Operator pods can get evicted without any priority when there is a node pressure. Also, as @elezar mentioned i don't see `operator.defaultRuntime=containerd` is being specified in values.yaml you are using.

[2021-08-30 15:16] flaker commented on #250
Hi @elezar,

Correct, it's containerd and the command line I used should cover that:

[code]

since I specified the defaultRuntime. Is that correct?

**Containerd config**

[code]

**Regarding the containerd version**

I am using an image provided by Ubuntu (ami-0a817b0856bd5d87a). It's Ubuntu 18.05 that I think it's supported by this configuration.

Out of the box, the included package `container

[2021-08-30 16:16] flaker commented on #250
Hi @shivamerla,

Thanks.

That allowed me to install the current version. Unfortunately it seems that even more stuff is failing (at least more pods)

[code]

[code]

Maybe some container failed to load the runtime?

[2021-08-30 16:21] shivamerla commented on #250
@flaker the contents you pasted for `/etc/containerd/config.toml` were entire contents? If yes, than the toolkit doesn't seem to set the config correctly with v1. We recommend to use the updated version and 1.5.2 is better. However we recently found an issue with version string matching for `1.5.2-0ubuntu1~18.04.2` as this is not semver format. @elezar noted this [here](https://github.com/NVIDIA/g

[2021-08-30 16:30] #227 closed

[2021-08-30 16:33] cdesiniotis commented on #235
@yug0slav this feature was not added in 1.8. We are discussing this internally but don't have a target release for this

[2021-08-30 16:33] #235 closed

[2021-08-30 16:39] flaker commented on #250
@shivamerla

Applied the workaround specifying to actual toolkit and using containerd 1.5.2.

Current (while the toolkit pod is up) `/etc/containerd/config.toml`

[code]

I still have pending pods:
[code]

I tried the next LTS version and it didn't join the cluster (unrelated to this issue). Is there any other distro you feel might have a better chance?

Thank you.

[2021-08-30 16:56] shivamerla commented on #250
@flaker Is the driver installation complete? Can you run `lsmod | grep nvidia` on the worker node and confirm driver modules are loaded? Other pods will stay in `init` phase until driver is loaded. If they are stuck there after driver install, please get logs of `kubectl logs nvidia-operator-validator-zdrzn -n gpu-operator-resources -c driver-validation` and `kubectl logs nvidia-operator-validator

[2021-08-30 17:48] flaker commented on #250
@shivamerla

I think the modules are loaded. From the drivers loading pod is not a super smooth process (some error so some pre-cooked binaries seem to load)

[code]
The logs you requests

[code]

These are several pods, containers so I am trying to see where "stuck point" is. So far all I found out was:
[code]

[2021-08-30 17:52] shivamerla commented on #250
`disabled_plugins = ["cri"]` why is this added to config.toml? Can you delete the config.toml file and restart container-toolkit. It will create the file again with version=2.

[2021-08-30 17:56] flaker commented on #250
Done @shivamerla. The current content reads like:

[code]

[2021-08-30 18:52] shivamerla commented on #250
still no luck?

[2021-08-30 18:56] flaker commented on #250
no luck. Exact same error "RuntimeHandler "nvidia" not supported" unless there is some other error message hidden somewhere.

[2021-08-30 18:59] shivamerla commented on #250
we would have to try this internally. You can try restarting containerd service or re-installing operator to confirm `nvidia` runtime is picked up.

[2021-08-30 19:04] flaker commented on #250
yes, did both and the runtime error was still there. If you are going to try it internally, some extra info:

Node type: g4dn.xlarge
Image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20210825

Since the containerd version provided seemed to be very old. I did update and installed `apt-get install containerd` to get closest to latest.

I installed the chart using:
[code]

T

[2021-08-30 19:05] shivamerla commented on #250
Thanks, we will try to reproduce.

[2021-08-30 22:58] shivamerla commented on #250
@flaker i have tried this setup and worked fine for me. So something else seems wrong with the containerd setup on your instance.

[code]

[code]

[2021-08-30 23:09] shivamerla commented on #250
From the snippets you copied at the beginning of this thread looks like kubelet is still using docker.

[code]

Can you confirm below args are set with kubelet?

[code]

[2021-08-31 08:14] sakaia commented on #251
Thank you for your reply. I’ts helpful.

[2021-08-31 08:14] #251 closed

[2021-08-31 14:22] turowicz commented on #165
You can just manually deploy nvidia device plugin and utilize GPUs that way.

[2021-09-01 15:39] flaker commented on #250
Hello @shivamerla

Apologies for the delay. Yesterday I was finally able to deploy this. Turns out that after upgrading containerd to 1.5.2 something got still referenced (sorry, I don't know what) breaking the rest of the process, the configuration for the nvidia runtime could not be found even when it was in the toml configuration file. I still have to prepare a proper image to avoid the manual

[2021-09-01 16:17] yug0slav opened #252 "gpu operator 1.8.1 / 470.57.02 / nvidia-driver-daemonset pod crashloop"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [no] Are you running on an Ubuntu 18.04 node? - CentOS7.9
- [yes] Are you running Kubernetes v1.13+? - 1.21
- [containerd] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? - 1.4.8+
-

[2021-09-01 16:21] cdesiniotis commented on #252
Yes we have been made aware our 470.57.02 image for centos is failing. Please use the 460 driver until this is resolved.

[2021-09-02 08:06] sakaia commented on #248
Sorry for delaying
I am executing following command but it fails on another message.(it goes to "set up docker"?)
It seems remnant of docker file do wrong behavior.

[code]

I typed following commands but it outputs following message.

[code]

[code]

[code]

containerd is running as follows.

[code]

[2021-09-02 08:11] elezar commented on #248
@sakaia is this on the same system as before? If so, you need to [set the default container runtime as `containerd`](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#set-the-default-container-runtime-as-containerd). The default for the GPU Operator is `docker`.

[2021-09-02 14:18] koflerm opened #253 "nvidia-cuda-validator pods crashlooping in OpenShift 4.6"
Today we updated the GPU operator in one of our OpenShift clusters (Version 4.6.35) to the version 1.7.1. The upgrade included uninstalling the old GPU operator version and installing everything from scratch. After the update however, the nvidia-cuda-validator pods are crashing with the error "Failed to allocate device vector A (error code no CUDA-capable device is detected)!" in the cuda-validati

[2021-09-02 22:15] cdesiniotis commented on #252
@yug0slav we just pushed new images for 470.57.02. Could you give the new image a try? `nvcr.io/nvidia/driver:470.57.02-centos7`

[2021-09-03 14:17] briantopping opened #254 ""Failed to get convolution algorithm"... am I fully installed?"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
  Not exactly, running on 20.04
- [X] Are you running Kubernetes v1.13+?
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
  Tried to find these but don't see them
- [X] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespace

[2021-09-05 01:15] briantopping commented on #254
Resolving my own issue, hopefully this helps another GPU noob like myself.

TIL ([from here](https://thenewstack.io/tutorial-deploy-the-nvidia-gpu-operator-on-kubernetes-based-on-containerd-runtime/)) was there is an app called `nvidia-smi` that will give you some status on your card. Install that so you can see what's happening:

1. Use `dmesg` on the GPU node to find the version of the software

[2021-09-05 01:15] #254 closed

[2021-09-07 04:27] Kaka1127 commented on #249
Any update?

[2021-09-07 04:39] shivamerla commented on #249
@Kaka1127 we are planning to release `v1.8.2` later this month after QA completion. Meanwhile you can install using private image if required.

[code]

Here provide the ConfigMap name you created in `gpu-operator-resources` namespace.

[2021-09-07 05:18] Kaka1127 commented on #249
@shivamerla
Thank you for your update!
I updated with following your way but I met the following issue.
It did not present the setting of migmanager.conf on clusterpolicy even though applied the latest one.
[code]

[2021-09-07 05:24] shivamerla commented on #249
i see that the change exists [here](https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/templates/clusterpolicy.yaml#L331) to apply this for ClusterPolicy using helm templates. Will double check tomorrow. Meanwhile you can edit the ClusterPolicy and add this entry manually.

[2021-09-07 05:45] Kaka1127 commented on #249
Uummm...
I added the config.name at migManager section like below but it showed the "failed" status on "nvidia.com/mig.config.state" when I inserted my custom config file even though it was set the default mig profile like an all-disabled on "nvidia.com/mig.config".

[code]

[2021-09-07 05:52] Kaka1127 commented on #249
Sorry. I found issue on my custom mig config file...

[2021-09-07 06:14] #242 closed

[2021-09-07 10:27] withoutnickname opened #255 "repoConfig to override /etc/apt/sources.list is not working"
k8s - 1.18.10, self-hosted, **w/o Internet access**
workers - Ubuntu 18.04.4
#--------------------------------------
`nvidia-driver-daemonset` pod fails during packages update (because of private cluster):
[code]
To overcome it, we tried to specify our custom deb sources in operator ClusterPolicy via:
[code]
but it does not work as expected: default sources.list stays in use as well.
BTW, after ma

[2021-09-07 15:53] shivamerla commented on #249
@Kaka1127 does this work as expected now?

[2021-09-07 15:53] shivamerla commented on #250
@flaker thanks for confirming, closing this issue.

[2021-09-07 15:53] #250 closed

[2021-09-07 16:45] cdesiniotis commented on #255
Can you provide driver logs  for this case? It is expected behavior for the default source.list file to remain the same -- which means you will still see similar warning messages in the driver logs. However, if your repo-config file is configured correctly, it should be able to pull the packages from your local mirror and should proceed without failure.

[2021-09-07 19:54] shivamerla commented on #253
@koflerm Is the issue still persistent? Both plugin validation and cuda validation use same `vectorAdd` sample, wondering why once succeeded and other failed.

[2021-09-07 19:56] FlorinAndrei commented on #240
@shivamerla - I tried again to install the GPU operator without forcing a version number. I got v1.8.1. It seems like now it works just fine on my CentOS 7.9 instances, without having to force driver versions or toolkit versions. Does that mean the bug was fixed in 1.8.1?

How do I know which toolkit version was installed on my system?

[2021-09-07 20:03] cdesiniotis commented on #240
There was a bug with our CentOS 470 driver images, which we recently fixed. It was not tied to gpu-operator v1.8.1 release. Thanks for confirming it resolves your issues!

To check toolkit version, you can simply look at image used by `nvidia-container-toolkit-daemonset`. It should default to 1.6.0 with most recent gpu-operator chart: https://github.com/NVIDIA/gpu-operator/blob/master/deployments/

[2021-09-07 20:04] shivamerla commented on #240
@FlorinAndrei By default `ubuntu` variant of toolkit image will be used if not overridden and we have seen issues when used with Centos7 due to GLIBC version [mismatch](https://github.com/NVIDIA/gpu-operator/issues/72). If you don't hit that issue then its fine, but generally its better to use `v1.6.0-centos7` toolkit images.

[2021-09-07 20:06] shivamerla commented on #252
Closing this as the issue is fixed with updated driver image. Please re-open if its still failing.

[2021-09-07 20:06] #252 closed

[2021-09-07 20:17] shivamerla commented on #195
This support has been adding since `v1.8.0`. Please pass additional configmap as `--set dcgmExporter.config.name=<config-map-name>`.

[2021-09-07 20:17] #195 closed

[2021-09-07 20:19] shivamerla commented on #244
Closing this and we will tag with `4.9` once officially validated.

[2021-09-07 20:19] #244 closed

[2021-09-07 22:55] FlorinAndrei commented on #240
@shivamerla @cdesiniotis Okay, so from what you're saying, the best bet for CentOS 7 is:

[code]

And there's no need now to force a driver version.

[2021-09-08 01:13] Kaka1127 commented on #249
@shivamerla
Yes, it worked as I expected.

[2021-09-08 01:17] #249 closed

[2021-09-08 01:44] Kaka1127 opened #256 "Questions related to GPU Operator"
Hi

I have some questions. Please let me confirm them.

1. It possible to deploy the gpu-operator to the mixed the environment of DGX-Station(installed the gpu driver and toolkit) and OEM server(not installed the gpu driver and toolkit) cluster?
2. Does the GPU operator support to run correctly on one server which is installed different SKUs(ex. A100 x1 and A6000 x3)? Note: I am not sure that OEM

[2021-09-08 12:21] koflerm commented on #253
@shivamerla Yes the problem is still existing. Actually I think the plugin validation was not yet started because also because of the crashing cuda-validator pods the nvidia-operator-validator which includes the plugin-validation as the 4th init container has not started this init container because it is still waiting for the 2nd init container to finish (which waits for the successful start of th

[2021-09-08 16:42] bejay633 opened #257 "nvidia-driver-daemonset is crashing on openshift 4.8.*"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x ] Are you running Kubernetes v1.13+?
- [x ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_m

[2021-09-08 17:08] shivamerla commented on #257
@bejay633 you mention about configuring licensing server, does that mean you are trying it with NVIDIA Virtual GPU's? Did you build the driver container for vGPU?

[2021-09-08 20:17] shivamerla commented on #253
@koflerm can you copy output of `nvidia-smi` run from any of the pods(plugin, gfd etc)? Also, if you can run this test pod and verify if the necessary files are injected by toolkit. It will be looping in the init container so we can run below commands.

[code]

[code]

[2021-09-09 06:37] frankfnord commented on #257
working with @bejay633 together on this: we are running Openshift on Nutanix AHV and are using nvidia vGPUs, that's right. to my understanding, the driver container is being built by nvidia-driver-daemonset which is part of the nvidia GPU Operator.
the image being pulled via the gpu-operator is: 'nvcr.io/nvidia/driver@sha256:a62de5e843a41c65cf837e7db5f5b675d03fa2de05e981a859b114336cf183e3'

[2021-09-09 09:26] withoutnickname commented on #255
Hi @cdesiniotis!
Logs are the same (from nvidia-driver-ctr) container:
[code]
and pod is restarting constantly..
configmap is created and specified in operator with valid data - tested manually by updating default source.list

[2021-09-09 19:36] cdesiniotis commented on #255
Can you confirm that `/etc/apt/sources.list.d/` gets created inside the driver container and your custom repo file can be found in that directory?

[2021-09-09 19:43] cdesiniotis commented on #257
For vGPU you cannot use this driver image, you have to build your own driver image following these instructions: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/install-gpu-operator-vgpu.html#

[2021-09-09 19:46] koflerm commented on #253
@shivamerla Here is the output I get when I run nvidia-smi on one of the device-plugin pods:

[code]

I also created the pod you mentioned above and it keeps crashing in the initContainer with the following error message:
[code]

[2021-09-10 13:19] ctromans opened #258 "nvidia-driver-daemonset stuck in Init:CrashLoopBackOff"
Having trouble getting the gpu-operator running, any suggestions much appreciated.   Full details below.  Thank you in advance!

Using microk8s v1.21.3, installed via snap tracking the latest/stable channel on Ubuntu 21.04.  The system has a Geforce RTX 3070:

nvidia-smi
Fri Sep 10 13:53:56 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.63.01

[2021-09-10 15:34] cdesiniotis commented on #258
Hi @ctromans we don't officially support GeForce GPUs and microk8s (meaning we do not test/validate the gpu-operator on these). See our platform support page: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#platform-support

With that said, it seems like you have the nvidia driver preinstalled on the host. You need to install the GPU Operator like such:
[code]

[2021-09-10 15:42] schmaustech commented on #230
@shivamerla Any movement or update on this?

[2021-09-10 17:56] shivamerla commented on #256
@Kaka1127  below are the responses:

1. It possible to deploy the gpu-operator to the mixed the environment of DGX-Station(installed the gpu driver and toolkit) and OEM server(not installed the gpu driver and toolkit) cluster?

`nvidia.com/gpu.deploy.driver=false` and `nvidia.com/gpu.deploy.container-toolkit=false` before installing GPU operator with default values. Currently GPU Operator doesn't

[2021-09-10 20:16] shivamerla commented on #253
@koflerm sorry i had a typo in the debug pod spec, updated it, can you try now and collect output of below commands.

[code]

Also, after collecting this, can you update the toolkit image to `1.6.0-ubi8` and confirm the issue is still happening.

[2021-09-12 23:39] Kaka1127 commented on #256
@shivamerla

Thank you for your kinds response. I got it.
Would you please  answer one more question?

4. If used the server of installing mix SKUs, it is possible to work the task on the specified SKU?
It will be labeled the multiple SKU and family to this server. As a result, the task will be assigned the server by checking the label but I think the task cannot control which SKU will run. Is my

[2021-09-13 00:05] Kaka1127 commented on #256
Could you please show us your plans about when you are going to release that?

[2021-09-13 23:50] shivamerla commented on #256
@Kaka1127 its targeted to be supported with `v1.9` of operator, which is sometime in November.

[2021-09-13 23:54] Kaka1127 commented on #256
@shivamerla
Thank you for your comment.

[2021-09-13 23:54] #256 closed

[2021-09-15 09:23] william0212 opened #259 "nvidia-cuda-validator pods crashlooping in OKD4.7"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?   No
- [ ] Are you running Kubernetes v1.13+?   Yes. v1.20
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?   crio
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?   yes
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)   yes

### 1. Issue or feature descrip

[2021-09-15 12:34] denniskaulbars opened #260 "Unable to persist proxy settings within nvidia-driver-daemonset"
### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node? No
- [x] Are you running Kubernetes v1.13+? Yes. v1.20
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? CRIO

### 1. Issue or feature description
Within an Redhat OpenShift 4.7 cluster in an air-gapped environment, we want to use the NVIDIA GPU operator 1.80 to provide GPU support for our cluster. We want to use

[2021-09-15 14:43] v1nc3nt27 opened #261 "Pods do not wait for nvidia-driver to be ready"
Hey there,

we are running the GPU-Operator on AWS EKS and since we also deploy spot instances, GPU nodes will come and go frequently. The issue is that the pods that run ML models on the GPUs won't wait for the nvidia driver to be ready. As soon as the node is up, they will spawn on it, but by that time the nvidia-driver pod hasn't finished, so the ML applications will instead run on the CPU, whi

[2021-09-15 16:50] shivamerla commented on #260
@denniskaulbars You don't need to add proxy env manually but if you have configured in cluster-wide Proxy object then gpu-operator will automatically inject them into driver pod. But recently we found an issue where `1.8.0` causes constant restarts of driver pod when proxy env is setup. This is fixed but will be released as part of `v1.8.2` which is later this month. If you want to use private bui

[2021-09-15 17:02] shivamerla commented on #261
@v1nc3nt27 Can you share the pod spec of ML workload? If you have explicit GPU resource `nvidia.com/gpu` request in the spec, then the pod should be in pending state until device-plugin is loaded which happens only after driver is loaded.

[2021-09-15 17:07] shivamerla commented on #259
@william0212 Can you share the output of `nvidia-smi` run from the driver pod or any of the plugin/GFD pods? Is the GPU A100 80GB? Also can you share server model and output of `lspci -vvv -d 10de: -xxx`

[2021-09-16 01:34] william0212 commented on #259
My Gpu is V100 32G. There is no driver pod , becauce I install the driver directly in the hardware and --set driver.enabled=false when depoloy the GPU operator. The log below from the pod of nvidia-operator-validator - driver-validation:
**running command chroot with args [/run/nvidia/driver nvidia-smi]
Thu Sep 16 01:12:40 2021
+---------------------------------------------------------------------

[2021-09-16 01:50] william0212 commented on #259
Another information I want to tell you about Node Feature Discovery.  Installing the version of 4.8.0 by Red Hat from OperatorHub of OKD, I find that today, all the nfd-worker in the namespace of openshift-operators is CrashLoopBackOff and shows log below:
 1 nfd-worker.go:186] Node Feature Discovery Worker 1.16
I0916 01:06:26.742837       1 nfd-worker.go:187] NodeName: 'worker200.okd.med.thu'
I09

[2021-09-16 08:27] koflerm commented on #253
@shivamerla Same behaviour so it keeps crashing with the following error message in the cuda-validation init container:

[code]

Also, it seems like the toolkit is the problem so the necessary files are not found:
[code]

[2021-09-16 08:39] v1nc3nt27 commented on #261
@shivamerla thanks for your response. Oh, I remember this resource annotation, but I did remove it because this would limit the GPU node to one deployment with that annotation. Is this still the case? We need to have several deployments/models that use the GPU on a single node (with only one running at a time). If this is what prevents the pods to launch before the device-plugin is loaded, then it

[2021-09-16 12:50] withoutnickname commented on #255
Hi @cdesiniotis!
Sorry for late response.
Yes, confirm both. File with the name `sources.list` is created in `/etc/apt/sources.list.d/`.
Did according to [instruction](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/appendix.html#local-package-repository).

gpu-operator:v1.8.0

[2021-09-16 12:55] william0212 commented on #259
**Today, I do uninstall the NFD operator by Red Hat and install the official NFD(v0.9.0).All the pods are running.**
But after that , I use the command:
 helm install --wait --generate-name \
          ./gpu-operator \
	 --set nfd.enabled=false \   (because I have deployed above)
	 --set operator.defaultRuntime=crio \
	 --set driver.enabled=false   (because I have install on the local machine)
**T

[2021-09-16 14:46] shivamerla commented on #261
yes, this should work as well, its just that this initContainer would have to be added to all of your deployments. Yes, it is a limitation that with resource annotation the GPU will not be freed until the container is exited. If you are running multiple pods and each co-ordinating to run one at a time, it will not work with resource annotation.

[2021-09-16 17:01] sxnguyen commented on #224
Hello,
Can anyone provide some feedback on this question?
Thanks,
Scott

[2021-09-17 07:23] denniskaulbars commented on #260
Hi @shivamerla Is there any other possibility to configure a proxy instead of using the cluster-wide proxy? If not, is this feature planned in future releases? A cluster-wide proxy is not an appropriate solution for us.

[2021-09-17 08:32] v1nc3nt27 commented on #261
Alright, thanks a lot for your confirmation. I've tested it a few times by now and it indeed seems to work fine with the initContainer - it's not an issue for us to add it to the deployment.

Perhaps, as a future suggestion, it might be interesting to natively allow multiple containers with that resource annotation on a GPU (although there might be good reasons not to do so which I'm not aware of)

[2021-09-17 08:32] #261 closed

[2021-09-17 15:01] shivamerla commented on #260
@denniskaulbars you can just add them under `driver.env` section(create one) in ClusterPolicy. Looks like last time you have added under `driver.manager.env` which is an initContainer.

[2021-09-21 12:06] Kaka1127 opened #262 "Unable to set the MIG profile of "4g.20gb" via mig manager."
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? --> No, ubuntu 20.04
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2

[2021-09-21 12:30] klueska commented on #262
Can you show the exact command you used to apply the label? Based on the custom config entry you provided, it should be:
[code]
though, I'd argue that's a non-intuitive name for the config since it is not actually "balanced" (it only provides for one type of MIG device striped across all GPUs on the node).

[2021-09-21 12:37] Kaka1127 commented on #262
Sure, here is my command.

[code]

Yes, I think so. This was test for "4g.20gb" profile... I would like to mixed the other profile like 1g.5gb x1, 2g.10gb x1 and 4g.20gb but if added the 4g.20gb for configration, it failed. So to do the debug, i left the 4g.20gb profile for configration.

[2021-09-21 12:59] Kaka1127 commented on #262
Ummm, I could not find any other log related to fail in mig-manager container.

[2021-09-21 13:22] klueska commented on #262
Can you exec into the `k8s-mig-manager` pod and run the following 2 commands:
[code]

[2021-09-21 15:43] klueska commented on #262
Something fishy is going on, because this command:
[code]
which returns `Selected MIG configuration is valid`.

Is the same one that appears to be failing when run by the MIG manager:
https://gitlab.com/nvidia/cloud-native/mig-parted/-/blob/master/deployments/gpu-operator/reconfigure-mig.sh#L171

[2021-09-21 23:00] Kaka1127 commented on #262
@shivamerla
I updated the mig manager and toollkit to the version which you said, but it showed the following error.
Please check the attached the log file.
[container.log](https://github.com/NVIDIA/gpu-operator/files/7206689/container.log)

After applying this change, it was failed with any profile like all-1g.5gb and so on..

[2021-09-21 23:15] Kaka1127 commented on #262
I could success my configuration which was included the 4g.20gb profile with rebooting the node and current mig and toolkit version(not updated)... I am not sure that why this issue happen... Anyway thank you for your support.

[2021-09-21 23:50] Kaka1127 commented on #262
After rebooting the server, it was succeed to set the 4g.20gb x1, but if mixed the profile like below, it was failed.
 4g.20gb x1
 2g.10gb x1
 1g.5gb x1

Here is my configuration file.
[code]

[2021-09-22 00:23] Kaka1127 commented on #262
Sorry post again. It was able to update the mig profile with mixed profile including 4g.20gb after pass a time. So, it seems that it need to have a wait to change the profile. Do you have any recommend timing to do it?

[2021-09-22 00:36] shivamerla commented on #260
@denniskaulbars `v1.8.2` is released now, please install one from RH catalog.

[2021-09-22 00:36] #260 closed

[2021-09-22 00:37] shivamerla commented on #246
This has been resolved.

[2021-09-22 00:37] #246 closed

[2021-09-22 10:37] klueska commented on #262
The error of:
[code]
Will not magically resolve itself, by just waiting, so I am still a bit confused about exactly what you ran when, and how these logs have been gathered.

That said -- when the config is detected successfully it will of course take a little bit of time before the change is fully applied. You can query the value of the `nvidia.com/mig.config.state` variable to see if the change

[2021-09-22 12:05] asviel commented on #226
I encountered the same problem. Went through this issue, trying to figure out how to see the debug logs?

As far as I understand, they should be under /var/log in Pod nvidia-operator-validator in the toolkit-validation container, but since it all goes to CrashLoopBackOff, I can't (don't have time) do exec and see what is in the logs.

Can you helm me @shivamerla?

[2021-09-24 14:49] Kaka1127 commented on #262
@klueska

Thank you for your response. I am also confused a bit.  Actually, it was resolved with extra wait for this change.

Also, I know that the label showed the status. So, should I avoid to run the change except for "success" and "failed"?
I have one more quesiton.
If running any GPU task on A100 cards, can I change the mig profile while running task? If no, would you please give me the recom

[2021-09-24 16:06] klueska commented on #262
In general, the `k8s-mig-manager` does not automate the process of ensuring that it is "OK" to change the MIG configuration on the GPUs that it manages. It assumes that some higher level entity is coordinating the setting of the `mig.config` label on the node when it is OK to do so.

At present, best practice before applying a MIG config change to any GPU is to:
1. Cordone the node
2. Wait for all

[2021-09-26 13:14] Kaka1127 commented on #262
I see. Thank you for your advice.

[2021-09-26 13:14] #262 closed

[2021-09-28 00:52] shivamerla commented on #83
@mattpielm This has been fixed with `v1.8.x`. Please use `v1.8.2` which was released last week to RH catalog. By the way, you don't need to edit proxy variables manually with driver Daemonset, GPU Operator will automatically inject them if they are added in Cluster-wide proxy.

[2021-09-28 01:00] shivamerla commented on #253
@koflerm yes, looks like toolkit error. Can you edit clusterpolicy to use the latest toolkit `1.7.1-ubi8`. Also, can you run same commands on GFD pods to see if it can see all GPU devices?

[code]

[2021-09-28 01:04] shivamerla commented on #226
@asviel If you add `debug` fields as mention in comment https://github.com/NVIDIA/gpu-operator/issues/226#issuecomment-884535327 , you should see logs under /var/log on the host itself.  Can you please share the install command or clusterpolicy spec? also logs form container-toolkit pod will help as well.

[2021-09-28 08:06] akakakakakaa commented on #226
I don't know exactly.

But When I check toolkit validation logs, The toolkit validation seems to check nvidia-smi.

But, toolkit validation does not have

[code]
It seems that the problem occurred because that part was deleted in this commit.(2f156d6528882c68f9c9a13702771cc785afb0a7)

[2021-09-28 08:24] akakakakakaa commented on #226
nvidia driver exists in /run/nvidia/driver/usr/bin/nvidia-smi directory. But, toolkit validation does not mount /run/nvidia/driver.

https://github.com/NVIDIA/gpu-operator/issues/226#issuecomment-884535327 how toolkit validation uses nvidia-smi command without mounting this directory?

[2021-09-29 04:23] YeoDaeHwi opened #263 "timed out waiting for the condition"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-09-29 04:23] #263 closed

[2021-09-29 19:40] FlorinAndrei opened #264 "failure to install on Rocky Linux 8.4 (CentOS 8 clone)"
CentOS 8 is going end-of-life very soon. We are migrating to Rocky Linux 8 instead for the k8s hosts. I am trying to install the GPU operator on Rocky Linux 8.4 but one of the components fails.

Kubernetes 1.20.5

Docker 20.10.3

### 1. Issue or feature description

[code]

Output:

[code]

[code]

### 3. Information to [attach](https://help.github.com/articles/file-attachments-on-issues-and-pull-

[2021-09-30 17:31] cdesiniotis commented on #264
We do not support Rocky Linux. Please refer to our platform support page for all the operating systems we currently support: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#linux-distributions

[2021-09-30 18:00] FlorinAndrei commented on #264
@cdesiniotis A few observations:

You still support CentOS 8. This is a dying OS - it is scheduled for end-of-life in a couple months. Most of its users are already migrating to Rocky Linux, as we do.

The operator code insists on picking its own versions, and thereby it cannot be fixed. For example I tried this:

[code]

...but I got this:

[code]

[2021-09-30 18:04] shivamerla commented on #264
@FlorinAndrei for this use case you would need to use a private image(which can be just re-tag of existing centos8 image). ATM there is no plan to continue support for CentOS 8 or Rocky Linux.

[2021-09-30 18:43] FlorinAndrei commented on #264
I retagged your 470.57.02-centos8 driver and pushed it to my repo. I patched your chart to use my repo, then installed it on my Rocky Linux 8.4 cluster. The image was loaded just fine after that. But what I get in the end is this:

[code]

And the error from the crashing robin-master pod is:

[code]

This is a little concerning for those running k8s in VMs that they manage. CentOS 7 is very old an

[2021-09-30 19:11] FlorinAndrei commented on #264
Trying again, this time with the 450.80.02-centos8 driver instead, and the nvidia-driver-daemonset crashes with:

[code]

[2021-09-30 19:17] FlorinAndrei commented on #258
@cdesiniotis

It would be great to have a page where all these different install options are described, along with what they do and when it might be good to use them.

[2021-09-30 20:06] FlorinAndrei commented on #264
I've installed the driver on the Rocky Linux 8 host, using the instructions for RHEL 8 - some bugs there as well, but I've fixed it.

Then I did this:

[code]

I had to create /sbin/ldconfig.real as a symlink to /sbin/ldconfig or else nvidia-operator-validator was crashing.

But now nvidia-dcgm-exporter is crashing, and the error is:

[code]

All pods status:

[code]

[2021-10-01 13:05] treo commented on #258
@FlorinAndrei
All options are listed here:
https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/values.yaml

But you are right that it would be nice if they were a bit more commented as for how they are supposed to be used.

[2021-10-03 06:29] william0212 commented on #253
@shivamerla , follow your instruction of 2 exec above , I get feedback as follows, I think the problem is /dev/nvidia*,
[root@bastion william]# oc exec gpu-feature-discovery-pfj7l -n gpu-operator-resources -c gpu-feature-discovery -- ls -la /dev/nvidia*
ls: cannot access '/dev/nvidia*': **No such file or directory**
**command terminated with exit code 2**
[root@bastion william]# oc exec gpu-featur

[2021-10-03 06:41] william0212 commented on #259
@shivamerla I followed your command. But for new version 1.8.2 of gpu-operator , new problem comes out as follow.
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(ClusterPolicy.spec.migManager): unknown field "config" in com.nvidia.v1.ClusterPolicy.spec.migManager

[2021-10-04 07:42] ryanwcyin commented on #178
@klueska Can I mount the /run/nvidia/driver to the user home to run the nvidia-smi command?

[2021-10-04 10:31] william0212 commented on #259
@shivamerla I followed your instruction. The result is as same as before.
The nvidia-cuda-validator init error . It didn't download the image of cuda . Please help me to find who control it for downloading the cuda image. I think it is the problem .
Or is there some config problem of node-feature-discovery ? of  gpu-feature-discover
![03b91a96469c7ee62ebd9d4a9146462](https://user-images.githubuser

[2021-10-04 10:39] william0212 commented on #259
[nvidia-container-toolkit-daemonset-nv6jk-nvidia-container-toolkit-ctr.log](https://github.com/NVIDIA/gpu-operator/files/7277430/nvidia-container-toolkit-daemonset-nv6jk-nvidia-container-toolkit-ctr.log)
This is the log from the nvidia-container-toolkit, maybe it will help

[2021-10-04 15:57] cdesiniotis commented on #258
@FlorinAndrei  we appreciate the feedback. We are continually working to improve our documentation.

It is worth noting that under `Common Deployment Scenarios`, we cover most of the common deployment scenarios we have seen from our users (i.e. pre-installed drivers like I mentioned above in this issue). The examples in this section should be a good reference of how to use our various install opti

[2021-10-04 15:57] #258 closed

[2021-10-04 16:36] cdesiniotis commented on #264
Could you provide logs of the dcgm pod? Also, can you try deploying the operator again with dcgm disabled `--set dcgm.enabled=false`

[2021-10-04 17:09] FlorinAndrei commented on #264
The system got rebooted a few hours ago, not by me. Now all pods are either in Running or Complete. These are the dgcm logs:

[code]

What is the hostengine on port 5555? Which component starts it?

[2021-10-04 17:14] cdesiniotis commented on #264
The dcgm pod `nvidia-dcgm-kfqch` starts it, and the dcgm-exporter pod gets gpu metrics from it and exports them to prometheus

[2021-10-04 17:25] FlorinAndrei commented on #264
I've uninstalled / reinstalled the operator, now the DCGM exporter is again in CrashLoopBackOff, the dcgm pod shows no logs at all:

[code]

[2021-10-04 20:45] shivamerla commented on #259
@william0212 cuda-validator pod doesn't download cuda images, we have `vectorAdd` sample within `gpu-operator-validator` image which gets invoked at runtime. Wondering if cuda 11.4.1 package installed directly on host is causing any of this.

We should see toolkit logs on the host by adding `debug` fields as below.

[code]

[2021-10-07 06:31] benboern commented on #257
that worked! thanks a lot.

[2021-10-07 15:26] fanminshi opened #265 "toolkit installation container can't find nvidia-smi"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
Running on Ubuntu 20.04
- [X] Are you running Kubernetes v1.13+?
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have

[2021-10-07 21:42] rhn-gps-roellis opened #266 "Unable to load nvidia.ko. OCP 4.8.13.The target kernel has CONFIG_MODULE_SIG set"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? - NO
- [ ] Are you running Kubernetes v1.13+? - YES
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? CRIO
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes? - DONT KNOW
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`) - DONT KNOW

### 1. Issue or feature desc

[2021-10-07 22:06] cdesiniotis commented on #265
Can you try deleting the `operator-validator` pod, which will automatically restart it. As mentioned by @elezar [here](https://github.com/NVIDIA/gpu-operator/issues/226#issuecomment-884405713) sometimes there is a race condition on the `/run/nvidia/drivers` mount shared between the driver pod and the operator-validator pod.

If that does not solve the issue, please enable debugging for the toolkit

[2021-10-07 22:49] robynellis commented on #266
Per your documentation, openshift 4.8 is a supported platform.  This is a default install from the operator hub.  If this is no longer functional, then I'd suggest that you update your documentation.  Recommend options???

[2021-10-08 14:41] rhn-gps-roellis commented on #266
Good morning.  Disabling secureboot on the GPU node did resolve this issue for me.  Do you have a seperate repo for your documentation.  PR against it for inclusion of this into either preq or troubleshooting section?  I think this could save a lot of others headaches around secureboot.

[2021-10-08 16:25] #266 closed, assigned to shivamerla

[2021-10-08 16:28] #239 closed

[2021-10-08 16:37] #231 closed

[2021-10-08 18:47] kralicky opened #267 "VCS licenses are acquired per-cluster rather than per-gpu"
### 1. Issue or feature description

I have created four clusters and installed GPU operator into all 4. Each cluster contains one node which has been given 1 of 8 available VGPUs from the host, split between two GPUs providing 4 VGPUs each (everything is done on one machine with VMs). nvidia-gridd leases four licenses from the NLS, but it should only lease two.

nvidia-smi output on the host:
[co

[2021-10-08 22:29] fanminshi commented on #265
`Also what container runtime are you using?`
I am using docker.
[code]

the debug log is basically this
[code]

[2021-10-08 23:13] cdesiniotis commented on #265
@fanminshi the toolkit validation container needs to directly invoke `nvidia-smi` to verify that the `nvidia-container-toolkit` stack is properly installed/configured on your system. We cannot use `chroot` in this case.

This appears to be the culprit. Our runtime hook is not being injected into the container spec, and therefore the container is being not setup correctly. I will try to reproduce t

[2021-10-08 23:14] cdesiniotis commented on #267
Hi @kralicky -- this is the expected behavior. You need a license per VM. It looks like you have 4 VMs, and so 4 licenses should be leased.

[2021-10-09 16:08] robynellis opened #268 "Custom build GPU operator to eliminate cuda-validator container - OCP 4.8 - GPU-Operator 1.7 and 1.8"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? - no
- [ ] Are you running Kubernetes v1.13+? - yes
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? - CRIO
- [ ] Do you have `i2c_c

[2021-10-10 20:22] IvanDechovsky opened #269 "Multiple issues with dcgm and dcgm-exporter in latest release (v1.8.2)"
### Platform
Platform EKS 1.21 + AMI [AMI v20210722](https://github.com/awslabs/amazon-eks-ami/releases/tag/v20210722)

###  Issue or feature description
Multiple issues with latest release v1.8.2

#### Problem 1
Breaking change introduced in 1.8.0. Upgrading from 1.7.1 is not possible due to changed selector label - which is immutable. Release notes for 1.8.0+ did not mention any breaking changes

[2021-10-11 16:04] #265 closed, assigned to cdesiniotis

[2021-10-11 16:58] shivamerla commented on #268
Yes, T400 is supported with GPU Operator, I don't think we have any documentation comparing features with P2000, but i will ask. May be @dualvtable  know?

[2021-10-11 19:40] larivierec opened #270 "Unable to set proper tolerations with GPU-Operator"
### 1. Quick Debug Checklist
- [-] Are you running on an Ubuntu 18.04 node? 20.04 (but it works for the node using a GTX 1070)
- [x] Are you running Kubernetes v1.13+?
- [-] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? containerd
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1.

[2021-10-12 22:19] larivierec commented on #270
Awesome, i can confirm this works Shiva.
thanks a bunch!

[2021-10-12 22:19] #270 closed

[2021-10-13 18:00] shivamerla commented on #269
@IvanDechovsky I will look further into this, meanwhile to avoid this you can set `dcgm.enabled=false` during install which will allow `dcgmExporter` to use an embedded DCGM hostengine instead of creating a separate pod for itself. So you can avoid patching PSP rules and enabling `hostNetwork: true`.

[2021-10-14 10:05] sandrich opened #271 "nvidia-smi killed after a while"
I run a rapidsai container with jupyter notebook.
When I freshly start the container all is fine. I can run some GPU workload inside the notebook.

[code]

Then randomly the notebook kernel gets killed. When I check nvidia-smi it crashes

[code]

I am not sure how to further debug this issue and where this comes from?

**Environment:**
OpenShift 4.7
GPU: Nvidia A100, MIG mode using the mig manager

[2021-10-14 12:09] elezar commented on #271
Hi @sandrich. Thanks for reporting this. With regards to the toolkit version, this is independent of the CUDA version which is determined by the driver that is installed on the system (in the case of the GPU Operator most likely by the driver container).

@klueska I recall that due to the following [`runc` bug](https://github.com/opencontainers/runc/issues/2366#issue-609480075) we saw that long ru

[2021-10-14 21:34] klueska commented on #271
Yes, that is what I was suggesting. so you are seeing this error even with the setting above for CPU/memory? Is this the *only* container in the pod (no init containers or anything)?

[2021-10-15 22:15] larivierec opened #272 "Unable to launch a different Pod with GPU Capabilities"
### 1. Quick Debug Checklist
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description

I'm curious, it's probably something wrong with my setup but i'll ask the ques

[2021-10-16 00:42] larivierec commented on #272
Was going to say but here's is the helm chart in case you need it.

https://github.com/larivierec/home-cluster/blob/main/cluster/core/nvidia/operator/helm-release.yaml

[2021-10-16 19:17] klueska commented on #272
I had prepared this last December for using the operator with microk8s. Some of it may or may not be relevant anymore if some of this was fixed on the microk8s side by now:

https://docs.google.com/presentation/d/1EL5LIXOxERqT3nkl_ru2CxiAC_gMK1MI-gw5Dq2b9dk/edit#slide=id.gb0919689f2_0_146

[2021-10-16 19:56] larivierec commented on #272
Yes, it's still relevant :)

[2021-10-18 18:57] ctromans opened #273 "ErrImagePull on nvidia-driver-demonset"
nvcr.io seems to be down, I can't pull the driver image:

Failed to pull image "nvcr.io/nvidia/driver:460.73.01-ubuntu21.04": rpc error: code = NotFound desc = failed to pull and unpack image "nvcr.io/nvidia/driver:460.73.01-ubuntu21.04": failed to resolve reference "nvcr.io/nvidia/driver:460.73.01-ubuntu21.04": nvcr.io/nvidia/driver:460.73.01-ubuntu21.04: not found

A browser request just times o

[2021-10-19 12:41] sandrich commented on #271
Hi, OpenShift does not use runc but rather cri-o?

[2021-10-25 14:24] chenja2000 opened #274 "Cuda driver crash to cause kernel panic"
Here is an example of a chunk from the vmcore-dmesg.txt for such a crash:
395.350871] BUG: unable to handle kernel NULL pointer dereference at 00000000000000b1
[ 395.350973] PGD 5c9846d067 P4D 5c9846d067 PUD 5c9847f067 PMD 0
[ 395.351068] Oops: 0000 [#1] SMP NOPTI
[ 395.351153] CPU: 33 PID: 4564 Comm: sbatchd Kdump: loaded Tainted: P OE --------- - - 4.18.0-305.3.1.el8_4.x86_64 #1
[ 395.351265] Ha

[2021-10-26 16:36] GuillaumeSmaha opened #275 "GPU-operator doesn't allow to specify a volume to mount metrics file for nvidia-dcgm-exporter"
Hi,

A comment on `nvidia-dcgm-exporter` recommands to define by ourself the list of metrics to export: https://github.com/NVIDIA/gpu-monitoring-tools/issues/143#issuecomment-926807911
For example, to enable `DCGM_FI_DEV_GPU_UTIL` or others metrics in https://github.com/NVIDIA/dcgm-exporter/blob/main/etc/dcp-metrics-included.csv.
It is possible to specify the location of the exporter collections w

[2021-10-26 17:53] #275 closed, assigned to nobody

[2021-10-29 07:36] Kaka1127 opened #276 "Failed to run the DCGM Exporter with specific mig profile."
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? --> No, ubuntu 20.04
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2

[2021-11-03 17:18] chenja2000 commented on #274
Opened Nvidia bug: https://developer.nvidia.com/nvidia_bug/3425028

[2021-11-08 17:05] ClementGautier opened #277 "nvidia-cuda-validator vectorAdd fails"
### 1. Quick Debug Checklist
- Are you running on an Ubuntu 18.04 node?
No, I'm using Ubuntu 20.04 but it's supported as well
- Are you running Kubernetes v1.13+?
Yup, 1.19.16 to be precise
- Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
Only containerd with systemd cgroup
- Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
ipmi_msghandler, but not i2c_core
- Did you apply

[2021-11-10 12:12] ClementGautier opened #279 "Driver install fails on Ubuntu 20.04"
### 1. Quick Debug Checklist
- Are you running on an Ubuntu 18.04 node?
20.04
- Are you running Kubernetes v1.13+?
1.19.16
- Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
containerd directly on systemd cgroup
- Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
yes
- Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)
yes

### 1. Issue or feature desc

[2021-11-10 12:57] ClementGautier commented on #279
Sorry for the bad report, after disabling apparmor and nouveau the driver setup process ended successfully, I though nouveau was already disabled, sorry for the noise.

[2021-11-10 12:57] #279 closed

[2021-11-10 14:16] ClementGautier commented on #277
Soooo I fixed this using the latest drivers (470) instead of the 450 I was using. I guess there is a missmatch version between the cuda samples used in the image and the driver.

[2021-11-10 14:16] #277 closed

[2021-11-12 02:35] shivamerla commented on #276
@Kaka1127 Can you try with new DCGM exporter version `nvcr.io/nvidia/k8s/dcgm-exporter:2.3.1-2.6.0-ubuntu20.04` and verify this.

[2021-11-12 02:36] #274 closed

[2021-11-12 02:40] shivamerla commented on #228
This should be fixed with `NVIDIA_VISIBLE_DEVICES=void` set now with rhcos images.

[2021-11-12 02:40] #228 closed

[2021-11-12 04:21] Kaka1127 commented on #276
@shivamerla
Thank you for your response!
I have changed the the DCGM exporter tag and it was worked well by updated the DCGM. So, please update the tag of DCGM exporter in next GPU Operator version.

[2021-11-12 04:21] #276 closed

[2021-11-16 15:46] MeranaTona opened #280 "Pods for: Operator, device plugin, dcgm, gpu feature discovery in "Init" state"
Hi all,

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node? 20.04.3
- [x] Are you running Kubernetes v1.13+? 1.22.2
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? Crio 1.22.0
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes? No
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`) No

### 1. Issue or feature de

[2021-11-16 16:27] shivamerla commented on #280
@MeranaTona What is the status of crio service? Also, can you check if runtime hooks is created under `/run/containers/oci/hooks.d` and `hooks_dir` is set to this path in `/etc/crio/crio.conf`?

What is the output of `kubectl logs nvidia-operator-validator-l72z2 -n gpu-operator-resources -c toolkit-validation` and `kubectl logs nvidia-operator-validator-l72z2 -n gpu-operator-resources -c driver-va

[2021-11-17 09:29] MeranaTona commented on #280
@shivamerla Thank you for your fast response.

[code]
hooks_dir was not set to that path in /etc/crio/crio.conf

kubectl logs:
[code]

[code]

Crio service:
[code]

[2021-11-17 09:32] MeranaTona commented on #280
Update:
After adding to /etc/crio/crio.conf at all workers and master:
[code]
Result looks:
[code]

Problem seems to be solved. Thank you for your help.

[2021-11-17 18:38] shivamerla commented on #280
@MeranaTona Thanks for confirming, will add a note for this in the documentation.

[2021-11-17 18:38] #280 closed

[2021-11-20 01:02] shivamerla commented on #269
@IvanDechovsky Please try out `v1.9.0-beta` to fix this issue.

[2021-11-20 01:02] #269 closed

[2021-11-20 01:02] #211 closed

[2021-11-20 01:03] shivamerla commented on #211
This is fixed by choosing toolkit version as `1.7.2-centos7`

[2021-11-22 14:38] MeranaTona opened #281 "Back to the default config file after edit the mig config"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? 20.04
- [ ] Are you running Kubernetes v1.13+? 1.21
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? Crio 1.21
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description
Same proble

[2021-11-22 14:55] MeranaTona commented on #281
"One deamonset is in crashloop": I also did "kubectl drain node" beforehand. Might be related

[2021-11-22 20:50] shivamerla commented on #281
@MeranaTona if you want to provide custom config map, please pass option `--set migManager.config.name=<custom-config-map>` during install or `kubectl edit clusterpolicy` and provide name of custom mig-parted config. Please make sure to change `mig.strategy=mixed` if you have some GPU's with MIG enabled and some not.

[2021-11-23 07:41] kpouget commented on #281
Hello, just FYI, I validated that this works as [expected](https://docs.nvidia.com/datacenter/cloud-native/openshift/mig-ocp.html#creating-and-applying-a-custom-mig-configuration) in the v1.9.0-beta with the following ConfigMap:
(mind that the namespace must be `gpu-operator-resources` in v1.8)
[code]
and in the ClusterPolicy:
[code]

[2021-11-23 10:31] MeranaTona commented on #281
So I followed the suggested custom MIG config part: https://docs.nvidia.com/datacenter/cloud-native/openshift/mig- ocp.html#creating-and-applying-a-custom-mig-configuration and used this yaml as guidance: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/blob/v1.8.2/assets/state-mig-manager/0400_configmap.yaml . So custom config map is present and referenced in clusterpolicy.

After labeling the

[2021-11-23 10:36] kpouget commented on #281
if you see this
[code]
in ` cat /mig-parted-config/config.yaml` you indeed have an issue! `mig-parted` expects only the `config.yaml` bits, starting with
[code]
or it's a copy-and-paste mistake?

[2021-11-23 11:31] MeranaTona commented on #281
You are right! It's working now.
[code]

 Thank you both for the support.

For documentation my custom-mig-config.yaml:
[code]

[2021-11-23 11:35] #281 closed

[2021-11-23 11:40] seb-835 opened #282 "Installing gpu-operator on centos 7.9 + containerd - different issue and fix"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?   NO **centos 7.9**
- [X] Are you running Kubernetes v1.13+? 1.21.4
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?      **Containerd**
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes? NO
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`) Helm do it for me ?

[2021-11-23 12:29] seb-835 commented on #282
OK, got the log file, on the gpu host in /var/log/nvidia-installer.log

ERROR: An NVIDIA kernel module 'nvidia' appears to already be loaded in your kernel.
Now, must find why.

[2021-11-23 13:42] seb-835 commented on #282
So i decide to go without the driver set by the container
[code]
the nvidia-container-toolkit-daemonset do the job, but others pods were still in error with message :
[code]
thanks to : https://github.com/NVIDIA/gpu-operator/issues/72 https://github.com/NVIDIA/gpu-operator/issues/240
i set the correct toolkit version :
[code]
right now the pods are running , we will try to run  a gpu stress test.

[2021-11-23 14:33] seb-835 opened #283 "NVIDIA-SMI show me only one board when query through K8S"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? -- NO CENTOS 7.9
- [x] Are you running Kubernetes v1.13+?  -- 1.21.4
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? -- Containerd

### 1. Issue or feature description
My gpu-node have two  A100 boards, i can see them with nvidia-smi on the gpu-node :
[code]

when i query through a container or through k8s, i o

[2021-11-24 00:19] sjdrc opened #284 "Containers with 0 or no GPU assignment should not be able to see GPUs"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node?
- [X] Are you running Kubernetes v1.13+? 1.22.3+k3s1
- [X] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? docker 19.03.15
- [X] Do you h

[2021-11-24 00:51] shivamerla commented on #284
@sjdrc I have responded on the other thread you mentioned. You would need to manually configure those settings in `/usr/local/nvidia/toolkit/.config/config.toml` file along with `DEVICE_LIST_STRATEGY` device-plugin env set to `volume-mounts`. We will consider adding this support in future releases through gpu-operator/toolkit container.

[2021-11-24 00:55] shivamerla commented on #283
@seb-835 Running nvidia-smi through dcgmproftester might not be the right thing to do as that pod might be accessing single GPU by pod spec. You can run this through other containers deployed by gpu-operator like driver or device-plugin etc which have access to all GPU's by default.

[2021-11-24 00:57] shivamerla commented on #282
@seb-835 here are the docs for CentOS install: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#bare-metal-passthrough-with-default-configurations-on-centos

and with pre-installed driver:

https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#bare-metal-passthrough-with-pre-installed-drivers-and-nvidia-container-toolkit

[2021-11-24 00:57] #282 closed

[2021-11-24 01:00] shivamerla commented on #271
@sandrich can you check if below settings are enabled on your VM:

[code]

[2021-11-24 01:23] sjdrc commented on #284
Thanks, I'll close this and respond on the other thread.

[2021-11-24 01:23] #284 closed

[2021-11-24 12:26] sandrich commented on #271
Yes this one is set

![image](https://user-images.githubusercontent.com/1625557/143238127-f5225970-5ef0-4716-93cb-92abbd3bda07.png)

[2021-11-24 14:31] seb-835 commented on #283
Thanks for advice @shivamerla, will do.

[2021-11-24 14:31] #283 closed

[2021-11-25 12:26] ymazzer opened #285 "Question : is it possible to allow deployment when nvidia-smi returns code different from 0"
Hello,

I'm facing some issues trying to make a GPU available in a kubernetes cluster.

Based on my investigations, deployment process stops at nvidia-driver-daemonsets being blocked because the driver-validator which runs `nvidia-smi` will stop the deployment if the command return code is different from 0 but in some case nvidia-smi output can be different from 0 and still be a non blocking warni

[2021-11-25 12:29] kpouget commented on #285
could you show the output of `nvidia-smi; echo $?`, out of curiosity?

[2021-11-25 12:35] ymazzer commented on #285
Yes, here it is :

[code]

[2021-11-25 12:50] kpouget commented on #285
[code]
from https://developer.download.nvidia.com/compute/DCGM/docs/nvidia-smi-367.38.pdf

[2021-11-25 13:28] ymazzer commented on #285
@kpouget yes I have read this doc, but the return code 14 is not blocking workloads since it is juste a warning, that is why I'm asking :)

[2021-11-25 13:51] kpouget commented on #285
@ymazzer sure, I'm just gathering information around what is happening :)

[2021-11-26 11:16] sricharandevops opened #286 "nvidia-cuda-validator-xxx, nvidia-operator-validator-xxx pods are failing in crashloopback error on CentOS 7 Baremetal/A100 HGX with fabric-manager(nvswitch) system."
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? No (centos 7 1160 kernel)
- [ ] Are you running Kubernetes v1.13+?  No (1.21.5)
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?  Do

[2021-11-26 16:44] adaouda commented on #155
Hi,
I'm having the same issue using Centos 8 with  kernel:  kernel-4.18.0-305.25.1.el8_4.x86_64.

`========== NVIDIA Software Installer ==========

Starting installation of NVIDIA driver version 470.57.02 for Linux kernel version 4.18.0-305.25.1.el8_4.x86_64

Stopping NVIDIA persistence daemon...
Unloading NVIDIA driver kernel modules...
Unmounting NVIDIA driver rootfs...
Checking NVIDIA driver pa

[2021-11-28 02:48] sricharandevops commented on #286
nvidia-smi
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Co

[2021-11-28 08:57] kpouget commented on #286
@sricharandevops  can you triple quote ` ``` ` all the console output blocks? will be easier to read

[2021-11-29 00:36] shivamerla commented on #286
@sricharandevops Can you attach `/var/log/messages` to debug for any errors with driver. Also, i see multiple restarts of GFD, Device-Plugin pods did you apply MIG mode through MIG Manager?

[2021-11-29 00:50] shivamerla commented on #285
@ymazzer Yes, this is interesting issue. Will look into handling these conditions. For now you will need to build(`make ubi8`) a private image of `gpu-operator-validator` from here: https://github.com/NVIDIA/gpu-operator/tree/master/validator after changing `nvidia-smi` references in `main.go` to more specific command (`nvidia-smi -q` or `nvidia-smi -L`) which is not throwing this warning.  If not

[2021-11-29 05:34] shivamerla commented on #286
@sricharandevops This is due to the fact that `nvidia-fabric-manager` service not running. We currently don't support starting this service within CentOS driver image but only for RHCOS and Ubuntu20.04. In this case, you would need to pre-install NVIDIA drivers on the node directly and start `nvidia-fabric-manager` services through systemd. When installing gpu-operator please pass `--set driver.en

[2021-11-29 05:37] sricharandevops commented on #286
This is a single node k8s cluster -  below are the node labels :
`Name:               hgxlearn1000-mgmt.localdomain
Roles:              control-plane,master
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    feature.node.kubernetes.io/cpu-cpuid.ADX=true
                    feature.node.kubernetes.io/cpu-cpuid.AESNI=true

[2021-11-29 05:42] sricharandevops commented on #286
Thank you @shivamerla  for your reply, It would be helpfull if you could please provide the steps to install Nvidia drivers on centos.

[2021-11-29 06:19] sricharandevops commented on #286
here is the log for mig-mgr pod
[code]

[2021-11-29 06:52] zvonkok commented on #285
@ymazzer Is you have a running driver-container, look for errors/warnings in the device-plugin, this might fail as well if `nvidia-smi` is providing a non-zero exit code.

[2021-11-29 17:46] sricharandevops commented on #286
@shivamerla ,  Thanks for your response,

Below is the console output., Is this warning expected? or something is wrong here?

![image](https://user-images.githubusercontent.com/89511243/143917319-38f544ce-686e-4488-b32b-de52acf03d4c.png)

[2021-11-29 17:55] sricharandevops commented on #286
@shivamerla ,

How to start the faricmanger service , i dont find that service on the host
[code]

[2021-11-29 18:02] shivamerla commented on #286
@sricharandevops Sorry you would need to install those packages as well. Also, you can ignore the warnings during driver install.

[code]

https://docs.nvidia.com/datacenter/tesla/pdf/fabric-manager-user-guide.pdf

[2021-11-29 18:26] sricharandevops commented on #286
![image](https://user-images.githubusercontent.com/89511243/143922613-21375d2e-80c5-4db4-bc4a-09d2bf2e889e.png)

[2021-11-29 18:27] sricharandevops commented on #286
@shivamerla,
I still dont see the nvidia-fabricmanager service.

[2021-11-29 18:42] shivamerla commented on #286
ah, need to check this. Please download the packages manually and install them.

[code]

Then start fabric-manager services.

[2021-11-29 20:06] sricharandevops commented on #286
@shivamerla , after starting up the fabric manager,

and reinstalling the gpu-operator, the pods are stuck in the init and operator validator pod is in crashloop back.

[code]

[2021-11-29 20:11] cdesiniotis commented on #286
@sricharandevops You also need to specify `--set toolkit.version=1.7.2-centos7` during install.

[2021-11-29 20:45] sricharandevops commented on #286
@cdesiniotis ,  I tried installing gpu-operator the with  `--set toolkit.version=1.7.2-centos7`

![image](https://user-images.githubusercontent.com/89511243/143940015-c4e71455-f626-4035-90d8-3e7fae976aec.png)

`[root@hgxlearn1000-mgmt ~]# kubectl logs nvidia-cuda-validator-nr8cq -n gpu-operator-resources
cuda workload validation is successful
[root@hgxlearn1000-mgmt ~]# kubectl logs nvidia-device-

[2021-11-29 20:50] shivamerla commented on #286
@sricharandevops Please edit clusterpolicy and change `mig.strategy=mixed` you seem to have different MIG partitions setup on multiple devices.

[2021-11-29 21:41] sricharandevops commented on #286
@shivamerla ,

do we have support for centos  with 1.9.0, not able to install 1.9 version., Please suggest.

![image](https://user-images.githubusercontent.com/89511243/143947183-18233058-b822-4453-b48a-7067f955a82f.png)

[2021-11-29 21:41] shivamerla commented on #286
@sricharandevops please delete old CRD `kubectl delete crd clusterpolicies.nvidia.com` and try again.

[2021-11-29 22:15] sricharandevops commented on #286
i tried to install using 1.9-beta.

![image](https://user-images.githubusercontent.com/89511243/143951224-46e562bc-0f6a-481a-a9fe-b7d28902a089.png)

`                          nvidia.com/gpu:NoSchedule op=Exists
Events:
  Type     Reason                  Age    From               Message
  ----     ------                  ----   ----               -------
  Normal   Scheduled               4m37s

[2021-11-29 23:20] shivamerla commented on #286
i see container-toolkit is still initializing. After toolkit is setup rest of the pods should startup.

[2021-11-29 23:27] sricharandevops commented on #286
Just curiouss, I  have waited for more than 30 min, does this usually take so long to bring up toolkit?

[2021-11-29 23:29] shivamerla commented on #286
no, it will be quick after image is pulled. `kubectl logs <toolkit-pod> -n robinio -c driver-validation` and `kubectl describe pod <toolkit-pod> -n robinio`.

[2021-11-30 09:41] kpouget opened #287 "`mig-manager` not started when MIG mode enabled before the GPU Operator is installed"
When first deploying the GPU Operator on a node with (all the) A100 GPUs configured in MIG mode, the `mig-manager` label isn't applied and the deployment doesn't complete successfully:

[code]
[code]

[2021-11-30 09:44] kpouget commented on #287
The reason for which the `mig-manager` isn't started is because the node isn't labelled with `nvidia.com/gpu.deploy.mig-manager=true`

The reason for which the node isn't label is there:
[code]
===> the `gpuProductLabelKey` doesn't exist

the GFD label doesn't exist because:
[code]

[2021-11-30 09:47] kpouget commented on #287
Labeling the node works around the issue:
[code]

[code]

[2021-11-30 12:24] ymazzer commented on #285
Thanks for your support, I managed to make it work with a private build.

Do you plan to make it working natively? should I make a pull request?

@zvonkok I didn't use the device plugin since the driver and the toolkit are installed on the host.

[2021-11-30 15:21] mannusillegal commented on #100
We are facing the same issue in gpu server g4dn-xlarge with aws linux image. This server is a part of the kuberenetes cluster but unable to use the GPU in our deployment , pod is in pending state and after that we have describe the node, GPU's are not visible but we are able to run the nvidia-smi after login inside the server. So far i have followed all the steps mention here - https://kubernetes.

[2021-11-30 15:53] zbsarashki opened #288 "nvidia-dcgm-exporter error in a ipv6 only environment"
Hello,

Are nvidia-dcgm and nvidia-dcgm-exporter expected to work in an strictly ipv6 environment?

Thanks,
Babak

gpu-operator version 1.8.1
Failure with nvidia-dcgm-exporter:
[sysadmin@controller-0 ~(keystone_admin)]$ kubectl logs -n gpu-operator-resources        nvidia-dcgm-exporter-nnmpn
time="2021-11-30T15:37:19Z" level=info msg="Starting dcgm-exporter"
time="2021-11-30T15:37:19Z" level=info

[2021-11-30 18:34] shivamerla commented on #288
@zbsarashki  Can you check if NODE_IP env is set correctly on dcgm-exporter pod?  Also, can you try adding `hostNetwork: true` to both dcgm/exporter Daemonsets and verify this?

[2021-11-30 18:39] shivamerla commented on #287
@kpouget we would have to release note this as we expect users to perform all MIG changes(mode/config) through MIG Manager.

[2021-12-01 15:58] shivamerla commented on #286
@sricharandevops were you able to get this working?

[2021-12-01 18:41] shivamerla commented on #285
@kpouget created PR for this: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/354

Not likely that it will get into v1.9.0 release, will update.

[2021-12-01 20:10] shivamerla commented on #285
@kpouget can you try out with this validator image `registry.gitlab.com/shivamerla/gpu-operator/gpu-operator-validator:14ab83e6c2901d94736a52c12f82c9ce0b21a569-ubi8` and passing ENV as done in the PR. We need to make sure plugin/GFD can handle these errors.

[2021-12-01 20:18] kpouget commented on #285
@shivamerla, the image you link is the build of the [PR](https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/354), right?
I'll give it a try tomorrow in the CI (we build the validator image there)

[2021-12-01 20:18] shivamerla commented on #285
yes, thats correct its from the CI.

[2021-12-01 23:56] zbsarashki commented on #288
NODE_IP points to the node (managment interface). The result of setting hostNetwork: true is identical to the failure case:

[sysadmin@controller-0 debug(keystone_admin)]$ kubectl logs -n gpu-operator-resources        nvidia-dcgm-exporter-dkbtm
time="2021-12-01T23:54:01Z" level=info msg="Starting dcgm-exporter"
time="2021-12-01T23:54:01Z" level=info msg="Attemping to connect to remote hostengine a

[2021-12-02 00:03] shivamerla commented on #288
@zbsarashki we will look into this with IPV6, please edit `kubectl edit clusterpolicy` and change `dcgm.enabled=false`. With this dcgm-exporter will use embedded hostengine rather than using a separate pod.

[2021-12-02 15:40] kuonat opened #289 "Unable to setup gpu-operator | nvidia-cuda-validator init "Failed to create pod sandbox""
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [x] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [x] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

ubuntu 20.04
docker 20.10.7
kubernetes 1.22.3

### 1. Issue or featu

[2021-12-02 17:30] shivamerla commented on #289
@kuonat This looks to be related to https://github.com/NVIDIA/nvidia-container-runtime/issues/157 which was fixed with more recent version of toolkit container `1.7.2-ubuntu18.04`. Please try to use `v1.9.0-beta` helm chart which uses this toolkit version.(delete existing chart , `helm repo update` `kubectl delete crd clusterpolicies.nvidia.com` and  `helm install --wait --generate-name nvidia/gpu

[2021-12-03 00:38] sricharandevops commented on #286
Sorry for the delayed response!!.

I was able to get things working fine with a 1.8 GPU operator with Nvidia drivers, fabric-manager service running on the host, and GPU operator running inside containers.

[2021-12-03 03:11] #286 closed

[2021-12-04 09:31] nick-oconnor opened #290 "CRI-O runtime detection issues with 1.9.0"
Runtime detection in 1.9.0 appears to be broken for bare metal clusters running recent versions of k8s with cri-o. My `containerRuntimeVersion` is being reported as `cri-o://1.21.4` which fails detection since the [code](https://github.com/NVIDIA/gpu-operator/blob/6bdc0b902c7e55d87cb65399632a074f046678df/controllers/state_manager.go#L337) checks for the prefix [`crio`](https://github.com/NVIDIA/gp

[2021-12-06 10:02] elezar commented on #290
Thanks @nick-oconnor for reporting this.

We will have a look on our end. cc @cdesiniotis @shivamerla

[2021-12-06 15:11] shivamerla commented on #290
@nick-oconnor This was missed as we didn't try `cri-o` outside of openshift. Will fix this soon with a patch.

[2021-12-06 15:22] shivamerla commented on #289
@kuonat This might be due to that  DCGM exporter is now run with `hostNetwork: true`. This was required as DCGM hostengine and DCGM are separate pods now.

[2021-12-06 18:33] prpaul opened #291 "rhel 8.x support for GPU operator"
Wanted to check if RHEL 8.2 is supported by GPU operator 1.9.0

[2021-12-06 18:36] shivamerla commented on #291
@prpaul no, we don't support RHEL 8.x worker nodes, but only CoreOS. There is no plan to support RHEL worker nodes in the short term.

[2021-12-07 18:48] yug0slav opened #292 "Collection of GPU metrics in MIG mode is not supported with 470+ drivers."
From Known Limitations: "Collection of GPU metrics in MIG mode is not supported with 470+ drivers"

Could you please elaborate more don't this?
Are there any plans to address this in the near future?

[2021-12-08 10:27] prpaul opened #293 "GPU operator pods not coming up in centos 8.4"
able to install operator helm chart, but Nvidia pods not coming online

Setup details
==============
GCP VM Instance
Centos 8.4 2105
Nvidia MIG A100
Driver version - NVIDIA-Linux-x86_64-470.82.01

Below pods are not coming online after deploying operator helm chart

robinio       gpu-feature-discovery-66zcd                                 0/1     Init:0/1   0          34m
robinio       nvidia-dcgm

[2021-12-08 18:38] dbugit opened #294 "DCGM cannot load NSCQ"
### Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? (CentOS 7.6.1810)
- [X] Are you running Kubernetes v1.13+? (v1.22)
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? (Containerd 1.4.9-3.1.el7)
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes? (No)
- [X] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue

[2021-12-08 18:55] tusharrobin commented on #291
@shivamerla So if there is no planned support or roadmap, what is the alternative to GPU operator in the field?

Most of the deployments in production that we have seen will have RHEL 8 so what would you suggest should be the way of deployment on Kubernetes?

[2021-12-08 18:58] cdesiniotis commented on #293
You need to specify the CentOS toolkit image during install as described [here](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#bare-metal-passthrough-with-default-configurations-on-centos).
Try reinstalling with `--set toolkit.version=1.7.2-centos8`

[2021-12-08 19:26] shivamerla commented on #291
@tusharrobin are you referring to RHEL worker nodes in OCP or using upstream K8s?

On OCP, we could still use GPU operator but they need to build private driver container from here:  https://gitlab.com/nvidia/container-images/driver/-/tree/master/rhel8 and reference it while installing GPU operator. Alternatively driver can be directly installed on RHEL nodes and pass `driver.enabled=false` with G

[2021-12-08 19:35] shivamerla commented on #294
@dbugit Can you share the output of `chroot /run/nvidia/driver nvidia-smi` on the node.

[2021-12-08 19:39] glowkey commented on #294
The dcgm-exporter pod is trying to connect to the dcgm pod at 192.168.11.7:5555. Can you share the log output from the dcgm pod?

[2021-12-08 19:47] dbugit commented on #294
@glowkey Is what you're asking for different than what's in the original post?

[2021-12-08 19:53] glowkey commented on #294
Whelp, you're right. That output shows the dcgm pod running without a major issue but for some reason the exporter pod can't connect. Investigating...

[2021-12-08 19:59] dbugit commented on #294
@shivamerla Output of `chroot /run/nvidia/driver nvidia-smi` on the GPU node (only 1 in cluster):

[code]

[2021-12-09 00:30] dbugit commented on #294
Tracing through code in the DCGM project led me to the [`nscq_dl_load`](https://github.com/NVIDIA/DCGM/blob/7196e004c2bb7b30e07e3437da900b4cb42ba123/sdk/nvidia/nscq/dlwrap/posix.c#L63) function, which tries to load the `libnvidia-nscq.so.X` library. However, as expected from the error message, there is no such library in the `nvidia-dcgm-XXXXX` pod (from `kubectl exec`):

[code]

I wonder if this

[2021-12-09 01:30] tusharrobin commented on #291
@shivamerla Even with
 helm install gpu-operator nvidia/gpu-operator --version=1.9.0 --set operator.defaultRuntime=containerd,toolkit.version=1.7.2-ubi8,dcgmExporter.version=2.3.1-2.6.0-ubi8,dcgm.version=2.3.1-ubi8,migManager.version=v0.2.0-ubi8 --set driver.enabled=false

I am still seeing
  Warning  FailedCreatePodSandBox  1s (x2 over 12s)  kubelet            Failed to create pod sandbox: rpc er

[2021-12-09 02:22] shivamerla commented on #294
@dbugit Can you run the below test pod to make sure if exporter can actually connect to this port and to confirm that DCGM engine is not listening on this port due to these errors. You can restart exporter pod after this to make sure it attempts to connect again.

[code]

[2021-12-09 06:00] tusharrobin commented on #291
@shivamerla I was able to install using the options after removing the defaultRuntime option as I was using docker. Thanks for all your help !

Is there a reason that RHEL 8 is not in GPU operator's roadmap? Since most of the deployments are moving to RHEL8/Rocky8, why would you not consider that as one of the supported platforms?

[2021-12-09 10:56] klueska commented on #294
Support for injecting `ibnvidia-nscq.so.X` into a container was added in [`v1.4.0`](https://github.com/NVIDIA/libnvidia-container/releases/tag/v1.4.0) of the NVIDIA container toolkit. The only stipulation being that the container is started with `utility` set in the `NVIDIA_DRIVER_CAPABILITIES` envvar for the container (usually by the container image).

[2021-12-09 17:38] dbugit commented on #294
@klueska I see no such environment variable in either the DCGM or toolkit pod.

Running `kubectl get pod nvidia-container-toolkit-daemonset-XXXXX -o yaml` (other parameters omitted for brevity) yields this container spec (note also the **override.yaml** file from the original post):

[code]

Adding that envvar and value to my **override.yaml** file, as such:

[code]

successfully injects the varia

[2021-12-09 17:43] klueska commented on #294
It’s usually set in the container image and not in the pod spec. That said, if it’s not set, it defaults to „utility,compute“ as described here (https://github.com/NVIDIA/nvidia-container-runtime#nvidia_driver_capabilities) so I’d be surprised if it’s not set.

Are you sure this library is installed / available in the driver container? The toolkit will obviously only be able to injecting if it’s t

[2021-12-09 17:56] dbugit commented on #294
@klueska Turns out that it is not. From inside the driver daemonset container:

[code]

and from inside the toolkit container:

[code]

[2021-12-09 17:58] dbugit commented on #294
Note that my driver container image is:

[code]

[2021-12-09 17:59] shivamerla commented on #294
@klueska `nscq` packages are only installed by driver container with Ubuntu/RHCOS images. In this case its CentOS, so both fabirc-manager/nscq packages will not be installed. But from DCGM teams analysis(Doug) this seems like a warning and DCGM will continue to report other metrics.

@dbugit Can you please run the test pod spec i provided earlier to ensure if DCGM host-engine is actually listening

[2021-12-09 18:01] klueska commented on #294
I see. OK. Sounds like the nscq error/warning is a red herring then.

[2021-12-09 18:35] dbugit commented on #294
@shivamerla Here's some more data, run from another node in the cluster. Note that `192.168.11.7` is the GPU node. Some output below is cropped to not include data about off-topic processes.

[code]

Note that the timeout happens 5 seconds after connecting, same as what was reported in the `nvidia-dcgm-exporter-XXXXX` logs. And from what I can tell, it does actually connect, otherwise I would expe

[2021-12-09 19:27] shivamerla commented on #294
Yes, can you please label node `nvidia.com/gpu.dcgm.deploy=false` and run the test pod. If dcgm-exporter can reach to it then it eliminates the network issue. We can work with DCGM team on why DCGM host-engine is not accepting connections.

[2021-12-09 21:31] shivamerla commented on #294
@dbugit Also, before disabling dcgm engine, can you run `/usr/bin/dcgmi discovery -l` from within DCGM pod?

[2021-12-09 22:05] klueska commented on #294
Can you also rename this issue to something more descriptive since NSCQ is not actually part of the problem.

[2021-12-09 22:58] joshwyatt opened #295 "Cannot validate install; GPU not available"
I am following the instructions to the letter in [EGX Stack v3.1 for AWS - Install Guide for Ubuntu Server x86-64](https://github.com/NVIDIA/egx-platform/blob/master/install-guides/AWS_Ubuntu_Server_v3.1.md) and am running into an issue when trying to validate the installation with [`nvidia-smi`](https://github.com/NVIDIA/egx-platform/blob/master/install-guides/AWS_Ubuntu_Server_v3.1.md).

I'm run

[2021-12-10 01:25] dbugit commented on #294
Apologies, gents, for not having more time to spend on this today, and even more so because I won't be able to get back to it until Monday.

[2021-12-10 11:12] mgiessing opened #296 "Cannot mount another volume to nvidia-driver-ctr container"
In order to run the GPU operator on ppc64le I need to mount `/sys` to the `nvidia-driver-ctr` container, due to some GPU memory onlining details in combination with NVLink 2.0 protocol specific to Power9 systems equipped with V100 GPUs. Basically the file `/sys/fs/cgroup/cpusets/cpusets.mems` needs to get updated. (Here is a more detailed explanation of the issue: https://www.ibm.com/support/pages

[2021-12-10 12:28] mgiessing commented on #296
Sorry, I accidentally changed the ImagePullPolicy to IfNotPresent in my `values.yaml` and was therefore caching the old image.
It works now with v1.9.0 - I'll close this issue.

[2021-12-10 12:28] #296 closed

[2021-12-10 15:06] shapovalovts opened #297 "nvidia-operator-validator 1.9.0 can't validate toolkit (with containerd)"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2021-12-10 15:13] klueska commented on #297
The toolkit validator does not (and should not) rely on `chroot`ing into the root of the driver installation, because the whole point of this validator is to verify that the `toolkit` is working (which means that all GPU related software will be injected into the container automatically by the toolkit instead of requiring a chroot into the driver's root fileystem).

Can you show the contents of yo

[2021-12-10 15:18] klueska commented on #297
**Note:** Your `ctr` test will always fail with the `toolkit` validator because we don't configure the `runtime.v1.linux` plugin for containerd to work with the `nvidia-container-runtime`.  We only configure the `cri` plugin, which is needed for kubernetes.

[2021-12-10 17:06] angudadevops commented on #295
Hi @joshwyatt ,

Thank you for reaching out, but we can see all GPU Operator pods are not running. could you please provide the output of "kubectl get pods -A | grep gpu" and also we noticed that you're using old version of EGX Stack. please use the latest version https://github.com/NVIDIA/egx-platform/blob/master/install-guides/AWS_Ubuntu_Server_v4.2.md.

[2021-12-10 18:24] shivamerla commented on #292
@yug0slav This seems to be fixed with updated dcgm-exporter, please use the latest version when deploying with v1.9.0. We will bump it with v1.9.1: https://github.com/NVIDIA/dcgm-exporter/releases

[2021-12-10 18:59] kpouget commented on #292
FYI, I'm using `2.3.1-2.6.1` image since a few days, and from what I've seen, MIG metrics collection work well on OCP

[code]

[2021-12-12 11:02] shapovalovts commented on #297
[code]

[2021-12-12 12:35] klueska commented on #297
The important bit is:
default_runtime_name = "nvidia"

Which seems to be correct. Is it possible that containerd didn’t get restarted in your setup somehow. Can you manually restart containerd with ‚sudo systemctl restart containerd‘ to see if that triggers the validator to pass.

If that works, we can investigate why containerd wasn’t being automatically restarted in your setup. The toolkit insta

[2021-12-12 15:11] shapovalovts commented on #297
containerd was restarted on the kubelet node, but this did not help. Bad thing is the validation container does not really exist at that point, so I can't attach to it and check it inside (thus I had to create the container manually with `ctr`):

[code]

`journalctl -u kubelet` gives me:
[code]

[2021-12-12 20:34] klueska commented on #297
It appears that the container itself is failing to start (not that the validation operation is failing). Does kubectl describe on the pod give any more info on the failure?

[2021-12-12 20:37] klueska commented on #297
Or just to make sure can you try to get the logs of the toolkit-validation container specifically. Before your log command just tried to get the primary app containers logs.

[2021-12-13 04:24] shivamerla commented on #297
@shapovalovts Can you check if driver `root`  is set correctly in `/usr/local/nvidia/toolkit/.config/nvidia-container-runtime/config.toml`. It should be set to `/` when operator is installed with `--set driver.disabled=true`.

Also, you can add `debug` params in the same file to collect container-toolkit logs on why the necessary libraries/bins are not getting injected.

[code]

[2021-12-13 08:27] shapovalovts commented on #297
Thank you for the suggestions.

Yeah, it seems so. Note that the first container starts, validates and finishes successfully (driver-validation), while the second fails on creation. Though the both are created from the same image.

No luck (I even reinstalled the operator - the result is constantly reproducible):
[code]

Yes, it is set to "/", because I passed driver.enabled=false:
[code]

Unfortu

[2021-12-13 10:53] klueska commented on #297
The debug steps that @shivamerla mentioned would only be relevant if your container was actually starting. Since it is not starting, no logs will be produced.

That said, an error of:
[code]
suggests that `containerd` is not actually picking up the modified config.

Can you confirm that your `containerd` instance uses the default config from `/etc/containerd/config.toml` to configure itself?

Can

[2021-12-13 11:49] shapovalovts commented on #297
Yes, for the test I just added random word in `/etc/containerd/config.toml` and containerd could not start on restart (parsing error in the logs).

Yes, I can confirm that:
[code]

Interesting, but your command does not work for me:
[code]

Using `toolkit.env[3].value="true"` does not change the error:
[code]

Can this point to a fact that something outdated/incompatible? I checked cuda-toolkit is

[2021-12-13 12:20] klueska commented on #297
Looks like you would need the following for that to work:
[code]

Though this still doesn't answer the question of why your validation container is failing if everything is the default anyway...

Backing up for a second --- what happens if you try to launch *any* pod after the toolkit has deployed (and while your validator is still failing). Do you see the same error?

[2021-12-13 15:17] shapovalovts commented on #297
Indeed, such form of the command passes.  Nevertheless I found a minimum set of options for the operator setup that works for us (note `toolkit.enabled=false`):

[code]
We have already installed nvidia-container-toolkit. The only downside of such config is I had to create /etc/containerd/config.toml manually.

Still unclear why validation container is not created with `toolkit.enabled=true`, so if

[2021-12-13 15:35] klueska commented on #297
Ah, you already had the toolkit installed on the host. It is a known issue that you can't have the toolkit installed on the host and then attempt to use the operator managed toolkit. I don't remember the details off the top of my head as to why this doesn't work, but if you were to uninstall the toolkit from the host, I believe things may start to work as expected.

[2021-12-14 01:17] dbugit commented on #294
Well, I'm embarrassed to say that the problem ended up being on our end. Turns out that on the one GPU node there was a stale `iptables` chain that was acting as a sink for port 5555, sending packets to a pod IP that no longer existed. It explains why I wasn't seeing any ICMP error messages in the DCGM exporter logs or connection attempts in the DCGM server logs, because the GPU node correctly saw

[2021-12-14 01:17] #294 closed

[2021-12-14 01:26] dbugit commented on #288
The logs from `nvidia-dcgm-exporter` are exactly what I saw in #294. In my case it ended up being a bad `iptables` rule that was causing packets on my GPU node to be dropped silently. I suggest double-checking your firewall and `iptables` rules.

[2021-12-14 07:57] shapovalovts commented on #297
Unfortunately removal of the toolkit from the host does not help. When I install the operator with just:
[code]
Then the toolkit validation container is not created as before. The contianerd config and toolkit files though are appeared on the compute node after that:
[code]
All files in `/usr/local/nvidia/toolkit` are installed by the operator I suppose.

[2021-12-14 08:09] IvanDechovsky commented on #269
@shivamerla Hi,
I saw that v1.9.0 has been released so I wanted to try it out. However, the same issues persist.

The psp `gpu-operator-privileged` has no entry to allow `hostPorts`. Both `nvidia-dcgm` and `nvidia-dcgm-exporter` have `hostPort` defined. Here are errors from the daemonsets:

`nvidia-dcgm-exporter`
[code]

`nvidia-dcgm`
[code]

`nvidia-dcgm` can be disabled so that part can be resol

[2021-12-14 09:29] IvanDechovsky commented on #269
Upon further investigation, in order for the dcgm-exporter to work we need to add the following permissions to the PSP:
[code]

[2021-12-14 10:19] kuonat commented on #289
@shivamerla thank you! I was now able to set up everything correctly. My issue was, however, not the `hostNetwork: true`, but I had to adjust the namespace in the `additionalScrapeConfigs` of the kube-prometheus-stack helm chart values (as described in this section: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#setting-up-prometheus) to `default` instead of `gpu

[2021-12-14 10:19] #289 closed

[2021-12-14 16:09] shapovalovts commented on #297
Closing the ticket because my desired setup was achieved.

[2021-12-14 16:09] #297 closed

[2021-12-14 16:28] fanminshi opened #298 "Critical vulnerability in log4j"
Hi,

I would like to understand if the recent log4j vulnerability has any impact on gpu-operator and its dependencies?

[2021-12-14 17:09] shivamerla commented on #298
@fanminshi all components of gpu-operator are written in either C or GO, so not impacted by Log4j vulnerability.

[2021-12-14 17:13] fanminshi commented on #298
@shivamerla thanks for the confirmation.

[2021-12-16 01:44] maxirus commented on #238
I was "sorta" able to get this to work...

### Environment:
OS: Ubuntu 20.04.3 LTS (5.4.0-91-generic)
Kubernetes: K3s v1.22.3+k3s1
Containerd: 1.5.7-k3s2
GPU: P620

### Steps taken

#### 1. Verify NVIDIA device

After a lot of frustration, I discovered the GPU wasn't listed in `lspci`. I would suggest as a first step to make sure the node shows your NVIDIA card by running `lspci | grep NVIDIA`.

#

[2021-12-17 22:46] yug0slav opened #299 "1.9.0 chart issue with repo-config in air-gapped env"
- Issue when configuring local repo configMap for air-gapped env using 1.9.0 operator chart. Default CentOS and cuda repos are still being used/configured in /etc/yum.repos.d/ in nvidia-driver-daemonset pod

[code]

[2021-12-18 23:34] itmwiw opened #300 "kernel-header version"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [FCOS Node ] Are you running on an Ubuntu 18.04 node?
- [OKD 4.9 ] Are you running Kubernetes v1.13+?
- [ CRIO] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?

### 1. Issue or featu

[2021-12-20 09:41] nneram opened #301 "Nvidia CRI doesn't apply with imports in config.toml [containerd]"
### 1. Nvidia CRI doesn't apply with `imports = ["/etc/containerd/config.d/*.toml"]` in the `/etc/containerd/config.toml`

In my cluster I add some private registries with an import in the config.toml but nvidia CRI does not apply with it.
If I remove `imports = ["/etc/containerd/config.d/*.toml"]` from the file it works well.

### 2. Steps to reproduce the issue

Add `imports = ["/etc/containerd/

[2021-12-20 18:56] joshwyatt commented on #295
Thanks @angudadevops. Using v4.2 worked without issue.

[2021-12-20 18:56] #295 closed

[2021-12-22 20:47] yug0slav commented on #292
I am still on 1.8.2 due to https://github.com/NVIDIA/gpu-operator/issues/299.
Tested 1.8.2 chart / 470.57.02-centos driver-daemonset with dcgm-exporter-2.3.1-2.6.1-ubi8 per your suggestion... getting all metrics "0" with mig enabled on my A100 GPUs node.

[2021-12-23 03:47] rohanrehman commented on #213
https://github.com/ubuntu/microk8s/issues/2763#issuecomment-999778587

[2021-12-30 19:37] yengher opened #302 "nvidia-driver-daemonset keep crashing"
I'm getting the error below.  I'm using a local repository but somehow it's not picking up the local repo I have in the configmap.

========== NVIDIA Software Installer ==========

Starting installation of NVIDIA driver version 470.82.01 for Linux kernel version 5.4.0-1015-gkeop

Stopping NVIDIA persistence daemon...
Unloading NVIDIA driver kernel modules...
Unmounting NVIDIA driver rootfs...
Chec

[2021-12-30 20:15] shivamerla commented on #302
@yengher are you sure kernel headers are present in the custom repository for kernel `5.4.0-1015-gkeop`? /etc/apt/sources.list would be processed first and later entries from /etc/apt/sources.list.d. Custom repos are mounted under `/etc/apt/sources.list.d`. Wondering if required kernel headers are not found in the custom repository as well.

[2021-12-30 21:38] yengher commented on #302
Ok, I'm new to this.  Where do i put the kernel headers?

[2021-12-30 22:24] yengher commented on #302
New error now, it does read the configmap.

========== NVIDIA Software Installer ==========

Starting installation of NVIDIA driver version 470.82.01 for Linux kernel version 5.4.0-1015-gkeop

Stopping NVIDIA persistence daemon...
Unloading NVIDIA driver kernel modules...
Unmounting NVIDIA driver rootfs...
Checking NVIDIA driver packages...
Updating the package cache...
E: The repository ' https:/

[2021-12-30 23:24] shivamerla commented on #302
@yengher Is this an Ubuntu18.04 system?(Based on  http://archive.ubuntu.com/ubuntu/dists/bionic/InRelease log earlier). If that is the case, you need to change `focal` to `bionic` within your configmap.

[2021-12-30 23:26] shivamerla commented on #301
@nneram Thanks for reporting this. Will check and fix this.

[2021-12-30 23:50] yengher commented on #302
We are running Anthos on VMWare version 1.7.

Ubuntu 18.04.5 LTS (GNU/Linux 5.4.0-1015-gkeop x86_64)

[2021-12-31 00:00] yengher commented on #302
That worked.

[2021-12-31 01:46] dbugit opened #303 "Pods take 25-30 minutes to terminate"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node? [No -- CentOS Linux release 7.6.1810 (Core)]
- [X] Are you running Kubernetes v1.13+? [v1.22.5]
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? [No -- containerd 1.4.12]
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [X] Did you apply the CRD (`kubectl describe clusterpolicies --all-n

[2022-01-07 11:36] klamkma opened #304 "GPU operator is uncordoning cordonned/drained nodes"
### 1. Issue or feature description
We are using:

Helm Chart:
gpu-operator v1.8.2

In values we set:
[code]

Logs of init container k8s-driver-manager:
[code]

As you can see in the logs, init container will uncordon node, even if we cordoned that node manually on purpose.

### 2. Steps to reproduce the issue

1. Drain kubernetes node,
2. Restart nvidia-driver-daemonset pod which is running on th

[2022-01-07 17:58] shivamerla commented on #304
@klamkma Will add a fix to avoid this when ENABLE_AUTO_DRAIN is set to `false`. Meanwhile you need to disable driver pod when the node is in maintanance. `kubectl label node <nodename> nvidia.com/gpu.deploy-driver=false --overwrite`

[2022-01-10 15:43] seb-835 opened #305 "No ServiceMonitor set in Prometheus ?"
Hi,
i have install the gpu-operator, i see the dcgm-exporter running, i can pull metrics manually with curl.
But i do not see any ServiceMonitor set in prometheus, so there is no gpu metrics in my Dashboard.

Do i have to manually setup a Prometheus ServiceMonitor ?  or do i missed an option in the helm chart settings.
Thanks for help.

[2022-01-10 17:45] shivamerla commented on #305
@seb-835 Yes, currently this needs to be manually created(Only auto created for RedHat OCP). We will add this for K8s too with next release.

[2022-01-10 17:46] shivamerla commented on #302
Closing this, please re-open if the issue persists.

[2022-01-11 08:54] elezar commented on #301
@nneram which version of `containerd` is being used on this system? What other files are present at `/etc/containerd/config.d/*.toml`? Do any of these contain any `nvidia`-specific configs?

[2022-01-12 07:40] julian3xl opened #306 "Upgrade from 1.8 to 1.9 is a major"
At the moment that you can't upgrade from a version to another version is a MAJOR change, that's all.

https://semver.org/

[2022-01-12 16:47] nneram commented on #301
Hi @elezar,

Thank you for pointing out this issue, in deed their is just one file in `/etc/containerd/config.d/*.toml`:
[code]

My version of `containerd` is `1.4.12` and I guess the default CRI is taking into account.

I will try to set this:

[2022-01-12 18:23] shivamerla commented on #306
@julian3xl the reason for this is v1.8 we used to deploy gpu-operator in user specified namespace but its components in fixed namespace "gpu-operator-resources", while with v1.9 user can install operator and operand pods into any custom namespace.  Its documented here: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/release-notes.html#known-limitations. This limitation will not apply

[2022-01-13 09:39] elezar commented on #301
Yes, this does seem to be a limitation to how imports are implemented in containerd. Note that the code I was looking at was at `HEAD` and seemed to have the same issue, so I don't think this is limited to `containerd` `1.4.12`.

Considering your registries file, my understanding of what is happening is that the `plugins."io.containerd.grpc.v1.cri"` entry (containing only the `registriy` config) i

[2022-01-13 17:32] nneram commented on #301
I tryed this:
[code]

But I ran into a problem, both config are not modified either in `/etc/containerd/config.d/repositories.toml` or `/etc/containerd/config.toml` after the helm install.

I was looking for logs but if I didn't found any relevant, which pod is adding the conf in the `.toml` ?
I looked in the doc and my guessing are that it's this one:
[code]

But as you can see it's not initializ

[2022-01-13 17:40] shivamerla commented on #301
@nneram I think the suggestion @elezar is that your imported file is overwriting the entire `plugins."io.containerd.grpc.v1.cri` config in main `/etc/containerd/config.toml` file due to what appears to be an issues in containerd. So, you would need to merge these two files into /etc/containerd/config.toml instead of specifying the import file as containerd config.

[2022-01-13 20:12] nneram commented on #301
@shivamerla Yeah it's the idea so I changed the toolkit configuration with this target `/etc/containerd/config.d/repositories.toml`. Now CRI plugin conf are on the same file that will be import (so NVDIA will be) and it worked. The  `crictl info` showed NVIDIA as expected. I did that because I don't have the possibility to merge them because I don't have the hand on it. Never the less it worked as

[2022-01-14 14:33] #301 closed

[2022-01-18 17:34] yengher opened #307 "VMWare node with the GPU cards crashs"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ x] Are you running on an Ubuntu 18.04 node?
- [ x] Are you running Kubernetes v1.13+?
- [ x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_

[2022-01-19 20:06] jear opened #308 "failed to pull and unpack image "nvcr.io/nvidia/driver:470.82.01-sles15.3""
Hi,

We need to deploy the operator on SLES15-SP3 hosts.
Seems like the operator detects hosts and want to pull nvcr.io/nvidia/driver:470.82.01-sles15.3
But this image does not exists.

https://gitlab.com/nvidia/container-images/driver
https://gitlab.com/nvidia/container-images/cuda/-/tree/master/dist/11.6.0
https://catalog.ngc.nvidia.com/orgs/nvidia/containers/driver/tags

We would like to start

[2022-01-19 20:11] dualvtable commented on #308
/cc @shivamerla @cdesiniotis as we've been having an email thread offline with Suse on this topic.

[2022-01-20 00:23] cocampbe opened #309 "OS support for GPU operator"
I successfully have the GPU operator running in a k8s cluster on centos 7. Being that centos 7 will EOL in about 2 years and centos 8 is EOL, what is the plan? Are you supporting centos8 stream? If possible, it would be great if you could add oraclelinux 8.

[2022-01-20 09:11] jear commented on #308
Sounds like we can legally start with
FROM registry.suse.com/suse/sle15:latest

[2022-01-21 09:33] fcami opened #310 "RFE: use OLM's dependency manager to install NFD"
OLM can be used to express [dependencies](https://docs.openshift.com/container-platform/4.6/operators/understanding/olm/olm-understanding-dependency-resolution.html) between operators. This would manage dependencies and also help during upgrades, making sure always-compatible versions of NFD and gpu-operator are installed.

[2022-01-23 02:09] sricharanrobinsystems opened #311 "K8s cluster with two gpu nodes with centos 7, centos 8"
I have a 6 node Kubernetes cluster with a GPU operator 1.9 installed.
I have 2 GPU servers ec2 type - p2, p3 on AWS.
I have installed centos 7 on p2(ec2) and centos 8 on P3( ec2).

Can the GPU operator work for both flavors of OS?

[root@ip-172-31-15-125 ~]# helm list -A
NAME                   	NAMESPACE   	REVISION	UPDATED                                	STATUS  	CHART              	APP VERSION
g

[2022-01-23 02:10] sricharanrobinsystems commented on #311
![image](https://user-images.githubusercontent.com/39168510/150661856-c042a712-699f-4f0a-84d6-c96ae170b88b.png)

[2022-01-23 17:04] aktiver commented on #185
Does anyone know what the toml file config is for K3s?

[2022-01-26 00:48] cdesiniotis commented on #299
Hi @yug0slav

Can you try naming your repo configuration files `CentOS-Vault.repo` and `cuda.repo` and retry this? Naming them as such will replace the existing repo configuration files in the driver image at `/etc/yum.repos.d/`, which will avoid this error.

`apt` will raise a warning for repo's it cannot reach, but it will not fail. `yum` appears to behave differently.

[2022-01-26 00:49] cdesiniotis commented on #290
@nick-oconnor `1.9.1` has been released, which should address this bug.

[2022-01-26 00:51] cdesiniotis commented on #293
@prpaul any update on this?

[2022-01-26 01:55] cdesiniotis commented on #300
Currently we do not have a mechanism for this, and it would require changes in our Dockerfile/driver script.

However, there is [this option](https://gitlab.com/nvidia/container-images/driver/-/blob/master/rhel8/nvidia-driver#L614), `--kernel <kernel_version>`, you can pass to the driver script to specify a kernel version. When installing the GPU Operator, you can add this to the list of args pass

[2022-01-26 07:55] seb-835 opened #313 "No more DCGM Metrics after MIG GPU Partition"
Hi,
using gpu-operator 1.9.0, with dcgm-exporter:2.3.1-2.6.1-ubuntu20.04,
the metrics where fine :

[code]

until i label my node to partition my NVIDIA A100 into separate GPU Instances :
[code]

Now metrics return 0
[code]

Any idea on knows bugs or not implemented feature ?
Best regards

[2022-01-26 08:31] shivamerla commented on #313
@seb-835 Please use `dcgmExporter.version=2.3.2-2.6.2-ubuntu20.04` to fix this. You can edit this with `kubectll edit clusterpolicy`

[2022-01-26 08:44] shivamerla commented on #311
@sricharanrobinsystems we don't support clusters with mixed OS distributions/versions currently. Also, we support only CentOS7. Is this output with CentOS8?

[2022-01-26 09:08] seb-835 commented on #313
@shivamerla YEAH !!!! It works , Thanks for the fast answer.
 Do you have  a nice grafana dashboard to recommend where i can see  all the partition GPU ?

The one i got on grafana.com only show my 2 gpu not splitted.

[2022-01-26 09:17] shivamerla commented on #313
@dualvtable might know the grafana dashboard to show all MIG partitions

[2022-01-26 09:21] shivamerla commented on #310
@fcami I think we had this dependency in the past and caused duplicate NFD instances in the cluster. Hence we moved this as an external dependency. Also, NFD is required for other operators( eg NVIDIA network-operator), so this is really not bound to one.

[2022-01-26 09:25] shivamerla commented on #309
@cocampbe Will update you on the plan for OracleLinux, but at-least not planned for the short term.

[2022-01-26 09:27] shivamerla commented on #308
@jear Will update you on this, we don't have official driver images for SLES15 yet and as @dualvtable mentioned its in the works.

[2022-01-26 09:28] #305 closed

[2022-01-26 09:35] shivamerla commented on #307
@yengher Can you provide more information on this?

- Is this with vGPU or passthrough GPU attached to VM
- GPU type
- Does the guest driver get installed in the VM successfully before PSOD is seen?
- vSphere version
- `nvidia-smi` from the physical host if its with vGPU or from VM if driver is installed in the guest with passthrough.
- Double check these VM parameters are set.
- VMkernel logs or

[2022-01-26 09:39] shivamerla commented on #303
@dbugit i see that you are using ubi8 toolkit images, please change it to `1.7.2-centos7` and give it a try. Also, if you can also try with 1.5+ containerd that will be good.

[2022-01-26 23:38] mac-chaffee opened #314 "Daemonsets fail to start up when using psp.enabled"
### 1. Issue or feature description

If gpu-operator is deployed to a cluster using PodSecurityPolicies like the one that comes with [kubespray](https://github.com/kubernetes-sigs/kubespray/blob/daed3e5b6a085ac99e076b51d314fcf76e4127b4/roles/kubernetes-apps/cluster_roles/defaults/main.yml#L3), hostPath volumes aren't allowed.

Since the `node-feature-discovery-worker` daemonset requires hostPath v

[2022-01-27 16:49] nick-oconnor commented on #290
@cdesiniotis confirmed the fix in 1.9.1 resolved the issue. Thanks again!

[2022-01-27 16:49] #290 closed

[2022-01-27 21:18] joedborg opened #315 "nvidia-container-toolkit-daemonset: path "/run/nvidia/validations" is mounted on "/run" but it is not a shared mount"
### 1. Issue or feature description

This is mostly a question; why is https://github.com/NVIDIA/gpu-operator/blob/7441195aba0145dbbe8f8e4d43716e6c8e6186c2/assets/state-driver/0500_daemonset.yaml#L51-L53 set to `mountPropagation: Bidirectional`?  If I remove this from the manifest, the pod sits in `init` forever, so I assume something useful is happening.  Could this be explained please as we are

[2022-01-28 11:36] seb-835 commented on #313
@dualvtable can you help on a grafana dashboard to show all MIG partitions ?

[2022-01-28 16:22] fanminshi opened #316 "paused-for-driver-upgrade"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node?
we are running on debian node
- [x] Are you running Kubernetes v1.13+?
yes 1.20.11
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?

[2022-02-01 16:33] yug0slav commented on #292
Confirmed working MIGed GPU metrics with dcgm-exporter:2.3.2-2.6.2-ubi8

[2022-02-01 16:33] #292 closed

[2022-02-01 16:46] yug0slav commented on #299
* cert-config CM described in air-gapped docs isn't working...
  * looks like certs are being dropped into /etc/pki/ca-trust/extracted/pem/ but not actually installed.
  * drop into /etc/pki/ca-trust/sources/anchors/ and update-ca-trust instead???

* switched to HTTP and change repo-config to make it work
[code]

[2022-02-01 19:45] danlenar commented on #264
For anyone using Rocky, this dockerfile should do the trick.
Converts the current centos image into rocky

[code]

[2022-02-01 20:00] xhejtman opened #317 "nvidia-container-runtime prevents pods to terminate"
It seems that it may happen, that /usr/local/nvidia/toolkit/nvidia-container-runtime fails it it runs from a directory that already does not exist. I can see the following in the kubelet.log

[code]

fix for this seems to be trivial:
[code]

could it be merged?

[2022-02-02 10:06] mchikyt3 opened #318 "WSL2 Support"
Hi, I wonder if it's possible to use the gpu-operator in a single-node Microk8s cluster hosted on a wsl2 Ubuntu distribution. Thanks.

[2022-02-02 11:02] elezar commented on #317
@xhejtman this change would have to be made in the `nvidia-container-runtime` in the [NVIDIA Container Toolkit repository](https://gitlab.com/nvidia/container-toolkit/container-toolkit/-/tree/master).

Note that the call to `os.Getwd` there was removed in the [following commit](https://gitlab.com/nvidia/container-toolkit/container-toolkit/-/commit/350c8893fb46708aad0f292350635f04b20cae2b) and as s

[2022-02-02 11:05] xhejtman commented on #317
container-toolkit:1.7.1-ubuntu18.04

[2022-02-02 11:32] elezar commented on #317
@xhejtman that is using `nvidia-container-runtime` `v3.5.0` which still contains the call to [`os.Getwd`](https://gitlab.com/nvidia/container-toolkit/container-runtime/-/blob/v3.5.0/cmd/nvidia-container-runtime/runtime_factory.go#L160).

We are prepping for release of `1.8.0` of the container toolkit, and if this is an environment where you are able to experiment (i.e. non-production), you could t

[2022-02-02 23:40] tnakajo opened #319 "Redhat Openshift alerts GPUOperatorOpenshiftDriverToolkitEnabledNfdTooOld"
### 1. Issue description
Redhat Openshift (ROKS on IBM Cloud) gets the alert `GPUOperatorOpenshiftDriverToolkitEnabledNfdTooOld` with the Description
`The DriverToolkit is enabled in the GPU Operator ClusterPolicy, but the NFD version deployed in the cluster is too old to support it.` after configuring the NVIDIA GPU Operator by the instruction:
https://docs.nvidia.com/datacenter/cloud-native/gpu-

[2022-02-02 23:40] tnakajo commented on #319
![Screenshot 2022-02-02 at 08 23 18](https://user-images.githubusercontent.com/23468032/152256178-f33197c9-aa12-4ff8-8e30-887ad350f635.png)
![Screenshot 2022-02-02 at 08 22 47](https://user-images.githubusercontent.com/23468032/152256200-e42f37cd-6f55-4e38-94cc-c588021184ff.png)

[2022-02-02 23:50] shivamerla commented on #319
@tnakajo With v1.9 we have added feature to avoid dependency on Cluster wide entitlements to install NVIDIA driver.  On 4.9 and certain z-stream versions of 4.8, NFD adds a special label to enable this feature. This alert is basically indicating that this feature is not available with your installed versions of 4.8.x. It has been noted here: https://docs.nvidia.com/datacenter/cloud-native/gpu-oper

[2022-02-02 23:57] tnakajo commented on #319
@shivamerla Thank you for the very quick response and the clarification.

[2022-02-03 00:49] cdesiniotis commented on #299
Thanks for more details. If I am understanding you correctly, there are two issues. Correct me if I am wrong.

1. On CentOS 7, you have to name your repo config files exactly the same as the original ones you are trying to replace (e.g. `CentOS-Base.repo`, `cuda.repo`). `yum` will complain about duplicate repo entries otherwise.
2. Mounting custom keys/certificates through the `cert-config` Config

[2022-02-03 04:19] shivamerla commented on #316
@fanminshi Can you check logs of driver pod `kubectl logs <driver-pod> -n gpu-operator-resources -c k8s-driver-manager`. This happens if drivers are already loaded and busy while driver container is restarted. The initContainer tries to unload existing modules before installing them. This happens on every driver container restart: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/gettin

[2022-02-03 15:12] fanminshi commented on #316
@shivamerla `gpu-operator-resources` namespace is empty. But I do see `DaemonSet` are created but no pod are scheduled. Also something I forget to mention is that a previous gpu-operator installation failed where pods in  `gpu-operator-resources` run but didn't succeed. So I delete them. Then the re-deployment of `gpu-operator` didn't work and I saw `/gpu.deploy.device-plugin=paused-for-driver-upg

[2022-02-08 03:16] patrickshan commented on #226
@shivamerla I had the same issue with that `nvidia-smi` inside `toolkit-validation` init container. I also tried the config change you mentioned [here](https://github.com/NVIDIA/gpu-operator/issues/226#issuecomment-884535327) which didn't generate any logs.

We installed it using helm with these parameters:
[code]
We are running this on AWS EKS v1.21.5-eks-bc4871b with node OS using ubuntu 20.04 a

[2022-02-08 18:49] yug0slav commented on #299
I am using HTTP for now... and yes cert-config isn't functioning in centos pod.

[2022-02-09 16:14] hhk7734 opened #320 "Failed to resolve NFD-master DNS"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- ? Do you have `i2c_core` and `ipmi_msgha

[2022-02-09 16:23] David-VTUK commented on #230
@shivamerla - Any update on this, please?

[2022-02-10 13:57] jear commented on #308
I have no metrics values collected. Grafana is flat… I suspect the dcgm exporter issues.
root@nvidia-dcgm-exporter-gwkhx:/etc/dcgm-exporter# dcgmi discovery -l
Error: unable to establish a connection to the specified host: localhost
Error: Unable to connect to host engine. Host engine connection invalid/disconnected.

I have tried to patch clusterpolicy with dcgmExporter.version=2.3.2-2.6.2-ubuntu

[2022-02-10 22:03] #316 closed

[2022-02-11 16:23] myllyja commented on #314
I also ran into this issue in a cluster where PodSecurityPolicy denies the use of hostPath volumes, the error shown when looking at `kubectl describe --namespace gpu-operator daemonset.apps/nvidia-gpu-operator-node-feature-discovery-worker` is

`
Error creating: pods "nvidia-gpu-operator-node-feature-discovery-worker-" is forbidden: PodSecurityPolicy: unable to admit pod: [spec.volumes[0]: Invalid

[2022-02-11 16:42] #320 closed

[2022-02-11 18:03] hhk7734 commented on #320
I kept changing the gpu-operator helm value and something went wrong in the process.
I tried to reproduce this. Master and worker are started in the same namespace. The connection is clear.

The IP has already been found in the error message, and this means that the DNS resolver worked normally.

Re-running the Pod while changing the DaemonSet seems to have solved some other problem. But I thought

[2022-02-11 22:54] mac-chaffee opened #321 "Centos8 repos offline, driver installation now fails"
### 1. Issue or feature description

The daemonset that installs the nvidia drivers for Centos8 fails now, since [Centos8 has been EoL'd since December 31st](https://www.centos.org/centos-linux-eol/). On January 31st, they pulled the Centos8 repos offline. That means when attempting to install drivers with the image tag `470.82.01-centos8`, the pod crashloops with the error:

[code]

### 2. Steps

[2022-02-11 23:02] mac-chaffee commented on #321
Also related: once gpu-operator is installed, trying to `helm upgrade ... --set driver.enabled=false` doesn't seem to stop the driver daemonset from running. I also tried removing the node label `nvidia.com/gpu.deploy.driver: "true"`, but it was automatically re-added.

[2022-02-14 19:22] reuben opened #322 "Error when trying to use operator on DGX A100-80GB with microk8s and mixed strategy MIG"
### 1. Issue or feature description

On a DGX A100-80GB, trying to install the operator with mixed strategy MIG, feature discovery/node labeling work fine with MIG disabled, but as soon as I set a MIG config label on the node and mig-manager reconfigures the GPUs, discovery and labeling of GPUs stop working.

### 2. Steps to reproduce the issue

System info:

[code]

Steps:

[code]

Then:

[code]

[2022-02-15 20:19] mac-chaffee commented on #321
I was able to work around the issue by just installing the drivers manually on the host. I use RHEL8 and Tesla GPUs so I followed these instructions: https://docs.nvidia.com/datacenter/tesla/tesla-installation-notes/index.html#rhel8

Probably similar instructions out there for other distros and GPUs.

[2022-02-16 15:43] khatrig opened #323 "Feature Request: Support multiple GPU driver versions in one k8s cluster"
### 1. feature description
Currently, the gpu-operator only supports one driver version across the cluster. It'd be great if each GPU node could have a different driver version based on the requirement.

Eg. There are two GPU nodes A and B in a k8s cluster.
Node A could have driver version X and node B could have driver version Y.

[2022-02-16 16:52] dbugit commented on #303
Changing to the `1.7.2-centos7` image didn't improve the timing issues at all but did seem to clean driver components off of the node better. The `ubi8` image would often leave behind containers/processes, and prevent other things from happening, like cleaning up `iptables` and umounting volumes.

But this leads me to a bigger question. As far as I can tell, the toolkit is the only image built spe

[2022-02-17 11:55] arpitsharma-hexad opened #324 "The DriverToolkit is enabled in the GPU Operator ClusterPolicy, but the NFD version deployed in the cluster is too old to support it."
Hello Team,

We are getting errors as "The DriverToolkit is enabled in the GPU Operator
ClusterPolicy, but the NFD version deployed in the cluster
is too old to support it."

This error only appears when there are no GPU nodes and this alert keeps on firing. You can reproduce it easily on your side. Can you help here?

NFD version- 4.9.0-202201210133
OpenShift version - 4.9.18

Many Thanks

[2022-02-17 12:15] kpouget commented on #324
indeed, it seems that the alert will fire incorrectly if there is no GPU node:
[code]
[code]
[code]
the issue is that the `n.ocpDriverToolkit.rhcosVersions` map is only populated when `hasCommonGPULabel()`, so without GPU node, the map remains empty

---

I guess the fix should be to check `labels[nfdOSTreeVersionLabelKey]` outside of the `hasCommonGPULabel` test, and set a new flag `n.ocpDriverTo

[2022-02-17 12:34] reuben commented on #322
@shivamerla latest version of the operator, v1.9.1. `mig-parted` config is here, I'm trying to use the `coqui-dgxa100-0-layout` config. I can't get the logs easily now but there are no errors, it enables MIG mode just fine, and I can verify it by running `nvidia-smi` on the host, it's the rest of the operator components that stop working after that.

[code]

[2022-02-17 12:39] shivamerla commented on #315
@joedborg This was done because `mofed-validation` pod writes a status file `/run/nvidia/validations/mofed-ready` once MOFED driver is running. If `Bidirectional` propagation is not used, then other pods waiting on this file would sit in the init phase. But currently no other pods have that wait condition yet. Which pod was in `init` when this was removed?

[2022-02-17 12:42] shivamerla commented on #314
Indeed, this seems like a bug in NFD, will address this with the version bundled with GPU Operator and create an upstream bug. ping @zvonkok

[2022-02-18 08:33] fabiendupont commented on #324
@arpitsharma-hexad, this should be solved by https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/405 and be shipped in a further release.

[2022-02-18 09:03] arpitsharma-hexad commented on #324
Many thanks team

[2022-02-18 09:03] #324 closed

[2022-02-21 20:17] kpouget commented on #285
@shivamerla, couldn't the driver Pod check for `nvidia-smi` to return `0` before going for its infinite sleep?

currently, on a broken GPU, the [driver](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/logs/periodic-ci-rh-ecosystem-edge-ci-artifacts-master-4.10-nvidia-gpu-operator-e2e-1-7-x/1495533928654573568/artifacts/nvidia-gpu-operator-e2e-1-7-x/nightly/artifacts/013__gpu

[2022-02-22 16:01] donovat commented on #319
@shivamerla - I am seeing the same error message in my Red Hat cluster, also on IBM's cloud and with whats looks to be the same levels of code. I also don't fully understand the included link above. As far as I can see from the tests, we have cluster wide entitlements active.
I also see in the logs for the nvidia-driver-daemonset-xxx a number of warnings including the message;
/usr/local/bin/nvidi

[2022-02-22 16:03] nneram opened #325 "appVersion not matching tag in Chart.yaml"
I used the [Helm Chart](https://github.com/NVIDIA/gpu-operator/tree/v1.9.1/deployments/gpu-operator) version `1.9.1` to deploy **gpu-operator** and I notice that the `appVersion` is not corresponding with the tag as well as `version` which is still in `v1.0.0-devel` since this commit: https://github.com/NVIDIA/gpu-operator/commit/c8d4e801750920306f1ce7cebcc3da0488b65b81

Would it be possible to im

[2022-02-22 22:49] yug0slav commented on #311
Meaning GPU operator requires the entire cluster down for OS upgrade/migration from 7 to 8? sweeeet....

[2022-02-23 09:31] nneram commented on #325
@shivamerla Ok so this [Chart](https://github.com/NVIDIA/gpu-operator/blob/release-1.9/deployments/gpu-operator/Chart.yaml) should match the release tag, do you have an idea when it will be revisit ? Ty

[2022-02-24 00:40] mac-chaffee commented on #314
A similar bug seems to apply to the `nvdia-mig-manager` daemonset. That daemonset does have a proper ServiceAccount/Role/RoleBinding, but it requires `hostIPC` which is not a permission granted by the `gpu-operator-privileged` PSP

[2022-02-24 01:11] mac-chaffee commented on #314
Patch provided here: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/412

[2022-02-24 15:40] joedborg commented on #315
Thanks for the reply @shivamerla, when removing `mountPropagation: Bidirectional` from `nvidia-container-toolkit-daemonset`, the following happens:

[code]

And the pod:

[code]

[2022-02-24 15:53] yug0slav commented on #291
FYI NVAIE says it supports rhel8.4 on 1.9.1 operator, huh? :)

[2022-02-24 19:19] mac-chaffee commented on #314
Second patch (this one should allow us to close this issue): https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/414

[2022-02-25 08:20] shivamerla commented on #325
@nneram this will be updated with 1.10 release during March.

[2022-02-25 08:29] nneram commented on #325
Ok thanks for the answer and the information 👍🏻

[2022-02-25 08:29] #325 closed

[2022-02-25 08:31] shivamerla commented on #323
Thanks for the feature request. This will indeed be a great feature. Currently only way this can be done is with pre-installed drivers on the host with GPU operator. We would need to introduce `nvidia.com/gpu.deploy.driver: <version>` labels to achieve this and a Daemonset for each version needs to be created. We would need to create a Config/CustomResource for users to provide this mapping of <no

[2022-02-25 08:46] shivamerla commented on #319
@donovat If you have ClusterWide entitlements applied then you can ignore that warning message. What that error means is with updated OCP versions 4.9+ entitlements could be avoided.

Regarding driver error, GPU Operator will set this env, please confirm the operator version you are using, and i will double check if it was missing with older versions.

[code]

[2022-02-25 15:54] donovat commented on #319
Hi @shivamerla - I have installed
NVIDIA GPU Operator
1.9.1 provided by NVIDIA Corporation
on
OpenShift version 4.8.26

Would I expect to see these env vars reported in the pod logs? - could not see them in any logs so far.

[2022-02-25 17:53] reuben commented on #322
@shivamerla actually I just realized the mig manager log is already included in https://github.com/NVIDIA/gpu-operator/issues/322#issue-1137737440

[2022-02-25 17:54] reuben commented on #322
Sorry, I guess you want the one *enabling* the mode, not disabling it.

[2022-02-27 14:06] khatrig commented on #323
@shivamerla Thanks for considering this.
Another way of doing this could be, A driver version controller (could be a Kubernetes deployment) that understands label nvidia.com/gpu.deploy.driver: <version> added on GPU nodes. You add a specific label on the nodes and the driver version controller triggers the driver installation process on GPU nodes. This way it might be possible to avoid running mul

[2022-03-02 09:04] #287 closed

[2022-03-02 14:42] sreber84 opened #326 "LeaseDuration for GPU-Operator seems to be rather small, causing Operator restarts when running etcd defrag"
### Description of problem:
Running `etcd` defrag on OpenShift Container Platform 4 with `etcd` database size bigger than 6 GB is causing the GPU-Operator to fail and restart due to lease renewal failure.

Since there is a 30 second disruption expected from `etcd` side when doing the defrag activity, we need to be able to deal with this kind of situation and allow better fault tolerance.

In https

[2022-03-02 18:12] fabiendupont commented on #326
/cc @shivamerla
/cc @cdesiniotis

[2022-03-03 22:16] markus-pronto opened #327 "nvidia-driver-daemonset CrashLoopBackOff"
This is a Kubernetes 1.23.4 node on Ubuntu 20.04 LTS, GPU is GP104BM [GeForce GTX 1070 Mobile]

nvidia-smi reports drivers properly installed:
VIDIA-SMI 510.47.03    Driver Version: 510.47.03    CUDA Version: 11.6

Pods can be normally scheduled on this node, which uses containerd 1.5.5-0ubuntu3~20.04.2
nvidia-container-runtime is installed on this node.

Containerd is configured properly and work

[2022-03-08 12:08] shivamerla commented on #327
@markus-pronto looks like you have both drivers and container-toolkit pre-installed on the node. you need to pass `--set driver.enabled=false` and `--set toolkit.enabled=false` during operator install to get rest of the components deployed. Here is the documentation for this scenario: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#bare-metal-passthrough-with-pre-

[2022-03-08 12:09] shivamerla commented on #326
@sreber84 thanks for reporting this. Will fix this.

[2022-03-08 12:17] shivamerla commented on #322
@reuben yes, please attach the log when when enabling MIG with specific config. Also, ensure that MIG mode is not enabled   prior to install GPU Operator. cc @klueska

[2022-03-08 12:24] shivamerla commented on #315
@joedborg sorry for the delay, this is not expected. Looks like you have driver pre-installed and driver-validation is not succeeding. What does `kubectl logs nvidia-container-toolkit-daemonset-s7mv4  -n gpu-operator-resources -c driver-validation` show? Once this and toolkit setup validation passes(and creates /run/nvidia/validations/toolkit-ready file) rest of the components will run.

[2022-03-08 17:39] AStrangwood opened #328 "Support Mixed OS Version"
### 1. Issue or feature description

I have a hand full of GPU nodes that have to be on Ubuntu 18.04. I also have a bunch more GPU nodes that should have Ubuntu 20.04 on them like the rest of the cluster nodes however, the GPU Operator cant handle the mixed OS version.  Having the mixed OS versions makes the GPU Operator a paperweight as it will break the working nvidia driver installs on the GPU

[2022-03-08 18:38] markus-pronto commented on #327
Yes, that was the problem, I was not aware that you could only have one of them activated at the same time, now it works, thanks for you help.

[2022-03-08 18:38] #327 closed

[2022-03-08 19:16] cdesiniotis commented on #326
We should increase the `RenewDeadline` here https://gitlab.com/nvidia/kubernetes/gpu-operator/-/blob/master/main.go#L68

[2022-03-08 19:29] cdesiniotis commented on #326
MR for this change: https://gitlab.com/nvidia/kubernetes/gpu-operator/-/merge_requests/422

[2022-03-08 21:39] jcstryker commented on #255
I am also experiencing this issue with v1.9.1 as well as the `master` branch of this repo.

The configMap for the repo config simply isnt getting mounted by the driver installation pod.

[2022-03-09 01:40] cdesiniotis commented on #255
@jcstryker Could you provide some more detail? Are there any driver logs you can provide?

I brought up a disconnected environment with a repository mirror, but was not able to reproduce any issue with GPU Operator v1.9.1

For reference, I did the following:

[code]

The `custom-repo.list` file gets properly mounted inside the driver pod at `/etc/apt/sources.d/`
[code]
And from the driver logs, th

[2022-03-10 15:38] joedborg commented on #315
I was running this with `--set driver.enabled=false`, if I run on a fresh system with no drivers, I see

[code]

But I cannot see the logs because it's in error:

[code]

And the description:

[code]

[2022-03-10 21:42] shivamerla commented on #323
@khatrig, we currently package a single driver version into each image, hence the requirement to have separate daemonsets.

[2022-03-11 02:44] khatrig commented on #323
I understand now what you meant earlier. Thanks for the explanation.

[2022-03-13 12:08] reuben commented on #322
@shivamerla here's the log when enabling MIG with `$ kubectl label node/dgxa100 nvidia.com/mig.config=coqui-dgxa100-0-layout`:

[code]

[2022-03-13 12:10] reuben commented on #322
And after that, as before:

[code]

[2022-03-13 12:11] reuben commented on #322
[code]

[2022-03-23 17:33] shivamerla commented on #326
Fixed with v1.10.0

[2022-03-23 17:33] #326 closed

[2022-03-23 17:34] shivamerla commented on #322
@reuben Can you please retest this with `v1.10.0` of operator and verify?

[2022-03-23 17:35] shivamerla commented on #319
Can you describe the driver pod and see if those env are added by operator?

[2022-03-23 17:36] shivamerla commented on #317
@xhejtman Please verify this with `v1.9.0` of container-toolkit.

[2022-03-25 04:01] teacher144123 opened #329 "Typo in the NVIDIA offical documentation"
HI, I'm not sure where the issue should be reported for.
Because there is no repo for NVIDIA official docs in https://docs.nvidia.com/datacenter/.

## The Problem
There is a typo in the namespace section of GPU-operator.

https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#namespace

The first code block of installation is ...
[code]

**The command of line 2 doesn't e

[2022-03-25 04:47] elezar commented on #329
Hi @teacher144123. If you could create an MR with changes to https://gitlab.com/nvidia/cloud-native/cnt-docs/-/blob/master/gpu-operator/getting-started.rst (and the archived versions of that page where applicable), that would be a great help.

[2022-03-25 16:00] smithbk opened #330 "Failing to install NVIDIA GPU Operator v1.8.2 in OCP"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description

I am running on OpenShift (vers

[2022-03-25 17:39] shivamerla commented on #330
@smithbk `v1.8.2` supported installing operator with scope `AllNamespaces`, so with that mode the installplan will be in `openshift-operators` namespace.

[2022-03-25 19:18] shivamerla commented on #328
@AStrangwood yes, this is a known limitation with GPU operator today and we are looking to support mixed mode soon.

[2022-03-25 19:22] shivamerla commented on #304
This is fixed with `v1.9.0`

[2022-03-25 19:23] shivamerla commented on #318
@elezar to comment if this is supported by our container-toolkit.

[2022-03-25 19:26] #313 closed

[2022-03-25 19:27] #248 closed

[2022-03-25 19:29] shivamerla commented on #141
@mumblez we recently added support for installing Canonical signed drivers on Ubuntu 20.04: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/appendix.html#installing-precompiled-and-canonical-signed-drivers-on-ubuntu20-04

Closing this issue, please re-open if you face issues installing these modules.

[2022-03-25 19:29] #141 closed

[2022-03-25 19:30] shivamerla commented on #109
This has been fixed, starting with `v1.9.0` operator is installed in dedicated namespace `nvidia-gpu-operator`(default)

[2022-03-25 19:30] #109 closed

[2022-03-25 19:32] #83 closed

[2022-03-27 08:54] teacher144123 commented on #329
Thanks a lot!
I will try to create the PR in gitlab.

[2022-03-27 08:54] #329 closed

[2022-03-27 20:22] reuben commented on #322
I get the same errors on v1.10.0

[2022-03-27 20:33] reuben commented on #322
In fact trying the `single` strategy now as a workaround to improve utilization of the GPUs, I can't even get that to work, same errors, seems just enabling MIG is enough to throw everything off.

[2022-03-27 22:39] reuben commented on #322
I think the `gpu-feature-discovery` error is the critical one here, which is stopping me from being able to schedule GPU pods:

[code]

Is there some way I can manually set the available devices so I can workaround it?

[2022-03-27 22:40] reuben commented on #322
Because of the similarity of the error message I tried the workaround described in https://github.com/NVIDIA/nvidia-docker/issues/1547, but it didn't work.

[2022-03-28 04:58] elezar commented on #318
Hi @mchikyt3 the combination you mention is untested by us, and I cannot provide a concrete answer.

The NVIDIA Container Toolkit which ensures that a launched container includes the required devices and libraries to use GPUs in the container does offer some support WSL2. It should be noted however, that there may be some use cases that do not work as expected.

Also note that I am not sure whethe

[2022-03-28 12:59] smithbk commented on #330
@shivamerla Thanks, but I am not seeing the installplan in the openshift-operators namespace either, for any CSV value beginning with "gpu-operator-certified".  I only see the following.

[code]

[2022-03-28 13:04] klueska commented on #322
I would only expect an error of `Insufficient Permissions` for gpu feature discovery if `NVIDIA_MIG_MONITOR_DEVICES=all` was not set as an environment variable when it was launched. As far as I know this should be set by the operator though.

[2022-03-28 18:09] reuben commented on #322
A-ha! Thanks for the tip. I'm running `[gpu-admission-webook](https://gitlab.com/ktarplee/gpu-admission-webhook)` to make sure pods only see the GPUs they get allocated and forgot to disable it in the operator namespace. Fixing that made the `gpu-feature-discovery` error go away, but now the MIG manager is the one failing :(

[code]

[2022-03-28 18:14] klueska commented on #322
That would suggest that the mig-manager is not running with the correct privileges. However, we clearly run it as a privileged pod by default:
https://github.com/NVIDIA/gpu-operator/blob/master/assets/state-mig-manager/0600_daemonset.yaml#L54
Are you changing this setting somehow?

[2022-03-28 18:23] klueska commented on #322
What is this webhook exactly, and why was it interfering in this way. It would be good to know in case this issue comes up again in the future.

[2022-03-28 18:24] klueska commented on #322
This might be the more supported way of achieving what you are trying to do with that webhook:
https://docs.google.com/document/d/1zy0key-EL6JH50MZgwg96RPYxxXXnVUdxLZwGiyqLd8/edit

[2022-03-29 13:54] shivamerla commented on #330
@smithbk Can you try these steps which are applicable for v1.8: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/archive/1.8/openshift/install-gpu-ocp.html

[2022-03-29 15:31] donovat commented on #319
Hi @shivamerla, This is the info I can see from the describe...
$ oc describe pod/nvidia-driver-daemonset-67fsd
Name:                 nvidia-driver-daemonset-67fsd
Namespace:            nvidia-gpu-operator
Priority:             2000001000
Priority Class Name:  system-node-critical
Node:                 10.185.173.143/10.185.173.143
Start Time:           Wed, 23 Feb 2022 13:22:02 +0000
Labels:

[2022-03-29 18:23] smithbk commented on #330
@shivamerla Those instructions assume that the NVIDIA GPU operator is already installed, which is what I am trying to do from the CLI.  Step 1 says
[code]
However, the "NVIDIA GPU Operator" is not found in the list of installed operators.

[2022-03-29 20:04] cdesiniotis commented on #330
The top of that page details how to install the operator from the OperatorHub:

[2022-03-30 13:47] smithbk911 commented on #330
@cdesiniotis @shivamerla The web console does not allow me to install version 1.8.2.  The latest version shown in the web console is 1.8.0, which is why I am using the CLI.  As I mentioned in the original description for this issue, I need to install 1.8.2 because it fixes a bug from 1.8.0 which I was encountering.

BTW, when I installed 1.8.0 via the web console, the browser got stuck with an inf

[2022-03-31 18:01] smithbk commented on #330
@cdesiniotis @shivamerla Any ideas on how to proceed?  Thanks for your help.

[2022-04-01 17:54] smithbk commented on #330
@cdesiniotis @shivamerla Thanks again for you help, but could you please update me on the status or if someone is able to look into this?  If not, is there is another place that I could go to for help?  This is blocking an important project for us.

[2022-04-01 17:56] smithbk commented on #330
BTW, I've also tried on the forum at https://forums.developer.nvidia.com/t/failure-installing-nvidia-gpu-operator-on-openshift-on-aws/209398 but there is no response yet.

[2022-04-01 18:17] kpouget commented on #330
Hello @shivamerla , @smithbk

the GPU Operator bundle 1.8.2 is not published for OCP 4.6 IIRC
in the [CI](https://openshift-psap.github.io/ci-dashboard/gpu-operator_daily-matrix.html), we test only up to 1.7.1 on this OCP version
![image](https://user-images.githubusercontent.com/7559202/161319387-77c73cd0-5462-4db5-a6ea-1c1ba83c1e7a.png)

so console or CLI, if not published, v1.8.2 cannot be inst

[2022-04-01 18:19] kpouget commented on #330
I had this (old) script to query the versions available in the catalog:
[code]
I can't test it right now because of
[code]
but there shouldn't be much to change to get it working

[2022-04-01 18:20] kpouget commented on #330
so installing from `helm` might be the only solution

[2022-04-01 18:42] shivamerla commented on #330
ah, thanks for checking @kpouget, we callout support matrix here too: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/platform-support.html#kubernetes-platforms

@smithbk Can you upgrade your cluster to 4.7 or later?

[2022-04-01 19:29] smithbk commented on #330
Unfortunately upgrading this cluster in my company is a big deal.  Is there a version of the NVIDIA GPU operator which works with OPC version 4.6.48 but also does not have the bug at [Appendix — NVIDIA Cloud Native Technologies documentation](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/appendix.html)?

[2022-04-01 20:14] smithbk commented on #330
I still get the same issue trying to install v1.7.1.  That is, I do not see any installplan with "gpu-operator-certified" in the name in either the nvidia-gpu-operator or openshift-operators namespace.

In order to reproduce, create files with the following contents:

[code]

and then run the following commands
[code]

I do not see the installplan which should be there with either of the last 2 co

[2022-04-01 21:11] shivamerla commented on #330
does any events get reported when you create the subscription? Can you describe the CSV and subscription for any hints?

[2022-04-01 21:13] shivamerla commented on #330
@smithbk  also please try uninstalling NFD and re-installing(deleting install plans as well), i remember there was some dependency issues causing this in the past.

[2022-04-01 21:21] shivamerla commented on #321
@mac-chaffee for disabling driver, yes this is an issue that we don't disable existing driver daemonset dynamically. we need to set `nvidia.com/gpu.deploy.driver: "false"` to disable it on specific node.

[2022-04-01 21:22] shivamerla commented on #321
Closing this as we don't support CentOS8 currently.

[2022-04-01 21:22] #321 closed

[2022-04-02 07:52] kpouget commented on #330
quick weekend answer/hint:

$ cat nvidia-gpu-operator.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: nvidia-gpu-operator

you can't use "nvidia-gpu-operator" namespace at all with 1.7,

the installation should be all in "openshift-operators".
I can't remember if "gpu-operator-resources" should be manually
created, or if it's automatically created by the operator. Create it
manually to be sa

[2022-04-04 07:28] jear commented on #308
Operator upgrade is OK, driver update OK.
Can you please release the SLES driver image ?

Notes are here
https://github.com/jear/nvidia-gpu-operator-sles15-sp3-driver

[2022-04-04 13:27] smithbk commented on #330
@shivamerla WRT looking for hints by describing various objects, see the following

[code]

Since the nvidia-gpu-sub.yaml file has `startingCSV: "gpu-operator-certified.v1.7.1"`, I assume I should see a CSV by this name, but since it doesn't exist, I can't describe it.  Am I supposed to manually create the CSV?

I have not yet tried uninstalling and reinstalling the NFD because I saw @kpouget Kevi

[2022-04-04 13:49] kpouget commented on #330
The CSV will be created by the OLM installer when the `subscription`+`operatorgroup` will have the correct values

[code]
in which namespace is the `sub`?
project `nvidia-gpu-operator` should be deleted, it only makes sense with versions >= 1.9, it will only complicate the troubleshooting with 1.7

can you share the output of `oc get sub,installplan -n openshift-operators`?

shouldn't be useful fr

[2022-04-04 16:12] smithbk commented on #330
Yes, I had already deleted the nvidia-gpu-operator namespace and the sub is in the openshift-operators namespace.

[code]

[2022-04-04 16:59] jear commented on #308
Right, 2 are independant : 1 to adress SLES host, and another to adress RKE.

[2022-04-05 12:16] smithbk commented on #330
@kpouget @shivamerla Is there any other info that I can provide that would help to debug this issue?  Thanks.

[2022-04-05 12:20] kpouget commented on #330
@smithbk would you like to have a debugging session together? my email address is my GH login `@redhat.com`

can you share the results of:

[code]

and
[code]
(maybe you already shared it, but I'm trying to get a clear view of the system state)

[2022-04-05 12:33] smithbk commented on #330
@kpouget Yes, a debug session would be great.  I'll send an invite soon.

Here is the info you requested.

[code]

[2022-04-05 14:19] smithbk opened #331 "gpu-operator pod in CrashLoopBackOff"
### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msghandler` loaded on the nodes?
- [ ] Did you apply the CRD (`kubectl describe clusterpolicies --all-namespaces`)

### 1. Issue or feature description

The gpu operator pod is in Cras

[2022-04-05 15:35] kpouget commented on #331
I don't know what can be going wrong here, we installed together the GPU Operator v1.7.1 from OperatorHub, things were smooth after we solved the issue of https://github.com/NVIDIA/gpu-operator/issues/330,

but I don't know why the operator is crashing hard and silently like that :/

for reference, here is a valid log of the GPU Operator v1.7.1 on OCP 4.6:
https://gcsweb-ci.apps.ci.l2s4.p1.openshi

[2022-04-05 20:32] smithbk commented on #331
@kpouget Kevin, do you know who might be able to help with this?   Thanks

[2022-04-06 06:41] kpouget commented on #331
@smithbk can you `describe` the operator Pod?

we didn't see that together
[code]
but likely this is the reason why the operator is crashing without any error message

@shivamerla do you remember a memory issue on 1.7.1, with 4 GPU nodes?

I see [this](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/logs/periodic-ci-rh-ecosystem-edge-ci-artifacts-master-4.6-nvidia-gpu-operat

[2022-04-06 12:11] smithbk commented on #331
[code]

[2022-04-06 12:17] kpouget commented on #331
still this,
[code]
but I expected to see more things in the `Event` logs ... :/

can you check if your node `ip-10-111-61-177.ec2.internal/10.111.61.177` isn't running full of memory?

[2022-04-06 16:00] smithbk commented on #331
Looks OK to me.  If there is some other way of checking, let me know.

[code]

[2022-04-06 20:37] smithbk commented on #331
@kpouget Any other ideas of what to check, or someone else who would know?  Thanks

[2022-04-06 21:41] shivamerla commented on #331
@smithbk @kpouget Yes, i do remember this happening where momentarily GPU operator memory usage spikes on OCP. We are yet to identify cause for that. we can edit the CSV/Operator Deployment spec to allow following limits

[code]

[2022-04-07 01:22] smithbk commented on #331
@kpouget The pod is running now but the

[code]

[code]

[code]

[code]

It seems that the root cause of this problem is the following, right?
[code]

But this cluster is configured with a proxy.
[code]

Any ideas?

[2022-04-07 14:43] smithbk commented on #331
@kpouget It appears that kubectl does not recognize CIDR ranges in the no_proxy environment variable; therefore, it is trying to send the request through the proxy.
Perhaps adding a test case with a proxy would be good.
Anyway, I added the appropriate IP to no_proxy and it is getting further, but is no failing as follows:
[code]

[2022-04-11 19:22] gigony commented on #213
Installing microk8s v1.22 worked.
It looks like an issue with microk8s: https://github.com/canonical/microk8s/issues/2634

[2022-04-11 19:22] gigony commented on #258
Installing microk8s v1.22 worked.
It looks like an issue with microk8s: https://github.com/canonical/microk8s/issues/2634

[2022-04-13 08:29] hmyang71 opened #332 "All pods except gpu-operator-node-feature-discovery are pending."
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [X] Are you running on an Ubuntu 18.04 node?
- [X] Are you running Kubernetes v1.13+?
- [] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [] Do you have `i2c_core` and `ipmi_msgha

[2022-04-13 11:47] Zigko opened #333 "Support to Nvidia Jetson GPU"
Hello,
I'm trying to understand if the GPU Operator can work properly with JETSON GPU...
I've found some articles where they could use jetson gpu on k3s cluster but all of them use docker runtime container and after some research I found out that docker is deprecated and now the NVIDIA GPU Operator suports containerd:
https://developer.nvidia.com/blog/announcing-containerd-support-for-the-nvidia-g

[2022-04-13 13:56] elezar commented on #333
Hi @Zigko the GPU operator does not (yet) officially support Jetson devices. This requires support in the lower-level components such as the k8s-device-plugin and the NVIDIA Container Toolkit.

This is something that is on our roadmap, but we don't have concrete dates for this yet.

[2022-04-13 14:24] shivamerla commented on #332
@hmyang71 Can you check logs of driver container `kubectl logs nvidia-driver-daemonset-94j8k  -n gpu-operator -c k8s-driver-manager` and `kubectl logs nvidia-driver-daemonset-94j8k  -n gpu-operator -c nvidia-driver-ctr`

[2022-04-13 14:35] shivamerla commented on #331
@smithbk looks like access to cuda repository is blocked through proxy, can you check if `developer.download.nvidia.com` is blocked?

[2022-04-13 14:38] shivamerla commented on #331
Also, to test if driver can pull all repositories from container you can run

[code]

[code]

[code]

[2022-04-13 14:47] shivamerla commented on #319
@donovat Looks like i found the issue, we are using hosts `/etc/os-release` to fetch the RHEL_VERSION and OPENSHIFT_VERSION fields, but looks like on RHEL nodes OPENSHIFT_VERSION is not available in that file and only with CoreOS nodes. Will need to update this logic. Meanwhile you can edit the driver Daemonset to pass env `OPENSHIT_VERSION=4.7` to workaround.

[2022-04-13 14:57] kpouget commented on #319
@shivamerla editing the DaemonSet won't work, it will be reverted by the operator reconciliation, right?

[2022-04-14 07:37] hmyang71 commented on #332
@shivamerla Thank you. I checked as you told me and I found nouveau drivers weren't in blacklist so I disabled nouveau drivers in the all nodes so I could pass the stage.
However, I still have a problem. I found that some container images such as nvcr.io/nvidia/driver:510.47.03-ubuntu18.04 couldn't be pulled from nvcr.io.

I tried to pull the image in the worker node by running `crictl pull nvcr.i

[2022-04-14 09:21] mareklibra opened #334 "Question: different GPU models in a single host"
Is it possible to install multiple GPU models in a single host?

If so, how are details about these models exported?
I can see Node's labels to be used but they seem to be assuming a single-model per server:

[code]

[2022-04-14 09:33] mareklibra opened #335 "RFE: Export GPU serial number"
Can be `serial number` of a GPU exported? I.e. in a metric?

In addition, please advise the recommended way to read details about a GPU.
So far we can query Prometheus for a metric (almost any, i.e. `DCGM_FI_DEV_GPU_UTIL`), then gather from its description  `GPU UUID, pod and namespace`. These can be farther used to find the `node` the GPU is installed in and read Node's `labels` for extra details

[2022-04-14 09:45] mareklibra opened #336 "RFE: Export GPU's capacity"
When working on a GPU Dashboard to show actual usage per GPU and provide overview of all GPUs installed in a cluster, we would need to know capacity of a particular GPU (by its UUID probably).

This is relevant for non percent-based metrics. So far we query historical maximums of these metrics but this is not reliable source.

Examples:
- DCGM_FI_DEV_SM_CLOCK - what is the maximum per GPU? Is burs

[2022-04-15 00:18] shivamerla commented on #332
@hmyang71 do you have initContainer logs by any chance, that container will try to unload `nouveau` if its loaded, so you wouldn't need to unload it manually. Also for the image pull error,

[code]

Is this persistent, as other image(initContainer) was pulled successfully from `nvcr.io`. This image itself is present.

[code]

[2022-04-15 00:20] shivamerla commented on #336
@mareklibra Can you post this question at dcgm-exporter repo: https://github.com/NVIDIA/dcgm-exporter. That is the right place for metrics discussion.

[2022-04-15 00:28] shivamerla commented on #334
@mareklibra No, we don't support mixed GPU's on same node yet. This is in the roadmap.

[2022-04-15 16:48] shivamerla commented on #330
Thanks @kpouget for helping with this. Closing this issue.

[2022-04-15 16:48] #330 closed

[2022-04-15 16:55] #300 closed

[2022-04-15 16:56] #293 closed

[2022-04-15 16:56] shivamerla commented on #307
Closing this, as no response for a while. Please re-open if this is still happening with provided PCI settings.

[2022-04-15 16:56] #307 closed

[2022-04-15 16:58] MrBoJo84 commented on #291
@tusharrobin we are looking into support for additional operating systems. Do I understand correctly that you use k8s with RHEL 8 and containerd?

@yug0slav Please note that NVIDIA AI Enterprise supports RHEL 8.4 to run containers but without k8s. NVIDIA AI Enterprise doesn't support RHEL worker nodes with the GPU Operator.

[2022-04-15 17:03] shivamerla commented on #74
@nwalker-nvidia we already have a mechanism to differentiate CPU and GPU nodes using NFD and operands pods deploy only on GPU nodes. For DGX, drivers and container-toolkit will come pre-installed, so mixing these nodes with other GPU nodes is currently not supported and something we are planning to add with 1.11 release of operator.

[2022-04-15 17:03] #74 closed

[2022-04-16 06:22] tusharrobin commented on #291
Yes, we need GPU operator support for RHEL 8 and Rocky 8.

[2022-04-18 10:08] pikomen opened #337 "driver installation failed on Air-gapped Environment"
- [ ] Centos-7
- [ ] Kubernetes v1.21.8
- [ ] docker://20.10.9
- [ ] Airgap environment
- [ ] chart gpu-operator-v1.0.0-devel       devel-ubi8  (from master)

### 1. Issue or feature description
airgap env
from (https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/install-gpu-operator-air-gapped.html#install-gpu-operator-air-gapped)
The driver installation process keep looking for packages

[2022-04-18 17:37] shivamerla commented on #337
@pikomen Can you follow the workaround as the other user did: https://github.com/NVIDIA/gpu-operator/issues/299#issuecomment-1027051394, currently we don't support wiping out entire repo dir but mapping individual files.

[2022-04-18 17:50] pikomen commented on #337
I allready rename config file as original repo ( not a solid workaround)
but i didn't saw on any article that there are need to clone the cuda repo
also. Where from I can clone it?

On Mon, Apr 18, 2022, 20:37 Shiva Krishna Merla ***@***.***>
wrote:

[2022-04-18 18:04] shivamerla commented on #337
We don't pull any packages from cuda repository, you can ignore that.

[2022-04-19 05:29] mareklibra commented on #336
Thank you, @shivamerla
Closing here.

[2022-04-19 05:29] #336 closed

[2022-04-19 05:32] mareklibra commented on #334
@shivamerla How is that expected to be implemented? Asking to be able to design a consuming application in a way to be ready for that change in the future.

[2022-04-19 11:42] smithbk opened #338 "Failing to install NVIDIA GPU operator 1.8.2 - Unable to find a match: elfutils-libelf-devel.x86_64"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-04-19 11:52] kpouget commented on #338
@smithbk this error appears when the entitlement is not properly deployed

you can try to validate the PEM file with:
[code]
also, make sure that 1/ your entitlement files are deployed (key, key-pem, rhsm)
[code]
and the MCP are not in a degraded state:
[code]

[2022-04-19 22:12] shivamerla commented on #334
You can refer to the early implementation here: https://gitlab.com/nvidia/kubernetes/device-plugin/-/merge_requests/127

[2022-04-19 22:12] shivamerla commented on #333
Closing this as the question is answered. Please re-open if you have additional questions.

[2022-04-19 22:12] #333 closed

[2022-04-19 22:14] #310 closed

[2022-04-19 22:14] #306 closed

[2022-04-19 22:19] dualvtable commented on #335
Hi @mareklibra - why aren't UUIDs sufficient? They are unique for every GPU that is shipped.

[2022-04-20 10:00] mareklibra commented on #335
Serial numbers are commonly used for evidence and other similar reference purposes.

From the customer's perspective, is the UUID something what is commonly used as a replacement of SNs in case of GPUs?
Simply said, is the UUID printed on box instead of SN when shipped from factory and so used as an identifier for either customer's accounting or reference backwards to NVIDIA?

If so, we would not

[2022-04-20 10:02] mareklibra commented on #335
Please note, there is second question about recommended way to get a list of all GPUs installed in a cluster and their additional info.

[2022-04-20 10:45] GuillaumeSmaha opened #339 "Can you bump helm chart to 1.10.1 ?"
Hi,
Can you bump helm chart to 1.10.1 ? like it was done here: https://github.com/NVIDIA/gpu-operator/commit/ab585b39ba69413a48d253a9e14d568e86cf8995

Thank you :)

[2022-04-20 13:22] smithbk commented on #338
@kpouget Thanks Kevin.  I've been trying to learn about entitlements but have had no success.  Would you recommend any documentation for this?

With regard to the info you said to check:

1. I assume you meant to check the PEM file from inside the failing container.  I'm not sure how to find the path to the PEM file in order to check it.

2. Here is the `oc get mc` output
[code]

And here is the `

[2022-04-20 16:31] cdesiniotis commented on #299
@chrisholzheimer

Yes, these packages are required for the driver container to work.

Instead of rebuilding the image, you can follow [these instructions](https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/appendix.html#local-package-repository) for mounting a custom repo config file into the driver daemonset so that your local repository mirror is used.

[2022-04-20 18:55] dualvtable commented on #335
Most of the components in the gpu-operator are daemonsets - so they would report devices found on a per node basis. If you're using something like Prometheus then you would have to aggregate that info across all the nodes in your cluster. For example, the node description (e.g. using `kubectl describe node`) would use the info from the device plugin to determine how many GPUs have been enumerated

[2022-04-20 20:09] cdesiniotis commented on #339
Thanks @GuillaumeSmaha . We have bumped the helm chart version here: https://github.com/NVIDIA/gpu-operator/commit/e9837cc6728f64db949599ff07cc161a478f4943

[2022-04-20 20:09] #339 closed

[2022-04-21 06:39] happy2048 opened #340 "The DCGM has a memory leak？"
## Environment
● Kubernetes： 1.20.11
● OS: Centos7(3.10.0-1160.15.2.el7.x86_64)
● Docker: 19.03.15
● NVIDIA Driver Version: 470.57.02
● GPU: 4 * Tesla V100-SXM2-32GB
● GPU Operator Chart: v1.0.0-devel
● DCGM Docker Image:  nvcr.io/nvidia/cloud-native/dcgm:2.2.3-ubuntu20.04
● DCGM Exporter Docker Image:  nvcr.io/nvidia/k8s/dcgm-exporter:2.2.9-2.4.0-ubuntu20.04

## Issue  description
My k8s cluster

[2022-04-21 11:43] chrisholzheimer commented on #299
Thank you @cdesiniotis, i did not noticed this in the documentation. That seem to be something really new. However the repo config file works like a charm!

Additionally we need to add our CA trust chain. I tried it like it is described there, but the certificates are not added to the certificate store of the container. I was able to verify our CA files inside of the `/etc/ssl/certs` dir, but they

[2022-04-21 16:54] landorg opened #341 "[feature request] Add a way to set pod annotations for dcgm exporter"
Our monitoring system (datadog) requires us to set pod annotations to the exporter pods.
Would be great if you could add a way to set `spec.template.metadata.annotations` of the daemonset.
Thanks

[2022-04-21 17:32] jasonbarbee commented on #230
@shivamerla How's this going?

[2022-04-21 18:59] shivamerla commented on #230
@jasonbarbee @David-VTUK While GPU operator v1.10.x added support for ARM platform, support for Jetson devices is not yet there. It needs changes in k8s-device-plugin and container-toolkit which is in the roadmap.

[2022-04-21 19:12] shivamerla commented on #338
@smithbk can you validate with below steps: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/openshift/appendix-ocp.html#enabling-a-cluster-wide-entitlement

[2022-04-21 20:55] kpouget commented on #338
@smithbk based on your `oc get mc`, it seems that you didn't deploy the entitlement, so following the steps Shiva pointed out should solve this big miss

the output of `oc get mcp` shows that there's something wrong with the deployment on workers, I won't be able to help much on this topic :# Maybe when you'll deploy the 3 MC requirement for entitlement, the MC Operator will reconciliate all of th

[2022-04-22 03:23] happy2048 commented on #340
Ok, I will test it and report the result.

[2022-04-22 10:48] dogra-gopal opened #342 "not able to install gpu-operator latest chart"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [x] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-04-22 10:53] dogra-gopal commented on #342
It used to work earlier with 1.10 version. Looks like with 1.10.1 version, this issue is happening.

[2022-04-22 11:44] dogra-gopal commented on #342
Not able to reproduce it on another device.. so closing it.

[2022-04-22 11:44] #342 closed

[2022-04-22 18:28] shivamerla commented on #341
we will look into adding this with future releases.

[2022-04-24 11:48] pikomen commented on #337
I can confirm that the workaround is working.

On Mon, Apr 18, 2022 at 9:17 PM aleksey pikovski ***@***.***> wrote:

[2022-04-25 20:31] mwright-pivotal commented on #153
I can confirm leaving repository and version empty and setting the complete image reference as value for image reconciles fine

[2022-04-25 23:12] #153 closed

[2022-04-25 23:17] #337 closed

[2022-04-28 19:28] k8s-gpubuilder commented on #328
What about if you don't use the driver through the gpu-operator and install it on the OS instead?

[2022-04-28 19:46] k8s-gpubuilder opened #343 "Vectoradd test pod not working with CUDA error"
Why can I spin up a vectoradd cuda test pod on a 4 GPU worker node with this image?

     image: "quay.io/giantswarm/nvidia-gpu-demo:latest"

BUT not with this one here (which is supposed to be official)

  containers:
  - name: cuda-vectoradd
    #image: "nvidia/samples:vectoradd-cuda11.2.1"
    #image: "nvidia/samples:vectoradd-cuda11.6.0"
    image: "nvcr.io/nvidia/k8s/cuda-sample:vectoradd-cud

[2022-04-28 21:24] shivamerla commented on #328
@k8s-gpubuilder you can pass `--set driver.enabled=false` during operator install. Same for toolkit if its pre-installed on the node.

[2022-04-28 22:18] k8s-gpubuilder commented on #328
So is it then supporting several different OS versions?

[2022-04-28 22:41] shivamerla commented on #328
yes, driver is the only component OS specific, rest all will work across ubuntu18.04 or ubuntu20.04. Not for mixed OS types though as container-toolkit is different for CentOS vs Ubuntu.

[2022-04-29 08:07] elezar commented on #343
@k8s-gpubuilder which version of the operator and toolkit container are you using?

[2022-04-29 20:33] shivamerla opened #344 "NOTICE: NVIDIA Driver Pods are failing due to CUDA linux repository GPG key rotation"
**What happened:**

NVIDIA team rotated GPG keys for CUDA linux repositories on 4/28. More information on this can be found [here](https://forums.developer.nvidia.com/t/notice-cuda-linux-repository-key-rotation/212772). CUDA repository is included in the NVIDIA driver images deployed through GPU operator and causing failures during `apt-get update` on Ubuntu 18.04 and Ubuntu 20.04. This happens wh

[2022-04-29 22:11] 814HiManny commented on #344
Same issue on my end...

[2022-04-29 22:15] k8s-gpubuilder commented on #343
v1.10.1  for the gpu operator and I-m using this container image to build on: nvidia/cuda:11.6.0-base-ubuntu20.04

[2022-05-02 13:32] gordogato81 opened #345 "Question: How does assigning GPUs using NodeAffinity, NodeSelector and Resource Limits affect the behavior of GPU-Operator?"
### Description
I have recently been experimenting with running a Jupyter server + tensorflow image on a bare metal cluster with GPU operator.

When using `nodeAffinity` or `nodeSelector` to place the deployment on the node running gpu operator, tensorflow (TF)  was unable to detect the GPUs, despite the pod being able to detect the GPUs using `lspci`.

However, when using `limits`, TF was able to

[2022-05-02 15:30] smithbk commented on #338
@kpouget @shivamerla Kevin or Shiva, we are trying to enable entitlements through our Satellite server.   In order to do so, our Redhat contact must know exactly which repos are needed by the Nvidia GPU operator.  Can you please provide this?

[2022-05-02 16:59] shivamerla commented on #338
Also here: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/openshift/mirror-gpu-ocp-disconnected.html#optional-mirror-the-rpm-packages

[2022-05-02 20:49] k8s-gpubuilder opened #346 "What is the recommended container image for the GPU operator?"
I was using nvidia/cuda:11.6.0-base-ubuntu20.04 since a week ago, where it stopped working and I can't get CUDA to work on anything working on the Kubernetes cluster, it is a big problem. Which base image is recommended for containers to be deployed in the Kubernetes cluster managed by GPU operator?

[2022-05-02 23:11] #345 closed

[2022-05-02 23:36] shivamerla commented on #346
@k8s-gpubuilder what is the error you are hitting? If error looks similar to [this](https://github.com/NVIDIA/gpu-operator/issues/344), then please re-pull the base image again and verify.

[2022-05-03 01:06] k8s-gpubuilder commented on #346
I'm getting "CUDA not available" errors.

[2022-05-04 03:03] shivamerla commented on #346
@k8s-gpubuilder Can you paste the PodSpec you are trying to run? Did you install GPU Operator already on the cluster before deploying the sample Pod? You can pickup any CUDA base image based on the minimum CUDA runtime version required for your application. Here are the details about these images: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/cuda

[2022-05-04 11:41] rodrigoscferraz opened #347 "Fresh new installation of gpu-operator failing after the latest merge"
Hello folks, after the latest merge (https://github.com/NVIDIA/gpu-operator/commit/bfe95409b0a963e1f02833cb00b40dd126ef9b59) that removed the SecurityContext from the CRD file, when i try to intall GPU operator it says:

[code]

I'm using a simple helm install gpu-operator nvidia-operator/gpu-operator -n gpu

I don't know if it is something related with the Node feature discovery helmchart that re

[2022-05-04 13:21] shivamerla commented on #347
@rodrigoscferraz Can you confirm if you are explicitly changing `securityContext` in `values.yaml` passed during helm install? These should be applied [here](https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/templates/clusterpolicy.yaml#L62) only when they are defined in values.yaml. Nevertheless this was missed in the original change and removing with follow up MR

[2022-05-04 16:48] shivamerla commented on #347
The change has been merged where we don't use `securityContext` from values anymore.

[2022-05-04 17:25] gchazot commented on #344
The version of the driver I was using was `470.82.01`. Using the list above I had to set `driver.version=470.103.01`, and it fixed the error.

I'm not sure if this is the right way to update the driver though. I would assume it should be done through Helm as this is how I installed GPU Operator.

[2022-05-04 18:45] rodrigoscferraz commented on #347
@shivamerla  Yeah. I'm just doing a fresh helm install without any changes, so I guess that it is taking the default values of the chart.

[2022-05-04 19:46] shivamerla commented on #347
Are you still seeing the issue on master branch?

[2022-05-05 00:07] k8s-gpubuilder commented on #346
Referring back to this: https://github.com/NVIDIA/gpu-operator/issues/343

Yes, the GPU Operator was installed and I had it successfully working a while ago before this problem occurred.

I'm using the vectoradd pod example from the official documentation to test it and it fails.

https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#install-nvidia-gpu-operator

apiVers

[2022-05-05 00:10] shivamerla commented on #346
Can you pass env `NVIDIA_DISABLE_REQUIRE` as `true` to this test pod and verify?

[2022-05-05 00:31] k8s-gpubuilder commented on #346
That changes nothing, the same error message:
Failed to allocate device vector A (error code CUDA driver version is insufficient for CUDA runtime version)!

[2022-05-05 02:30] happy2048 commented on #340
@shivamerla
I updated dcgm-exporter to 2.3.5-2.6.5-ubuntu20.04 and removed the env  DCGM_REMOTE_HOSTENGINE_INFO to enable embeded mode and set the interval time of collectiing gpu metrics is 6000(generate metrics quickly).

![image](https://user-images.githubusercontent.com/18654706/166855675-9172ae05-5208-4773-bf26-581985b2858a.png)

the cpu and memory usage:
[code]

[2022-05-05 02:39] happy2048 commented on #340
@shivamerla https://github.com/NVIDIA/dcgm-exporter/blob/main/pkg/dcgmexporter/dcgm.go#L83, the maxKeepAge is set to 0.0 is correct? 0.0 means no limit?

[2022-05-05 02:44] happy2048 opened #348 "dcgm-exporter collects metrics incorrectly?"
## Environment
● Kubernetes： 1.20.11
● OS: Centos7(3.10.0-1160.15.2.el7.x86_64)
● Docker: 19.03.15
● NVIDIA Driver Version: 510.47.03
● DCGM Exporter Docker Image:  nvcr.io/nvidia/k8s/dcgm-exporter:2.3.5-2.6.5-ubuntu20.04

## Issue  description
There is no process is using gpus on my node, output of nvidia-smi:
[code]
But I found the output of the metric DCGM_FI_DEV_FB_USED is 850MiB:
[code]
At th

[2022-05-05 17:25] k8s-gpubuilder commented on #346
Is there a way to show the versions of the driver / CUDA / the container toolkit from inside the container to ascertain that everything is working as it should?

[2022-05-05 17:58] k8s-gpubuilder commented on #343
Are there any examples of premade images / containers that can be used to make sure it is working and give a hint to what is broken? The gpu operator installs fine, no errors, but when I spin up a container, CUDA is never available, even though the operator provides everything: Driver, container toolkit and CUDA?

[2022-05-05 17:59] shivamerla commented on #348
@happy2048 Thanks for reporting this. I am working with DCGM team to get this analyzed.

[2022-05-05 18:29] elezar commented on #343
cc @shivamerla

[2022-05-05 18:54] k8s-gpubuilder opened #349 "Failed to get sandbox runtime: no runtime for "nvidia" is configured"
kubelet[1311]: E0505 18:42:19.812688    1311 pod_workers.go:949] "Error syncing pod, skipping" err="failed to \"CreatePodSandbox\" for \"nvidia-device-plugin-daemonset-h9kxw_gpu-operator(8e491f32-4d92-4657-bbef-abf9d3dcb6ab)\" with CreatePodSandboxError: \"Failed to create sandbox for pod \\\"nvidia-device-plugin-daemonset-h9kxw_gpu-operator(8e491f32-4d92-4657-bbef-abf9d3dcb6ab)\\\": rpc error: co

[2022-05-05 19:43] shivamerla commented on #349
@k8s-gpubuilder These logs are expected until the driver is loaded and toolkit is setup(~3-5min). toolkit will setup `nvidia` runtimeClass with containerd and after that pods(device-plugin, gpu-feature-discovery etc) can run with that runtimeClass.

[2022-05-05 19:50] shivamerla commented on #346
@k8s-gpubuilder once operator is installed any containers running with cuda base image will have `nvidia-smi` available. You can also run this from driver container. `kubectl exec <nvidia-driver-container> -n gpu-operator -- nvidia-smi`

The error with vectorAdd is indicating that minimum driver version(installed and loaded into the kernel) required to run CUDA runtime version in the image is  not

[2022-05-05 20:15] k8s-gpubuilder commented on #349
Except that I posted it 1 hour ago and no change: the logs still show the same repeating error message.

[2022-05-05 20:15] glowkey commented on #348
This is caused by a change in driver 510 that lumps the reserved memory into the used category. We are updating DCGM to handle this case and split the used and reserved into separate fields.

[2022-05-05 20:36] k8s-gpubuilder commented on #349
Might this be a regression bug in the newest release v1.10.1? Should I try to revert back to an older release?

[2022-05-05 21:41] ejschoen opened #350 "Unable to run GPU feature discovery and related pods under GPU Operator after upgrade from dockershim to containerd"
### 1. Quick Debug Checklist
- [ ] Ubuntu 20.04.03
- [ ] Kubernetes 1.22.3 with containerd 1.5.11-1
- [ ] docker 20.10.10 is installed

### 1. Issue or feature description
Recently upgraded cluster to use containerd in place of dockershim.  GPU feature discovery is no longer working.  Tried to upgrade by following the instructions here: https://developer.nvidia.com/blog/announcing-containerd-suppo

[2022-05-05 22:53] shivamerla commented on #350
@ejschoen `root` should be set to `/` in `/etc/nvidia-container-runtime/config.toml`. I think just uncommenting will set it to `/run/nvidia/driver` which is wrong as driver is pre-installed on the node in this case. Also note that below options passed during operator install have no impact as toolkit is also pre-installed and disabled through operator.

[code]

[2022-05-05 22:54] shivamerla commented on #349
Can you check logs of initContainer? `kubect logs nvidia-driver-daemonset-45bdt -n gpu-operator -c k8s-driver-manager`

[2022-05-05 22:57] shivamerla commented on #344
@gchazot It can be done through `helm upgrade` as well with same version of the chart but by changing driver imagePullPolicy. Either approaches will result in same.

[2022-05-05 23:32] shivamerla commented on #346
@k8s-gpubuilder i am not able to reproduce this. Can you specify all versions you are deploying please, also clarify on pre-installed driver versions too.

[code]
Also with 11.6.0 vector-add image:

[code]

[2022-05-05 23:36] shivamerla commented on #346
One other thing to check if `nvidia` runtime is set to default or not in `/etc/containerd/config.toml`, if not then you need to specify `runtimeClass` attribute in podSpec to use `nvidia` runtimeClass.

[code]

[2022-05-06 04:33] ejschoen commented on #350
Thanks.  I guess I was following the instructions here for bare metal
deployment too literally:

https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html

On Thu, May 5, 2022 at 5:53 PM Shiva Krishna Merla ***@***.***>
wrote:

[2022-05-06 17:04] shivamerla commented on #350
@ejschoen here are the right steps for this use case: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#bare-metal-passthrough-with-pre-installed-drivers-and-nvidia-container-toolkit

Please close this if the issue is resolved.

[2022-05-06 17:41] ejschoen commented on #350
That solved the worst of the problems.  I'll close the issue now.  At this point, I see:
[code]
where the nvidia-cuda-validator pods are failing in their initContainers with:
[code]
I assume that's a different problem and I'll raise a different issue if necessary.

[2022-05-06 17:41] #350 closed

[2022-05-06 18:06] k8s-gpubuilder commented on #349
Oh thank you, that was helpful. I could see that the driver was still loaded. I don't know how this happened, but the nvidia driver was installed on the OS, which it should not have been. After this, now the gpu operator works again on that node and the vectoradd example runs as it should.

[2022-05-06 18:45] k8s-gpubuilder commented on #346
That is very helpful, I figured that there was an issue with this. I had one node where it was missing.

[2022-05-06 18:59] shivamerla commented on #346
Glad to know that it worked!

[2022-05-06 18:59] #346 closed

[2022-05-06 19:00] #349 closed

[2022-05-06 19:00] shivamerla commented on #343
Closing this as looks like this is resolved based on #350 and #349

[2022-05-06 19:00] #343 closed

[2022-05-09 06:39] happy2048 commented on #340
@shivamerla Is there a conclusion?

[2022-05-09 10:48] thewire247 commented on #347
I've just tried this and am seeing the issue on master branch. K8s verison 1.22 EKS

[2022-05-09 22:16] rodrigoscferraz commented on #347
@shivamerla maybe this is because the CRD that is installed using helm install(without override the default values) is different that the one on the repository([this one](https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/crds/nvidia.com_clusterpolicies_crd.yaml)

I noticed that the helm install CRD comes with the SecurityContext field and the CRD presented on this reposit

[2022-05-09 22:35] shivamerla commented on #347
@rodrigoscferraz Its a known limitation with Helm. Installed CRD's will not be deleted upon re-install or upgrade. Here are the details: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations

We documented proper steps to upgrade using helm here: https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#using-helm

[2022-05-10 21:26] shivamerla commented on #340
@happy2048 we are trying to reproduce this internally. I have tried with 510 and 470 latest drivers with above mentioned DCGM version, but couldn't reproduce it. Will try to test on CentOS system and verify.

[code]

[2022-05-11 03:33] happy2048 commented on #340
@shivamerla is there a sample gpu application is running when you test the case? It may not be reproduced if no program is using the GPU and it will take a few days to see the results(change the env DCGM_EXPORTER_INTERVAL to generate metrics quickly), my sample gpu application is the https://github.com/tensorflow/benchmarks/tree/cnn_tf_v2.1_compatible and the yaml is:

[code]

[2022-05-11 05:01] shivamerla commented on #340
I had run jupyter notebook with my tests, and now with the same workload you are running. I have changed the collection interval too. It went up a bit, but stable after that point. I did deploy it multiple times. Will keep monitoring this and check again. I will raise an internal bug to track this and update you if i see the same issue.

[code]

[code]

[2022-05-11 16:48] shivamerla commented on #340
@happy2048 Can you try with UBI image on CentOS and verify it this happens? `nvcr.io/nvidia/k8s/dcgm-exporter:2.3.5-2.6.5-ubi8`.

So far no luck with Ubuntu systems, so going to try with CentOS to match your system.

[2022-05-11 17:20] neggert opened #351 "Unsupported MIG Device specified 7g.80gb, expected 7g.79gb instead"
I'm running into a strange error when trying to set up a 7g.80gb MIG config on my nodes. The nodes have 8x NVIDIA-A100-SXM4-80GB. I've installed the GPU operator from the Helm chart (v1.10.1) with these values:

        - name: "nfd.enabled"
          value: "true"
        - name: "mig.strategy"
          value: "mixed"
        - name: "driver.version"
          value: "510.47.03"
        - name:

[2022-05-11 18:03] klueska commented on #351
This could happen if this calculation gives back the wrong value (in this case 79):
https://github.com/NVIDIA/mig-parted/blob/main/pkg/types/mig_profile.go#L48

Would need to dig into why this would happen. Unfortunately there is no way to query this name from the driver, but (I just reconfirmed) this is the calculation the driver uses, so need to look deeper into what is going on.

[2022-05-11 18:28] neggert commented on #351
Okay, any additional information you need that would help debug?

[2022-05-11 18:34] neggert commented on #351
Actually I was mistaken. When configured as `7g.79.gb` it _does_ consistently show up everywhere as `7g.79gb`.

[2022-05-12 07:35] happy2048 commented on #340
Ok, I will use the  UBI image to test

[2022-05-12 07:46] wsxiaozhang commented on #348
@glowkey is there any timeline to release that fix in DCGM?

[2022-05-12 19:25] shivamerla commented on #315
@joedborg the reason we had to add `/run/nvidia/validations` with BiDirectional mountPropagation is, toolkit initContainer and operatorValidator initContainers will write bunch of status files there and should be accessible to other containers like `device-plugin`, `gfd`, `dcgm` etc. With that mode, the status files were not getting updated onto other containers until re-start. Is this causing an

[2022-05-12 19:27] glowkey commented on #348
Timeline is for a DCGM 2.4 based dcgm-exporter by the end of May 2022.

[2022-05-16 14:20] fanminshi opened #352 "NVIDIA Releases Open-Source GPU Kernel Modules Impacts on GPU-Operator?"
Hi,

I have a general question. What's the implication or impact on the recent announcement of  Open-Source GPU Kernel Modules on GPU-Operator and its component? Specifically, I would like to know if it makes bundling nvidia-driver container with OS image easier in term of licensing.

Thanks,

[2022-05-16 15:00] fanminshi commented on #344
Hi,
I am getting this error even with 470.103.01 driver. This version works on another machine last week but didn't work on a new machine I tried to install today.

[code]

[2022-05-17 09:42] jinwonkim93 commented on #344
@fanminshi what do mean by deleting image from containerd? i am very new. can you demonstrate or show some guide?

[2022-05-17 15:43] fanminshi commented on #344
@jinwonkim93
I use only containerd to run k8s. So I used `ctr -n k8s.io image delete <gpu-driver-container>` to delete the locally cached image.T hen this forces k8s to pull new driver image containing the fix.

`I am using helm to deploy gpu operator. does your trial same applies to helm?` if you update your gpu driver version in helm, then it should work because your k8s will download the new on

[2022-05-18 01:21] shivamerla commented on #352
@fanminshi Yes, this will enable OS vendors to make pre-compiled modules available through different distributions. w.r.t GPU Operator, this will simplify the deployment of cloud-native-stack even further, as drivers can be pre-installed through distro native packages for RedHat, SLES and Ubuntu.

[2022-05-18 01:22] #347 closed

[2022-05-18 01:24] shivamerla commented on #344
@fanminshi @jinwonkim93 weird that `imagePullPolicy=Always` didn't update the image. Can you double by describing the driver pod that new image is pulled?

[2022-05-18 05:26] jinwonkim93 commented on #344
@shivamerla me either.

[2022-05-18 13:03] dh13119 opened #353 "get po -A"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [ ] Are you running on an Ubuntu 18.04 node?
- [ ] Are you running Kubernetes v1.13+?
- [ ] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)?
- [ ] Do you have `i2c_core` and `ipmi_msg

[2022-05-18 19:13] #352 closed

[2022-05-18 19:15] #353 closed

[2022-05-19 21:47] fanminshi commented on #344
@shivamerla It might be a user error on my side. I recalled that I did
[code]

[2022-05-26 07:14] happy2048 commented on #340
@shivamerla I have tested the image nvcr.io/nvidia/k8s/dcgm-exporter:2.3.5-2.6.5-ubi8 and result is:
[code]
![image](https://user-images.githubusercontent.com/18654706/170437476-45a6803e-5afc-4510-a98f-c519a35a173c.png)

[2022-05-26 14:46] shivamerla commented on #340
@glowkey @dualvtable Any additional information we can gather to reproduce this internally?

[2022-05-27 14:28] glowkey commented on #340
Which metrics are being watched? What is DCGM_EXPORTER_INTERVAL set to? In general what are all the changes from a default installation? This information could help us.

[2022-05-30 03:45] happy2048 commented on #340
@glowkey I used the default csv  file(/etc/dcgm-exporter/dcp-metrics-included.csv, not change it) and env DCGM_EXPORTER_INTERVAL is set to 6000
![image](https://user-images.githubusercontent.com/18654706/170913493-688c39ea-f481-422a-9b86-7f7a155d4945.png)

[2022-05-30 19:04] lemaral opened #354 "Kubernetes roles are continuously created"
_The template below is mostly useful for bug reports and support questions. Feel free to remove anything which doesn't apply to you and add more information where it makes sense._

### 1. Quick Debug Checklist
- [x] Are you running on an Ubuntu 18.04 node? Yes
- [x] Are you running Kubernetes v1.13+? Yes
- [x] Are you running Docker (>= 18.06) or CRIO (>= 1.13+)? Docker
- [x] Do you have `i2c_core